{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


                      {% include './_bar.html' %}

                      {{ govukBackLink({
                        text: "Back",
                        href: "javascript:history.go(-1)"
                                        }) }}

                                        <br><br>

                      <form method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="pc-withhold-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Is there an amount to withhold?
              </h1>
            </legend>
            <div id="pc-withhold-hint" class="govuk-hint">
              Only select no if Pension Credit have advised there is 'nil recovery' and all arrears should be paid
            </div>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pc-withhold" name="pc-withhold" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="pc-withhold">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pc-withhold-2" name="pc-withhold" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="pc-withhold-2">
                  No
                </label>
              </div>
            </div>

          </fieldset>

        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            <b>URL, errors and notes</b>
            </span>
          </summary>
          <div class="govuk-details__text">
            <b>URL:</b> /amount-to-withhold <br>
            <b>Error messages:</b> 
            <br><strong>Nothing selected:</strong> Select yes if there is an amount to withhold
            <br><b>Notes:</b> None <br>
          </div>
        </details>
    
      </div>

        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
