{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-tasks.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div>
          <a href="tasks-2" class="govuk-back-link">Back</a>
        </div>
        <br>
        <h1 class="govuk-heading-xl">Details of the review
        </h1>
        <form method="post" action="tasks-3">

           <h2 class="govuk-heading-m">HMRC reason</h2>
           <p>Change in cont/credit position (compliance and yield)</p>


           <h2 class="govuk-heading-m">Claimant's details</h2>
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 50%" >National Insurance number</th>
                <td class="govuk-table__cell" style="width: 50%">QQ 12 34 56 X</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 50%" >Full name</th>
                <td class="govuk-table__cell" style="width: 50%">Rachel Smith</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <!--
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="width: 50%" >State Pension date</th>
                  <td class="govuk-table__cell" style="width: 50%">7 June 2019</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="width: 50%" >Current State Pension award</th>
                    <td class="govuk-table__cell" style="width: 50%">£152.85 a week</td>
                    <td class="govuk-table__cell"></td>
                  </tr>-->
          
          
            </tbody>
          </table>

          <br>
          <button class="govuk-button" data-module="govuk-button">
           Continue
          </button>
        </form>
      </div>
    </div>
</div>
</div>
</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}