{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}
<h1 class="govuk-heading-l">Request insurance records from these countries</h1>

  <form method="post">
<bR>

  <table class="govuk-table">

    <!--<caption class="govuk-table__caption govuk-table__caption--m">Countries claimant has lived or worked in</caption>-->
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Country</th>
        <th scope="col" class="govuk-table__header">Social security number</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Norway</th>
        <td class="govuk-table__cell">8745STV23<br>4532FRD87</td>

      </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Switzerland</th>
            <td class="govuk-table__cell">5648487</td>

          </tr>

    </tbody>
    </table>
  <div class="govuk-inset-text">Do not request records from any other countries at this time.</div>

    <Br>
      <Br>
  <table class="govuk-table">
    <h2 class="govuk-heading-m" style="margin-bottom:-27px;float:left">Claimant details</h2>
<br><br>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Address</th>
        <td class="govuk-table__cell">8 Mill Road<br>
          Edinburgh<br>
          EH23 1GR</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Correspondence address</th>
        <td class="govuk-table__cell">10 Mill Road<br>
          Edinburgh<br>
          EH23 1GR</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Date of birth</th>
        <td class="govuk-table__cell">23 August 1957</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Sex</th>
        <td class="govuk-table__cell">Female</td>
      </tr>
    </tbody>
  </table>

<br><br>


<!--
            <table class="govuk-table">
              <h2 class="govuk-heading-m" style="margin-bottom:-27px;float:left">Norway</h2>


              <br><br>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Mixed years</th>
                  <td class="govuk-table__cell"style="width: 35%">Yes</td></tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Social security number</th>
                  <td class="govuk-table__cell">8745STV23</td>
                </tr>


              </tbody>
            </table>




<Br>

            <table class="govuk-table">
              <h2 class="govuk-heading-m" style="margin-bottom:-27px;float:left">Croatia</h2>

              <br><br>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Mixed years</th>
                  <td class="govuk-table__cell"style="width: 35%">Yes</td></tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Social security number</th>
                    <td class="govuk-table__cell">GEV98732</td>
                </tr>




              </tbody>
            </table>




    <br><br>
            <table class="govuk-table">
              <h2 class="govuk-heading-m" style="margin-bottom:-27px;float:left">Switzerland</h2>

              <br><br>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Mixed years</th>
                  <td class="govuk-table__cell"style="width: 35%">Yes</td></tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Social security number</th>
                    <td class="govuk-table__cell">5648487</td>
                </tr>

              </tbody>
            </table>

-->
</div>
</div>


<button class="govuk-button" data-module="govuk-button">
  Confirm and end task
</button>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /request-insurance-records  <br>
        <b>Error messages:</b> <br>
        <b>Notes:</b> None <br>
      </div>
    </details>
        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
