{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}

<form method="post">

          <a href="personal" class="govuk-back-link">Back</a>
          <br><br>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="dap-bank-details-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Do you have the bank or building society details of the person dealing with Rachel’s estate?
      </h1>
    </legend>

    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="dap-bank-details" name="dap-bank-details" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="dap-bank-details">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="dap-bank-details-2" name="dap-bank-details" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="dap-bank-details-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>


          <button type="submit" class="govuk-button">Continue</button>
        </div>
      </div>
    </main>

  </form>
</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
