{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/servicename-tasks.html' %}


{% block headEnd %}

{% endblock %}


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">
            {% include './_bar-smallnew.html' %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <br>
      <form method="post">
      <div>
        <a href="newaward2" class="govuk-back-link">Back</a>

      </div>
      <br>
      <h1 class="govuk-heading-xl">Award changed</h1>

      <p>The State Pension award is now <b>£199.63</b> per week. </p>
<p>
Arrears of <b>£225</b> owed from <b>1 December 2020  </b> to <b>7 May 2021.</b></p>
<br>
<h1 class="govuk-heading-m">Review details:</h1>

<ul class="govuk-list govuk-list--bullet">
<li>award revised from <b>1 December 2020</b> from <b>£150.17 </b> to <b>£155.18 </b> per week</li>
<li>award revised from <b>21 February 2021</b> from <b>£194.62 </b> to <b>£199.63 </b> per week</li>
</ul>
<p>A new award letter will be sent to the claimant.</p>
<br>

          <a href="https://get-your-state-pension-agent.herokuapp.com/alltasks/tasks-outstanding1" button type="submit" class="govuk-button">
            End task
          </a>

        </form>



        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
