{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}

      <form method="post" action="personal-rf1">

        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
                          }) }}

          <br><br>
          <h2 class="govuk-heading-l">Review award not available</h2>


<p>You cannot review the award at this time. There is an outstanding 'Check for increase to award' task.</p>

<p class="govuk-body">Get this task in <a href="#" class="govuk-link">Lived or worked abroad details</a>.</p>
    <!--      <button type="submit" class="govuk-button">Return to award</button> -->
        </div>
      </div>
    </main>

  </form>
</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
