{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">




  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">
          <br><br>
          {% include './_bar.html' %}

          {% include './tabs/_tab-overview.html' %}

        </div>
      </div>
    </main>

    <br>
    <br>

    <div>
      <h2 class="govuk-heading-m">Personal details</h2>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 50%" >Full name</th>
            <td class="govuk-table__cell" style="width: 50%">Daniel Vazquez</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="change-name">
              Change
            </a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">National Insurance number</th>
            <td class="govuk-table__cell">QQ 12 34 56 X</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td class="govuk-table__cell">12 December 1952</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">State Pension date </th>
            <td class="govuk-table__cell">10 April 2019 </td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Marital status </th>
              <td class="govuk-table__cell">Never been married</td>
              <td class="govuk-table__cell"><a class="govuk-link" href=change-maritalstatus>
                  Details
                </a></td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Lived or worked abroad </th>
                <td class="govuk-table__cell">Yes</td>
                <td class="govuk-table__cell"><a class="govuk-link" href="lived-worked-details-ra-already-complete">
                    Details
                  </a></td>
              </tr>

        </tbody>
      </table>

    </div>
    <a class="govuk-body" href="death-date">
      Stop State Pension
    </a>
  </div>




  <div class="govuk-grid-column-one-third">
    <br><br>
    <h2 class="govuk-heading-m">
      Personal changes
    </h2>
    <ol class="app-timeline">

      <li class="app-timeline__entry">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        Lived or worked abroad actions complete
        </h3>

        <p class="app-timeline__info govuk-!-margin-bottom-0">
          <span class="govuk-visually-hidden">No changes made</span>
          <span class="app-timeline__date">
14 December 2022
          </span>
        </p>
      </li>

      <li class="app-timeline__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          Claim received
          </h3>
          <p class="app-timeline__info govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden"></span>
            <span class="app-timeline__date">
              2 November 2022</span>
        </li>

    </ol>

  </div>


</div>
</div>
</main>
</div>
<!-- </div> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
