{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}


{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <br>

        <form method="post" action="widows-task-1">



          <br>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="inheritable-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Late spouse or civil partner's inheritable amounts
                </h1>
              </legend>

<p>Select if the late spouse or civil partner had an Additional Pension, Graduated Retirement Benefit, Extra State Pension or Protected Payment.</p>

              <br>
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="inheritable" name="inheritable" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="inheritable">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="inheritable-2" name="inheritable" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="inheritable-2">
                    No
                  </label>
                </div>
              </div>

            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
