{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <br>

      <h1 class="govuk-heading-xl">
      Julia Smith
                        <span class="govuk-caption-xl">QQ 12 34 56 X</span>
                      </h1>



        <form method="post">

          <h2 class="govuk-heading-l">Is the claimant entitled to any inherited State Pension?</h2>


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="entitled-to-inherited-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h1 class="govuk-fieldset__heading">

                </h1>
              </legend>
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="entitled-to-inherited" name="entitled-to-inherited" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="entitled-to-inherited">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="entitled-to-inherited-2" name="entitled-to-inherited" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="entitled-to-inherited-2">
                    No
                  </label>
                </div>
              </div>

            </fieldset>
          </div>


          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>


        </form>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
