{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

   <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Address marked as DLO
    </h3>

  </div>
</div>

        {% include './_bar.html' %}
        {% include '././_tab-contact-dlo.html' %}



  <br><br><div>
                        <h2 class="govuk-heading-m">Contact details</h2>

                        <table class="govuk-table">
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header" style="width: 50%">Address</th>
                              <td class="govuk-table__cell" style="width: 50%">55 Main Street
                                <br> Guildford <br> GU79 6YW
                              </td>

                              <td class="govuk-table__cell" style="text-align: right;"> <a class="govuk-link" href="change-address3">
                                  Change
                                </a></td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Correspondence address </th>
                              <td class="govuk-table__cell"> </td>
                              <td class="govuk-table__cell" style="text-align: right;"><a class="govuk-link" href="change-corr-address">
                                  Add
                                </a></td>
                            </tr>

                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Home phone number</th>
                              <td class="govuk-table__cell">0191 4461056</td>
                              <td class="govuk-table__cell" style="text-align: right;"> <a class="govuk-link" href="homephone">
                                  Change
                                </a></td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Work phone number</th>
                              <td class="govuk-table__cell">0191 2798475</td>
                              <td class="govuk-table__cell" style="text-align: right;"> <a class="govuk-link" href="workphone">
                                  Change
                                </a></td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Mobile phone number </th>
                              <td class="govuk-table__cell"> </td>
                              <td class="govuk-table__cell" style="text-align: right;"><a class="govuk-link" href="mobilephone">
                                  Add
                                </a></td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Email address </th>
                                <td class="govuk-table__cell"></td>
                                <td class="govuk-table__cell" style="text-align: right;"><a class="govuk-link" href="email">
                                  Add
                                </a></td>
                            </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>


                    <div class="govuk-grid-column-one-third">
                      <br><br><br><br>
                      <h2 class="govuk-heading-m">
                        Contact changes
                      </h2>
                      <ol class="app-timeline">
                        <li class="app-timeline__entry">
                          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
                  Address marked as DLO        </h3>

                          <p class="app-timeline__info govuk-!-margin-bottom-0">
                            <span class="govuk-visually-hidden">No changes made</span>
                            <span class="app-timeline__date">
                  23 September 2022
                            </span>
                          </p>
                        </li>


                      </ol>

                    </div>
  </main>
</div>
    {% endblock %}

    {% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      </div>
    </div>

    {% endblock %}
