{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include './_bar.html' %}


{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}

  <br><br>

      <div class="govuk-form-group">

                         <h1 class="govuk-heading-l">
                          Mark this address as DLO</h1>
                          <div class="govuk-inset-text">

                          <p>14 West Avenue<br>
                          Leeds<br>
                          LS1 1WA  </p></div>


                        <p>    This will stop letters to this address. It will remain on Mark Rooney’s record until it is changed.</p> <p>A text and email will be sent to let them know.</p>

<!--
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
                          </strong> -->
    </div>



                        <a href="personal2" role="button" draggable="false" button class="govuk-button govuk-button" data-module="govuk-button">
                          Mark as DLO
                        </a>



      </div>

    </div>

</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
