{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include './_bar.html' %}


{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}

  <br><br>

      <div class="govuk-form-group">

                         <h1 class="govuk-heading-l">
                          Mark this address as DLO</h1>
                          <div class="govuk-inset-text">

                          <p>	55 Main Street<br>
Guildford<br>
GU79 6YW  </p></div>


                        <p>    This will stop letters to this address. It will remain on Mark Rooney’s record until it is changed.</p> <p>A text and email will be sent to let them know.</p>

<!--
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
                          </strong> -->
    </div>



                        <a href="contact2" role="button" draggable="false" button class="govuk-button govuk-button" data-module="govuk-button">
                          Mark address as DLO
                        </a>



      </div>

    </div>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">

        <strong>URL:</strong> /address-dlo <br>
        <b>Error messages:</b> None<br>
        <b>Notes:<br><br>Dynamic content based on mobile phone number and email availability:</b>  <br><br>

         <p><b>Mobile and email:</b>A text and email will be sent to let them know.<br>
         <b>Mobile only:</b>A text will be sent to let them know.<br>
         <b>Email only:</b>An email will be sent to let them know.<br>
         <b>Neither:</b>[DISPLAY NOTHING]<br>



      </div>
    </details>
</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
