{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-column-two-thirds">

        <main id="content" role="main">
          <div class="grid-row">
            <div class="column-full">

          {% include 'includes/_bar-dead-rooney.html' %}

            </div>
          </div>
        </main>



        {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}
        <br><br>

        <form action="dap-overseas-bank-details" method="post" class="form">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Do you have both the BIC and IBAN for the payee's overseas account?
                </h1>
                 <div id="changed-name-hint" class="govuk-hint">A BIC is sometimes called a SWIFT code.</DIV>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="corp-ref" name="bank" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="corp-ref">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="corp-ref-2" name="bank" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="corp-ref-2">
                    No
                  </label>
                </div>
              </div>

            </fieldset>
          </div>


                    <button type="submit" class="govuk-button">Continue</button>

                    <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                    <b>URL, errors and notes</b>
                    </span>
                    </summary>
                    <div class="govuk-details__text">
                    <b>URL:</b> /changes-and-enquiries/personal/death/overseas-account
          <br><br>
                    <b>  Error messages:<br>
                      Nothing selected -</b> Select whether you have the BIC and IBAN for the payee's account
                    </div>
                    </details>
                     </form>
                  </div>
                </div>
    </fieldset>
  </div>
</div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds"></div>
</div>

<script>
    nextPageRoutes = {
        'yes': 'dap-overseas-bank-details',
        'no': 'dap-overseas-bank-details-manual',
        }
</script>

{% endblock %}
