{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-two-thirds">

 <form method="post" action="personal-manual-end">

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">

            {% include './name-bar/_bar-jose-prison.html' %}

          </div>
        </div>
      </main>

     {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}




  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">Date of death</h1></legend>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="dead-day"
                    type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                    name="dead-month" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                    name="dead-year" type="number" pattern="[0-9]*">
                </div>
              </div>
            </div>

          </fieldset>
        </div>

        <fieldset class="govuk-fieldset" aria-describedby="verified-or-notverified-hint">
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="verified-or-notverified-1" name="verified-or-notverified" type="radio"
                value="verified">
              <label class="govuk-label govuk-radios__label" for="verified-or-notverified-1">
                Verified
              </label> </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="verified-or-notverified-2" name="verified-or-notverified" type="radio"
                value="not-verified">
              <label class="govuk-label govuk-radios__label" for="verified-or-notverified-2">
                Not verified
              </label> </div>
          </div>
        </fieldset>

        <br>

        <button type="submit" class="govuk-button">
          Continue
        </button>

      </form>


    </div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
