{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
serviceName: serviceName,
serviceUrl: "/"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="app-homepage-top">
      <div class="app-homepage-top--content">
        <h1 class="govuk-heading-xl app-homepage-top--heading">
          Design Sprint 59
          <span class="app-homepage-top--span">24th September 2019</span>
        </h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<a href="/designsprints" class="govuk-back-link">Back</a>
<br><br>

<div>
  <div class="govuk-accordion__section ">
      <h3 class="govuk-heading-m">Design sprint goals:</h3>

      <ul class="govuk-list govuk-list--bullet">
          <li>Call listening for enquiries around awards and payments</li>
          <li>Stories for frontend design changes</li>
          <li>Next iteration of SRB journey's when payments have gone out</li>
          <li>Next iteration of the death- with option to add dap details or not </li>





          
        </ul>

      <h3 class="govuk-heading-m">In sprint final journeys:</h3>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Final designs</th>
            <th scope="col" class="govuk-table__header">Stories</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell">
                <a href="design1-sprint59" class="govuk-link govuk-link--no-visited-state">Design</a></td>
    
            </th>
    
            <td class="govuk-table__cell">
                <a href="https://jira.service.dwpcloud.uk/browse/SA-1786" class="govuk-link govuk-link--no-visited-state">SA-1786</a>
                As an agent I need to see current award details <br>so that I can answer citizen enquiries<br>
          </tr>
         
        </tbody>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                  <a href="design2-sprint59" class="govuk-link govuk-link--no-visited-state">Design</a></td>
      
              </th>
      
              <td class="govuk-table__cell">
                  <a href="https://jira.service.dwpcloud.uk/browse/SA-1995" class="govuk-link govuk-link--no-visited-state">SA-1995 and SA-1994</a>
                  As an agent I want to be able to change a payment status<br>from Paid to Returned so that the correct payment status is maintained<br>

                  
            </tr>
           
          </tbody>
          <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell">
                    <a href="design3-sprint59" class="govuk-link govuk-link--no-visited-state">Design</a></td>
        
                </th>
        
                <td class="govuk-table__cell">
                    <a href="https://jira.service.dwpcloud.uk/browse/SA-1336" class="govuk-link govuk-link--no-visited-state">SA-1336</a>
                    Stop regular payments and update account status when a <br>payment is recorded as 'Returned'<br>
  
                    
              </tr>
             
            </tbody>

            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__cell">
                      <a href="design4-sprint59" class="govuk-link govuk-link--no-visited-state">Design</a></td>
          
                  </th>
          
                  <td class="govuk-table__cell">
                      <a href="https://jira.service.dwpcloud.uk/browse/SA-1708" class="govuk-link govuk-link--no-visited-state">SA-1708</a>
                      As an agent I want to be able to change a payment status <br>from Sent to Recalling so that the correct payment status is maintained <br>
    
                </tr>
               
              </tbody>

              <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__cell">
                        <a href="design5-sprint59" class="govuk-link govuk-link--no-visited-state">Design</a></td>
            
                    </th>
            
                    <td class="govuk-table__cell">
                        <a href="https://jira.service.dwpcloud.uk/browse/SA-1708" class="govuk-link govuk-link--no-visited-state">SA-1943</a>
                        As an agent I want to be able to update recall payment 
 <br>outcome so that the correct payment status is maintained<br>

 <a href="https://jira.service.dwpcloud.uk/browse/SA-1708" class="govuk-link govuk-link--no-visited-state">SA-1956</a>
                       Timeline for recalled payments<br>
      
                  </tr>
                 
                </tbody>

              

      </table>
    
    </div>
  </div>


  







</div>

{% endblock %}