{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/servicename-tasks.html' %}


{% block headEnd %}

{% endblock %}


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">
            {% include './_bar-small.html' %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <br>
      <form method="post">
      <div>
        <a href="newaward2" class="govuk-back-link">Back</a>

      </div>
      <br>
        <h1 class="govuk-heading-xl">Change to award</h1>

        <h1 class="govuk-heading-s">The State Pension award is now £199.63 per week.</h1>

        <p>The award has been revised from 1 December 2020 from £194.62 to £199.63 per week.</p>

        <p>Arrears of £250, owed from 1 December 2020 to 7 May 2021, will be paid.</p>

        <p>A new award letter will be sent to the claimant.</p>
        <br>
          <a href="https://get-your-state-pension-agent.herokuapp.com/alltasks/tasks-outstanding1" button type="submit" class="govuk-button">
            End task
          </a>

        </form>



        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
