{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav.html' %}

{% block headEnd %}
{% endblock %}

{% include './_find-someone-enquiries.html' %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}


          <a href="award" class="govuk-back-link">Back</a>
          <br><br>
          <form method="post" action="award">
          <h2 class="govuk-heading-l">Current State Pension award</h2>


          <table class="govuk-table">
            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 60%">From</th>
                <td class="govuk-table__cell" style="width: 40%">18 July 2020</td>
              </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Reason</th>
                  <td class="govuk-table__cell">Inherited from late spouse</td>
                </tr>
            </tbody>
          </table>





          <table class="govuk-table">
                                   <tbody class="govuk-table__body">
           <thead class="govuk-table__head">
             <tr class="govuk-table__row">
               <th class="govuk-table__header" scope="col" style="width: 60%">Total</th>
               <th class="govuk-table__header" scope="col" style="width: 40%">£174.27 a week	</th>
             </tr>
             <tr class="govuk-table__row">
               <td class="govuk-table__cell" scope="row"><strong>New State Pension</strong></td>
               <td class="govuk-table__cell"><strong>£174.27</strong></td>
             </tr>
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell" scope="row"><strong>Protected payment</strong></td>
                 <td class="govuk-table__cell">£0.00</td>
               </tr>
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell" scope="row"><strong>Extra State Pension</strong></td>
                 <td class="govuk-table__cell">£0.00</td>
               </tr>
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell" scope="row"><strong>Inherited extra State Pension</strong></td>
                 <td class="govuk-table__cell">£0.00</td>
               </tr>
             </tbody>
           </table>


           <table class="govuk-table">
            <tbody class="govuk-table__body">
            <thead class="govuk-table__head">
               <tr class="govuk-table__row">
               <th class="govuk-table__header" scope="col" style="width: 60%"><h2 class="govuk-heading-m">Inherited amounts </h2>  </th>
               <th class="govuk-table__header" scope="col" style="width: 40%"></th>
               </tr>
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell" scope="row">Additional pension</td>
                 <td class="govuk-table__cell">£20.00</td>
               </tr>
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell" scope="row">Graduated benefit</td>
                 <td class="govuk-table__cell">£0.00</td>
               </tr>
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell" scope="row">Basic pension - extra State Pension</td>
                 <td class="govuk-table__cell">£0.00</td>
               </tr>
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell" scope="row">Additional extra State Pension</td>
                 <td class="govuk-table__cell">£0.00</td>
               </tr>
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell" scope="row">Graduated benefit - extra State Pension </td>
                 <td class="govuk-table__cell">£0.00</td>
               </tr>
             </tbody>
           </table>

           <br>
           <button class="govuk-button" data-module="govuk-button">
             Continue
           </button>

        </div>
      </div>
    </main>

  </div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
