{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}

<form method="post" action="contact">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

          <br><br>
          <h2 class="govuk-heading-l">Contact requirements</h2>

          <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="alt-hint">
                    <div id="contactrequirement-hint" class="govuk-hint">
                      Select all that apply.
                    </div>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="alt" name="alt" type="checkbox" value="carcasses">
                        <label class="govuk-label govuk-checkboxes__label" for="alt">
                        Audio form
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="alt-2" name="alt" type="checkbox" value="mines">
                        <label class="govuk-label govuk-checkboxes__label" for="alt-2">
                        Audio MP3
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="alt-3" name="alt" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="alt-3">
                        Braille
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="alt-4" name="alt" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="alt-4">
                        Email
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="alt-5" name="alt" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="alt-5">
                        Large print
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="alt-6" name="alt" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="alt-6">
                        Relay UK
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="alt-7" name="alt" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="alt-7">
                        Typetalk
                        </label>
                      </div>



                    </div>
</div>
</div>
</div>

          <button type="submit" class="govuk-button">Save</button>
        </div>
      </div>

    </main>

</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
