{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}

<form method="post" action="contact">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

          <br><br>
          <h2 class="govuk-heading-l">Contact requirements</h2>

          <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contactrequirement-hint">

        <div id="contactrequirement-hint" class="govuk-hint">
          Select all that apply.
        </div>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="contactrequirement" name="contactrequirement" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="contactrequirement">
                Braille
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="contactrequirement-2" name="contactrequirement" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="contactrequirement-2">
              Large print
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="contactrequirement-3" name="contactrequirement" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="contactrequirement-3">
              Audio forms
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="contactrequirement-3" name="contactrequirement" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="contactrequirement-3">
              Relay UK/Typetalk/Textphone
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="contactrequirement-3" name="contactrequirement" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="contactrequirement-3">
                Minicom difficultiess
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="contactrequirement-3" name="contactrequirement" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="contactrequirement-3">
                Email (as reasonable adjustment)
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="contactrequirement-3" name="contactrequirement" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="contactrequirement-3">
                  Paper
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="contactrequirement-3" name="contactrequirement" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="contactrequirement-3">
                  Web accessible PDF
                  (All should be?)
            </label>
          </div>
        </div>

      </fieldset>
    </div>

          <button type="submit" class="govuk-button">Save</button>
        </div>
      </div>
    </main>

</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
