{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-enquiries.html' %}

{% block headEnd %}
{% endblock %}

{% include './_find-someone-enquiries.html' %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}

        <form method="post" action="contact-address">

          <a href="change-address1" class="govuk-back-link">Back</a>
          <br><br>
          <h2 class="govuk-heading-l">International address</h2>


          <div class="govuk-form-group">
            <label class="govuk-label" for="address-line-1">
              Address line 1<span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">

            <br><br>
            <label class="govuk-label" for="address-line-1">
              Address line 2<span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
            <br><br>

            <label class="govuk-label" for="address-line-1">
              Address line 3<span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
            <br><br>

            <label class="govuk-label" for="address-line-1">
              Address line 4<span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">

            <br><br>
            <label class="govuk-label" for="address-line-1">
              Address line 5<span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
          </div>





          <div class="govuk-form-group">
            <label class="govuk-label" for="address-country">
              Country
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-country" name="address-country" type="text">
          </div>

          <button type="submit" class="govuk-button">
            Save
          </button>

        </div>
      </div>
    </main>

  </form>
</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
