{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-enquiries.html' %}

{% block headEnd %}
{% endblock %}

{% include './_find-someone-enquiries.html' %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}


          <a href="spouse-details" class="govuk-back-link">Back</a>
          <br><br>
          <h2 class="govuk-heading-l">Date of marriage</h2>


          <form method="post">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="expiry-hint" role="group">
                <div class="govuk-date-input" id="expiry">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="expiry-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-day" name="expiry-day" type="number" pattern="[0-9]*">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="expiry-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-month" name="expiry-month" type="number" pattern="[0-9]*">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="expiry-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiry-year" name="expiry-year" type="number" pattern="[0-9]*">
                    </div>
                  </div>
                </div>
              </fieldset>
              <br> <br>
              <fieldset class="govuk-fieldset" aria-describedby="verified-or-notverified-hint">
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="verified-or-notverified-1" name="verified-or-notverified" type="radio"
                      value="verified">
                    <label class="govuk-label govuk-radios__label" for="verified-or-notverified-1">
                      Verified
                    </label> </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="verified-or-notverified-2" name="verified-or-notverified" type="radio"
                      value="not-verified">
                    <label class="govuk-label govuk-radios__label" for="verified-or-notverified-2">
                      Not verified
                    </label> </div>
                </div>
              </fieldset>
            </div>

            <button type="submit" class="govuk-button">
              Continue
            </button>
          </form>
        </div>
      </div>
    </main>

  </form>
</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
