{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}




<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <br>

          {% include './_bar1.html' %}

          {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
                            }) }}
                            <br><br>

        <form method="post" action="get-a-task-2">

          <h1 class="govuk-heading-l">Change to award</h1>

    <p>The award has been revised from 	25 March 2021 from £144.86 to £149.87 per week.</p>

  <p>An arrears payment of £50.78 will be made for the period 25 March 2021 to 4 August 2021.
  </p>

  <p>A new award letter will be sent to the claimant.</p>


          <button class="govuk-button" data-module="govuk-button">
           End task
         </button>

        </form>

      </div>
    </div>
</div>
</div>
</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
