{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          {% include './_bar-confirmed.html' %}

          {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
                            }) }}
                            <br><br>

        <form method="post" action="personal-updated">

          <h1 class="govuk-heading-l">Change to award</h1>

  <p>The award was revised from <strong>5 June 2021</strong> from <strong>£144.87</strong> to <strong>£149.87</strong> per week.</p>

  <p>No arrears to be paid because of Pension Credit.</p>

  <p>A new award letter will be sent to the claimant.</p>

  <br>
          <button class="govuk-button" data-module="govuk-button">
           End task
         </button>

        </form>

      </div>
    </div>
</div>
</div>
</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
