{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

              {% include './_bar.html' %}

              {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
                                }) }}
                                <br><br>

                      <form method="post" action="summarise-br403">

                        <h1 class="govuk-heading-l">Enter information received from Pension Credit team in part B of BR403</h1>




                        <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                            <legend class="govuk-fieldset__legend">
                              <strong>From date</strong>
                            </legend>
                          
                            <div class="govuk-date-input" id="passport-issued">
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                    Day
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                    Month
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                    Year
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                            </div>
                        
                          </fieldset>
                        </div>

                        <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                            <legend class="govuk-fieldset__legend">
                              <strong>To date</strong>
                            </legend>
                          
                            <div class="govuk-date-input" id="passport-issued">
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                    Day
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                    Month
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                    Year
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                            </div>
                        
                          </fieldset>
                        </div>


                        <div class="govuk-form-group">
                          <label class="govuk-label" for="currency">
                            <strong>Weekly amount to withhold</strong>
                          </label>
                          <div id="currency-hint" class="govuk-hint">
                            For example, £15 or £23.54
                          </div>
                          <div class="govuk-currency-input__inner">
                            <span class="govuk-currency-input__inner__unit">£</span>
                            <input class="govuk-input govuk-currency-input__inner__input govuk-input--width-10" aria-label="Enter amount in pounds" name="addsp" data-non-numeric type="text" id="addsp" pattern="[0-9]\d*(\.\d+)?" {{ checked('tickets-cost','yes') }}>
                          </div>


                    


<p></p>

<p><a href="review-award-another">Add another adjustment</a></p>

<button class="govuk-button" data-module="govuk-button">
 Continue
</button>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /enter-partb-br403-information <br>
        <b>Error messages:</b> 
        <br><strong>From date is too early:</strong> From date must be after start date of award
        <br><strong>From date is after To date:</strong> From date cannot be after To date
        <br><strong>To date is before From date:</strong> To date cannot be before From date
        <br><strong>Amount to withhold:</strong> Weekly amount to withhold cannot be more than £XX.XX (dev note: £XX.XX is the amount of increase for this award)
        <br><strong>Amount to withhold is zero:</strong> Weekly amount to withhold must be more than zero
        <br><strong>Amount to withhold is blank:</strong> Enter a weekly amount to withhold 
        <b>Notes:</b> None <br>
      </div>
    </details>

  </div>


<!--
     <a href="get-next-task" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
          Return task to queue
        </a>

        </form> -->



        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
