{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">

  <br>
  <br>


  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full-width">
          <br><br>

          {% include './name-bar/_bar-kevin.html' %}

        </div>
      </div>
    </main>

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
    }) }}

    <div>
            <form method="post" action="personal">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  </legend>
                  <h1 class="govuk-heading-l">Spouse or partner date of birth</h1>
                  <div class="govuk-date-input" id="partner-date">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="partner-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="partner-day" name="partner-day"
                          type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="partner-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="partner-month"
                          name="partner-month" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="partner-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="partner-year"
                          name="partner-year" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                  </div>

                </fieldset>
              </div>

              <fieldset class="govuk-fieldset" aria-describedby="partner-verification-hint">
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="partner-verification" name="partner-verification" type="radio"
                      value="verified">
                    <label class="govuk-label govuk-radios__label" for="partner-verification-1">
                      Verified
                    </label> </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="partner-verification" name="partner-verification" type="radio"
                      value="not-verified">
                    <label class="govuk-label govuk-radios__label" for="partner-verification-2">
                      Not verified
                    </label> </div>
                </div>
              </fieldset>
      <br>
        <a href="personal-partner" role="button" class="govuk-button">
          Continue
        </a>
      </div>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL, errors and notes</b>
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>URL:</b> /date-spouse-died <br>
          <b>Error messages:</b> Date spouse or partner died must be after date of marriage
          <br>Date spouse or partner died must be after their date of birth
          <br>Select if the date is verified or not verified
          <br><b>Notes:</b> None <br>
        </div>
      </details>

    </div>

</div>
</div>
</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
