{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
serviceName: serviceName,
serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% include './_find-someone.html' %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-column-two-thirds">
      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">
            {% include './_bar-dead.html' %}
          </div>
        </div>
      </main>


      <div>
        <a href="#" class="govuk-back-link">Back</a>
      </div>

      <br>

      <form method="post" class="form" action="overview-cantcalc2">

        <h1 class="govuk-heading-l">Cannot calculate final payment</h1>

        <p>The final payment cannot be calculated yet because there is a still a payment which:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>has a status of sent</li>
          <li>has a status of recalling</li>
          <li>was paid less than X days ago, meaning it may still be returned</li>
        </ul>

        <p>Once all payments are up to date, you can come back and calculate the final payment.</p>

        <br>



        <button type="submit" class="govuk-button">
          Continue
        </button>
        </a>
        </dd>
    </div>
    <br>

</div>

</div>

</form>


</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"></div>
</div>

{% endblock %}