{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <br>

        <form method="post" action="widows-task-1">


          <div class="govuk-form-group">
              <h1 class="govuk-heading-xl">Date of marriage</h1>

              <div class="govuk-inset-text">
                <p class="govuk-body-l">1 May 1985<br>

                <a href="dom" class="govuk-link">Change</a></p>

              </div>


          </div>


          <br>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="dom-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Is the date of marriage verified?
                </h1>
              </legend>
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="dom" name="dom" type="radio" value="verified">
                  <label class="govuk-label govuk-radios__label" for="dom">
                    Verified
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="dom-2" name="dom" type="radio" value="notverified">
                  <label class="govuk-label govuk-radios__label" for="dom-2">
                    Not verified
                  </label>
                </div>
              </div>

            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
