{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <br>

      <h1 class="govuk-heading-xl">
      Julia Smith
                        <span class="govuk-caption-xl">QQ 12 34 56 X</span>
                      </h1>


          <h2 class="govuk-heading-l">More information needed</h2>

        <form method="post" action="tasks-2">


          <p class="govuk-body">
Inheritance cannot be considered as the following information is missing:

<ul class="govuk-list govuk-list--bullet">
  <li>National insurance number of late spouse</li>
  <li>a verified date of marriage </li>
  <li>a verified date of widowhood</li>
</ul>

<p>A letter will be sent to the claimant requesting the missing information.</p>

          <button class="govuk-button" data-module="govuk-button">
            End task
          </button>


        </form>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
