{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <br>

      <h1 class="govuk-heading-xl">
      Mia Pickett
                        <span class="govuk-caption-xl">QQ 12 342 92 X</span>
                      </h1>



        <form method="post" action="widows-inheritance-2">

          <h2 class="govuk-heading-l">Late spouse's details</h2>

          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 40%">National Insurance number</th>
                <td class="govuk-table__cell" style="width: 35%"></td>
                <td class="govuk-table__cell" style="width: 20%"></td>
                <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                  <a class="govuk-link" href="add-nino">Add</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">First name </th>
                <td class="govuk-table__cell">Greg</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>

              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Last name</th>
                <td class="govuk-table__cell">Pickett</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of birth</th>
                <td class="govuk-table__cell">17 July 1942</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell" style="text-align: right">
                  <a class="govuk-link" href="add-dob">Change</a>
                </td>

              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of marriage</th>
                <td class="govuk-table__cell">8 April 1987</td>
                <td class="govuk-table__cell"><span class="verified-badge verified">
                    <b>Verified</b>
                  </span> </td>
                <td class="govuk-table__cell" style="text-align: right">
                  <a class="govuk-link" href="add-dom">Change</a>
                </td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date widowed</th>
                <td class="govuk-table__cell">1 April 2019</td>
                <td class="govuk-table__cell"> </td>
                <td class="govuk-table__cell" style="text-align: right">
                  <a class="govuk-link" href="add-dom">Change</a>
                </td>
              </tr>
            </tbody>
          </table>

          <Br>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="claiming-sp-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h1 class="govuk-fieldset__heading">
                  Was Greg Pickett receiving State Pension?
                </h1>
              </legend>
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="claiming-sp" name="claiming-sp" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="claiming-sp">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="claiming-sp-2" name="claiming-sp" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="claiming-sp-2">
                    No
                  </label>
                </div>
              </div>

            </fieldset>
          </div>


          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>


        </form>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
