{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <br>

      <h1 class="govuk-heading-xl">
      Anne Smith
                        <span class="govuk-caption-xl">QQ 12 34 56 X</span>
                      </h1>


          <h2 class="govuk-heading-l">New award</h2>

        <form method="post" action="get-next-task-1">


          <p class="govuk-body">

            A weekly State Pension of <b>{% if data.addsp %}
              £{{data.addsp}}
              {% else %}
            £132.66
              {% endif %}</b> will apply from <b>1 October 2021.</b><br>
            <br>

            This includes an inheritable amount of <b>£4.99</b> a week.
            <br>
            <p>
            An award letter will be sent to the claimant.

          </p>

          <button class="govuk-button" data-module="govuk-button">
            End task
          </button>


        </form>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
