{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
<a href="tasks" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-xl">
      Anne Smith
                        <span class="govuk-caption-xl">QQ 12 34 56 X</span>
                      </h1>




          <h2 class="govuk-heading-m">Claimant</h2>


          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Address</th>
                <td class="govuk-table__cell">55 Main Street
                  <br>Guildford
                  <br>GU79 6YW</td>
                <td class="govuk-table__cell"></td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Marital status</th>
                <td class="govuk-table__cell">Widowed</td>
                <td class="govuk-table__cell"></td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Age when widowed</th>
                <td class="govuk-table__cell">49</td>
                <td class="govuk-table__cell"></td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">State Pension date</th>
                <td class="govuk-table__cell">13 July 2020</td>
                <td class="govuk-table__cell"></td>
              </tr>

            </tbody>
          </table>

          <h1 class="govuk-heading-m">Late spouse or civil partner</h1>

            <form method="post">


              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="width: 40%">National Insurance number</th>
                    <td class="govuk-table__cell" style="width: 30%">XX123456X</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                                            <a class="govuk-link" href="nino">Change</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">First name </th>
                    <td class="govuk-table__cell">Alan</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>

                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Last name</th>
                    <td class="govuk-table__cell">Smith</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                  </tr>

                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Gender</th>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell" style="text-align: right">
                          <a class="govuk-link" href="change-gender">Add</a>
                        </td>
                      </tr>


                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of birth</th>
                    <td class="govuk-table__cell">12 January 1940</td>
                    <td class="govuk-table__cell"><span class="verified-badge verified">
                      <b>Verified</b>
                    </span> </td>
                    <td class="govuk-table__cell" style="text-align: right">
                      <a class="govuk-link" href="change-dob">Change</a>
                    </td>

                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of marriage or civil partnership</th>
                    <td class="govuk-table__cell">
                      {% if data.domd1 %}
                      {{data.domd1}}/{{data.domm1}}/{{data.domy1}}
                      {% else %}

                      {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                      {% if data['dom1'] === 'verified' %}
                      <span class="verified-badge verified">
                          <b>Verified</b>
                      </span>
                  {% elseif data['dom1'] === 'notverified' %}
                  <span class="verified-badge not-verified">
                      <b>Not verified</b>
                  </span>
                  {% else %}
                  {% endif %}
                   </td>
                    <td class="govuk-table__cell" style="text-align: right">
                      <a class="govuk-link" href="dom">
                        {% if not data.domd1 %}
                      Add<span class="govuk-visually-hidden"></span>
                      {% else %}
                      Change<span class="govuk-visually-hidden"></span>
                      {% endif %}</a>
                    </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of death</th>
                    <td class="govuk-table__cell">6 July 2021</td>
                    <td class="govuk-table__cell"><span class="verified-badge verified">
                      <b>Verified</b>
                    </span> </td>
                    <td class="govuk-table__cell" style="text-align: right">
                      <a class="govuk-link" href="change-dod">Change</a>
                    </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">State Pension</th>
                    <td class="govuk-table__cell">Claimed</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell" style="text-align: right">
                      <a class="govuk-link" href="change-sp">Change</a>
                    </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><b>Inheritable amounts</b>
                      Additional Pension<br>
                      Graduated Retirement Benefit<br>
                      Extra State Pension<br>
                      Protected Payment</td>
                    <td class="govuk-table__cell">Yes</td>
                    <td class="govuk-table__cell">
                    </td>
                    <td class="govuk-table__cell" style="text-align: right">
                      <a class="govuk-link" href="change-inheritable">Change</a>
                    </td>
                  </tr>

                </tbody>
              </table>





          <a href="widows-inheritance-1" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
          Continue
          </a>


        </form>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
