{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav.html' %}
{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './navigation/_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}

        <br> <br>
        <form method="post">

          <h1 class="govuk-heading-xl">
            Have you spent any time in prison since 12 April 2021?</h1>


            <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="prison-hint">
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="prison" name="prison" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="prison">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="prison-2" name="prison" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="prison-2">
              No
            </label>
          </div>
        </div>

      </fieldset>
    </div>


            <button type="submit" class="govuk-button">
              Continue
            </button>
            </form>

            <br>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                <b>URL, errors and notes</b>
                </span>
              </summary>
              <div class="govuk-details__text">
                <b>URL:</b> /spent-time-in-prison<br>
              </div>
              <div class="govuk-details__text">
                <b>Errors:</b>
                Nothing selected:	Select yes if the claimant has spent any time in prison since 12 April 2021 [SPa]<br>

              </div>
            </details>

          </div>



      </form>



    </div>

  </main>
</div>


 <script>
    nextPageRoutes = {
        'yes': 'prison-date',
        'no': 'contact',
        }
</script>

{% endblock %}
