{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <div class="govuk-panel__body">
              <b>State Pension award updated and letter sent</b>
            </div>
          </div>
      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">
<br>
            {% include './_bar.html' %}

          </div>
        </div>
      </main>

      <form action="paymentsched" method="post" class="form">
      <form method="post" >
        
          <a href="reviewanaward2"  class="govuk-link govuk-!-font-size-19">Review another award</a>

      </form>


    </div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
