{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Would you like us to send letters to you in another format?
      </h1>


      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="alt-formats-hint">
    <div id="alt-formats-hint" class="govuk-hint">
      For example: audio cassette, audio CD, audio MP3, braille or large print
    </div>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="alt-formats" name="alt-formats" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="alt-formats">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="alt-formats-2" name="alt-formats" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="alt-formats-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


{% endblock %}
