{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="delay-your-start-date">

  <a href="your-details" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Your State Pension date
</h1>
<div class="govuk-inset-text">You reached State Pension age on 12 April 2022 and may be owed some payments.</div>
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
    Do you want to backdate your State Pension to 12 April 2022?</h2>
    </legend>




      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in-2">
Yes, backdate to 12 April 2022 </label>
<div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">Get any State Pension we owe you as a one-off payment.</div>
      </div>

      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
          <label class="govuk-label govuk-radios__label" for="sign-in">
            No, choose a later date</label>

<div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">Use any State Pension we owe you to increase your regular payments or delay your State Pension to a date in the future.</div>
</div>

</div>



  </fieldset></div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>




    <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
    <b>URL, errors and notes</b>
    </span>
    </summary>
    <div class="govuk-details__text">
    <b>URL:</b> /backdate <br><br>


    <b>Error messages:<br>
    Nothing selected - </b> Select whether you want to backdate your State Pension<br><br>
<b>Welsh translation:</b><br><br>
<p>Eich dyddiad Pensiwn y Wladwriaeth</p>

<p>Gwnaethoch gyrraedd oedran Pensiwn y Wladwriaeth ar 12 Ebrill 2022 ac efallai y bydd rhai taliadau yn ddyledus i chi.</p>


<p>Ydych chi am ôl-ddyddio eich Pensiwn y Wladwriaeth i 12 Ebrill 2022?</p>

<p>Ydw, ôl-ddyddiwch i 12 Ebrill 2022<br>
Cael unrhyw Bensiwn y Wladwriaeth sy'n ddyledus i chi fel taliad untro.</p>

<p>Na, dewiswch ddyddiad diweddarach<br>
Defnyddiwch unrhyw Bensiwn y Wladwriaeth sydd arnom i chi i gynyddu eich taliadau rheolaidd neu ohirio eich Pensiwn y Wladwriaeth i ddyddiad yn y dyfodol.</p>
<p><b>Nothing selected - </b> Dewiswch a ydych am ôl-ddyddio eich Pensiwn y Wladwriaeth</p>


    </div>
    </details>
    </div>


          <br><br><br><br><br><br><br><br>
    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
