{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">


          <span class="govuk-heading-xl">You cannot go back to the 
            credit record questions
            <br></span>

            <p></p>


<p>You can still:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>check and change your personal details</li>
  <li>submit your claim for State Pension</li>
</ul>

      <button type="submit" class="govuk-button">
        Continue with your claim
      </button>

      <br>
      <br>
      <br>
      <br>
      <br>



  </div>

  <div class="column-one-third">
    {% include 'includes/parts/help.html' %}
  </div>



</div>

</main>
</div>

{% endblock %}
