{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check your details
      </h1>
      <h2 class="govuk-heading-l">
        Your details
      </h2>


      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Lived outside the UK
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['lived-abroad'] === 'yes' %}
            Yes
            {% else %}
            No
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Worked outside the UK
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['worked-abroad'] === 'yes' %}
            Yes
            {% else %}
            No
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current marital status
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data.marital === 'widowed' %} Widowed
            {% elseif data.marital === 'married' %} Married<br>
            {{data['marriage-date-day']}}/{{data['marriage-date-month']}}/{{data['marriage-date-year']}}
            {% elseif data.marital === 'dissolved' %} Dissolved civil partnership
            {% elseif data.marital === 'divorced' %} Divorced
            {% elseif data.marital === 'civil' %} Civil partnership
            {{data['civil-date-day']}}/{{data['civil-date-month']}}/{{data['civil-date-year']}}
            {% else %} Never been married{% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>


{% if data.marital === 'married' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            About your spouse
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
                {{data['spouse-name']}} {{data['spouse-surname']}}<br>
                {{data['spouse-other']}}<br>
                {{data['spouse-day']}}/{{data['spouse-month']}}/{{data['spouse-year']}}
            </p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
  {% endif %}


  {% if data.marital === 'widowed' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              About your late spouse
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
                  {{data['late-spouse-name']}} {{data['late-spouse-surname']}}<br>
                  {{data['late-spouse-other']}}<br>
                  {{data['late-spouse-dob-day']}}/{{data['late-spouse-dob-month']}}/{{data['late-spouse-dob-year']}}
              </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
    {% endif %}

    {% if data.marital === 'divorced' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                About your ex spouse
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">
                    {{data['ex-spouse-name']}} {{data['ex-spouse-surname']}}<br>
                    {{data['ex-spouse-other']}}<br>
                    {{data['ex-spouse-dob-day']}}/{{data['ex-spouse-dob-month']}}/{{data['ex-spouse-dob-year']}}
                </p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> </span>
                </a>
              </dd>
            </div>
      {% endif %}


    {% if data.marital === 'dissolved' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                About your ex civil partner
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">
                    {{data['ex-civil-name']}} {{data['ex-civil-surname']}}<br>
                    {{data['ex-civil-dob-day']}}/{{data['ex-civil-dob-month']}}/{{data['ex-civil-dob-year']}}
                </p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> </span>
                </a>
              </dd>
            </div>
      {% endif %}

  {% if data.marital === 'civil' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              About your civil partner
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
                {{data['civil-name']}} {{data['civil-surname']}}<br>
                {{data['civil-dob-day']}}/{{data['civil-dob-month']}}/{{data['civil-dob-year']}}
              </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
    {% endif %}



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact details
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
              {% if data['home'] %}
                  Home phone number:{{data['home']}}<br>
              {% endif %}

              {% if data['mobile'] %}
                  Mobile phone number:{{data['mobile']}}<br>
              {% endif %}

                {% if data['work'] %}
                    Work phone number:{{data['work']}}<br>
                {% endif %}

                {% if data['email'] %}
                    Email address: {{data['email']}}<br>
                {% endif %}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>


                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Alternative format
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <p class="govuk-body">
                      {% if data['alt-formats'] === 'yes' %}
                      Yes<br>
                      {{data['alt-format-option']}}
                      {% else %}
                      No
                      {% endif %}

                    </p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> </span>
                    </a>
                  </dd>
                </div>


      </dl>

      <button class="govuk-button" data-module="govuk-button">
        Confirm details
      </button>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
