{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">


          <span class="govuk-heading-xl">We could not confirm your identity
            <br></span>

            <p></p>

           <!-- <p>Some of the answers you gave do not match what is on your credit record.</p> -->

<p>You can still continue with your claim for State Pension.</p>

<p>We will phone you to confirm some details. If we cannot contact you by phone, we will try using email or text message.</p>

<p>There is no need to call us.</p>


      <button type="submit" class="govuk-button">
        Continue with your claim
      </button>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /could-not-confirm-identity <br>
        <b>Error messages:</b> None
        <b>Notes:</b> None <br>
      </div>
    </details>

 

      <br>
      <br>
      <br>
      <br>
      <br>



  </div>

  <div class="column-one-third">
    {% include 'includes/parts/help.html' %}
  </div>



</div>

</main>
</div>

{% endblock %}
