{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Declaration
      </h1>

        <p>By submitting this application, you agree:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>the information you have given is complete and correct</li>
          <li>to tell the Department for Communities (DfC) straight away if your circumstances change, such as your address, bank details or marital status</li>
          <li>to pay back any State Pension if you are paid too much</li>
        </ul>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon">!</span>
        <strong class="govuk-warning-text__text">You may be prosecuted or have to pay a financial penalty if you give wrong or incomplete information, or if you don't report any changes straight away</strong>

        </div>


      <button class="govuk-button" data-module="govuk-button">
        I agree - send application
      </button>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/helpni.html' %}
    </div>

  </div>



</form>


  {% endblock %}
