{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="check-your-start-date">

  <a href="your-details" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
Delay your start date
      </h1>
      <p>Your State Pension will increase by just over 0.1% for every week that you delay your start date. As long as you delay by at least 9 weeks.</p>

      <p>You may need to delay longer than 9 weeks if you've been:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>  in prison</li>
      <li><a href="https://www.gov.uk/deferring-state-pension/extra-state-pension-and-lump-sum-payments">on certain benefits (opens in a new tab)</a></li></ul>
      <p>It could take around 18 years to get back the money you delay taking.</p>
<br>
         <fieldset class="govuk-fieldset">
           <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
             <h1 class="govuk-fieldset__heading">
               When do you want your State Pension to start from?
             </h1>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
          </div>

        </fieldset>


      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      <b>URL, errors and notes</b>
      </span>
      </summary>
      <div class="govuk-details__text">
      <b>URL:</b> /delay-your-start-date <br><br>

      <b>Error messages:<br> <br>
          Empty - </b> Enter the date you want your State Pension to start from<br>
          <b>Invalid - </b>Enter a real date, like 12 2 2019<br>
<b>Date before SPa - </b> Date must be 25 7 2022 or later<br><br>
<b>Welsh translation:</b><br><br>
<p>Oedi eich dyddiad dechrau</p>

<p>I gynyddu eich taliadau rheolaidd, dechreuwch eich Pensiwn y Wladwriaeth o 14 Mehefin 2022 neu'n hwyrach.</p>

<p>Gall eich Pensiwn y Wladwriaeth gynyddu gan dros 0.1% am bob wythnos rydych yn oedi, cyhyd â'ch bod yn oedi am o leiaf 9 wythnos.</p>

<p>Gallai gymryd hyd at 18 mlynedd i gael yr arian yn ôl rydych yn oedi ei gymryd ac ni fyddwch yn cael unrhyw daliadau cyn y dyddiad rydych yn ei roi. </p>

<p>O ba bryd ydych am i'ch Pensiwn y Wladwriaeth ddechrau?<br>
Diwrnod Mis Blwyddyn</p>
<p>
<b>Empty - </b> Rhowch ddyddiad rydych am i'ch Pensiwn y Wladwriaeth ddechrau<br>
<b>Invalid - </b>Rhowch ddyddiad go iawn, fel 12 2 2019<br>
<b>Date before SPa - </b> Rhaid i'r dyddiad bod 25 7 2022 neu'n hwyrach</p>

      </div>
      </details>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
