{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="bank">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        How often would you like to receive your State Pension payments?
      </h1>

      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="frequency" name="frequency" type="radio" value="england">
          <label class="govuk-label govuk-radios__label" for="frequency">
            Every week
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="frequency-2" name="frequency" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="frequency-2">
            Every 2 weeks
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="frequency-3" name="frequency" type="radio" value="wales">
          <label class="govuk-label govuk-radios__label" for="frequency-3">
            Every 4 weeks
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="frequency-4" name="frequency" type="radio" value="northern-ireland">
          <label class="govuk-label govuk-radios__label" for="frequency-4">
            Every 13 weeks
          </label>
        </div>
      </div>
      <br><br>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
