{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
                  }) }}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <form method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label">
            <p class="govuk-heading-xl">Have you lived outside the UK since 6 April 1972?</p>
          </label>
        </h1>

        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="lived-abroad" name="lived-abroad" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="lived-abroad">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="lived-abroad-2" name="lived-abroad" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="lived-abroad-2">
              No
            </label>
          </div>
        </div>      </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with this question
            </span>
          </summary>

          <div class="govuk-details__text">

            <p class="govuk-body">If you select yes we might ask you for:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>dates spent living outside the UK since 6 April 1972 (the start of the tax year you turned age 16)</li>
              </ul>

              <p class="govuk-body">We do not need to know about:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>time spent serving overseas with the British armed forces</li>
                <li>holidays in non-UK countries</li>
              </ul>
          </div>
        </details>


      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>





<br><br><br><br><br>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      <b>URL, errors and notes</b>
      </span>
      </summary>
      <div class="govuk-details__text">
      <b>URL:</b> <br><br>
      <b>Error messages:</b><br>
        Nothing selected: Select yes if you have lived outside the UK since 6 April 1972
      </div>
      </details>




    </div>

    <div class="govuk-grid-column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
