{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="prison">

  <a href="post-spa" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
      Your State Pension date
      </h1>
<div class="govuk-inset-text">The earliest date we can calculate your State Pension from is <b>12 April 2021</b>.</div>


<br>
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  <h2 class="govuk-fieldset__heading">
What date do you want to calculate your State Pension from?  </h2>
</legend>
<div id="passport-issued-hint" class="govuk-hint">
  For example, 27 3 2007
</div>
<div class="govuk-date-input" id="passport-issued">
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
        Day
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
    </div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
        Month
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
    </div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
        Year
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric">
    </div>
  </div>
</div>

</fieldset>
</div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      <b>URL, errors and notes</b>
      </span>
      </summary>
      <div class="govuk-details__text">
      <b>URL:</b> use existing<br><br>

      <b>Error messages:<br> <br>
          Empty - </b> Enter the date you want to calculate your State Pension from<br>
          <b>Invalid - </b>Enter a real date, like 12 2 2019<br>
<b>Date before earliest date - </b> Date must be 25 7 2022 or later
<br><br>
<b>Welsh translation:</b><br><br>
<p>Dyddiad eich Pensiwn y Wladwriaeth</p>

<p>Y dyddiad cynharaf y gallwch gyfrifo eich Pensiwn y Wladwriaeth o yw 12 Ebrill 2021.</p>

<p>O ba ddyddiad ydych am gyfrifo eich Pensiwn y Wladwriaeth?</p>

<p><b>Empty - </b>Rhowch ddyddiad rydych am i'ch Pensiwn y Wladwriaeth ddechrau<br>
<b>Invalid  - </b>Rhowch ddyddiad go iawn, fel 12 2 2019<br>
<b>Date before earliest date -</b> Rhaid i'r dyddiad bod 25 7 2022 neu'n hwyrach




      </div>
      </details>

      <br><br><br><br><br><br><br><br>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
