{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
                  }) }}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="prison-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
            Have you spent any time in prison since 12 April 2021?
            </h1>
          </legend>
          <br>
          <div id="prison-hint" class="govuk-hint">

          </div>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="prison" name="prison" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="prison">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="prison-2" name="prison" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="prison-2">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
