{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
                          }) }}

        <form method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l">Question 1 of 3
                <br></span>
                <h1 class="govuk-heading-xl">When did you last take out a personal loan (not including student loans)?</h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-questions-three" name="security-questions-three" type="radio" value="less">
                  <label class="govuk-label govuk-radios__label" for="security-questions-three">
                  Less than 1 year ago
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-questions-three-2" name="security-questions-three" type="radio" value="1500">
                  <label class="govuk-label govuk-radios__label" for="security-questions-three-2">
                    Between 1 and 3 years ago
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-questions-three-3" name="security-questions-three" type="radio" value="3000">
                  <label class="govuk-label govuk-radios__label" for="security-questions-three-3">
                    Between 3 and 5 years ago
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-questions-three-4" name="security-questions-three" type="radio" value="6000">
                  <label class="govuk-label govuk-radios__label" for="security-questions-three-4">
                    More than 5 years ago
                  </label>
                </div>

                <div class="govuk-radios__divider">or</div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-questions-three-6" name="security-questions-three" type="radio" value="never">
                  <label class="govuk-label govuk-radios__label" for="security-questions-three-6">
                  I have never had a personal loan
                  </label>
                </div>
              </div>

            </fieldset>
          </div>



      <button type="submit" class="govuk-button">
        Confirm
      </button>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /security-question-4 <br>
        <b>Error messages:</b> Nothing selected: Select when you last took out a personal loan<br>
        <b>Notes:</b> This template is for all questions with a range of answers AND a "none" option <br>
      </div>
    </details>

  </div>

  <div class="column-one-third">
    {% include 'includes/parts/help.html' %}
  </div>

  </div>



</div>

</main>
</div>

{% endblock %}
