{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
                  }) }}

        <form method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="security-question-one-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <span class="govuk-caption-l">Question 1 of 3
                  <br></span>
                  <h1 class="govuk-heading-xl">Have you taken out a credit card or store card in the last 12 months?</h1>
                </legend>
              <div id="security-question-one-hint" class="govuk-hint">

              </div>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-question-one" name="security-question-one" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="security-question-one">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-question-one-2" name="security-question-one" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="security-question-one-2">
                    No
                  </label>
                </div>
              </div>

            </fieldset>
          </div>

      <button type="submit" class="govuk-button">
        Confirm
      </button>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /security-question-1 <br>
        <b>Error messages:</b> Nothing selected: Select yes if you have taken out a credit card or store card in the last 12 months<br>
        <b>Notes:</b> This template is for all Yes/No questions <br>
      </div>
    </details>

  </div>

  <div class="column-one-third">
    {% include 'includes/parts/help.html' %}
  </div>

  </div>




</div>

</main>
</div>

{% endblock %}
