{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container"
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
                          }) }}

        <form method="post">

          <span class="govuk-heading-xl">We need to do some extra checks</span>

          <p class="govuk-body">We will ask you 3 multiple choice questions based on your credit record. </p>
            
          <p class="govuk-body">This is to:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>confirm your identity</li>
            <li>protect you from fraud</li>
            <li>make sure we pay your State Pension into the correct account</li>
          </ul>

<p>These checks will not affect your credit score.</p>


      <button type="submit" class="govuk-button">
        Continue
      </button>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /extra-checks <br>
        <b>Error messages:</b> None needed<br>
        <b>Notes:</b>  <br>
      </div>
    </details>


  </div>
  <div class="column-one-third">
    {% include 'includes/parts/help.html' %}
  </div>


</div>



</main>
</div>

{% endblock %}
