{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form method="post" action="prison">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Your State Pension date
      </h1>

        <p>The earliest date you can get your State Pension is <b>12 March 2022</b>.</p>

        <p>You will get your State Pension from this date unless
          you <br><a href="">tell us a different date.</a></p>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

    </div>

    <div class="column-one-third">
      {% include 'includes/parts/help.html' %}
    </div>

  </div>



</form>


  {% endblock %}
