{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Working, jobs and pensions</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">State Pension</a>
    </li>
  </ol>
</div>


<br><br>
<h1 class="govuk-heading-xl">Get your State Pension</h1>

  <p class="govuk-body">You'll need:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the date of your most recent marriage, civil partnership or divorce</li>
      <li>the dates of any time spent living or working abroad</li>
      <li>your bank or building society details</li>
      <li>the invitation code from the letter about getting your State Pension</li>
    </ul>



  <p class="govuk-body">If you do not have your letter and you’ll reach State Pension age in the next 3 months, you can <a
        href="https://www.gov.uk/state-pension-age">request an invitation code</a> to apply online.</p>





    <a href="confirm-identity" role="button" draggable="false" class="govuk-button govuk-button--start"
      data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
        viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg></a>

      <div class="govuk-inset-text">
        This service is also available in <a href="#">Welsh (Cymraeg)</a>.</div>

      <p class="govuk-body">There’s a different process if you live <a href="#">in Northern Ireland.</a></p>
<br>
    <h2 class="govuk-heading-m">
Other ways to apply    </h2>

<h2 class="govuk-heading-s">
Claim by phone    </h2>

<p class="govuk-body">If you’ll reach State Pension age in the next 4 months, you can <a href="#" class="govuk-link">phone the Pension Service</a> to
  claim.</p>

  <h2 class="govuk-heading-s">
  Claim by post    </h2>

  <p class="govuk-body">You need to <a href="#" class="govuk-link">phone the Pension Service</a> to get a State Pension claim form posted to you.</p>

<p class="govuk-body">Send your completed form to:</p>

  <div class="govuk-inset-text">
    Pension Service 8<br>
    Post Handling Site B<br>
    Wolverhampton<br>
    WV98 1AF
</div>

<h2 class="govuk-heading-m">
If you retire abroad   </h2>

<p class="govuk-body">There’s a different way to <a href="#" class="govuk-link">claim your pension from abroad</a>, including the Channel Islands.</p>


<h2 class="govuk-heading-m">
If you want to keep working   </h2>
<p class="govuk-body">If you do not want to claim yet, you can <a href="#" class="govuk-link">delay your State Pension</a>.</p>

  </div>

  <div class="column-one-third">
    <section class="font-xsmall" id="relcont">
      <h2 class="govuk-heading-s">Related content</h2>
      <ul class="govuk-list">
        <li>
          <a href="https://www.gov.uk/new-state-pension">The new State Pension</a>
        </li>
        <br>
        <li>
          <a href="https://www.gov.uk/state-pension">The basic State Pension</a>
        </li>
        <br>
        <li>
          <a href="https://www.gov.uk/additional-state-pension">Additional State Pension</a>
        </li>
      </ul>


    </section>
  </div>

</div>




{% endblock %}
