{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<form method="post">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        GOV.UK Verify
      </h1>

      <p class="govuk-body">You can sign in with GOV.UK Verify to get your State Pension if:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you have already reached State Pension age</li>
        <li>you will reach State Pension age in the next 4 months</li>
        <li>If you have not used GOV.UK Verify before, it will take you about 5 minutes to get set up.</li>
      </ul>

      <br><br>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </div>
  </div>

</form>



{% endblock %}
