<div class="app-most-recent">
<h2 class="govuk-heading-m">Hybrid iteration</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">November 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Becky, Kieran and Jorda</dd>
    </dl>
  </div>
</div>

<a href="/admin-view/iteration-3/personal" class="govuk-button govuk-button--start">Start now</a><br>
</div>


<div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 2</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">October 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Kieran & Becky</dd>
    </dl>
  </div>
</div>
<a href="/admin-view/iteration-2/personal" class="govuk-button govuk-button--start">Start now</a><br>
</div>


<div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 1</h2>

<span class="app-c-tag">tyne view park testing</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Paul Ripley, Clare Robinson and Jordan Armstrong </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>This is a view that allows full control over all account data - overriding dates, deleting accounts, etc. </li>
</ul>

<h2 class="govuk-heading-s">Research notes
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>This is for internal use only, not agent facing.</li>
</ul>

<a href="/admin-view/iteration-1b/admin4" class="govuk-button govuk-button--start">Start now</a><br>
</div>
