<h2 class="govuk-heading-m">Design iterations</h2>

<strong class="govuk-tag govuk-tag--green">
Tested
</strong>

<br><br>

<p>
<a href="/debt/sp-agent/personal" class="govuk-link govuk-link--no-visited-state">Record view - <b>just updated</b></a><br>
<a href="/debt/sp-agent/personal-updated" class="govuk-link govuk-link--no-visited-state">Record view - <b>adjusted award</b></a><br>
<a href="/debt/sp-agent/personal-ended" class="govuk-link govuk-link--no-visited-state">Record view - <b>previously adjustment</b></a>
</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2022</dd>
    </dl>

  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Becky & Kieran</dd>
    </dl>
  </div>
</div>



<a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1664365415875/cd4326c970dae4a504e5da92ff4b957894145c81?sender=u5823abda11bcc613039e2603" class="govuk-link" rel="noreferrer noopener" target="_blank">Mural board (opens in new tab)</a><br>
