
<div class="app-most-recent">
<h1 class="govuk-heading-m">Award with SRB</h1>
<strong class="govuk-tag govuk-tag--orange">
Not tested
</strong>

<br><br>

<p>
<a href="/award/srb/award-srb" class="govuk-link govuk-link--no-visited-state"><b>Record with SRB applied</b></a><br>
<a href="/award/srb/award-srb-pc" class="govuk-link govuk-link--no-visited-state"><b>Record with SRB applied with Pension Credit adjustment</b></a>
</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">October 2022</dd>
    </dl>

  </div>
</div>
</div>

<div class="app-most-recent">
<h1 class="govuk-heading-m">Widows inheritance</h1>
<strong class="govuk-tag govuk-tag--orange">
Not tested
</strong>

<br><br>

<p>
<a href="/award/widows/award" class="govuk-link govuk-link--no-visited-state"><b>Record with widows inheritance applied</b></a><br>
</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">October 2022</dd>
    </dl>

  </div>
</div>


</div>




                <div class="app-most-recent">
<h2 class="govuk-heading-m">Award with debt deduction</h2>

<strong class="govuk-tag govuk-tag--green">
Tested
</strong>

<br><br>

<p>
<a href="/debt/sp-agent/personal" class="govuk-link govuk-link--no-visited-state">Record view - <b>just updated</b></a><br>
<a href="/debt/sp-agent/personal-updated" class="govuk-link govuk-link--no-visited-state">Record view - <b>adjusted award</b></a><br>
<a href="/debt/sp-agent/personal-ended" class="govuk-link govuk-link--no-visited-state">Record view - <b>previously adjustment</b></a>
</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2022</dd>
    </dl>

  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Becky & Kieran</dd>
    </dl>
  </div>
</div>

<p>
<a href="/debt/sp-agent/personal" class="govuk-link govuk-link--no-visited-state">Record view - <b>just updated</b></a><br>
<a href="/debt/sp-agent/personal-updated" class="govuk-link govuk-link--no-visited-state">Record view - <b>adjusted award</b></a><br>
<a href="/debt/sp-agent/personal-ended" class="govuk-link govuk-link--no-visited-state">Record view - <b>previously adjustment</b></a>
</p>

<a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1664365415875/cd4326c970dae4a504e5da92ff4b957894145c81?sender=u5823abda11bcc613039e2603" class="govuk-link" rel="noreferrer noopener" target="_blank">Mural board (opens in new tab)</a><br>
</div>
