<h2 class="govuk-heading-m">Communications tab</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">March 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>

</div>

<br>

<h3 class="govuk-heading-s">Scenarios</h3>

<p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
    <li>Agents need to see what communications have been sent to the citizen for query handling</li>
    <li>Agent need to be able to resend communications when a citizen calls up to request this (for example, copies of award letters are having to be manually sent via Notify)</li>
  </ul>
</p>



<a href="/communications/enquiries" class="govuk-button govuk-button--start">Start now</a>
