      <div class="app-most-recent">
<h2 class="govuk-heading-m">Recalling payments </h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Dinesh Jayachandran and Colin Jones </dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Scenario</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Agent takes a change of bank account from a citizen and is prompted to recall the payment that is being sent to the old account
  </li>
  <li>If an agent takes a change of bank account, they need to have the option to try and recall a payment that is being sent to the old account
  </li>
</ul>

<h3 class="govuk-heading-s">Business requirement</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>If an agent knows a payment is going to an invalid bank account, they should try and recall it rather than waiting for it to come back from the bank
  </li>
</ul>

<a href="/cps1/find" class="govuk-button govuk-button--start">Start now</a>
</div>



      <div class="app-most-recent">
<h2 class="govuk-heading-m">Timeline error message </h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">September 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>


<h3 class="govuk-heading-s">Scenario</h3>
<p class="govuk-body">
  <ul class="govuk-list govuk-list--bullet">
  <li>Agent needs to know that the timeline has failed to load, so that they know there may have been changes prior to this enquiry</li>
</ul>
</p>

<h3 class="govuk-heading-s">Business requirement</h3>
<p class="govuk-body">
  <ul class="govuk-list govuk-list--bullet">
  <li>If the timeline fails to load there's a need to let users know</li>
</ul>
</p>

<a href="/cps3/find" class="govuk-button govuk-button--start">Start now</a>
</div>
