<h2 class="govuk-heading-m">Timeline error message </h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">September 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>


<h3 class="govuk-heading-s">Scenario</h3>
<p class="govuk-body">
  <ul class="govuk-list govuk-list--bullet">
  <li>Agent needs to know that the timeline has failed to load, so that they know there may have been changes prior to this enquiry</li>
</ul>
</p>

<h3 class="govuk-heading-s">Business requirement</h3>
<p class="govuk-body">
  <ul class="govuk-list govuk-list--bullet">
  <li>If the timeline fails to load there's a need to let users know</li>
</ul>
</p>

<a href="/cps3/find" class="govuk-button govuk-button--start">Start now</a>