<h2 class="govuk-heading-m">Full death journeys for interim - when payments CAN'T be calulated</h2>

<strong class="app-c-tag app-c-tag--danger">Temporary</strong>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">September 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Feature</dt>
      <dd class="govuk-body" style="margin-left:0%">Various scenarios for death when a calculation can't happen because the payment status is not paid, sent or recalling</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dd class="govuk-body" style="margin-left:0%">jira---</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Scenarios</h3>
<p class="govuk-body">
  <li>All scenarios use a verified date of death </li>
  <li>3 scenarios - All payments are up to date, there is an overpayment, there is an underpayment and arrears are owed</li>
</p>


<h3 class="govuk-heading-s">Research notes</h3>
<p class="govuk-body">
  X
</p>

<br>

<h3 class="govuk-heading-s">Payments are up to date - calculations intially can't be done</h3>
<a href="/bpvdeath4/find.html" class="govuk-button govuk-button--start">Start now</a>

<h3 class="govuk-heading-s">Overpayment</h3>
<a href="/bpvdeath5/find.html" class="govuk-button govuk-button--start">Start now</a>

<h3 class="govuk-heading-s">Arrears are owed</h3>
<a href="/bpvdeath6/find.html" class="govuk-button govuk-button--start">Start now</a>
