<h2 class="govuk-heading-m">Record and overseas NOK, corporate DAP, reference number</h2>

<strong class="govuk-tag govuk-tag--green">
Tested
</strong>

<br><br>

<p>
New death features: <br><br>
1) Record an overseas next of kin. <br>
2) Record a corporate dap and reference number. <br>
3) Removal of telephone number capture. <br>
4) Make overseas payments (including automated payments). <br>
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2022</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Al Robinson and Matt Hall</dd>
    </dl>
  </div>
</div>


<a href="/death-arrears/scenario1/personal "target="_blank" class="govuk-button govuk-button--start">Start now</a><br>

<a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1662732644135/20fc647c85c4e9b0b7d5d3474744a970420c8c33?sender=ud0f6074784801941d82c1259" class="govuk-link" rel="noreferrer noopener" target="_blank">Mural board (opens in new tab)</a><br>

<br><br><br>

<h2 class="govuk-heading-m">Make overseas payments</h2>

<strong class="govuk-tag govuk-tag--green">
Tested
</strong>

<br><br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2022</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Al Robinson and Matt Hall</dd>
    </dl>
  </div>
</div>


<a href="/death-arrears/current/personal-payee-details "target="_blank" class="govuk-button govuk-button--start">Start now</a><br>

<a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1662732644135/20fc647c85c4e9b0b7d5d3474744a970420c8c33?sender=ud0f6074784801941d82c1259" class="govuk-link" rel="noreferrer noopener" target="_blank">Mural board (opens in new tab)</a><br>
