<h2 class="govuk-heading-m">Record and overseas NOK, corporate DAP, reference number</h2>

<p>
New death features: <br><br>
1) Record an overseas next of kin. <br>
2) Record a corporate dap and reference number. <br>
3) Removal of telephone number capture. <br>
4) Make overseas payments (including automated payments). <br>
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2022</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Al Robinson and Matt Hall</dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s"><a href="/death-arrears/archive/scenario1/personal" class="govuk-link">Record and overseas NOK, corporate DAP, reference number</a></h2>


<br><br><br>

<h2 class="govuk-heading-m">Full death journeys for interim - when payments can be calulated</h2>


<h2 class="govuk-heading-s"><a href="archive/bpvdeath1/find.html" class="govuk-link">Payments are up to date</a></h2>

<h2 class="govuk-heading-s"><a href="archive/bpvdeath2/find.html" class="govuk-link">Overpayment</a></h2>

<h2 class="govuk-heading-s"><a href="archive/bpvdeath3/find.html" class="govuk-link">Arrears are owed</a></h2>



<h2 class="govuk-heading-m">When payments can't be calulated</h2>


<h2 class="govuk-heading-s"><a href="archive/bpvdeath4/find.html" class="govuk-link">Payments are up to date - calculations intially can't be done</a></h2>


<h2 class="govuk-heading-s"><a href="archive/bpvdeath5/find.html" class="govuk-link">Overpayment</a></h2>


<h3 class="govuk-heading-s"><a href="archive/bpvdeath6/find.html" class="govuk-link">Arrears are owed</a></h3>


<h2 class="govuk-heading-s"><a href="/death/enquiries" class="govuk-link">Reporting a death without DAP details</a></h2>
