

<h2 class="govuk-heading-m">Multiple deductions</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">June 2023</dd>
    </dl>
  </div>

</div>

<a href="/debt/multiple/enquiries" class="govuk-button govuk-button--secondary">Prototype</a>

<br>


<h2 class="govuk-heading-m">Final iteration</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2022</dd>
    </dl>
  </div>

</div>

<a href="/debt/iteration-3/enquiries" class="govuk-button govuk-button--secondary">Prototype</a>

<br>

<h2 class="govuk-heading-m">Iteration two</h2>

<strong class="govuk-tag govuk-tag--green">
Tested
</strong>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2022</dd>
    </dl>
  </div>

</div>

<a href="/debt/iteration-2/enquiries" class="govuk-button govuk-button--secondary">Prototype</a>

<br>



<h2 class="govuk-heading-m">Iteration one</h2>

<strong class="govuk-tag govuk-tag--green">
Tested
</strong>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">May 2022</dd>
    </dl>
  </div>

</div>

<a href="/debt/enquiries" class="govuk-button govuk-button--secondary">Prototype</a>

<br>

<p>
<a href="/debt/sp-agent/personal" class="govuk-link govuk-link--no-visited-state">Record view - <b>just updated</b></a><br>
<a href="/debt/sp-agent/personal-updated" class="govuk-link govuk-link--no-visited-state">Record view - <b>adjusted award</b></a><br>
<a href="/debt/sp-agent/personal-ended" class="govuk-link govuk-link--no-visited-state">Record view - <b>previously adjustment</b></a>
</p>
