<h2 class="govuk-heading-m">New design</h2>




  <h3 class="govuk-heading-s">Scenario</h3>
<ul class="govuk-list govuk-list--bullet">
    <li>Design using new patterns and designs that we are continually raising stories for in the backlog
    </li>
    <li>Also includes updated content for consistency</li>
    <li>All designs and changes based on continuous user research </li>
  </ul>


<a href="/whatislive2/enquiries" class="govuk-button govuk-button--start">Start now</a><br>





<!--<h3 class="govuk-heading-s">dont test - Scenario 4- Citizen received a one off payment, what is this?</h3>
<a href="/seaham3/find" class="govuk-button govuk-button--start">Start now</a><br> -->