              <div class="app-most-recent">
<h2 class="govuk-heading-m">Initial design for common changes and enquiries</h2>

<strong class="app-c-tag">tyne view park and warrington research</strong>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">Jan 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Becky Lee and Adele Murray</dd>
    </dl>
  </div>
</div>


<h3 class="govuk-heading-s">Research notes</h3>
<p class="govuk-body">
  <ul class="govuk-list govuk-list--bullet">
    <li> Overall the prototype tested well </li>
  </ul>
</p>


<h3 class="govuk-heading-s">Scenarios</h3>
<p class="govuk-body">
  <ul class="govuk-list govuk-list--bullet">
    <li>Change of address, email, phone number, payment frequency and bank account details.</li>
  </ul>
</p>


<a href="bpviteration/find" class="govuk-button govuk-button--start">Start now</a>
</div>


              <div class="app-most-recent">
<h2 class="govuk-heading-m">Changes and enquiries</h2>

<span class="app-c-tag">Warrington research</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">March 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Becky Lee and Adele Murray</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Research notes</h3>
<p class="govuk-body">
  <ul class="govuk-list govuk-list--bullet">
    <li> Agents felt they were able to handle many of the common enquiries </li>
    <li>The redesigned layout, with the more prominent status and separate claim history,
    worked well</li>
    <li>All agents were able to suspend payments for someone going into prison</li>
    <li>Some agents were unsure what the ‘overview’ tab contains</li>
    <li>Need to explore the need for a more comprehensive payment history</li>
  </ul>
</p>

<h3 class="govuk-heading-s">Scenarios</h3>
<p class="govuk-body">
  <ul class="govuk-list govuk-list--bullet">
    <li> Citizen calls up to ask why their payments have stopped </li>
    <li>Agent needs to suspend payments because someone went into prison</li>
    <li>Changing marital details</li>
    <li>When is my next payment and when was my last payment?</li>

  </ul>
</p>


<a href="/iteration2/find" class="govuk-button govuk-button--start">Start now</a>
</div>


              <div class="app-most-recent">
<h2 class="govuk-heading-m">Cancel pension claim</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>

</div>


<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>

<h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>

<a href="/archive/iteration41/enquiries" class="govuk-button govuk-button--start">Start now</a><br>
</div>






              <div class="app-most-recent">
<h2 class="govuk-heading-m">Changes and enquiries redesign idea </h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">June 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">
        Dinesh Jayachandran  </dd>
    </dl>
  </div>
</div>


<br>
<a href="/general/find" class="govuk-button govuk-button--start">Start now</a>
</div>
