<div class="app-most-recent">
<h2 class="govuk-heading-m">Lived or worked in EEA countries</h2>

<strong class="govuk-tag govuk-tag--orange">
Not tested
</strong>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">February 2023</dd>
    </dl>


    <a href="/international-record/eea-iteration-1/personal" class="govuk-button govuk-button--start">Start now</a>
</div>
</div>
</div>

<div class="app-most-recent">
<h2 class="govuk-heading-m">Lived or worked in ANZaC countries</h2>

<strong class="govuk-tag govuk-tag--orange">
Not tested
</strong>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">December 2022</dd>
    </dl>
  </div>

</div>

<p><a href="/international-record/anzac-iteration-1/personal-forms-sent" class="govuk-link govuk-link--no-visited-state">Record with letter sent</a><br>
  <a href="/international-record/anzac-iteration-1/personal-already-complete" class="govuk-link govuk-link--no-visited-state">Record no letter sent - full amount</a><br>
  <a href="/international-record/anzac-iteration-1/personal-no-improvement" class="govuk-link govuk-link--no-visited-state">Record no letter sent - action already taken</a>
  </p>

</div>

<div class="app-most-recent">
<h2 class="govuk-heading-m">Lived or worked in RA countries</h2>

<h2 class="govuk-heading-s">Iteration 2</h2>

<strong class="govuk-tag govuk-tag--green">
Tested
</strong>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">November 2022</dd>
    </dl>
  </div>

</div>

<a href="/international-record/ra-iteration-2/enquiries" class="govuk-button govuk-button--start">Start now</a><br>


<h2 class="govuk-heading-s">Iteration 1</h2>

<strong class="govuk-tag govuk-tag--green">
Tested
</strong>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">October 2022</dd>
    </dl>
  </div>

</div>

<a href="/international-record/ra-iteration-1/enquiries" class="govuk-button govuk-button--start">Start now</a><br>
</div>

<div class="app-most-recent">
<h2 class="govuk-heading-m">Record view for living abroad no action needed</h2>

<strong class="govuk-tag govuk-tag--green">
Tested
</strong>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">November 2022</dd>
    </dl>
  </div>

</div>

<a href="/international-record/ra-iteration-2/personal-no-action" class="govuk-button govuk-button--start">Start now</a><br>
</div>
