<h2 class="govuk-heading-m">Death - recording date of death and DAP details (Version 3)</h2>

<span class="app-c-tag app-c-tag--ready ">Ready to test - iteration eleven</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">August 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Related story</dt>
      <dd class="govuk-body" style="margin-left:0%" >SA-1675 - As an agent I want to be able to add death arrears payee details so I know who to contact</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Added from previous research:</h3>

<ul class="govuk-list govuk-list--bullet">
    <li>
      Removed corporate reference number- not needed at this point
    </li>
    <li>
      Added person dealing with estate contact number (business requirement)
    </li>
    <li>
      Added journey if nothing is owed, 2 routes, if the citizen would like a letter of confirmation or not
    </li>
  </ul>


<h3 class="govuk-heading-s">Research notes</h3>
<p class="govuk-body">
No research done
</p>

<h4 class="govuk-heading-s">An overpayment has occurred: </h4>
<a href="/iteration11a/find" class="govuk-button govuk-button--start">Start now</a>
<h5 class="govuk-heading-s">Arrears are owed:</h5>
<a href="/iteration11b/find" class="govuk-button govuk-button--start">Start now</a>
<h5 class="govuk-heading-s">Nothing is owed:</h5>
<a href="/iteration11c/find" class="govuk-button govuk-button--start">Start now</a>