<h2 class="govuk-heading-m">Iteration 8</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">November 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> 'Provokotype' to see what an agent would need to see</li>
  <li>Someone called last week to report the death of Ken Adams. The details were taken of the caller as the person dealing with the estate. The final calculation could not be done at that point. In this scenario, the calculation still hasn’t been done yet</li>
  <li>Someone is calling to chase up because they have not received a letter</li>
</ul>

<h2 class="govuk-heading-s">What we are wanting to find out
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> How does a claimant feel about not seeing anything when a task has not been done yet</li>
</ul>

<a href="/archive/iteration46/enquiries" class="govuk-button govuk-button--start">Start now</a><br>
