<h2 class="govuk-heading-m">Iteration 2 </h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">August 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>


<h3 class="govuk-heading-s">Scenario</h3>
<ul class="govuk-list govuk-list--bullet">
    <li>
      Viewing next and previous award under the award tab for uprating 
    </li>
  </ul> 

  <h3 class="govuk-heading-s">Related story</h3>
<ul class="govuk-list govuk-list--bullet">
    <li>
      SA-1786 - As an agent I need to be able to see a citizens award details so I can answer quiries in relation to their award
    </li>
  </ul> 

<br>
<h3 class="govuk-heading-s">Different options for designs:</h3>

<a href="/iteration14/find">Option 1 - displaying all information in awards tab</a><br><br>
<a href="/iteration14a/find">Option 2 - using tabs to seperate previous awards from current from future</a><br><br>
<a href="/iteration14b/find">Option 3 - previous awards under current award as a link, future award warning called out</a><br><br>
<a href="/iteration14c/find">Option 4 - displaying all information in awards tab without a breakdown</a><br><br>
<a href="/iteration14d/find">Option 5 - table format with breakdown link</a><br><br>
<a href="/iteration14e/find">Option 6 - current and previous award split into two tables, uprating warning above tabs</a><br><br>
<a href="/iteration14f/find">Option 7 - current and previous award split into two tables, uprating warning under tabs</a>
