<h2 class="govuk-heading-m">Death - arrears are owed (Version 1)</h2>

<span class="app-c-tag">tested - Iteration five</span>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <dl>
        <dt class="govuk-heading-s">Date of design</dt>
        <dd class="govuk-body" style="margin-left:0%">June 2019</dd>
      </dl>
    </div>
  
    <div class="govuk-grid-column-two-thirds">
      <dl>
        <dt class="govuk-heading-s">Related stories</dt>
        <dd class="govuk-body" style="margin-left:0%" >SA-1654 - As an agent I want to record a date of death so no further payment schedules are generated <br> SA-1675 - As an agent I want to be able to add death arrears payee details so I know who to contact</dd>
      </dl>
    </div>
  </div>


<h3 class="govuk-heading-s">Scenarios</h3>
<p class="govuk-body">
    <ul class="govuk-list govuk-list--bullet">
        <li>Based on grouping together occurances that would 'stop a payment'</li>
        <li>Recording date of death, collecting death arrears payee details and paying arrears all in one journey </li>
      </ul>
</p>


<h3 class="govuk-heading-s">Research notes from 6th June 2019 (Londonderry pension centre)</h3>
<ul class="govuk-list govuk-list--bullet">
    <li>Need a way to be able to change the dap details from what was recorded over the phone, incase the BR330 comes back with different information</li>
    <li>Agents were able to find the stop payments link</li>
  </ul>

<br />
<h4 class="govuk-heading-s">Not verified journey:</h4>
<a href="/iteration5/find" class="govuk-button govuk-button--start">Start now</a>

<h5 class="govuk-heading-s">Verified journey:</h5>
<a href="/iteration5b/find" class="govuk-button govuk-button--start">Start now</a>
