<h2 class="govuk-heading-m">Payment returned label</h2>

<span class="app-c-tag">Iteration four</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">Apr 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dd class="govuk-body" style="margin-left:0%">jira---</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Scenarios</h3>

<p class="govuk-body">
    <ul class="govuk-list govuk-list--bullet">
        <li>Showing payment returned status </li>
        <li>Payment tab shows a payment a returned alert</li>
      </ul>
</p>

</br>

<a href="/iteration4/find" class="govuk-button govuk-button--start">Start now</a>
