<h2 class="govuk-heading-m">Burnley testing session 3 - Revised awards</h2>

<span class="app-c-tag">Iteration thirty-four</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">February 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dd class="govuk-body" style="margin-left:0%"> </dd>
    </dl>
  </div>
</div>

<p>
  <b>Scenario 1:</b>
  <ul class="govuk-list govuk-list--bullet">
    <li>No payments have gone out</li>
    <li>Review has been done - FRY</li>
  </ul>
</p>
<a href="/iteration34/find" class="govuk-button govuk-button--start">Start now</a><br>

<p>
  <b>Scenario 2:</b>
  <ul class="govuk-list govuk-list--bullet">
    <li>No payments have gone out</li>
    <li>Review has been done - FRY</li>
    <li>Review has been done - HMRC review</li>
  </ul>
</p>
<a href="/iteration34-2/find" class="govuk-button govuk-button--start">Start now</a><br>

<p>
  <b>Scenario 3:</b>
  <ul class="govuk-list govuk-list--bullet">
    <li>Payments have gone out</li>
    <li>Review has been done - FRY</li>
    <li>Review has been done - HMRC review</li>
    <li>Review has been done - HMRC review</li>
  </ul>
</p>
<a href="/iteration34-3/find" class="govuk-button govuk-button--start">Start now</a><br>

<p>
  <b>Scenario 4:</b>
  <ul class="govuk-list govuk-list--bullet">
    <li>Payments have gone out</li>
    <li>Review has been done - FRY</li>
    <li>Review has been done - HMRC review</li>
    <li>Review has been done - HMRC review</li>
    <li>Uprating</li>
  </ul>
</p>
<a href="/iteration34-4/find" class="govuk-button govuk-button--start">Start now</a><br>