<h2 class="govuk-heading-m">Iteration 7</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">November 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> 'Provokotype' to see what an agent would need to see</li>
  <li>Claimant calls up chasing whether his claim has been looked into after his wife died to see if he’s entitled to any more SP. In this scenario, the claim has not been looked into yet</li>
  <li>Claimant calls back because he hasn't heard anything</li>
</ul>

<h2 class="govuk-heading-s">What we are wanting to find out
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> How does a claimant feel about not seeing anything when a task has not been done yet</li>
  <li>What an agent would expect to see when an inheritance calc has been done and there is no change to the award</li>

</ul>

<a href="/archive/iteration47/enquiries" class="govuk-button govuk-button--start">Start now</a><br>
