<h2 class="govuk-heading-m">Final iteration - Death from CIS</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">April 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Agent can go in and verify a date of death if it’s not verified and enter details of the person dealing with the estate</li>
  <li>If the date of death is already verified, the agent can go in and enter details of the person dealing with the estate
  </li>

</ul>

<h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Date of death can come from CIS as verified or not verified
  </li>
  <li>Agent needs to be able to add details of the person dealing with the estate and to verify the date of death if it’s not verified
  </li>
</ul>


<h2 class="govuk-heading-s">Related stories
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>SA-2303 - As an agent I want to record details of person dealing with estate where a date of death has been previously recorded from Events Service so that I know who to contact	
  </li>
</ul>

<h3 class="govuk-heading-s">Verified</h3>
<a href="/iteration37/enquiries" class="govuk-button govuk-button--start">Start now</a><br>

<h3 class="govuk-heading-s">Not verified</h3>
<a href="/iteration37b/enquiries" class="govuk-button govuk-button--start">Start now</a><br>