<h2 class="govuk-heading-m">Iteration 3</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">April 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Changing a marital staus from married to widowed</li>
  <li>Agent can check in CAM to see if claimant can inherit anything from their late spouse</li>
  <li>Agent can adjust claimant's award after entering the date the spouse died</li>

</ul>


<h3 class="govuk-heading-s">Business requirement </h3>
<p class="govuk-body">
    <ul class="govuk-list govuk-list--bullet">
        <li>Need to be able to change a citizen's marital status when the status is verified and not verified
        </li>
        <li>Most agents will be able to check for inheritance at the point of changing the marital status
        </li>
        <li>Also need to create a task where the agent can't check for inheritance</li>
      </ul>
</p>


<!-- 
<h2 class="govuk-heading-s">Iterations based on previous research
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>

<h2 class="govuk-heading-s">Research notes
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul> -->

<h3 class="govuk-heading-s">Related stories</h3>
<p class="govuk-body">
    <ul class="govuk-list govuk-list--bullet">
        <li>SA-1794 - Change marital status to ‘Married’/‘In a civil partnership’ and add corresponding marital details
        </li>
      </ul>
</p>

<!-- <a href="" class="govuk-body"><b>Research document</b></a> -->
<br>
<p><b>Scenario 1</b><br>
  Agent unable to check for inheritance</p>
<a href="/iteration38a/enquiries" class="govuk-button govuk-button--start">Start now</a><br>
<p><b>Scenario 2</b><br>
  Agent able to check for inheritance but citizen can't inherit</p>
<a href="/iteration38b/enquiries" class="govuk-button govuk-button--start">Start now</a><br>
<p><b>Scenario 3</b><br>
  Agent able to check for inheritance and citizen can inherit</p>
<a href="/iteration38c/enquiries" class="govuk-button govuk-button--start">Start now</a><br>