<h2 class="govuk-heading-m">Change of circumstances</h2>

<span class="app-c-tag">Iteration eleven</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of release</dt>
      <dd class="govuk-body">August 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Feature</dt>
      <dd class="govuk-body">Death- Iteration 3</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dd class="govuk-body">SA-1675 - As an agent I want to be able to add death arrears payee details so I know who to contact</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Research notes - 6th August 2019</h3>
<p class="govuk-body">
- Agents didn't understand 'reference number (corporate only)', they thought this meant to add a NI number
<br> - requirement missed- to add a contact number when taking the dap details
</p>

<h3 class="govuk-heading-s">Journeys include:</h3>
<p class="govuk-body">
- an overpayment has occurred 
<br> - arrears are owed
<br> - nothing is owed


<br>
<h4 class="govuk-heading-s">Overpayment</h4>
<a href="/iteration11a/find" class="govuk-button govuk-button--start">Start now</a>
<h5 class="govuk-heading-s">Arrears are owed</h5>
<a href="/iteration11b/find" class="govuk-button govuk-button--start">Start now</a>
<h5 class="govuk-heading-s">Nothing is owed</h5>
<a href="/iteration11c/find" class="govuk-button govuk-button--start">Start now</a>