<h2 class="govuk-heading-m">Payment services testing session</h2>

<span class="app-c-tag app-c-tag--ready">to test - iteration twenty two</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">October 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Related story</dt>
      <dd class="govuk-body" style="margin-left:0%" ></dd>
    </dl>
  </div>
</div>
<h3 class="govuk-heading-s">Scenario</h3>

<ul class="govuk-list govuk-list--bullet">
    <li>
marking payment as not paid</li>
<li>
    changing bank details</li>
    <li>
        re-issuing payment</li>
    
  </ul>

  <h3 class="govuk-heading-s">Changes from last round of research</h3>

<ul class="govuk-list govuk-list--bullet">
    <li>
Might not always need to change bank details when re-issuing a payment - it can sometimes be sent back to the same bank account</li>
<li>
    Looking at two options to prompt agent to change the bank details, if they need to </li>
    <li>
       </li>
    
  </ul>



<h3 class="govuk-heading-s">Next iteration where bank details need to be changed</h3>

<a href="/iteration22a/find" class="govuk-button govuk-button--start">Start now</a>

<h3 class="govuk-heading-s">Where bank details don't need changed option 1 - includes new page</h3>
<a href="/iteration22b/find" class="govuk-button govuk-button--start">Start now</a>


<h3 class="govuk-heading-s">Where bank details don't need changed option 2</h3>

<a href="/iteration22c/find" class="govuk-button govuk-button--start">Start now</a>