<h2 class="govuk-heading-m">Iteration 6 </h2>

<span class="app-c-tag ">benton park view research</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">August 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%" >Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>
<h3 class="govuk-heading-s">Scenario</h3>

<ul class="govuk-list govuk-list--bullet">
    <li>
    Adding the details of the person dealing with the estate only, after the date of death is recorded    </li>
    <li>
    No letter is sent in this version, a letter will be sent with the outcome of the estate calculation</li>
    
  </ul>
<h3 class="govuk-heading-s">Iterations based on previous research</h3>

<ul class="govuk-list govuk-list--bullet">
    <li> Adding contact number as a business requirement     </li>
<li>Business requirement - a verified date of death can be automatically populated by CIS. Need a way to enter the person dealing with the estate's details seperately </li>
<li>Adding in a check details page for the personal dealing with the estate </li>

  </ul>

  <h3 class="govuk-heading-s">Related story</h3>

<ul class="govuk-list govuk-list--bullet">
    <li>
      SA-1675 - As an agent I want to be able to add death arrears payee details so I know who to contact
    </li>
  </ul>

<h3 class="govuk-heading-s">Death has come through from bereavement service (dap details included):</h3>
<a href="/iteration18/find" class="govuk-button govuk-button--start">Start now</a>
<br>
<h3 class="govuk-heading-s">Death has been automatically entered by CIS - agent needs to go in to enter dap details:</h3>
<a href="/iteration19/find" class="govuk-button govuk-button--start">Start now</a>