<h2 class="govuk-heading-m">Marital status version 2</h2>

<span class="app-c-tag">iteration thirty-one</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">January 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dd class="govuk-body" style="margin-left:0%" > </dd>
    </dl>
  </div>
</div>

<a href="/iteration31a/find" style="font-size: 19px">Married to divorced</a><br>
<a href="/iteration31b/find" style="font-size: 19px">Never been married to married or civil partnership </a><br>
<a href="/iteration31c/find" style="font-size: 19px">Widowed to married or civil partnership</a><br>
<a href="/iteration31d/find" style="font-size: 19px">Dissolved civil partnership to married or civil partnership</a><br>
<a href="/iteration31e/find" style="font-size: 19px">Divorced to married or civil partnership</a><br>
<a href="/iteration31f/find" style="font-size: 19px">Married or civil partnership to widowed</a><br>
<a href="/iteration31g/find" style="font-size: 19px">Civil partnership to dissolved civil partnership</a><br>







<!--<h3 class="govuk-heading-s">dont test - Scenario 4- Citizen received a one off payment, what is this?</h3>
<a href="/seaham3/find" class="govuk-button govuk-button--start">Start now</a><br> -->