<h2 class="govuk-heading-m">Iteration 1</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Scenario</h3>
<ul class="govuk-list govuk-list--bullet">
    <li>
      Showing a breakdown of a citizen's award for enquiry handling, for example, "what is my pension made up of?"
    </li>
    <li>
      A warning message for an uprating is displayed
    </li>
  </ul> 

<h3 class="govuk-heading-s">Related story</h3>
<ul class="govuk-list govuk-list--bullet">
    <li>
      SA-1786 - As an agent I need to be able to see a citizens award details so I can answer quiries in relation to their award
    </li>
  </ul> 

<br>
<a href="/iteration9/find" class="govuk-button govuk-button--start">Start now</a>
