<h2 class="govuk-heading-m">Iteration 9</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">January 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
</li>agent can capture bank details with the date of death</li>

<li>verified dod<li>
<li>arrears are owed</li>
</ul>

<h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Agent needs to be given the option to enter bank details of the person dealing with the estate if they have them. If they don’t have the bank details, they should still be able to continue through the existing journey</li>
  <li>If there are arrears due, the agent should be able to pay the arrears straight away without the need to send a BR330 form</li>
  <li>If the calculation can’t be done, when it is automatically run and there are arrears due, there should be no task created to send a BR330 if bank details are already held for the person dealing with the estate (DAP)</li>
</ul>
<!-- 
<h2 class="govuk-heading-s">Iterations based on previous research
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>

<h2 class="govuk-heading-s">Research notes
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>

<h2 class="govuk-heading-s">Related stories
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul> -->


<!-- <a href="" class="govuk-body"><b>Research document</b></a> -->
<br> <br> <br>

<a href="/iteration49/enquiries" class="govuk-button govuk-button--start">Start now</a><br>