<h2 class="govuk-heading-m">Iteration 2</h2>

<span class="app-c-tag">tyneview park research</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">January 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>

</div>

<h3 class="govuk-heading-s">Research notes</h3>
<ul class="govuk-list govuk-list--bullet">
    <li>Agents missed the verification call out message in details</li>
  </ul>

  <h3 class="govuk-heading-s">Related stories</h3>
<p class="govuk-body">
    <ul class="govuk-list govuk-list--bullet">
        <li>SA-1794 - Change marital status to ‘Married’/‘In a civil partnership’ and add corresponding marital details
        </li>
      </ul>
</p>

<a href="https://confluence.service.dwpcloud.uk/download/attachments/121592010/change%20of%20maritial%20status_reults%20presentation_master%20doc_Jan20.pptx?version=1&modificationDate=1580920778305&api=v2"
class="govuk-body"><b>Research document</b></a>

<br><br><br>


<p><b> Scenario 1 - never been married to married</b><br>Agent needs to change marital status to married and add spouse details</p>
<a href="/iteration32a/find" class="govuk-button govuk-button--start">Start now</a><br>

<p><b> Scenario 2 - married status</b><br>Agent needs to verify date of marriage and add spouse middle name</p>
<a href="/iteration32b/find" class="govuk-button govuk-button--start">Start now</a><br>

<p><b>Scenario 3 - In a civil partnership status to widowed</b><br>Agent needs to change the status and enter date of widowhood</p>
<a href="/iteration32c/find" class="govuk-button govuk-button--start">Start now</a><br>





