<h2 class="govuk-heading-m">Task journeys- Death from CIS</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">August 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenarios
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Scenarios include all ways a death will come from CIS</li>



</ul>

<h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>When a death overpayment task has already been done, an agent will email the DAP details through to the debt referral team rather than creating another task
  </li>

</ul>


<!-- <h2 class="govuk-heading-s">Related stories
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>SA-2303 - As an agent I want to record details of person dealing with estate where a date of death has been previously recorded from Events Service so that I know who to contact	
  </li>
</ul> -->

<h3 class="govuk-heading-s">Scenario 1 & 2:</h3>
  <ul class="govuk-list govuk-list--bullet">
<li> scenario 1 - a debt referral task has been done, agent needs to email dap details to debt referral team</li>
<li> scenario 2 - agent updates the DAP details before task has been done</li>
  </ul>

  <a href="/iteration42/enquiries" class="govuk-button govuk-button--start">Start now</a><br>


<h3 class="govuk-heading-s">Scenario 3: bereavement updates of NV death, CIS automates it to V:</h3>

<a href="/iteration42b/enquiries" class="govuk-button govuk-button--start">Start now</a><br>

<h3 class="govuk-heading-s">Scenario 4: CIS record V d.o.d, can't calc because of timing:</h3>

<a href="/iteration42c/enquiries" class="govuk-button govuk-button--start">Start now</a><br>

<h3 class="govuk-heading-s">Scenario 5: CIS record NV d.o.d, can update to V:</h3>

<a href="/iteration42d/enquiries" class="govuk-button govuk-button--start">Start now</a><br>





<h3 class="govuk-heading-s">NOT CIS - bereavement service enter dod:</h3>

<a href="/iteration42f/enquiries" class="govuk-button govuk-button--start">Start now</a><br>