<h2 class="govuk-heading-m">Final iteration</h2>

<span class="app-c-tag">blackpool and runcorn research</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">November 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Business requirement</h3>

<ul class="govuk-list govuk-list--bullet">
    <li>Agents need to understand when a payment is in the process of being reissued (reissuing)</li>
  </ul>

  <h3 class="govuk-heading-s">Research notes</h3>

<ul class="govuk-list govuk-list--bullet">
    <li>...</li>
  </ul>

<h3 class="govuk-heading-s">Scenario 1 <p>(new status design)</p></h3> 
<ul class="govuk-list govuk-list--bullet">
  <li>Agents need to mark payment as returned</li>
  <li>Agents need to recall the sent payment</li>
  <li>Agents update the outcome of the recalling payment to successfully recalled (status - recalling)</li>
</ul>
<a href="/iteration29a/find" class="govuk-button govuk-button--start">Start now</a><br>

<h3 class="govuk-heading-s">Scenario 1 part 2</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Agents need to change the bank details</li>
  <li>Agents need reissue the returned payment (status - reissuing)</li>
  <li>Agents need to reissue the recalled payment (status - reissuing)</li>
</ul>
<a href="/iteration29a3/find" class="govuk-button govuk-button--start">Start now</a><br>

<h3 class="govuk-heading-s">Scenario 2</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Agents update the outcome of the recalling payment to unsuccessfully recalled (status - paid)</li>
</ul>


<a href="https://confluence.service.dwpcloud.uk/download/attachments/121592010/recall%20reissue%20payments_master%20slides_minus%209%20and%2015.pptx?version=4&modificationDate=1576067469702&api=v2"
class="govuk-body"><b>Research document</b></a>

<br><br><br>


<a href="/iteration29b/find" class="govuk-button govuk-button--start">Start now</a><br>




<!--<h3 class="govuk-heading-s">dont test - Scenario 4- Citizen received a one off payment, what is this?</h3>
<a href="/seaham3/find" class="govuk-button govuk-button--start">Start now</a><br> -->