<h2 class="govuk-heading-m">Account status - no current address </h2>

<span class="app-c-tag app-c-tag--ready">Not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">March 2019</dd>
    </dl>
  </div>


  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Becky Lee and Adele Murray</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Scenarios</h3>

<p class="govuk-body">


<ul class="govuk-list govuk-list--bullet">
    <li>The status of this record is no address (DLO), the functionality to re-issue a payment
        has been added as well as a extra label above the payment details</li>
    <li>Content
        change on the section tabs and changes made to the screen where a record is matched
        and can be entered</li>
  </ul>
</p>

</br>

<a href="/iteration3/find" class="govuk-button govuk-button--start">Start now</a>
