<h2 class="govuk-heading-m">Iteration 6b</h2>

<span class="app-c-tag">tyne view park testing</span>
<br><br><span class="app-c-tag app-c-tag--warning">remote skype research</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">January 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Colin Jones and Paul Ripley</dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Calculation can be automated</li>
  <li>Removed 'update award' screen where an agent would enter the components</li>
  <li>Added a line of text to the send letter page - award will increased from X to X from XXXXXX</li>
  <li>Added a line of text to the send letter page - An arrears amount of X will be paid on XXXXXX</li>

</ul>

<h2 class="govuk-heading-s">Data items for scenario
</h2>
<ul class="govuk-list govuk-list--bullet">
<li>NINO – QQ123456X</li>
<li>Name – Ken Adams</li>
<li>Date of death – 20 Jul 2020</li>
<li>Verification status of death – Verified</li>
<li>The citizen IS entitled to inherited SP</li>
<li>Component – Protected Payment £20</li>
</ul>

<a href="https://confluence.service.dwpcloud.uk/display/SA/Public+Beta?preview=/121592010/185624302/Widows%20service_pres_5th%20Aug%202020.pptx" class="govuk-body"><b>Research document</b></a>
<br><br><br>

<a href="/archive/iteration39b/enquiries" class="govuk-button govuk-button--start">Start now</a><br>
