<h2 class="govuk-heading-m">Viewing next and previous award under the award tab for uprating </h2>

<span class="app-c-tag app-c-tag--ready">needs testing - Iteration fourteen</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">August 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Related story</dt>
      <dd class="govuk-body" style="margin-left:0%">X</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Scenario</h3>
<p class="govuk-body">
Uprating - agents need to see next and previous awards 
</p>

<br />
<h3>Option 1:</h3>
<a href="/iteration14/find" class="govuk-button govuk-button--start">Start now</a>
<h3>Option 2:</h3>
<a href="/iteration14a/find" class="govuk-button govuk-button--start">Start now</a>
<h3>Option 3:</h3>
<a href="/iteration14b/find" class="govuk-button govuk-button--start">Start now</a>
<h3>Option 4:</h3>
<a href="/iteration14c/find" class="govuk-button govuk-button--start">Start now</a>
<h3>Option 5:</h3>
<a href="/iteration14d/find" class="govuk-button govuk-button--start">Start now</a>
<h3>Option 6:</h3>
<a href="/iteration14e/find" class="govuk-button govuk-button--start">Start now</a>
<h3>Option 7:</h3>
<a href="/iteration14f/find" class="govuk-button govuk-button--start">Start now</a>
