<h2 class="govuk-heading-m">Iteration 5</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">October 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Business requirement</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>
    Agents need to be able to reissue a payment to the same bank account it was returned from</li>
</ul>


<h3 class="govuk-heading-s">Scenario</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>
    A payment had been returned by the bank. Agents need to mark the payment as returned </li>
  <li>Agent re-issues any returned payments
  </li>
  <li> If agent doesn't change bank details they are asked if they want to pay into the same account where they are given the opportunity to change the bank details
  </li>
  <li> If bank details have been changed the service will know and not ask this question
  </li>
</ul>


<a href="/iteration22b/find" class="govuk-button govuk-button--start">Start now</a>

