<h2 class="govuk-heading-m">Deferring</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">August 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenarios
</h2>

<ul class="govuk-list govuk-list--bullet">

  <li>Agent needs to mark an account as deferred when a claimant calls up and decides to defer their pension after they have made a claim</li>



</ul>

<!-- <h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>When a death overpayment task has already been done, an agent will email the DAP details through to the debt referral team rather than creating another task
  </li>

</ul> -->


<!-- <h2 class="govuk-heading-s">Related stories
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>SA-2303 - As an agent I want to record details of person dealing with estate where a date of death has been previously recorded from Events Service so that I know who to contact	
  </li>
</ul> -->

<h3 class="govuk-heading-s">MVP:</h3>

<a href="/iteration43/enquiries" class="govuk-button govuk-button--start">Start now</a><br>


<h3 class="govuk-heading-s">Scenario 1- citizen wants to defer before spa:</h3>
 
  <a href="/iteration43a/enquiries" class="govuk-button govuk-button--start">Start now</a><br>


  <h3 class="govuk-heading-s">Scenario 2 - citizen wants to defer after spa and wants to defer back to SPA date:</h3>

  <a href="/iteration43b/enquiries" class="govuk-button govuk-button--start">Start now</a><br>

  <h3 class="govuk-heading-s">Scenario 3- citizen wants to defer after spa and wants to defer from a different date to SPA:</h3>

  <a href="/iteration43c/enquiries" class="govuk-button govuk-button--start">Start now</a><br>