<h2 class="govuk-heading-m">Iteration 1 - payment details</h2>

<span class="app-c-tag">benton park view research</span>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <dl>
        <dt class="govuk-heading-s">Date of design</dt>
        <dd class="govuk-body" style="margin-left:0%">August 2019</dd>
      </dl>
    </div>
  
    <div class="govuk-grid-column-two-thirds">
      <dl>
        <dt class="govuk-heading-s">Designers</dt>
        <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
      </dl>
    </div>
  </div>


<h3 class="govuk-heading-s">Scenarios</h3>
<p class="govuk-body">

    <ul class="govuk-list govuk-list--bullet">
        <li>Users need to be able to see payment details to answer enquiries about where payments went</li>      
      </ul>
</p>

<h3 class="govuk-heading-s">Research notes</h3>
<p class="govuk-body">

    <ul class="govuk-list govuk-list--bullet">
        <li>Some agents got confused which payment details they were in
        </li>
      </ul>
</p>

<h3 class="govuk-heading-s">Related story</h3>
<p class="govuk-body">

    <ul class="govuk-list govuk-list--bullet">
        <li>SA-1796 - As an agent I need to be able to view more details about payments in Payment History so that I can answer enquiries </li>
      </ul>
</p>

<a href="https://confluence.service.dwpcloud.uk/download/attachments/121592010/Death-Over-Underpayment%20.pdf?version=1&modificationDate=1565256929231&api=v2"
class="govuk-body"><b>Research document</b></a>

<br><br><br>


<br>
<a href="/iteration13/find" class="govuk-button govuk-button--start">Start now</a>
