<h2 class="govuk-heading-m">Death - recording date of death and DAP details (Version 2)</h2>

<span class="app-c-tag">tested - Iteration ten</span>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <dl>
        <dt class="govuk-heading-s">Date of design</dt>
        <dd class="govuk-body" style="margin-left:0%">July 2019</dd>
      </dl>
    </div>
  
    <div class="govuk-grid-column-two-thirds">
      <dl>
        <dt class="govuk-heading-s">Related story</dt>
        <dd class="govuk-body" style="margin-left:0%" >SA-1675 - As an agent I want to be able to add death arrears payee details so I know who to contact</dd>
      </dl>
    </div>
  </div>

<h3 class="govuk-heading-s">Added from previous research:</h3>
<ul class="govuk-list govuk-list--bullet">
    <li>
        Adding corporate reference number
    </li>
    <li>
        Pulling through the address of the person reporting death to the death arrears payment journey
    </li>
    <li>
      Different design for 'complete task' screen
    </li>
  </ul> 


<h3 class="govuk-heading-s">Research notes from 6th August 2019 (Tyne View Park)</h3>

<ul class="govuk-list govuk-list--bullet">
    <li>
        Agents didn't understand 'reference number (corporate only)', they thought this meant to add a NI number
    </li>
    <li>
        Business requirement missed- to add a contact number when taking the dap details
    </li>
  </ul> 


<br>
<h4 class="govuk-heading-s">An overpayment has occurred:</h4>
<a href="/iteration10a/find" class="govuk-button govuk-button--start">Start now</a>
<h5 class="govuk-heading-s">Part 1 of Arrears journey- reporting date of death):</h5>
<a href="/iteration10b/find" class="govuk-button govuk-button--start">Start now</a>
<h5 class="govuk-heading-s">Part 2 of Arrears journey- entering date of death details and making payment:</h5>
<a href="/iteration10c/find" class="govuk-button govuk-button--start">Start now</a>