<h2 class="govuk-heading-m">Iteration 2</h2>

<span class="app-c-tag">Tyne View Park research</span>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <dl>
        <dt class="govuk-heading-s">Date of design</dt>
        <dd class="govuk-body" style="margin-left:0%">June 2019</dd>
      </dl>
    </div>
  
    <div class="govuk-grid-column-two-thirds">
      <dl>
        <dt class="govuk-heading-s">Designers</dt>
        <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
      </dl>
    </div>
  </div>


<h3 class="govuk-heading-s">Scenarios</h3>

<p class="govuk-body">
    <ul class="govuk-list govuk-list--bullet">
        <li>Business requirement to be able to add a date of death only</li>
        <li>Date of death is verified </li>
        <li>Date of death is not verified </li>
        <li>Continuing not verified journey to verify the date </li>
      </ul>
</p>


<h3 class="govuk-heading-s">Research notes</h3>

<p class="govuk-body">
    <ul class="govuk-list govuk-list--bullet">
        <li>Agents found add date of death link very easily </li>
        <li>Agents could see the death was verified in the timeline </li>
        <li>Verified tick and not verified cross worked well, all agents spotted this had changed first </li>
      </ul>
</p>

<h3 class="govuk-heading-s">Related stories</h3>
<p class="govuk-body">
    <ul class="govuk-list govuk-list--bullet">
        <li>SA-1654 - As an agent I want to record a date of death so no further payment schedules are generated</li>
        <li>SA-1675 - As an agent I want to be able to add death arrears payee details so I know who to contact</li>
      </ul>
</p>

<br>
<h4 class="govuk-heading-s">Not verified journey:</h4>
<a href="/iteration8a/find" class="govuk-button govuk-button--start">Start now</a>

<h5 class="govuk-heading-s">Verified journey:</h5>
<a href="/iteration8b/find" class="govuk-button govuk-button--start">Start now</a>