<h2 class="govuk-heading-m">Iteration 4</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">October 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Scenario</h3>

<ul class="govuk-list govuk-list--bullet">
    <li>
A payment had been returned by the bank because the citizen has changed their bank details. Agents need to mark the payment as not paid </li>
<li>Citizen then rings up and provides the agent with new bank details, agent enters the new bank details and re-issues any returned payments
    </li>
  </ul>

  <h3 class="govuk-heading-s">Iterations based on previous research</h3>

<ul class="govuk-list govuk-list--bullet">
    <li>Removed call to action to reissue payment</li>
    <li>Changed the terminology for not paid to returned and re-sent to reissued</li>


  
    
  </ul>



<a href="/iteration22a/find" class="govuk-button govuk-button--start">Start now</a>

