<h2 class="govuk-heading-m">Iteration 5</h2>

<span class="app-c-tag">benton park view research</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">August 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%" >Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Iterations based on previous research</h3>

<ul class="govuk-list govuk-list--bullet">
    <li>
     Business requirement to remove corporate reference number
    </li>
    <li>
      Business requirement to add person dealing with estate's contact number 
    </li>
    <li>
Two journeys for if no money is owed - with or without letter    </li>
  </ul>


<h3 class="govuk-heading-s">Research notes</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
    Need identified for users to be able to go back to the personal tab at the end of the journey to answer any further queries </li>
</ul>

<h3 class="govuk-heading-s">Related story</h3>

<ul class="govuk-list govuk-list--bullet">
    <li>
      SA-1675 - As an agent I want to be able to add death arrears payee details so I know who to contact
    </li>
  </ul>


<h4 class="govuk-heading-s">An overpayment has occurred: </h4>
<a href="/iteration11a/find" class="govuk-button govuk-button--start">Start now</a>
<h5 class="govuk-heading-s">Arrears are owed:</h5>
<a href="/iteration11b/find" class="govuk-button govuk-button--start">Start now</a>
<h5 class="govuk-heading-s">Nothing is owed:</h5>
<a href="/iteration11c/find" class="govuk-button govuk-button--start">Start now</a>