<h2 class="govuk-heading-m">Iteration 2</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">November 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenarios
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Agent needs to mark an account as deferred when a claimant calls up and decides to defer their pension after they have made a claim</li>
</ul>

<h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>If claimant request comes in before SPa, the date of deferral is always SPa
  </li>
  <li>If claimant request comes in after SPa, the date of deferral can either be ‘now’ (i.e. the start of the benefit week in which the request was made) or any date up to 28 days in the future</li>
</ul>



<h3 class="govuk-heading-s">Scenario 1- citizen wants to defer before spa:</h3>
  <a href="/archive/iteration43a/enquiries" class="govuk-button govuk-button--start">Start now</a><br>
