<h2 class="govuk-heading-m">Burnley - testing session 2 - Uprated awards</h2>

<span class="app-c-tag">iteration twenty four</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">November 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Related story</dt>
      <dd class="govuk-body" style="margin-left:0%" ></dd>
    </dl>
  </div>
</div>
<h3 class="govuk-heading-s">Wanting to test:</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>Can agents identify an uprated award? </li>  
  <li>
      Do they know what's currently in payment?</li>
      <li>
          Do they understand the award has changed?</li>
         
    

    
  </ul>



  <h3 class="govuk-heading-s">Scenario 1- design 1 - uprated award:</h3>
  <a href="/iteration24a/find" class="govuk-button govuk-button--start">Start now</a><br>

  <h3 class="govuk-heading-s">Scenario 1- design 2 - uprated award:</h3>
  <a href="/iteration24a/find" class="govuk-button govuk-button--start">Start now</a><br>



<!--<h3 class="govuk-heading-s">dont test - Scenario 4- Citizen received a one off payment, what is this?</h3>
<a href="/seaham3/find" class="govuk-button govuk-button--start">Start now</a><br> -->