<h2 class="govuk-heading-m">Iteration 3</h2>

<span class="app-c-tag">Seaham research</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">November 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>
<h3 class="govuk-heading-s">Scenarios</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>Scenario 1 - Next door neighbour received a letter about getting an increase in pension, will mine increase?</li>
  <li>
    Scenario 2 - Design to incorporate previous awards into awards tab. No scenario just asked agents what they understood</li>
  <li>
    Scenario 3 - Can agents identify the reason for a small one off payment?</li>
</ul>

<h3 class="govuk-heading-s">Research notes</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>Agents could answer enquiries based on the payment history table (with period in 'payment details')</li>
  <li>
    Agents understood arrears payment in payment history</li>
    <li>
      Agents were able to identify the current award and the uprated award amount </li>
</ul>

<a href="https://confluence.service.dwpcloud.uk/download/attachments/121592010/enquiry%20handling_Nov19_master%20slides.pptx?version=1&modificationDate=1575970748420&api=v2"
class="govuk-body"><b>Research document</b></a>

<br><br><br>


<h3 class="govuk-heading-s">Scenario 1</h3>
<a href="/iteration23a/find" class="govuk-button govuk-button--start">Start now</a><br>

<h3 class="govuk-heading-s">Scenario 2</h3>
<a href="/iteration23b/find" class="govuk-button govuk-button--start">Start now</a><br>

<h3 class="govuk-heading-s">Scenario 3</h3>
<a href="/iteration23d/find" class="govuk-button govuk-button--start">Start now</a><br>





<!--<h3 class="govuk-heading-s">dont test - Scenario 4- Citizen received a one off payment, what is this?</h3>
<a href="/seaham3/find" class="govuk-button govuk-button--start">Start now</a><br> -->