<h2 class="govuk-heading-m">Iteration 1</h2>

<span class="app-c-tag">Londonderry research</span>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <dl>
        <dt class="govuk-heading-s">Date of design</dt>
        <dd class="govuk-body" style="margin-left:0%">June 2019</dd>
      </dl>
    </div>
  
    <div class="govuk-grid-column-two-thirds">
      <dl>
        <dt class="govuk-heading-s">Designers</dt>
        <dd class="govuk-body" style="margin-left:0%">Becky Lee and Adele Murray </dd>
      </dl>
    </div>
  </div>


<h3 class="govuk-heading-s">Scenarios</h3>
<p class="govuk-body">
    <ul class="govuk-list govuk-list--bullet">
        <li>Based on grouping together occurances that would 'stop a payment'</li>
        <li>Recording date of death, collecting death arrears payee details and paying arrears all in one journey </li>
      </ul>
</p>


<h3 class="govuk-heading-s">Research notes</h3>
<ul class="govuk-list govuk-list--bullet">
    <li>Need a way to be able to change the dap details from what was recorded over the phone, incase the BR330 comes back with different information</li>
    <li>Agents were able to find the stop payments link</li>
  </ul>

  <h3 class="govuk-heading-s">Related stories</h3>
<p class="govuk-body">
    <ul class="govuk-list govuk-list--bullet">
        <li>SA-1654 - As an agent I want to record a date of death so no further payment schedules are generated</li>
        <li>SA-1675 - As an agent I want to be able to add death arrears payee details so I know who to contact</li>
      </ul>
</p>



<a href="https://confluence.service.dwpcloud.uk/download/attachments/121592010/Codesign_Output_Usability_170619.pdf?version=1&modificationDate=1560945943691&api=v2"
class="govuk-body"><b>Research document</b></a>


<br> <br> <br>

<h4 class="govuk-heading-s">Not verified journey:</h4>
<a href="/iteration5/find" class="govuk-button govuk-button--start">Start now</a>

<h5 class="govuk-heading-s">Verified journey:</h5>
<a href="/iteration5b/find" class="govuk-button govuk-button--start">Start now</a>
