<h2 class="govuk-heading-m">Iteration 4</h2>

<span class="app-c-tag">tyne view park research</span>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <dl>
        <dt class="govuk-heading-s">Date of design</dt>
        <dd class="govuk-body" style="margin-left:0%">July 2019</dd>
      </dl>
    </div>
  
    <div class="govuk-grid-column-two-thirds">
      <dl>
        <dt class="govuk-heading-s">Designers</dt>
        <dd class="govuk-body" style="margin-left:0%" >Emily Wilkinson and Colin Jones</dd>
      </dl>
    </div>
  </div>

<h3 class="govuk-heading-s">Iterations based on previous research</h3>
<ul class="govuk-list govuk-list--bullet">
    <li>
        Adding corporate reference number
    </li>
    <li>
         Details of the person dealing with the estate pulled through as death arrears payee
    </li>
    <li>
      Different design for 'complete task' screen
    </li>
  </ul> 


<h3 class="govuk-heading-s">Research notes</h3>

<ul class="govuk-list govuk-list--bullet">
    <li>
        Agents didn't understand 'reference number (corporate only)', they thought this meant to add a NI number
    </li>
    <li>
        Business requirement missed- to add a contact number when taking the dap details
    </li>
  </ul> 

  <h3 class="govuk-heading-s">Related Stories</h3>
<ul class="govuk-list govuk-list--bullet">
    <li>
      SA-1675 - As an agent I want to be able to add death arrears payee details so I know who to contact    </li>
   
  </ul> 

  


<a href="https://confluence.service.dwpcloud.uk/download/attachments/121592010/Death-Over-Underpayment%20.pdf?version=1&modificationDate=1565256929231&api=v2"
class="govuk-body"><b>Research document</b></a>

<br><br><br>
<h4 class="govuk-heading-s">An overpayment has occurred:</h4>
<a href="/iteration10a/find" class="govuk-button govuk-button--start">Start now</a>
<h5 class="govuk-heading-s">Part 1 of Arrears journey- reporting date of death:</h5>
<a href="/iteration10b/find" class="govuk-button govuk-button--start">Start now</a>
<h5 class="govuk-heading-s">Part 2 of Arrears journey- entering date of death details and making payment:</h5>
<a href="/iteration10c/find" class="govuk-button govuk-button--start">Start now</a>