<h2 class="govuk-heading-m">Changing status journeys - reissuing</h2>

<span class="app-c-tag">iteration twenty eight</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">November 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Business requirement</h3>

<ul class="govuk-list govuk-list--bullet">
    <li>Agents need to understand when a payment is in the process of being reissued (reissuing)</li>
   


  
    
  </ul>

<h3 class="govuk-heading-s">Scenario</h3>
<p>Recalling a payment and updating the outcomes
<br><br>

<b>Recalling - update - unsuccessful - paid</b> <br><br>
<a href="/iteration28b/find" class="govuk-button govuk-button--start">Start now</a><br>

<b>Recalling - update - successful - recalled - reissuing</b> <br><br>
<a href="/iteration28c/find" class="govuk-button govuk-button--start">Start now</a><br>

</p>

<!--<h3 class="govuk-heading-s">dont test - Scenario 4- Citizen received a one off payment, what is this?</h3>
<a href="/seaham3/find" class="govuk-button govuk-button--start">Start now</a><br> -->