<h2 class="govuk-heading-m">Iteration 1</h2>

<span class="app-c-tag">tyne view park testing</span>
<br><br><span class="app-c-tag app-c-tag--warning">remote skype research</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">September 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Agent can record the from, to and payment date of a manual payment. The amount is then calculated based on those dates and saved in the payment history. The next payment date is updated based on the manual payment recorded. </li>
</ul>

<h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> Agent needs to be able to enter the following details of a payment made manually through CPS local: payment period, payment amount, payment date
  </li>
</ul>

<h2 class="govuk-heading-s">Related stories
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> SA-3154 - As an agent I want to record when I have made a manual payment in CPS local so that overpayments do not occur

  </li>
</ul>


<a href="https://confluence.service.dwpcloud.uk/display/SA/Public+Beta?preview=/121592010/185624349/manual%20payments%20pres_14th%20Oct.pptx" class="govuk-body"><b>Research document</b></a>
<br> <br> <br>

<a href="/archive/iteration45/enquiries" class="govuk-button govuk-button--start">Start now</a><br>
