<h2 class="govuk-heading-m">Iteration 6</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Calculation can be automated</li>
  <li>Removed 'update award' screen where an agent would enter the components</li>
  <li>Added a line of text to the send letter page - award will increased from X to X from XXXXXX</li>

</ul>

<!-- <h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>
  </li>
</ul> -->

<!-- <h2 class="govuk-heading-s">Iterations based on previous research
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>-->

<!-- <h2 class="govuk-heading-s">Research notes
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Agents did not understand what to put into component fields</li>
</ul> -->
<!-- 
<h2 class="govuk-heading-s">Related stories
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul> 

<a href="" class="govuk-body"><b>Research document</b></a>
<br> <br> <br> -->

<a href="/iteration39/enquiries" class="govuk-button govuk-button--start">Start now</a><br>