<h2 class="govuk-heading-m">Iteration 4</h2>

<span class="app-c-tag">burnley testing</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">November 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>
<h3 class="govuk-heading-s">Scenarios</h3>

<ul class="govuk-list govuk-list--bullet">

  <li>Can agents identify an uprated award? </li>
  <li>
    Do they know what's currently in payment?</li>
  <li>
    Do they understand the award has changed?</li>
</ul>

<h3 class="govuk-heading-s">Iterations based on previous research</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>Took out 3 paper prototypes displaying the same information differently because of some confusion around what the
    initial design was showing</li>

  <li>Merging together current and previous awards in one table and showing which one is in payment with icon</li>

</ul>

<h3 class="govuk-heading-s">Research notes</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>Agents found design 3 easiest to understand and follow </li>
</ul>

<a href="https://confluence.service.dwpcloud.uk/download/attachments/121592010/enquiry%20handling_Nov19_master%20slides.pptx?version=1&modificationDate=1575970748420&api=v2"
  class="govuk-body"><b>Research document</b></a>

<br><br><br>



<h3 class="govuk-heading-s">Design 1</h3>
<a href="/iteration24a/find" class="govuk-button govuk-button--start">Start now</a><br>

<h3 class="govuk-heading-s">Design 2</h3>
<a href="/iteration24b/find" class="govuk-button govuk-button--start">Start now</a><br>

<h3 class="govuk-heading-s">Design 3</h3>
<a href="/iteration24c/find" class="govuk-button govuk-button--start">Start now</a><br>


<!--<h3 class="govuk-heading-s">dont test - Scenario 4- Citizen received a one off payment, what is this?</h3>
<a href="/seaham3/find" class="govuk-button govuk-button--start">Start now</a><br> -->