<h2 class="govuk-heading-m">Iteration 3</h2>

<span class="app-c-tag ">payment services research</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">October 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>
<h3 class="govuk-heading-s">Scenario</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>
    A payment had been returned by the bank because the citizen has changed their bank details. Agents need to mark the
    payment as not paid </li>
  <li>Citizen then rings up and provides the agent with new bank details, agent enters the new bank details and
    re-issues any returned payments
  </li>
</ul>

<h3 class="govuk-heading-s">Business requirements
</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
    Timeline may fail, there is a need to let agents know that their action has been completed. Tested alert banner pattern</li>
 
</ul>

<h3 class="govuk-heading-s">Iterations based on previous research
</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
    Moved the from and to dates into details link to make payment history table more accessible </li>
  <li>
    Agents can only change a status based on the current status e.g. paid can only change to returned</li>
</ul>



<h3 class="govuk-heading-s">Research notes</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>
    Agents identified the 're-issue payment' alert after they marked the payment as returned. They then tried to
    re-issue the payment before changing the bank details</li>
  <li>
    Agents said the terminology used for the payment status was not what they would use. For example they would use
    'returned' rather than 'not paid'</li>
</ul>



<a href="/iteration21/find" class="govuk-button govuk-button--start">Start now</a>