<h2 class="govuk-heading-m">Change of circumstances</h2>

<span class="app-c-tag">Iteration four</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of release</dt>
      <dd class="govuk-body">Apr 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Feature</dt>
      <dd class="govuk-body">Payments and labels</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dd class="govuk-body">jira---</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Scenarios</h3>

<p class="govuk-body">
X
</p>


<h3 class="govuk-heading-s">Research notes</h3>
<p class="govuk-body">
X
</p>

<br />

<a href="/iteration4/find" class="govuk-button govuk-button--start">Start now</a>
