<h2 class="govuk-heading-m">Adding award tab - viewing award details </h2>

<span class="app-c-tag">Iteration nine</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Related story</dt>
      <dd class="govuk-body" style="margin-left:0%">SA-1786 - As an agent I need to be able to see a citizens award details so I can answer quiries in relation to their award</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Scenario</h3>
<p class="govuk-body">
Business requirement - showing a breakdown of award for enquiries 
</p>

<br />
<a href="/iteration9/find" class="govuk-button govuk-button--start">Start now</a>
