<h2 class="govuk-heading-m">Final iteration</h2>

<span class="app-c-tag">burnley research - Design in live</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">February 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Iterations based on previous research</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>Users need to see award calculations that were never paid</li>  

  <li>Users need to see when awards have been reviewed (timeline)</li>  
  <li>No user need found to show when an award is paid up to</li>  

  
  </ul>

  <h3 class="govuk-heading-s">Research notes</h3>

  <ul class="govuk-list govuk-list--bullet">
    <li>Agents understood what was displayed in each screen as the scenario progressed
    </li>  
  
    </ul>

<p>
  <b>Scenario 1</b>
  <ul class="govuk-list govuk-list--bullet">
    <li>No payments have gone out</li>
    <li>Review has been done - FRY</li>
  </ul>
</p>
<a href="/iteration34/find" class="govuk-button govuk-button--start">Start now</a><br>

<p>
  <b>Scenario 2</b>
  <ul class="govuk-list govuk-list--bullet">
    <li>No payments have gone out</li>
    <li>Review has been done - FRY</li>
    <li>Review has been done - HMRC review</li>
  </ul>
</p>
<a href="/iteration34-2/find" class="govuk-button govuk-button--start">Start now</a><br>

<p>
  <b>Scenario 3</b>
  <ul class="govuk-list govuk-list--bullet">
    <li>Payments have gone out</li>
    <li>Review has been done - FRY</li>
    <li>Review has been done - HMRC review</li>
    <li>Review has been done - HMRC review</li>
  </ul>
</p>
<a href="/iteration34-3/find" class="govuk-button govuk-button--start">Start now</a><br>

<p>
  <b>Scenario 4</b>
  <ul class="govuk-list govuk-list--bullet">
    <li>Payments have gone out</li>
    <li>Review has been done - FRY</li>
    <li>Review has been done - HMRC review</li>
    <li>Review has been done - HMRC review</li>
    <li>Uprating</li>
  </ul>
</p>
<a href="/iteration34-4/find" class="govuk-button govuk-button--start">Start now</a><br>