<h2 class="govuk-heading-m">Change of circumstances</h2>

<span class="app-c-tag">Iteration two</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of release</dt>
      <dd class="govuk-body">Mar 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Feature</dt>
      <dd class="govuk-body">Payments and labels</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dd class="govuk-body">jira---</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Scenarios</h3>

<p class="govuk-body">
  Tested 4 scenarios with ‘change of circumstances’ agents at Warrington Pension Centre:
  <li>someone calling to ask why their payments had stopped</li>
  <li>suspending payments because someone went into prison</li>
  <li>changing marital details</li>
  <br>
  Handling common enquiries such as:
  <br>
  <br>
  <li>when is my next payment?</li>
  <li>when was my last payment?</li>
  <li>do you hold the right address?</li>

</p>


<h3 class="govuk-heading-s">Research notes</h3>
<p class="govuk-body">
  What tested well:

  <li>Most agents felt they were able to handle many of the common enquiries,
    including those around suspended or returned payments, with the information
    provided in the claim history, status and in the payments tab</li>
  <li> The redesigned layout, with the more prominent status and separate claim history,
    worked well, allowing agents to immediately see the most important information
    all agents were able to take the change to marital status and ask the caller to
    send in their certificate
  </li>
  <li>The redesigned layout, with the more prominent status and separate claim history,
    worked well, allowing agents to immediately see the most important information
    all agents were able to take the change to marital status and ask the caller to
    send in their certificate
  </li>
  <li>All agents were able to suspend payments for someone going into prison (although
    this is a far more complicated process which involves several agents and multiple
    points of contact - it will need to be explored in future research)
  </li>
  <br>
  What we took away to review:
  <br>
  <br>
  <li>some agents were unsure what the ‘overview’ tab contains</li>
  <li>explored the need for a more comprehensive payment history, as we only showed
    the last credited payment in this iteration, which would be enough to handle
    most enquiries but may not be enough for more detailed issues about past payments</li>
</p>

<br />

<a href="/iteration2/find" class="govuk-button govuk-button--start">Start now</a>
