<h2 class="govuk-heading-m">Iteration 2 - changing payment status</h2>

<span class="app-c-tag">benton park view research</span>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <dl>
        <dt class="govuk-heading-s">Date of design</dt>
        <dd class="govuk-body" style="margin-left:0%">August 2019</dd>
      </dl>
    </div>
  
    <div class="govuk-grid-column-two-thirds">
      <dl>
        <dt class="govuk-heading-s">Designers</dt>
        <dd class="govuk-body" style="margin-left:0%" >Emily Wilkinson and Colin Jones</dd>
      </dl>
    </div>
  </div>


<h3 class="govuk-heading-s">Business requirement</h3>
<p class="govuk-body">

    <ul class="govuk-list govuk-list--bullet">
        <li>Agents need to be able to change the status of a payment to any other status, so that they could rectify potential mistakes</li>
      </ul>
</p>

<h3 class="govuk-heading-s">Iterations based on previous research</h3>
<p class="govuk-body">

    <ul class="govuk-list govuk-list--bullet">
        <li>Added in period dates into payment details so agents had reference to what payment they were looking at
        </li>
      </ul>
</p>

<h3 class="govuk-heading-s">Research notes</h3>
<p class="govuk-body">

    <ul class="govuk-list govuk-list--bullet">
      <li>Agents managed to change the status of a payment easily in the details link
      </li>
      </ul>
</p>





<h3 class="govuk-heading-s">Related story</h3>
<p class="govuk-body">

    <ul class="govuk-list govuk-list--bullet">
        <li>SA-1708 - As an agent I need to be able to change a payment status so that the correct payment is maintained
        </li>
      </ul>
</p>


<br>
<a href="/iteration12/find" class="govuk-button govuk-button--start">Start now</a>
