<h2 class="govuk-heading-m">Iteration 5</h2>

<span class="app-c-tag">Burnley research</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">November 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>
<h3 class="govuk-heading-s">Scenario</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>
      Do agents have enough information to answer general payment enquiries?</li>
      <li>
          Do they know how to identify what period a payment is for?</li>
          <li>
              Can they identify off cycle payments?</li>
              <li>
                Scenario includes breakdown of award in payment details</li>
    
  </ul>

  <a href="https://confluence.service.dwpcloud.uk/download/attachments/121592010/enquiry%20handling_Nov19_master%20slides.pptx?version=1&modificationDate=1575970748420&api=v2"
class="govuk-body"><b>Research document</b></a>

<br><br><br>


  <a href="/iteration25/find" class="govuk-button govuk-button--start">Start now</a><br>

 


<!--<h3 class="govuk-heading-s">dont test - Scenario 4- Citizen received a one off payment, what is this?</h3>
<a href="/seaham3/find" class="govuk-button govuk-button--start">Start now</a><br> -->