<h2 class="govuk-heading-m">Changing the status of a payment in payment history</h2>

<span class="app-c-tag">Iteration thirteen</span>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <dl>
        <dt class="govuk-heading-s">Date of design</dt>
        <dd class="govuk-body" style="margin-left:0%">August 2019</dd>
      </dl>
    </div>
  
    <div class="govuk-grid-column-two-thirds">
      <dl>
        <dt class="govuk-heading-s">Related story</dt>
        <dd class="govuk-body" style="margin-left:0%" >X</dd>
      </dl>
    </div>
  </div>


<h3 class="govuk-heading-s">Scenarios</h3>
<p class="govuk-body">

    <ul class="govuk-list govuk-list--bullet">
        <li>Viewing more details of a payment for enquiries</li>
      </ul>
</p>

<br>
<a href="/iteration12/find" class="govuk-button govuk-button--start">Start now</a>
