<h2 class="govuk-heading-m">Death - recording 'person dealing with the estate' details only </h2>

<span class="app-c-tag ">tested- iteration eighteen</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">August 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Related story</dt>
      <dd class="govuk-body" style="margin-left:0%" >SA-1675 - As an agent I want to be able to add death arrears payee details so I know who to contact</dd>
    </dl>
  </div>
</div>
<h3 class="govuk-heading-s">Scenario</h3>

<ul class="govuk-list govuk-list--bullet">
    <li>
Adding the details of the person dealing with the estate only, after the date of death is recorded    </li>
<li>
    No letter is sent in this version, a letter will be sent with the outcome of the estate calculation</li>
    
  </ul>
<h3 class="govuk-heading-s">Added from previous research:</h3>

<ul class="govuk-list govuk-list--bullet">
    <li>
Adding contact number as a business requirement     </li>
    
  </ul>

<h3 class="govuk-heading-s">Death has come through from bereavement service (dap details included):</h3>
<a href="/iteration18/find" class="govuk-button govuk-button--start">Start now</a>
<br>
<h3 class="govuk-heading-s">Death has been automatically entered by CIS - agent needs to go in to enter dap details:</h3>
<a href="/iteration19/find" class="govuk-button govuk-button--start">Start now</a>