<h2 class="govuk-heading-m">Final iteration - not verified journeys</h2>

<span class="app-c-tag">design in live</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">November 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>

</div>

<h3 class="govuk-heading-s">Scenario</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
    When death is not verified and calculation can and can't be done</li>
  </ul>




<h3 class="govuk-heading-s">Related stories</h3>
<ul class="govuk-list govuk-list--bullet">
    <li>
      SA-2310 - As an agent I want to check and confirm details of person dealing with estate where date of death NV so that action can be taken


    </li>
  </ul>

  <h3 class="govuk-heading-s">When calculation can be done</h3>
  <p>Nothing is owed (new status design):</p>
  <a href="/iteration27a/find" class="govuk-button govuk-button--start">Start now</a><br>

  <p>Overpayment:</p>
  <a href="/iteration27b/find" class="govuk-button govuk-button--start">Start now</a><br>

  <p>Arrears:</p>
  <a href="/iteration27c/find" class="govuk-button govuk-button--start">Start now</a><br>

<br>
<h3 class="govuk-heading-s">When calculation can't be done</h3>
<p>Nothing is owed:</p>
<a href="/iteration27d/find" class="govuk-button govuk-button--start">Start now</a><br>

<p>Overpayment:</p>
<a href="/iteration27e/find" class="govuk-button govuk-button--start">Start now</a><br>

<p>Arrears:</p>
<a href="/iteration27f/find" class="govuk-button govuk-button--start">Start now</a><br>



<!--<h3 class="govuk-heading-s">dont test - Scenario 4- Citizen received a one off payment, what is this?</h3>
<a href="/seaham3/find" class="govuk-button govuk-button--start">Start now</a><br> -->