<h2 class="govuk-heading-m">Marital status - iteration 2</h2>

<span class="app-c-tag">iteration thirty-one</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">January 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
  

</div>

<p><b> Married to divorced or widowed:</b></p>
<a href="/iteration31a/find" class="govuk-button govuk-button--start">Start now</a><br>

<p><b> Civil partnership to dissolved civil partnership or widowed:</b></p>
<a href="/iteration31b/find" class="govuk-button govuk-button--start">Start now</a><br>

<p><b> Never been married to married or civil partnership:</b></p>
<a href="/iteration31c/find" class="govuk-button govuk-button--start">Start now</a><br>

<p><b> Widowed to married or civil partnership:</b></p>
<a href="/iteration31d/find" class="govuk-button govuk-button--start">Start now</a><br>

<p><b> Divorced to married or civil partnership:</b></p>
<a href="/iteration31e/find" class="govuk-button govuk-button--start">Start now</a><br>

<p><b> Dissolved civil partnership to married or civil partnership:</b></p>
<a href="/iteration31f/find" class="govuk-button govuk-button--start">Start now</a><br>

