<h2 class="govuk-heading-m">Final iteration - verified journeys</h2>

<span class="app-c-tag">design in live</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">November 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>
<h3 class="govuk-heading-s">Scenario</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
    When death is verified and calculation can and can't be done</li>
  </ul>

  <h3 class="govuk-heading-s">Iterations based on previous research</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
    Success banner used in place of confirmation page so agents don't have to click on an extra link to go back to personal tab</li>
  </ul>


<h3 class="govuk-heading-s">Related stories</h3>
<ul class="govuk-list govuk-list--bullet">
    <li>
      SA-2356 - As an agent I want to know when calculation result is Cannot Calculate so that I know what action to take (Auto re-trigger)
    </li>
  </ul>

  <h3 class="govuk-heading-s">When calculation can be done</h3>
  <p>Nothing is owed:</p>
  <a href="/iteration26a/find" class="govuk-button govuk-button--start">Start now</a><br>

  <p>Overpayment:</p>
  <a href="/iteration26b/find" class="govuk-button govuk-button--start">Start now</a><br>

  <!-- <p>Arrears (routes design):</p>
  <a href="/iteration26c/find" class="govuk-button govuk-button--start">Start now</a><br> -->

  <p>Arrears:</p>
  <a href="/iteration26d/find" class="govuk-button govuk-button--start">Start now</a><br>

  <br>

  <h3 class="govuk-heading-s">When calculation can't be done</h3>
  <p>Nothing is owed:</p>
  <a href="/iteration26e/find" class="govuk-button govuk-button--start">Start now</a><br>

  <p>Overpayment:</p>
  <a href="/iteration26f/find" class="govuk-button govuk-button--start">Start now</a><br>

  <p>Arrears:</p>
  <a href="/iteration26g/find" class="govuk-button govuk-button--start">Start now</a><br>





<!--<h3 class="govuk-heading-s">dont test - Scenario 4- Citizen received a one off payment, what is this?</h3>
<a href="/seaham3/find" class="govuk-button govuk-button--start">Start now</a><br> -->