<h2 class="govuk-heading-m">Temporary process a claim for BPV</h2>

<strong class="app-c-tag">benton park view research</strong>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">Nov 2018</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Becky Lee and Adele Murray</dd>
    </dl>
  </div>

 
</div>


<a href="/manualpayment/processaclaim" class="govuk-button govuk-button--start">Start now</a>
