<h2 class="govuk-heading-m">Redesign of MI report gathering page</h2>

<strong class="govuk-tag govuk-tag--green">
Tested
</strong>

<br><br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">April 2022</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Al Robinson</dd>
    </dl>
  </div>
</div>


<a href="/management-information/mi "target="_blank" class="govuk-button govuk-button--start">Start now</a><br>

<a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1662729609455/fdbc693275a677c24b5f882ed57c26807a4084bb?sender=ud0f6074784801941d82c1259" class="govuk-link" rel="noreferrer noopener" target="_blank">Mural board (opens in new tab)</a><br>

<br><br><br>