<h2 class="govuk-heading-m">Iteration 2</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">June 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Agent cannot go between all screens at every point in the journey </li>
  <li>Exploring different designs to do this</li>
</ul>

<!-- <h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul> -->

<h2 class="govuk-heading-s">Iterations based on previous research
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> Not found a definative need for an agent to be able to switch to changes and enquiries mid task and vise versa</li>
  
</ul> 

<!-- <h2 class="govuk-heading-s">Research notes
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li></li>
</ul> -->

<!-- <h2 class="govuk-heading-s">Related stories
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul> -->

<!-- 
<a href="" class="govuk-body"><b>Research document</b></a>
<br> <br> <br> -->

<br><br>
<p><b>Design where disabled tabs aren't visible - visible tab is blue:</b></p>
<a href="/nav2/enquiries" class="govuk-button govuk-button--start">Start now</a><br>

<p><b>Design where disabled tabs aren't visible - visible tab is white:</b></p>
<a href="/nav3/enquiries" class="govuk-button govuk-button--start">Start now</a><br>

<p><b>Design where tabs are shown in a journey:</b></p>
<a href="/nav4/enquiries" class="govuk-button govuk-button--start">Start now</a><br>

<p><b>Design using 'product name':</b></p>
<a href="/nav5/enquiries" class="govuk-button govuk-button--start">Start now</a><br>