<div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 4</h2>

<strong class="govuk-tag govuk-tag--orange">
Not tested
</strong>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">June 2022</dd>
    </dl>
  </div>

</div>

<a href="/widows/iteration-2/get-a-task" class="govuk-button govuk-button--start">Start now</a><br>
</div>


<div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 3</h2>

<strong class="govuk-tag govuk-tag--green">
Tested
</strong>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">May 2022</dd>
    </dl>
  </div>

</div>

<a href="/widows/new-claims/get-a-task" class="govuk-button govuk-button--start">Start now</a><br>

<h3 class="govuk-heading-s">User research</h3>
<p>
<a href="widows/archive/scenario-1/get-a-task" class="govuk-link govuk-link--no-visited-state">Scenario 1 - Nothing to inherit</a><br>
<a href="widows/archive/scenario-2/get-a-task" class="govuk-link govuk-link--no-visited-state">Scenario 2 - Information required (SPa very near)</a><br>
<a href="widows/archive/scenario-3/get-a-task" class="govuk-link govuk-link--no-visited-state">Scenario 3 - Information required (SPa kind of near)</a><br>
<a href="widows/archive/scenario-4/get-a-task" class="govuk-link govuk-link--no-visited-state">Scenario 4 - Complete information from support queue</a>
</p>

</div>


<div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 2</h2>

<strong class="govuk-tag govuk-tag--green">
Tested
</strong>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2021</dd>
    </dl>
  </div>

</div>

<h2 class="govuk-heading-s">Scenarios
</h2>

<p class="govuk-body">Sufficient info with inheritance</p>
<a href="/widowstask-scenario1/get-next-task" class="govuk-button govuk-button--start">Start now</a><br>

<p class="govuk-body">Insufficient info</p>
<a href="/widowstask-scenario2/get-next-task" class="govuk-button govuk-button--start">Start now</a><br>

<p class="govuk-body">Not an eligible GYSP customer / pass to PSCS robot</p>
<a href="/widowstask-scenario3/get-next-task" class="govuk-button govuk-button--start">Start now</a>
</div>



<div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 1</h2>

<strong class="govuk-tag govuk-tag--orange">
Not tested
</strong>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">June 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Becky Lee & Clare Robinson</dd>
    </dl>
  </div>
</div>

<a href="/widowstask/get-next-task" class="govuk-button govuk-button--start">Start now</a><br>
</div>
