<h2 class="govuk-heading-m">Iteration 4</h2>

<span class="app-c-tag">swansea testing</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">February 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Agent to take a new claim over the telephone from a citizen who needs to change the address we hold, has lived and worked abroad, and wants to be paid fortnightly instead of 4 weekly
  </li>
  <li>‘Happy path’ scenario - citizen’s details validated 
  </li>
 



</ul>

<h2 class="govuk-heading-s">Iterations based on previous research
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Lived and worked abroad questions brought together</li>
  <li>Added alternative format question</li>
  <li>Check your answers different design</li>
  <li>New address lookup pattern for change of address  </li>
  <li>End of the call tells the citizen how much State Pension they’ll get and when their first payments will be
  </li>
</ul>

<a href="https://confluence.service.dwpcloud.uk/download/attachments/121592010/Results_new%20claims%20telephony_master%20doc_Feb20_presentation.pptx?version=1&modificationDate=1584102019777&api=v2"
  class="govuk-body"><b>Research document</b></a>
  <br> <br> <br>


<a href="/newclaim5/find" class="govuk-button govuk-button--start">Start now</a><br>

