<h2 class="govuk-heading-m">New claims</h2>

<span class="app-c-tag">First iteration</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">Jan 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Feature</dt>
      <dd class="govuk-body" style="margin-left:0%">First iteration of agent facing GySP </dd>
    </dl>
  </div>

  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dd class="govuk-body" style="margin-left:0%">jira---</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Research notes</h3>
<p class="govuk-body">
  For the first iteration of the prototype we focused on the most straightforward
  scenario to test the agent taking a claim over the phone.</br>
</br>
  We found that agents adapted well to the flow of the claim as well as the style
  of content designed to read out to a citizen. There were some issues where agents:

  <ul class="govuk-list govuk-list--bullet">
    <li>did not realise when a claim was found after entering a National Insurance number</li>
    <li>misinterpreted the security question answers</li>
    <li>anticipated the living and working abroad pages</li>
    <li>were uncomfortable with the declaration</li>
    <li>got confused about ‘other names’ when taking details of a spouse</li>
  </ul>

</br>
  Some agents felt that more information on the award page or further details about
  the claimant, such as benefit information to inform payment frequency, would have been useful.</br>
</br>
  From this we were able to identify areas to iterate and test as well as some
  areas that need further analysis. In the next round of testing we will also look
  at more complex scenarios which may need a bigger data gather, and may prompt further
  questions throughout the claim.
</p>

<br />

<a href="/newclaims/find" class="govuk-button govuk-button--start">Start now</a>
