<h2 class="govuk-heading-m">Iteration 1</h2>

<span class="app-c-tag">tyne view park testing</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">Jan 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Becky Lee and Colin Jones </dd>
    </dl>
  </div>


</div>

<h3 class="govuk-heading-s">Research notes</h3>
<p class="govuk-body">
  For the first iteration of the prototype we focused on the most straightforward
  scenario to test the agent taking a claim over the phone.</br>
<br>
  We found that agents adapted well to the flow of the claim as well as the style
  of content designed to read out to a citizen. There were some issues where agents:

  <ul class="govuk-list govuk-list--bullet">
    <li>did not realise when a claim was found after entering a National Insurance number</li>
    <li>misinterpreted the security question answers</li>
    <li>anticipated the living and working abroad pages</li>
    <li>were uncomfortable with the declaration</li>
    <li>got confused about ‘other names’ when taking details of a spouse</li>
    <li>More information on the award page or further details about
      the claimant, such as benefit information to inform payment frequency, would have been useful</li>
  </ul>

  <h3 class="govuk-heading-s">Discovery in Motherwell and Tyne View Park</h3>

  <a href="https://confluence.service.dwpcloud.uk/download/attachments/121592010/S40%20Agent%20Workshops.pdf?version=1&modificationDate=1549538070653&api=v2"
  class="govuk-body"><b>Research document</b></a>
  <br> <br> <br>

  <h3 class="govuk-heading-s">User testing in Tyne View Park</h3>

  <a href="https://confluence.service.dwpcloud.uk/download/attachments/121592010/S42%20Agent%20Usability%20Tests.pdf?version=2&modificationDate=1552296159868&api=v2"
  class="govuk-body"><b>Research document</b></a>
  <br> <br> <br>


<a href="/newclaims/find" class="govuk-button govuk-button--start">Start now</a>
