<h2 class="govuk-heading-m">Swansea testing - new claims</h2>

<span class="app-c-tag">iteration five</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">February 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dd class="govuk-body" style="margin-left:0%" > </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Changes from last research</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Lived and worked abroad questions brought together</li>
  <li>Added alternative format question</li>
  <li>Check your answers different design</li>
  <li>Added in ethnicity questions</li>
  <li>Scenario includes change of address</li>


</ul>


<a href="/newclaim5/find" class="govuk-button govuk-button--start">Start now</a><br>

