<h2 class="govuk-heading-m">Motherwell testing - new claims</h2>

<span class="app-c-tag">iteration four</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">January 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dd class="govuk-body" style="margin-left:0%" > </dd>
    </dl>
  </div>
</div>
<h2 class="govuk-heading-s">Complex journey</h2>
<a href="/newclaim4-1/find" class="govuk-button govuk-button--start">Start now</a><br>
<h2 class="govuk-heading-s">Simple journey</h2>
<a href="/newclaim4/find" class="govuk-button govuk-button--start">Start now</a><br>

