<h2 class="govuk-heading-m">Iteration 2</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">March 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Clare Robinson</dd>
    </dl>
  </div>
</div>


<h2 class="govuk-heading-s">Iterations based on previous research
</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>Moved NI number input out of radio buttons for worked abroad as it's own seperate field</li>
  <li>Took out radio buttons for lived or worked abroad questions and the ability to add multiple times they lived or worked abroad because there is nowhere to enter this information on the BR1 form</li>
  <li>Taken out alternative contact format hint text - agents know what this is</li>
  <li>Design includes new navigation content and find someone link</li>
  <li>Added date of marriage to widowed journey</li>



</ul>

<h2 class="govuk-heading-s">Business requirements
</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>Some claimants might have an NI number or social security number for that country if they have not worked there</li>
</ul>

<h2 class="govuk-heading-s">Scenario</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>‘Happy path’ scenario - citizen’s details validated</li>
  <li>Citizen needs alternative contact formats, is widowed, has lived and worked in 4 countries</li>
</ul>

<a href="/paperclaims2/find" class="govuk-button govuk-button--start">Start now</a><br>


