<h2 class="govuk-heading-m">Iteration 7</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span> 
<!-- <br><br><span class="app-c-tag app-c-tag--warning">remote skype research</span> -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">February 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Clare Robinson</dd>
    </dl>
  </div>
</div>


<!-- <h2 class="govuk-heading-s">Iterations based on previous research
</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>Taken out alternative contact format hint text - agents know what this is</li>

</ul> -->
<h2 class="govuk-heading-s">Scenario</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Duplicate claims</li>
</ul>

  <!-- <h2 class="govuk-heading-s">Iterations based on new requirements
  </h2> -->


<h2 class="govuk-heading-s">Business requirements
</h2>
<ul class="govuk-list govuk-list--bullet">

</ul>
<!-- <h2 class="govuk-heading-s">Research notes</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Usability tested very well</li>
  <li>Some agents purposely missed out the 'other names' field because it's what they would do now</li>
</ul> -->

<a href="/paperclaims7/get-a-claim" class="govuk-button govuk-button--start">Start now</a><br>

