<h2 class="govuk-heading-m">Iteration 2</h2>

<span class="app-c-tag app-c-tag--danger">mvp</span>
<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">June 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Clare Robinson</dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Widowed claimant - asking for date the spouse died and date of marriage</li>
  <li>Claimant has lived or worked in 4 different countries</li>


</ul>

<h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>No change links for dob and address</li>
  <li>No signed form question</li>
  <li>Taken out question about alternative format</li>
</ul>

<h2 class="govuk-heading-s">Design pattern changes
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>New navigation bar</li>
  <li>New design for find someone page</li>
  <li>Changed 'citizen' to 'claimant' for consistency throughout agent service</li>
  <li>Design change for navigating back to find someone</li>

    </ul>

<h2 class="govuk-heading-s">Iterations based on previous research
</h2>

<ul class="govuk-list govuk-list--bullet">
 
    <li>Lived and worked abroad - took out radio reveals as some agents answered 'no' to 'do you know your National Insurance number?' rather than 'did you work here?'</li>
    <li>Check details page - taken out DOB and address as it is not possible for an agent to change these for MVP</li>
</ul>





<!-- <h2 class="govuk-heading-s">Research notes
</h2>
<ul class="govuk-list govuk-list--bullet">
  <li></li>
</ul> -->

<!-- 
<a href=""
class="govuk-body"><b>Research document</b></a>
<br> <br> <br> -->

<a href="/paperclaims1/find" class="govuk-button govuk-button--start">Start now</a><br>

<h3 class="govuk-heading-s">Different check and change options for lived and worked abroad</h3>

<p><a href="/paperclaims1-1/check-answers">Option 1</a>- Change link takes agent to sepatate change and remove page (change link)</p>

<p><a href="/paperclaims1-2/check-answers">Option 2</a>- Change link takes agent to sepatate change and remove page (radios)</p>

<p><a href="/paperclaims1-3/check-answers">Option 3</a>- Change link takes agent to sepatate change and remove page, more than 4 countries question separate on check your answers</p>
