<h2 class="govuk-heading-m">Iteration 8</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>
<!-- <br><br><span class="app-c-tag app-c-tag--warning">remote skype research</span> -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">April 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Paul Ripley and Clare Robinson</dd>
    </dl>
  </div>
</div>


<!-- <h2 class="govuk-heading-s">Iterations based on previous research
</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>Taken out alternative contact format hint text - agents know what this is</li>

</ul> -->
<h2 class="govuk-heading-s">Scenarios</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Agent is starting to process a new paper claim. The pensioner has filled in everything on the form except the divorce date.</li>
</ul>
<ul class="govuk-list govuk-list--bullet">
  <li>See "Ken Adams Claim.PDF"</li>
</ul>


  <!-- <h2 class="govuk-heading-s">Iterations based on new requirements
  </h2> -->




<!-- <h2 class="govuk-heading-s">Research notes</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Usability tested very well</li>
  <li>Some agents purposely missed out the 'other names' field because it's what they would do now</li>
</ul> -->

<a href="/paperclaims5c/tasks" class="govuk-button govuk-button--start">Start now</a><br>

<ul class="govuk-list govuk-list--bullet">
  <li>Agent is returning to a partially completed claim form with the divorce date to fill in and submit.</li>
</ul>

<a href="/paperclaims5b/enquiries" class="govuk-button govuk-button--start">Start now</a><br>
