<h2 class="govuk-heading-m">Iteration 1</h2>

<span class="app-c-tag">tyne view park research</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">February 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Clare Robinson</dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>‘Happy path’ scenario - citizen’s details validated</li>
  <li>Citizen needs alternative contact formats, is married, has lived and worked abroad</li>
</ul>


<h2 class="govuk-heading-s">Research note<a href="/paperclaims2/find" style="text-decoration:none; color: black">s</a>
</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>Agents preferred how the new BR1 form matched the ordering of questions in the prototype, as opposed to how it works now in CAM</li>
  <li>Some agents accidentally answered the worked abroad question wrong, because they were answering no to the NI number question</li>
  <li>Some agents mentioned that if a citizen is divorced or widowed we need to know their date of marriage</li>
  <li>Overall the prototype tested well with the BR1 form</li>
</ul>



<a href="https://confluence.service.dwpcloud.uk/download/attachments/121592010/BR1%20form_master%20doc_Mar20_presentation.pptx?version=1&modificationDate=1584096999340&api=v2"
class="govuk-body"><b>Research document</b></a>
<br> <br> <br>

<a href="/paperclaims/find" class="govuk-button govuk-button--start">Start now</a><br>

