<div class="app-most-recent">
<h2 class="govuk-heading-m">Post SPa paper claim</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">September 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Kieran & Becky</dd>
    </dl>
  </div>
</div>

<p>Includes question to ask if the claimant has been in prison since their SPa date.</p>

<a href="/paperclaims/iteration-9/get-a-claim" class="govuk-button govuk-button--start">Start now</a><br>
</div>




<div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 8</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">April 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Paul Ripley and Clare Robinson</dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenarios</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Agent is starting to process a new paper claim. The pensioner has filled in everything on the form except the divorce date.</li>
</ul>
<ul class="govuk-list govuk-list--bullet">
  <li>See "Ken Adams Claim.PDF"</li>
</ul>

<a href="/paperclaims/iteration-5/tasks" class="govuk-button govuk-button--start">Start now</a><br>

<ul class="govuk-list govuk-list--bullet">
  <li>Agent is returning to a partially completed claim form with the divorce date to fill in and submit.</li>
</ul>

<a href="/paperclaims/iteration-5b/enquiries" class="govuk-button govuk-button--start">Start now</a><br>
</div>



<div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 7</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">February 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Clare Robinson</dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Duplicate claims</li>
</ul>


<h2 class="govuk-heading-s">Business requirements
</h2>
<ul class="govuk-list govuk-list--bullet">
</ul>

<a href="/paperclaims/iteration-7/get-a-claim" class="govuk-button govuk-button--start">Start now</a><br>
</div>


<div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 6</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">October 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Clare Robinson</dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Premature claims</li>
  <li>Paper claims in own tab again</li>
</ul>

  <h2 class="govuk-heading-s">Iterations based on new requirements
  </h2>
  <ul class="govuk-list govuk-list--bullet">

  <li>Moved SPD question to the beginning of the journey, as agents need to check this first anyway</li>

</ul>

<h2 class="govuk-heading-s">Business requirements
</h2>
<ul class="govuk-list govuk-list--bullet">
<li>Paper claims need to be separated from other tasks for until decisions are made with ops</li>
</ul>

<p><b>When a paper claim comes in too early (more than 4 months before date they want to claim from):</b></p>

<a href="/paperclaims/iteration-6/get-a-claim" class="govuk-button govuk-button--start">Start now</a><br>

<p><b>When claim cannot be found (more that 4 months away from their SPA date):</b></p>

<a href="/paperclaims/iteration-8/get-a-claim" class="govuk-button govuk-button--start">Start now</a><br>
</div>



<div class="app-most-recent">
<h2 class="govuk-heading-m">Incomplete paper claim</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2021</dd>
    </dl>
  </div>

</div>


<a href="/paperclaims/iteration-5b/enquiries" class="govuk-button govuk-button--start">Start now</a><br>
</div>



<div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 5</h2>

<span class="app-c-tag">tyne view park testing</span>
<br><br><span class="app-c-tag app-c-tag--warning">remote skype research</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">October 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Clare Robinson</dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Paper claims come through as a 'task'</li>
  <li>Paper claims tab used to complete a partially complete claim</li>
  <li>Journey to test the functionality of an agent completing a full claim (as far as they can) with missing information</li>
  <li>Includes coming back to a partially completed claim to enter info</li>
  <li>Agent has ability to choose whether the claim can be complete on GET or not</li>
</ul>

<a href="https://confluence.service.dwpcloud.uk/download/attachments/121592010/BR1%20processing_missing%20payments%20pres_26th%20Oct.pptx.zip?version=1&modificationDate=1605262522792&api=v2" class="govuk-body"><b>Research document</b></a>
<br><br>
<p><b>Tasks tab - claim comes in:</b></p>
<a href="/paperclaims/iteration-5a/tasks" class="govuk-button govuk-button--start">Start now</a><br>

<p><b>Find someone tab- revisit claim:</b></p>
<a href="/paperclaims3a/enquiries" class="govuk-button govuk-button--start">Start now</a><br>
</div>


<div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 4</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Clare Robinson</dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Design for when a paper claims are in their own queue (need research)</li>
  <li>Agent has ability to choose whether the claim can be complete on GET or not</li>

</ul>

<h2 class="govuk-heading-s">Business requirements
</h2>
<ul class="govuk-list govuk-list--bullet">
<li>When a correspondence comes in (proof of address) agent creates a record for the claim and puts a note in CAM to help signify that a claim was being handled in GySP </li>
  <li>Agent needs to have the ability to choose whether a claim can be processed on GET, reasons for this are:
    <br>- if the scanned in form is illegible
    <br>- an old rules BR1
    <br>- signed by a PAB or a CAB
    <br>- requesting alternative contact formats
  </li>
</ul>
<h2 class="govuk-heading-s">Research notes</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Discovery research with 3 experienced SPOTT agents, agents were happy to change their way of working and have paper claims in one queue along with other tasks</li>

</ul>

<h2 class="govuk-heading-m">Paper claim in separate queue</h2>
<p><b>Paper claims tab:</b></p>
<a href="/paperclaims/iteration-4/get-a-claim" class="govuk-button govuk-button--start">Start now</a><br>
</div>



<div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 3</h2>

<span class="app-c-tag">swansea and burnley testing</span> <br><br><span class="app-c-tag app-c-tag--warning">remote skype research</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Clare Robinson</dd>
    </dl>
  </div>
</div>


<h2 class="govuk-heading-s">Iterations based on previous research
</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>Taken out alternative contact format hint text - agents know what this is</li>

</ul>

<h2 class="govuk-heading-s">Scenario</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>‘Happy path’ scenario - citizen’s details validated</li>
  <li>Citizen needs alternative contact formats, is widowed, has lived and worked in 4 countries</li>
</ul>


<h2 class="govuk-heading-s">Research notes</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Usability tested very well</li>
  <li>Some agents purposely missed out the 'other names' field because it's what they would do now</li>
</ul>

<a href="https://confluence.service.dwpcloud.uk/display/SA/Public+Beta?preview=/121592010/185624296/BR1%20agent%20facing_results%20pres_July%202020.pptx" class="govuk-body"><b>Research document</b></a>
<br><br>

<a href="/paperclaims2/get-a-claim" class="govuk-button govuk-button--start">Start now</a><br>
</div>


<div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 2 - MVP</h2>

<span class="app-c-tag">benton park view testing</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">June 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Clare Robinson</dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Widowed claimant - asking for date the spouse died and date of marriage</li>
  <li>Claimant has lived or worked in 4 different countries</li>


</ul>

<h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>No change links for dob and address</li>
  <li>No signed form question</li>
  <li>Taken out question about alternative format</li>
  <li>Some claimants might have an NI number or social security number for that country if they have not worked there</li>

</ul>

<h2 class="govuk-heading-s">Design pattern changes
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>New navigation bar</li>
  <li>New design for find someone page</li>
  <li>Changed 'citizen' to 'claimant' for consistency throughout agent service</li>
  <li>Design change for navigating back to find someone</li>

    </ul>

<h2 class="govuk-heading-s">Iterations based on previous research
</h2>

<ul class="govuk-list govuk-list--bullet">

  <li>Took out radio buttons for lived or worked abroad questions and the ability to add multiple times they lived or worked abroad because there is nowhere to enter this information on the BR1 form</li>
  <li>Moved NI number input out of radio buttons for worked abroad as it's own seperate field</li>
    <li>Lived and worked abroad - took out radio reveals as some agents answered 'no' to 'do you know your National Insurance number?' rather than 'did you work here?'</li>
    <li>Check details page - taken out DOB and address as it is not possible for an agent to change these for MVP</li>
    <li>Check and change design for lived and worked abroad - use radio button for extra question</li>
</ul>



<a href="/paperclaims1/find" class="govuk-button govuk-button--start">Start now</a><br>
</div>

<div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 1</h2>

<span class="app-c-tag">tyne view park research</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">February 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Clare Robinson</dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>‘Happy path’ scenario - citizen’s details validated</li>
  <li>Citizen needs alternative contact formats, is married, has lived and worked abroad</li>
</ul>


<h2 class="govuk-heading-s">Research note<a href="/paperclaims2/find" style="text-decoration:none; color: black">s</a>
</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>Agents preferred how the new BR1 form matched the ordering of questions in the prototype, as opposed to how it works now in CAM</li>
  <li>Some agents accidentally answered the worked abroad question wrong, because they were answering no to the NI number question</li>
  <li>Some agents mentioned that if a citizen is divorced or widowed we need to know their date of marriage</li>
  <li>Overall the prototype tested well with the BR1 form</li>
</ul>



<a href="https://confluence.service.dwpcloud.uk/download/attachments/121592010/BR1%20form_master%20doc_Mar20_presentation.pptx?version=1&modificationDate=1584096999340&api=v2"
class="govuk-body"><b>Research document</b></a>
<br> <br> <br>

<a href="/paperclaims/find" class="govuk-button govuk-button--start">Start now</a><br>
</div>
