<h2 class="govuk-heading-m">Iteration one</h2>

<strong class="govuk-tag govuk-tag--green">
Tested
</strong>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">October 2021</dd>
    </dl>
  </div>

</div>

<p>
<a href="identity-check-task-3/enquiries" class="govuk-link">SRB task with Pension Credit</a>
</p>
<p>
<a href="identity-check-task-3/get-a-task" class="govuk-link">Identity check task list</a>
</p>

<h3 class="govuk-heading-s">SRB task with Pension Credit</h3>
<a href="srb/pension-credit/pc-srb/tasks-award" class="govuk-button govuk-button--start">Start now</a><br>

<h3 class="govuk-heading-s">Pension Credit record with SRB awaiting information from PC</h3>
<a href="srb/pension-credit/pc-srb-record/enquiries" class="govuk-button govuk-button--start">Start now</a><br>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">Iteration two</h2>

<strong class="govuk-tag govuk-tag--green">
Tested
</strong>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">November 2021</dd>
    </dl>
  </div>

</div>

<h3 class="govuk-heading-s">Task from queue</h3>
<a href="srb/pension-credit/pc-srb-2/tasks-award" class="govuk-button govuk-button--start">Start now</a><br>

<h3 class="govuk-heading-s">Task on claimant record</h3>
<a href="srb/pension-credit/pc-srb-record-2/personal" class="govuk-button govuk-button--start">Start now</a><br>
