        <div class="app-most-recent">
<h2 class="govuk-heading-m">Record locked view</h2>

<strong class="govuk-tag govuk-tag--green">
Tested
</strong>

<br><br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2022</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

<a href="/performance-measurement/iteration-1/agent/personal-locked"target="_blank" class="govuk-button govuk-button--start">Locked</a><br>
<a href="/performance-measurement/iteration-1/agent/personal-unlocked"target="_blank" class="govuk-button govuk-button--start">Unlocked</a>
</div>

        <div class="app-most-recent">
<h2 class="govuk-heading-m">Performance measurement agent role</h2>

<strong class="govuk-tag govuk-tag--green">
Tested
</strong>

<br><br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2022</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

<a href="/performance-measurement/iteration-1/performance/personal"target="_blank" class="govuk-button govuk-button--start">Start now</a><br>
</div>
