<h2 class="govuk-heading-m">Pension credit adjustment</h2>

<strong class="govuk-tag govuk-tag--orange">
Not tested
</strong>

<br><br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">September 2022</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Al Robinson and Matt Hall</dd>
    </dl>
  </div>
</div>


<a href="/manual-payments/pc-enquiries "target="_blank" class="govuk-button govuk-button--start">Start now</a><br>

<a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1662718479573/7d9cbeafdea9a0dc4b8d9299f4a0239debf9bf06?sender=ud0f6074784801941d82c1259" class="govuk-link" rel="noreferrer noopener" target="_blank">Mural board (opens in new tab)</a><br>

<br><br><br>

<h2 class="govuk-heading-m">Debt adjustment</h2>

<strong class="govuk-tag govuk-tag--orange">
Not tested
</strong>

<br><br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">September 2022</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Al Robinson and Matt Hall</dd>
    </dl>
  </div>
</div>


<a href="/manual-payments/debt-enquiries "target="_blank" class="govuk-button govuk-button--start">Start now</a><br>

<a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1662718479573/7d9cbeafdea9a0dc4b8d9299f4a0239debf9bf06?sender=ud0f6074784801941d82c1259" class="govuk-link" rel="noreferrer noopener" target="_blank">Mural board (opens in new tab)</a><br>
