<h2 class="govuk-heading-m">Restarting payments</h2>

<p>Restarting payments without reissuing the returned payment</p>

<strong class="govuk-tag govuk-tag--orange">
Not tested
</strong>

<br><br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">February 2023</dd>
    </dl>
  </div>


</div>


<a href="/returned-payment/personal-returned" target="_blank" class="govuk-button govuk-button--start">Start now</a><br>
