<h2 class="govuk-heading-m">SRB task with multiple reviews</h2>

<strong class="govuk-tag govuk-tag--yellow">
Not tested
</strong>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Becky Lee</dd>
    </dl>
  </div>
</div>

<!-- <a href="" class="govuk-body"><b>Research document</b></a> -->
<br>
<a href="/reviewanaward8/get-a-task" class="govuk-button govuk-button--start">Start now</a><br>

<br>
<h2 class="govuk-heading-s">User research scenarios</h2>
<ol class="govuk-list govuk-list--number">
  <li>SRB received<br>
  Agent checks OLE and identifies that the increase in SP was due to a late paid contribution<br>
  The late paid contribution was received by HMRC on xx/xx/xxxx<br>
  Agent changes the review date and continues</li>
  <li>SRB received<br>
  Agent checks OLE and identifies that the increase in SP was due to a late paid contribution<br>
  The late paid contribution was received by HMRC on xx/xx/xxxx (different uprating year as SPa)<br>
  Agent changes the review date and amount and continues</li>
  <li>SRB received<br>
  Agent checks OLE and identifies that the increase in SP was due to 2 late paid contributions
  The first late paid contribution was received by HMRC on xx/xx/xxxx<br>
  The agent changes the amount displayed and enters date for the first late paid contribution
  The second late paid contribution was received by HMRC on xx/xx/xxxx<br>
  The agent adds another review and add/change the amount and date for the second late paid contribution
  Agent continues</li>
</ol>
<a href="/reviewanaward8/get-a-task-1" class="govuk-button govuk-button--start">Start now</a><br>
