        <div class="app-most-recent">
            <h2 class="govuk-heading-m">SRB task with multiple reviews</h2>

            <strong class="govuk-tag govuk-tag--orange">
            not tested
            </strong>

<br><br>
            <p>Updated change to award screen<br>
              <a href="/srb/multiple-review/award-change" class="govuk-link govuk-link--no-visited-state">Single review</a><br>
              <a href="/srb/multiple-review/award-change-multiple" class="govuk-link govuk-link--no-visited-state">Multiple reviews</a>
            </p>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <dl>
                  <dt class="govuk-heading-s">Date of design</dt>
                  <dd class="govuk-body" style="margin-left:0%">July 2021</dd>
                </dl>

<a href="srb/multiple-review/get-a-task" class="govuk-button govuk-button--start">Start now</a><br>

              </div>

              <div class="govuk-grid-column-two-thirds">
                <dl>
                  <dt class="govuk-heading-s">Designers</dt>
                  <dd class="govuk-body" style="margin-left:0%">Becky Lee</dd>
                </dl>



              </div>

            </div>





</div>


          <div class="app-most-recent">
            <h2 class="govuk-heading-m">SRB task with multiple reviews</h2>

<strong class="govuk-tag govuk-tag--green">
tested
</strong>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Becky Lee</dd>
    </dl>
  </div>
</div>

<!-- <a href="" class="govuk-body"><b>Research document</b></a> -->
<br>
<a href="/reviewanaward/iteration-8/get-a-task" class="govuk-button govuk-button--start">Start now</a><br>

<br>
<h2 class="govuk-heading-s">User research scenarios</h2>
<ol class="govuk-list govuk-list--number">
  <li>SRB received<br>
  Agent checks OLE and identifies that the increase in SP was due to a late paid contribution<br>
  The late paid contribution was received by HMRC on xx/xx/xxxx<br>
  Agent changes the review date and continues</li>
  <li>SRB received<br>
  Agent checks OLE and identifies that the increase in SP was due to a late paid contribution<br>
  The late paid contribution was received by HMRC on xx/xx/xxxx (different uprating year as SPa)<br>
  Agent changes the review date and amount and continues</li>
  <li>SRB received<br>
  Agent checks OLE and identifies that the increase in SP was due to 2 late paid contributions
  The first late paid contribution was received by HMRC on xx/xx/xxxx<br>
  The agent changes the amount displayed and enters date for the first late paid contribution
  The second late paid contribution was received by HMRC on xx/xx/xxxx<br>
  The agent adds another review and add/change the amount and date for the second late paid contribution
  Agent continues</li>
</ol>
<a href="reviewanaward/iteration-8/get-a-task-1" class="govuk-button govuk-button--start">Start now</a><br>

</div>


          <div class="app-most-recent">
<h2 class="govuk-heading-m">SRB task when a citizen has been widowed and has inherited State Pension</h2>

<strong class="govuk-tag govuk-tag--yellow">
Not tested
</strong>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">June 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Becky Lee & Clare Robinson </dd>
    </dl>
  </div>
</div>

<br>
<p><b>2.1</b> Citizen has widows inheritance from their State Pension date</p>
<a href="/reviewanaward/iteration-6/get-a-task" class="govuk-button govuk-button--start">Start now</a><br>

<br>
<p><b></b> Citizen has widows inheritance from a date after their State Pension date</p>
<a href="/reviewanaward/iteration-7/get-a-task" class="govuk-button govuk-button--start">Start now</a><br>

</div>


          <div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 3</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">January 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Agent reviews an award where the award amount goes down, and the period of the award change covers an annual uprating of the award. The agent is then presented with the option to refer the overpayment to the debt management service.   </li>
</ul>

<h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> The agent needs to see the new award amounts and the dates those awards are applicable from </li>
  <li>The agent needs to be able to change the from dates if required</li>
  <li>The agent can choose to not do the overpayment referral as part of this task, and a separate task is created</li>
  <li>The agent is presented with all of the relevant information they need to submit a debt referral via the e-referral tool</li>
</ul>

<h2 class="govuk-heading-s">Iterations based on previous research
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>

<br>
<p><b>Scenario 1: does not span an uprating:</b></p>
<a href="/reviewanaward/iteration-3e/tasks" class="govuk-button govuk-button--start">Start now</a><br>

<p><b>Scenario 2: spans an uprating:</b></p>
<a href="/reviewanaward/iteration-4a/tasks" class="govuk-button govuk-button--start">Start now</a><br>
</div>




          <div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 2</h2>

<span class="app-c-tag">tyne view park testing</span>
<br><br><span class="app-c-tag app-c-tag--warning">remote skype research</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">March 2020</dd>
    </dl>
  </div>


  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Scenarios</h3>

<p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
    <li>Agent can see the new award values and entitlement date so that they can manually check other system (NIRS)</li>
    <li>Values and entitlement date can be changed if needed</li>
  </ul>
</p>

<h3 class="govuk-heading-s">Iterations from previous research</h3>

<p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
    <li>Taken out the identity bar of the citizen, agents do not need to know this information</li>
    <li>Updated design to fit with new task based pattern</li>
    <li>Taken out first and second payment information, citzen is not on the phone at this point therefore the agent does not need this information</li>


  </ul>
</p>

<h3 class="govuk-heading-s">Business requirements</h3>

<p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
    <li>Question: is it more likely for an agent to change all components of the award or just one of them
      at a time given the scenario?</li>
      <li>Question: what information is required to refer the debt to the DMS?</li>
  </ul>
</p>

<br>

<a href="https://confluence.service.dwpcloud.uk/display/SA/Public+Beta?preview=/121592010/185624312/review%20an%20award_master%20slide%20pres_17th%20Aug%202020.pptx" class="govuk-body"><b>Research document</b></a>
<br><br><br>


<p><b>1. Award not in payment, award increases</p></b>
<p><b>2. Award in payment, award increases, no arrears</p></b>
<a href="/reviewanaward/iteration-3/tasks" class="govuk-button govuk-button--start">Start now</a>

<p><b>3. Award not in payment, award decreases</p></b>
<p><b>4. Award in payment, award decreases, no overpayment</p></b>
<a href="/reviewanaward/iteration-3a/tasks" class="govuk-button govuk-button--start">Start now</a>

<p><b>5. Award in payment, award increases, arrears owed:</p></b>
<a href="/reviewanaward/iteration-3b/tasks" class="govuk-button govuk-button--start">Start now</a>

<p><b>6. Award in payment, award decreases, overpayment (includes overpayment referral):</p></b>
<a href="/reviewanaward/iteration-3e/tasks" class="govuk-button govuk-button--start">Start now</a>

</div>




          <div class="app-most-recent">
<h2 class="govuk-heading-m">Review an award</h2>

<strong class="app-c-tag app-c-tag--danger">Temporary</strong>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">August 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Feature</dt>
      <dd class="govuk-body" style="margin-left:0%">Review and award for agents in BPV</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dd class="govuk-body" style="margin-left:0%">jira---</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Research notes</h3>
<p class="govuk-body">
  X
</p>

<br>

<a href="/reviewanaward/iteration-2/landingpage.html" class="govuk-button govuk-button--start">Start now</a>

</div>


          <div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 1</h2>

<strong class="app-c-tag">benton park view research</strong>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">August 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>

</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> Includes reason the award needs reviewed</li>
  <li> Includes ability to change date of entitlement and award amounts</li>
</ul>

<h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Agent needs to pick up a reward to review</li>
  <li>Agent needs to see the reason the award was reviewed that comes from HMRC</li>

</ul>

<h2 class="govuk-heading-s">Iterations based on previous research
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>

<h2 class="govuk-heading-s">Research notes
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>

<h2 class="govuk-heading-s">Related stories
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>


<a href="" class="govuk-body"><b>Research document</b></a>
<br> <br> <br>



<a href="" class="govuk-body"><b>Research document</b></a>
<br> <br> <br>


<a href="/reviewanaward/landingpage.html" class="govuk-button govuk-button--start">Start now</a>
</div>
