<h2 class="govuk-heading-m">Iteration 3</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">January 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Agent reviews an award where the award amount goes down, and the period of the award change covers an annual uprating of the award. The agent is then presented with the option to refer the overpayment to the debt management service.   </li>
</ul>

<h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> The agent needs to see the new award amounts and the dates those awards are applicable from </li>
  <li>The agent needs to be able to change the from dates if required</li>
  <li>The agent can choose to not do the overpayment referral as part of this task, and a separate task is created</li>
  <li>The agent is presented with all of the relevant information they need to submit a debt referral via the e-referral tool</li>
</ul>

<h2 class="govuk-heading-s">Iterations based on previous research
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>

<!-- <h2 class="govuk-heading-s">Research notes
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>

<h2 class="govuk-heading-s">Related stories
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul> -->


<!-- <a href="" class="govuk-body"><b>Research document</b></a> -->
<br> 
<p><b>Scenario 1: does not span an uprating:</b></p>
<a href="/reviewanaward3e/tasks" class="govuk-button govuk-button--start">Start now</a><br>

<p><b>Scenario 2: spans an uprating:</b></p>
<a href="/reviewanaward4a/tasks" class="govuk-button govuk-button--start">Start now</a><br>