<h2 class="govuk-heading-m">Iteration 2</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">March 2020</dd>
    </dl>
  </div>
 

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Scenarios</h3>

<p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
    <li>Agent can see the new award values and entitlement date so that they can manually check other system (NIRS)</li>
    <li>Values and entitlement date can be changed if needed</li>
  </ul>
</p>

<h3 class="govuk-heading-s">Iterations from previous research</h3>

<p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
    <li>Taken out the identity bar of the citizen, agents do not need to know this information</li>
    <li>Updated design to fit with new task based pattern</li>
    <li>Taken out first and second payment information, citzen is not on the phone at this point therefore the agent does not need this information</li>


  </ul>
</p>

<h3 class="govuk-heading-s">Business requirements</h3>

<p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
    <li>Question: is it more likely for an agent to change all components of the award or just one of them at a time given the scenario?</li>
  </ul>
</p>

<br>
<p><b>Award not in payment, award increases:</p></b>
<a href="/reviewanaward3/tasks" class="govuk-button govuk-button--start">Start now</a>

<p><b>Award not in payment, award decreases:</p></b>
<a href="/reviewanaward3a/tasks" class="govuk-button govuk-button--start">Start now</a>

<p><b>Award in payment, award increases, arrears owed:</p></b>
<a href="/reviewanaward3b/tasks" class="govuk-button govuk-button--start">Start now</a>

<p><b>Award in payment, award increases, no arrears:</p></b>
<a href="/reviewanaward3c/tasks" class="govuk-button govuk-button--start">Start now</a>

<p><b>Award in payment, award decreases, overpayment:</p></b>
<a href="/reviewanaward3d/tasks" class="govuk-button govuk-button--start">Start now</a>

<p><b>Award in payment, award decreases, no overpayment:</p></b>
<a href="/reviewanaward3e/tasks" class="govuk-button govuk-button--start">Start now</a>
