<h2 class="govuk-heading-m">SRB task when a citizen has been widowed and has inherited State Pension</h2>

<strong class="govuk-tag govuk-tag--yellow">
Not tested
</strong>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">June 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Becky Lee & Clare Robinson </dd>
    </dl>
  </div>
</div>

<!-- <a href="" class="govuk-body"><b>Research document</b></a> -->
<br>
<p><b>2.1</b> Citizen has widows inheritance from their State Pension date</p>
<a href="/reviewanaward6/get-a-task" class="govuk-button govuk-button--start">Start now</a><br>

<br>
<p><b></b> Citizen has widows inheritance from a date after their State Pension date</p>
<a href="/reviewanaward6/get-a-task" class="govuk-button govuk-button--start">Start now</a><br>
