<h2 class="govuk-heading-m">Iteration 3</h2>

<span class="app-c-tag app-c-tag--green">tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">May 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Paul Ripley, Clare Robinson, Mark Stuart </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Enable an agent to add more than one review date and award amount</li>

<li>Ensure any other categories of payment are added back in, reassuring the agent they have been</li>

<li>Look at any further potential opportunities for Automation</li>
</ul>

<h2 class="govuk-heading-s">Prototype scenarios for testing 14 May 2021:
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://get-your-state-pension-agent.herokuapp.com/taskiteration2f/reviewanaward2" class="govuk-link">Task iteration F</a></li>
  <li><a href="https://get-your-state-pension-agent.herokuapp.com/taskiteration2g/reviewanaward2" class="govuk-link">Task iteration G</a></li>
  <li><a href="https://get-your-state-pension-agent.herokuapp.com/taskiteration2h/reviewanaward2" class="govuk-link">Task iteration H</a></li>
    <li><a href="https://get-your-state-pension-agent.herokuapp.com/taskiteration2i/reviewanaward2" class="govuk-link">Task iteration I</a></li>
</ul>



<!-- <h2 class="govuk-heading-s">Research notes
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>

<h2 class="govuk-heading-s">Related stories
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul> -->


<!-- <a href="" class="govuk-body"><b>Research document</b></a> -->
<br>
