<h2 class="govuk-heading-m">Iteration 1</h2>

<strong class="app-c-tag">benton park view research</strong>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">August 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>

</div>

<h2 class="govuk-heading-s">Scenario
</h2>
 
<ul class="govuk-list govuk-list--bullet">
  <li> Includes reason the award needs reviewed</li>
  <li> Includes ability to change date of entitlement and award amounts</li>
</ul>

<h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Agent needs to pick up a reward to review</li>
  <li>Agent needs to see the reason the award was reviewed that comes from HMRC</li>

</ul>

<h2 class="govuk-heading-s">Iterations based on previous research
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>

<h2 class="govuk-heading-s">Research notes
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>

<h2 class="govuk-heading-s">Related stories
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>


<a href="" class="govuk-body"><b>Research document</b></a>
<br> <br> <br>



<a href="" class="govuk-body"><b>Research document</b></a>
<br> <br> <br>


<a href="/reviewanaward/landingpage.html" class="govuk-button govuk-button--start">Start now</a>
