<h2 class="govuk-heading-m">Iteration 2</h2>

<span class="app-c-tag">tyne view park testing</span> 
<br><br><span class="app-c-tag app-c-tag--warning">remote skype research</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">March 2020</dd>
    </dl>
  </div>
 

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Scenarios</h3>

<p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
    <li>Agent can see the new award values and entitlement date so that they can manually check other system (NIRS)</li>
    <li>Values and entitlement date can be changed if needed</li>
  </ul>
</p>

<h3 class="govuk-heading-s">Iterations from previous research</h3>

<p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
    <li>Taken out the identity bar of the citizen, agents do not need to know this information</li>
    <li>Updated design to fit with new task based pattern</li>
    <li>Taken out first and second payment information, citzen is not on the phone at this point therefore the agent does not need this information</li>


  </ul>
</p>

<h3 class="govuk-heading-s">Business requirements</h3>

<p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
    <li>Question: is it more likely for an agent to change all components of the award or just one of them 
      at a time given the scenario?</li>
      <li>Question: what information is required to refer the debt to the DMS?</li>
  </ul>
</p>

<br>

<a href="https://confluence.service.dwpcloud.uk/display/SA/Public+Beta?preview=/121592010/185624312/review%20an%20award_master%20slide%20pres_17th%20Aug%202020.pptx" class="govuk-body"><b>Research document</b></a>
<br><br><br>


<p><b>1. Award not in payment, award increases</p></b>
<p><b>2. Award in payment, award increases, no arrears</p></b>
<a href="/reviewanaward3/tasks" class="govuk-button govuk-button--start">Start now</a>

<p><b>3. Award not in payment, award decreases</p></b>
<p><b>4. Award in payment, award decreases, no overpayment</p></b>
<a href="/reviewanaward3a/tasks" class="govuk-button govuk-button--start">Start now</a>

<p><b>5. Award in payment, award increases, arrears owed:</p></b>
<a href="/reviewanaward3b/tasks" class="govuk-button govuk-button--start">Start now</a>

<!-- <p><b>Award in payment, award increases, no arrears:</p></b>
<a href="/reviewanaward3c/tasks" class="govuk-button govuk-button--start">Start now</a> -->

<!-- <p><b>Award in payment, award decreases, no overpayment:</p></b>
<a href="/reviewanaward3d/tasks" class="govuk-button govuk-button--start">Start now</a> -->

<p><b>6. Award in payment, award decreases, overpayment (includes overpayment referral):</p></b>
<a href="/reviewanaward3e/tasks" class="govuk-button govuk-button--start">Start now</a>
