<h2 class="govuk-heading-m">All GYSP account statuses </h2>

<span class="app-c-tag">receiving state pension</span><br><br>
<span class="app-c-tag app-c-tag--dead">dead</span><br><br>
<span class="app-c-tag app-c-tag--dead">dead - not verified</span><br><br>
<span class="app-c-tag app-c-tag--danger">payments stopped</span><br><br>
<span class="app-c-tag app-c-tag--ready">ready to claim state pension</span><br><br>
<br><br>
<h2 class="govuk-heading-m">New GYSP account statuses </h2>

<strong class="govuk-tag govuk-tag--blue">receiving state pension</strong><br><br>
<strong class="govuk-tag govuk-tag--grey">dead</strong><br><br>
<strong class="govuk-tag govuk-tag--grey">dead - not verified</strong><br><br>
<strong class="govuk-tag govuk-tag--red">payments stopped</strong><br><br>
<strong class="govuk-tag govuk-tag--green">ready to claim state pension</strong><br><br><br>



<h3 class="govuk-heading-s">Other colours:</h3>

<strong class="govuk-tag govuk-tag--purple">purple</strong><br><br>
<strong class="govuk-tag govuk-tag--pink">pink</strong><br><br>
<strong class="govuk-tag govuk-tag--orange">orange</strong><br><br>
<strong class="govuk-tag govuk-tag--yellow">yellow</strong><br><br>
<strong class="govuk-tag govuk-tag--turquoise">turquoise</strong><br><br>

