<h2 class="govuk-heading-m">All GYSP account statuses </h2>

<h3 class="govuk-heading-s">Account statuses for changes and enquiries:</h3>
<span class="app-c-tag">receiving state pension</span><br><br>
<span class="app-c-tag app-c-tag--dead">dead</span><br><br>
<span class="app-c-tag app-c-tag--dead">dead - not verified</span><br><br>
<span class="app-c-tag app-c-tag--danger">payments stopped</span><br><br><br>

<h3 class="govuk-heading-s">Account statuses for new claims:</h3>

<span class="app-c-tag app-c-tag--ready">ready to claim state pension</span>

