<h2 class="govuk-heading-m">Payment history table view more</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">March 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
    </dl>
  </div>

</div>

<br>

<h3 class="govuk-heading-s">Scenarios</h3>

<p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
    <li>Need to know how much payment history an agent needs to see</li>
    <li>Scenario includes view more link</li>

  </ul>
</p>

<a href="/stress-tests/payment" class="govuk-button govuk-button--start">Start now</a>
