<h2 class="govuk-heading-m">Temporary suspension</h2>

<strong class="govuk-tag govuk-tag--green">
Tested
</strong>

<br><br>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Becky & Kieran</dd>
    </dl>
  </div>
</div>


<a href="/suspended/iteration-1/personal-suspended"target="_blank" class="govuk-button govuk-button--start">Start now</a><br>

<a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1662710721482/6cec68d72597a1467f3fe50e1bbeee8f8ed638bb?sender=u5823abda11bcc613039e2603" class="govuk-link" rel="noreferrer noopener" target="_blank">Mural board (opens in new tab)</a><br>

<br><br><br>
