<h2 class="govuk-heading-m">Iteration 1</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Agent needs to email debt management with the person dealing with the estate's details</li>  
</ul>

<!-- <h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Include person dealing with the estate name and address, and claimant NINO and name</li>
</ul>  -->

<!-- <h2 class="govuk-heading-s">Iterations based on previous research
</h2>
<ul class="govuk-list govuk-list--bullet">
</ul> -->

 <!-- <h2 class="govuk-heading-s">Research notes
</h2>

<ul class="govuk-list govuk-list--bullet">
  
</ul> -->

<!-- <h2 class="govuk-heading-s">Related stories
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul> -->


<!-- <a href="" class="govuk-body"><b>Research document</b></a>
<br> <br> <br> -->

<a href="/taskiteration14/tasks" class="govuk-button govuk-button--start">Start now</a><br>
<!-- <h3 class="govuk-heading-s">Option 2</h3>
<a href="/taskiteration12b/tasks" class="govuk-button govuk-button--start">Start now</a><br> -->