<h2 class="govuk-heading-m">Iteration 1</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">April 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>When a claimant changes marital status to widowed, an agent needs to be able to check the late spouse or partner’s details to see if the claimant’s State Pension entitlement changes</li>



</ul>

<h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Agent needs to see the spouse or partner details so they can trace them on other systems
  </li>
 <li>Agent needs to be able to change the State Pension award components if the claimant is entitled to more
</li>
<li>Agent needs to be able to end the task without changing the award, if there is no further entitlement
</li>
</ul>
<h3 class="govuk-heading-s">State Pension award changes:</h3>
<a href="/taskiteration5/tasks" class="govuk-button govuk-button--start">Start now</a>

<h3 class="govuk-heading-s">State Pension award doesn't change:</h3>
<a href="/taskiteration5b/tasks" class="govuk-button govuk-button--start">Start now</a>

