<h2 class="govuk-heading-m">Iteration 2</h2>

<span class="app-c-tag">Benton park view testing</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">June 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Iteration based on live testing</li>  
  <li>Scenario includes allowing an agent to update the spouse's nino and date of marriage in the task</li>
</ul>

<!-- <h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul> -->

<h2 class="govuk-heading-s">Iterations based on previous research
</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>To cross referance CAM and GYSP, agents had to write down the spouse's nino and date of marriage and then go into changes and enquiries to update the spouse's details in Get</li>
</ul>

 <h2 class="govuk-heading-s">Research notes
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> Tested well, agents said new design saves a lot of time</li>
  <li> Agents said they wouldn't need to see 'other names' as they wouldn't update them</li>

</ul>

<!-- <h2 class="govuk-heading-s">Related stories
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul> -->


<!-- <a href="" class="govuk-body"><b>Research document</b></a>
<br> <br> <br> -->

<a href="/taskiteration12/tasks" class="govuk-button govuk-button--start">Start now</a><br>
<!-- <h3 class="govuk-heading-s">Option 2</h3>
<a href="/taskiteration12b/tasks" class="govuk-button govuk-button--start">Start now</a><br> -->