<h2 class="govuk-heading-m">Iteration 1</h2>

<span class="app-c-tag">burnley research</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">March 2020</dd>
    </dl>
  </div>


  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Scenarios</h3>

<p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
    <li>Check the record of the claimant's spouse to see if there is any change to their State Pension entitlement.</li>
    
    
  </ul>
</p>

<h3 class="govuk-heading-s">Research notes</h3>
<p class="govuk-body">
  <ul class="govuk-list govuk-list--bullet">
    <li>Agents understood what the task was before they continued into action it</li>
    <li>All agents believed the information displayed for the claimant and their spouse was needed for this task</li>
    <li>Some agents thought having the claimant National Insurance number would also be useful for tracing the spouse</li>
    <li>All agents able to easily navigate through and complete the task</li>
  </ul>
</p>

<h3 class="govuk-heading-s">Business requirements</h3>
<p class="govuk-body">
  <ul class="govuk-list govuk-list--bullet">
    <li>Tasks will be ordered by the claimants SPA date and the date the claim was received</li>
  </ul>
</p>

<h3 class="govuk-heading-s">Related story</h3>
<p class="govuk-body">
  <ul class="govuk-list govuk-list--bullet">
    <li>SA-2427 - Workqueue - Create task to consider increase in Spouse/CP State Pension</li>
  </ul>
</p>

<a href="/task-bl/tasks" class="govuk-button govuk-button--start">Start now</a>
