<h2 class="govuk-heading-m">Iteration 1</h2>

<span class="app-c-tag">benton park view research</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">September 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div> 

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>

<h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>

<h2 class="govuk-heading-s">Iterations based on previous research
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>

<h2 class="govuk-heading-s">Research notes
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>

<h2 class="govuk-heading-s">Related stories
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul>


<a href="" class="govuk-body"><b>Research document</b></a>
<br> <br> <br>


<h3 class="govuk-heading-s">Scenario 1:

  <ul class="govuk-list govuk-list--bullet">
    <li>No payments received</li>
    <li>Revised from date that isn’t SPa</li>
    <li>First payment is part old rate, part new rate (full 4 weeks) </li>
    <li>Next payment is all at the new rate </li>
  </ul>

<a href="/taskiteration3/sendletter.html" class="govuk-button govuk-button--start">Start now</a>

<h3 class="govuk-heading-s">Scenario 2:

  <ul class="govuk-list govuk-list--bullet">
    <li>Payments have been received    </li>
    <li>Revised from SPa    </li>
    <li>Arrears are due up to the date last paid (or sent)     </li>
    <li>Next payment is all at the new rate </li>
  </ul>

<a href="/taskiteration3-2/sendletter.html" class="govuk-button govuk-button--start">Start now</a>

<h3 class="govuk-heading-s">Scenario 2.1:<br> (Alternative version for when the first payment from SPa was a part week payment)
  <br> <br>
<a href="/taskiteration3-3/sendletter.html" class="govuk-button govuk-button--start">Start now</a>

<h3 class="govuk-heading-s">Scenario 3:

  <ul class="govuk-list govuk-list--bullet">
    <li>Payments have been received    </li>
    <li>Revised from date other than SPa (meaning it has to be full weeks) 
    </li>
    <li>No arrears are due
    </li>
    <li>Next payment is part old rate, part new rate
    </li>
    <li>Subsequent payment is all at the new rate
    </li>
  </ul>

<a href="/taskiteration3-4/sendletter.html" class="govuk-button govuk-button--start">Start now</a>

<h3 class="govuk-heading-s">Scenario 4:

  <ul class="govuk-list govuk-list--bullet">
    <li>Payments have been received    </li>
    <li>Revised from date after the citizen was last paid, meaning the next payment is full 4 weeks at the new rate
    </li>
  </ul>

<a href="/taskiteration3-5/sendletter.html" class="govuk-button govuk-button--start">Start now</a>
