<h2 class="govuk-heading-m">Iteration 1</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">February 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Paul Ripley & Clare Robinson </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Journey to show the agent a task needs their attention within the customers account</li>
</ul>

<h2 class="govuk-heading-s">Journey includes
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li><b>Dedicated task tab with number notification</b></li>
<a href="/alltasks/tasks-outstanding" class="govuk-button govuk-button--start">Start now</a><br>
<br>
  <li><b>Banner alerting the agent of a task</b> </li>

<a href="/alltasks/banner" class="govuk-button govuk-button--start">Start now</a><br>

</ul>
