<h2 class="govuk-heading-m">Iteration 1</h2>

<span class="app-c-tag">burnley testing</span> 
<br><br><span class="app-c-tag app-c-tag--warning">remote skype research</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">May 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Agent picks up a task to refer overpayment to debt management</li>
  <li>Agent uses information in task to enter into the 'debt referal tool'</li>
  <li>Once done agent can complete task</li>
</ul>

<!-- <h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul> -->

<!-- <h2 class="govuk-heading-s">Iterations based on previous research
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul> -->

<!-- <h2 class="govuk-heading-s">Research notes
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul> -->

<!-- <h2 class="govuk-heading-s">Related stories
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> </li>
</ul> -->


<a href="https://confluence.service.dwpcloud.uk/display/SA/Public+Beta?preview=/121592010/185624327/Death%20task-overpayment%20referral%20pres_23rd%20Sept%202020.pptx" class="govuk-body"><b>Research document</b></a>
<br> <br> <br>

<h3 class="govuk-heading-s">Journey with no dap details:</h3>
<a href="/taskiteration11/tasks" class="govuk-button govuk-button--start">Start now</a><br>

<h3 class="govuk-heading-s">Journey including dap details:</h3>
<a href="/taskiteration11b/tasks" class="govuk-button govuk-button--start">Start now</a><br>