<h2 class="govuk-heading-m">Iteration 1</h2>

<span class="app-c-tag">benton park view testing</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">April 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
<li>Agent needs to be able to check whether a widow is entitled to inherit to any more State Pension</li>


</ul>

<h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Agent needs to see the spouse or partner details so they can trace them on other systems
  </li>
 <li>Agent needs to be able to change the State Pension award components if the claimant is entitled to more
</li>
<li>Agent needs to be able to end the task without changing the award, if there is no further entitlement
</li>
</ul>

<h2 class="govuk-heading-s">Research notes
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Agents were able to run through the task successfully, understanding all content on each page of the journey
  </li>
  <li>Some agents said that inheritable components should be entered separately and then automatically update the 4 new State Pension components
  </li>
</ul>


<h3 class="govuk-heading-s">When the citizen can inherit:</h3>
<a href="/taskiteration5/tasks" class="govuk-button govuk-button--start">Start now</a>

<h3 class="govuk-heading-s">When the citizen can't inherit:</h3>
<a href="/taskiteration5b/tasks" class="govuk-button govuk-button--start">Start now</a>

