<h2 class="govuk-heading-m">Iteration 3</h2>

<span class="app-c-tag app-c-tag--danger">MVP</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">April 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>Agent needs to be able to check whether a widow is entitled to inherit to any more State Pension</li>
  <li>Scenario includes agent entering the extra 6 inherited components which are <B>NOT</B> automatically sorted into the relavent 4 pots
  </li>
  <li>Agent needs to manually work out which of the 4 pots the 6 components will go into
  </li>
</ul>

<h2 class="govuk-heading-s">Further business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">

<li>If the date of marriage is not verified the agent cannot out the award into payment
</li>
<li>The extra State Pension pot will not change
</li>
</ul>

<br>

<h3 class="govuk-heading-s">When the citizen can’t inherit</h3>

<p>Verified date of marriage:</p>
<a href="/taskiteration8a/tasks" class="govuk-button govuk-button--start">Start now</a>

<p>Not verified date of marriage:</p>
<a href="/taskiteration8b/tasks" class="govuk-button govuk-button--start">Start now</a>

<br><br>
<h3 class="govuk-heading-s">When the citizen can inherit</h3>

<p>Verified date of marriage:</p>
<a href="/taskiteration8c/tasks" class="govuk-button govuk-button--start">Start now</a>

<p>Not verified date of marriage - can verify</p>
<a href="/taskiteration8d/tasks" class="govuk-button govuk-button--start">Start now</a>

<p>Not verified date of marriage - can't verify</p>
<a href="/taskiteration8e/tasks" class="govuk-button govuk-button--start">Start now</a>