<h2 class="govuk-heading-m">Final iteration</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">April 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>Agent needs to be able to check whether a widow is entitled to inherit to any more State Pension</li>
  <li>Scenario includes agent entering the extra 6 inherited components which are automatically sorted into the relavent 4 pots
  </li>
</ul>

<h2 class="govuk-heading-s">Further business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">

<li></li>
</ul>

<br>

<h3 class="govuk-heading-s">When the citizen can’t inherit</h3>

<p>Verified date of marriage:</p>
<a href="/taskiteration8a/tasks" class="govuk-button govuk-button--start">Start now</a>

<p>Not verified date of marriage:</p>
<a href="/taskiteration8b/tasks" class="govuk-button govuk-button--start">Start now</a>

<br><br>
<h3 class="govuk-heading-s">When the citizen can inherit</h3>

<p>Verified date of marriage:</p>
<a href="/taskiteration9a/tasks" class="govuk-button govuk-button--start">Start now</a>

<p>Not verified date of marriage - can verify</p>
<a href="/taskiteration9b/tasks" class="govuk-button govuk-button--start">Start now</a>

<p>Not verified date of marriage - can't verify</p>
<a href="/taskiteration9c/tasks" class="govuk-button govuk-button--start">Start now</a>