<h2 class="govuk-heading-m">Iteration 1</h2>

<span class="app-c-tag">benton park view research</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">September 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li> Includes reason the award needs reviewed</li>
  <li> Includes ability to change date of entitlement and award amounts</li>
  <li> Design includes first iteration of smaller identity bar</li>
  <li> Agent wants to see citizens SP date to refer back to</li>


</ul>

<h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Agent needs to pick up a reward to review</li>
  <li>Agent needs to see the reason the award was reviewed that comes from HMRC</li>

</ul>



<h3 class="govuk-heading-s">The award was reviewed from date of entitlement and no payments have been made:</h3>

<a href="/taskiteration2/landingpage.html" class="govuk-button govuk-button--start">Start now</a>

<h3 class="govuk-heading-s">The award was reviewed from date of entitlement and payments have been made (arrears are owed):</h3>
<a href="/taskiteration2b/landingpage.html" class="govuk-button govuk-button--start">Start now</a>