<h2 class="govuk-heading-m">Reviewing an award when payments have gone out</h2>

<span class="app-c-tag app-c-tag--ready">REVIEW AN AWARD - Iteration 2</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">September 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Feature</dt>
      <dd class="govuk-body" style="margin-left:0%">Review and award for when payments have gone out </dd>
    </dl>
  </div>

  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dd class="govuk-body" style="margin-left:0%">jira---</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Scenario 1: The award was reviewed from date of entitlement and no payments have been made:</h3>
<a href="/taskiteration2/landingpage.html" class="govuk-button govuk-button--start">Start now</a>

<h3 class="govuk-heading-s">Scenario 2: The award was reviewed from date of entitlement and payments have been made (arrears are owed):</h3>
<a href="/taskiteration2b/landingpage.html" class="govuk-button govuk-button--start">Start now</a>

<h3 class="govuk-heading-s">Scenario 3: The award was reviewed from a different date to the date of entitlement and no payments have been made:</h3>
<a href="/taskiteration2c/landingpage.html" class="govuk-button govuk-button--start">Start now</a>

<h3 class="govuk-heading-s">Scenario 4: The award was reviewed from a different date to the date of entitlement and payments have been made:</h3>
<a href="/taskiteration2d/landingpage.html" class="govuk-button govuk-button--start">Start now</a>