<h2 class="govuk-heading-m">Outcome of visit from visiting officer</h2>

<strong class="govuk-tag govuk-tag--orange">
Not tested
</strong>

<br><br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2022</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Al Robinson and Kieran Wyatt</dd>
    </dl>
  </div>
</div>


<a href="/identity-check-task-3/personal-cancelled"target="_blank" class="govuk-button govuk-button--start">Start now</a><br>

<a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1663348058442/50d39da5e36b6415e5df15ac23852371771af503?sender=ud0f6074784801941d82c1259" class="govuk-link" rel="noreferrer noopener" target="_blank">Mural board (opens in new tab)</a><br>

<br><br><br>