<h2 class="govuk-heading-m">Version 2</h2>

<strong class="govuk-tag govuk-tag--yellow">
Not tested
</strong>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2021</dd>
    </dl>
  </div>

</div>

<h2 class="govuk-heading-s">Scenarios
</h2>

<p class="govuk-body">Sufficient info with inheritance</p>
<a href="/widowstask-scenario1/get-next-task" class="govuk-button govuk-button--start">Start now</a><br>

<p class="govuk-body">Insufficient info</p>
<a href="/widowstask-scenario2/get-next-task" class="govuk-button govuk-button--start">Start now</a><br>

<p class="govuk-body">Not an eligible GYSP customer / pass to PSCS robot</p>
<a href="/widowstask-scenario3/get-next-task" class="govuk-button govuk-button--start">Start now</a>
