<div class="app-most-recent">
  <h2 class="govuk-heading-m">Iteration 4</h2>

  <strong class="govuk-tag govuk-tag--orange">
  Not tested
  </strong>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <dl>
        <dt class="govuk-heading-s">Date of design</dt>
        <dd class="govuk-body" style="margin-left:0%">August 2022</dd>
      </dl>
    </div>

  </div>

  <a href="/widows/conversion-task/get-a-task" class="govuk-button govuk-button--start">Start now</a><br>

</div>

<div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 3</h2>

<span class="app-c-tag app-c-tag--danger">MVP</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">April 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>Agent needs to be able to check whether a widow is entitled to inherit to any more State Pension</li>
  <li>Scenario includes agent entering the extra 6 inherited components which are <B>NOT</B> automatically sorted into the relavent 4 pots
  </li>
  <li>Agent needs to manually work out which of the 4 pots the 6 components will go into
  </li>
  <li>Scenarios include all options when a date of marriage is verified / not verified
  </li>
</ul>

<h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">

<li>Only need to verify the date of marriage if the claimant can inherited
</li>
</ul>

</ul>

<br>


<h3 class="govuk-heading-m">Verified date of marriage</h3>
<p>Citizen can inherit:</p>
<a href="/taskiteration8c/tasks" class="govuk-button govuk-button--start">Start now</a>

<p>Citizen can't inherit:</p>
<a href="/taskiteration8a/tasks" class="govuk-button govuk-button--start">Start now</a>

<br><br>

<h3 class="govuk-heading-m">Not verified date of marriage</h3>

<p>Citizen can inherit, date of marriage can be verified:</p>
<a href="/taskiteration10b/tasks" class="govuk-button govuk-button--start">Start now</a>

<p>Citizen can inherit, marriage cert requested </p>
<a href="/taskiteration10a/tasks" class="govuk-button govuk-button--start">Start now</a>

<p>Citizen can't inherit:</p>
<a href="/taskiteration10c/tasks" class="govuk-button govuk-button--start">Start now</a>

</div>


<div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 2</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">April 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>Agent needs to be able to check whether a widow is entitled to inherit to any more State Pension</li>
  <li>Scenario includes agent entering the extra 6 inherited components which are automatically sorted into the relavent 4 pots
  </li>
</ul>

<h2 class="govuk-heading-s">Further business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">

<li>If the date of marriage is not verified the agent cannot out the award into payment
</li>
</ul>

<h2 class="govuk-heading-s">Iterations based on previous research
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Included claimant's State Pension amount in the first details page
  </li>
  <li>Added new page for additional inherited components
  </li>
  <li>
      Added new page to filter out those who cannot inherit anything
    </li>
</ul>
<br>

<a href="/taskiteration7/tasks" class="govuk-button govuk-button--start">Start now</a>
</div>


<div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 1</h2>

<span class="app-c-tag">benton park view testing</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">April 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
<li>Agent needs to be able to check whether a widow is entitled to inherit to any more State Pension</li>


</ul>

<h2 class="govuk-heading-s">Business requirements
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Agent needs to see the spouse or partner details so they can trace them on other systems
  </li>
 <li>Agent needs to be able to change the State Pension award components if the claimant is entitled to more
</li>
<li>Agent needs to be able to end the task without changing the award, if there is no further entitlement
</li>
</ul>

<h2 class="govuk-heading-s">Research notes
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Agents were able to run through the task successfully, understanding all content on each page of the journey
  </li>
  <li>Some agents said that inheritable components should be entered separately and then automatically update the 4 new State Pension components
  </li>
</ul>


<h3 class="govuk-heading-s">When the citizen can inherit:</h3>
<a href="/taskiteration5/tasks" class="govuk-button govuk-button--start">Start now</a>

<h3 class="govuk-heading-s">When the citizen can't inherit:</h3>
<a href="/taskiteration5b/tasks" class="govuk-button govuk-button--start">Start now</a>
</div>
