<h2 class="govuk-heading-m">Work queue management</h2>

<span class="app-c-tag app-c-tag--ready">needs testing - Iteration two</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">September 2019</dd>
    </dl>
  </div>


  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Related stories</dt>
      <dd class="govuk-body" style="margin-left:0%">X</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Scenarios</h3>

<p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
    <li>Tasks are given to agents through the system based on their specialisms/ capabilities</li>
    <li>Tasks cannot be picked up till the previous is complete, but agents can see what's upcoming</li>
  </ul>
</p>

<h3 class="govuk-heading-s">Research notes</h3>
<p class="govuk-body">
  X
</p>

<br />

<a href="/workq2/yourcases" class="govuk-button govuk-button--start">Start now</a>
