<h2 class="govuk-heading-m">Iteration 2 </h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">September 2019</dd>
    </dl>
  </div>


  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>


<h3 class="govuk-heading-s">Scenario</h3>

<p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
    <li>Based on previous iteration, with agents now able to see tasks in the queue, but only able to puck up the next highest priority
    </li>
  </ul>
</p>

<h3 class="govuk-heading-s">Business requirements</h3>

<p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
    <li>Agents should not have a choice of what task to pick up, they should only be able to pick up the next available task
    </li>
  </ul>
</p>


<a href="/workq2/yourcases" class="govuk-button govuk-button--start">Start now</a>
