<h2 class="govuk-heading-m">Iteration 3</h2>

<span class="app-c-tag">burnley research</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">March 2020</dd>
    </dl>
  </div>


  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>


<h3 class="govuk-heading-s">Scenario</h3>

<p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
  <li>Agents only see one task at a time - the next highest priority as determined by the back end  </li>

    <li>New navigation design allowing agent to go between the task they’re in, to changes and enquiries or new claims journeys
    </li>
    <li>Pattern in this scenario allows an agent to confirm they’ve completed a manual task
    </li>
  </ul>
</p>

<h3 class="govuk-heading-s">Business requirements</h3>

<p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
  <li>Agents should only be able to work on one task at a time  </li>

    <li>Agent needs to see what the task is before continuing into it to action it
    </li>
    <li>There needs to be a way of ending the task once complete so that it doesn’t appear back in the queue    </li>
  </ul>
</p>

<h3 class="govuk-heading-s">Research notes</h3>

<p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
  <li>Agents found the task straightforward and simple to complete</li>

    <li>Some agents said that agents do cherry pick tasks if they see a list of them, this way they can't do that
    </li>
    <li>Some agents said a list of tasks is often stressful to see, this design takes away that stress</li>
  </ul>
</p>

<h3 class="govuk-heading-s">Related story</h3>
<p class="govuk-body">
  <ul class="govuk-list govuk-list--bullet">
    <li>SA-2427 - Workqueue - Create task to consider increase in Spouse/CP State Pension</li>
  </ul>
</p>


<br>

<a href="/work-queue/workq3/tasks" class="govuk-button govuk-button--start">Start now</a>






<h2 class="govuk-heading-m">Iteration 2 </h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">September 2019</dd>
    </dl>
  </div>


  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>


<h3 class="govuk-heading-s">Scenario</h3>

<p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
    <li>Based on previous iteration, with agents now able to see tasks in the queue, but only able to puck up the next highest priority
    </li>
  </ul>
</p>

<h3 class="govuk-heading-s">Business requirements</h3>

<p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
    <li>Agents should not have a choice of what task to pick up, they should only be able to pick up the next available task
    </li>
  </ul>
</p>


<a href="/work-queue/workq2/yourcases" class="govuk-button govuk-button--start">Start now</a>







<h2 class="govuk-heading-m">Iteration 1</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">September 2019</dd>
    </dl>
  </div>


  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>


<h3 class="govuk-heading-s">Scenario</h3>

<p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
    <li>Initial design based on a similar approach by the access to work project
    </li>
    <li>Agents can see a list of tasks and start them from that list
    </li>
    <li>Agents can switch between the their tasks and the find someone screens
    </li>
  </ul>
</p>
<br>


<h3 class="govuk-heading-s">Business requirements</h3>

<p class="govuk-body">

<ul class="govuk-list govuk-list--bullet">
    <li>Agents need to be able to access tasks generated by claims, changes and enquiries
    </li>
    <li>Agents need to see what the task is so that they know what they have to do when they pick it up
    </li>
  </ul>
</p>

<a href="/work-queue/workq1/yourcases" class="govuk-button govuk-button--start">Start now</a>
