{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-enquiries.html' %}

{% block headEnd %}
{% endblock %}

{% include './_find-someone-enquiries.html' %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <dv class="column-full">


          <br><br>
          {% include './_bar.html' %}

<form method="post" action="award-updated">

          <a href="review-award" class="govuk-back-link">Back</a>

          <br>
          <br>

          <h2 class="govuk-heading-l">Confirm award review 🚧</h2>

            <h2 class="govuk-heading-m">New award 🚧</h2>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col" style="width: 50%">Total</th>
                    <th class="govuk-table__header" scope="col" style="width: 50%">£160.34 a week	</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">New State Pension</td>
                    <td class="govuk-table__cell">£160.34</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Protected payment</td>
                    <td class="govuk-table__cell">£0.00</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Extra State Pension</td>
                      <td class="govuk-table__cell">£0.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">Inherited extra State Pension</td>
                        <td class="govuk-table__cell">£0.00</td>
                      </tr>
                </tbody>
              </table>

              <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Entitlement date</td>
                      <td class="govuk-table__cell">15 October 2020</td>
                    </tr>
                  </tbody>
                </table>


            <button type="submit" class="govuk-button">
            Confirm
            </button>


        </div>
      </div>


</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
