{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

<form method="post">
    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar-returned.html' %}


            {{ govukBackLink({
              text: "Back",
              href: "javascript:history.go(-1)"
                              }) }}


          

            <div class="govuk-inset-text">
              A returned payment matches the dates you entered
            </div>

            <h2 class="govuk-heading-m">Returned payment details</h2>

            <div class="govuk-form-group">


              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                  <tr class="govuk-table__row">
                  <tr class="govuk-table__row" style="width: 20%"></tr>
                  <th class="govuk-table__header" scope="col" style="width: 43%">Total</th>
                  <th class="govuk-table__header" scope="col">£650.72</th>
                  <th class="govuk-table__header" scope="col"></th>
                </thead>

                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Period</td>
                    <td class="govuk-table__cell">27 Jan 2022 to <br>23 Feb 2022</td>
                    <th class="govuk-table__header" scope="col"></th>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Status</td>
                    <td class="govuk-table__cell">Returned</td>
                    <td class="govuk-table__cell">
                    </td>
                  </tr>
                </tbody>
              </table>

                  <br>

                  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="reissue-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Is this the payment you want to reissue?
      </h1>
      <div id="changed-name-hint" class="govuk-hint">
        If you select yes, this will be sent as a faster payment.
      </div>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reissue" name="reissue" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="reissue">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reissue" name="reissue" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="reissue-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>

<br>
<button class="govuk-button" data-module="govuk-button">
Continue
</button>

            </div>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /returned-payment-details <br>
        <b>Error messages:</b> Select yes if this is the payment you want to reissue   <br>
        <b>Notes:</b> None <br>
      </div>
    </details>

        </div>
      </div>
    </main>

    </form>
  </div>
  

  <div class="govuk-grid-column-one-third">
<br><br><br>
    <h2 class="govuk-heading-m">
      Status changes
    </h2>
    <ol class="app-timeline">
      <li class="app-timeline__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            Returned
          </h3>

          <p class="app-timeline__info govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden">
            </span>
            <span class="app-timeline__date">
                24 February 2022
            </span>
          </p>
        </li>

        <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              Sent
            </h3>

            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">
              </span>
              <span class="app-timeline__date">
                  22 February 2022
              </span>
            </p>
          </li>

    </ol>

    

  </div>

</div>

</form>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
