{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-column-two-thirds">

        <main id="content" role="main">
          <div class="grid-row">
            <div class="column-full">

              {% include 'includes/_bar.html' %}


            </div>
          </div>
        </main>



        {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}
        <br><br>

        <h1 class="govuk-heading-l">Postcode of the company dealing with Mark's estate</h1>
        <form action="org-dap-address-1" method="post">
          <div class="govuk-form-group">
            <label class="govuk-label" for="address">
  Enter UK postcode
</label>
            <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="postcode" aria-describedby="postcode-hint">
          </div>
<br><br>
  <button class="govuk-button" data-module="govuk-button">            Find address
          </button>
<br><a href="org-dap-address-international" class="govuk-link">Enter a non-UK address</a>


        </form>

      </div>

    </div>

  </div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds"></div>
</div>

{% endblock %}
