{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-column-two-thirds">

        <main id="content" role="main">
          <div class="grid-row">
            <div class="column-full">

              {% include 'includes/_bar.html' %}


            </div>
          </div>
        </main>



        {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}
        <br><br>
      <form action="org-dap-send-BR330" method="post" class="form">
        <h1 class="govuk-heading-l">There is a final State Pension payment due</h1>
<br>
<h2 class="govuk-heading-m">Arrears payment amount</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Total
    </dt>
    <dd class="govuk-summary-list__value">
£51.60           </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Period
    </dt>
    <dd class="govuk-summary-list__value">
    14 June 2022 to 16 June 2022
    </dd>
  </div>
</dl>



  <button type="submit" class="govuk-button">
    Continue
  </button>
    </div>

</div>

</form>

</div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"></div>
</div>

{% endblock %}
