{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="address" class="govuk-back-link">Back</a>
        <br> <br>
        <form method="post">

          <div class="govuk-form-group">

            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Can you give me your full address?
                </h1>
              </legend>

              <p><span id="passport-issued-hint" class="govuk-hint">
                I need your property number or name, street name, town or city and postcode.
              </span></p>

              <br>
              <br>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-1">
                  Property number or name <span class="govuk-visually-hidden">property number or name</span>
                </label>
                <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1"></div>

                  <div class="govuk-form-group">
                    <label class="govuk-label" for="address-line-1">
                      Street <span class="govuk-visually-hidden">Street </span>
                    </label>
                    <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1"></div>


              <div class="govuk-form-group">
                <label class="govuk-label" for="address-town">
                  Town or city<span class="govuk-visually-hidden">town or city</span>
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-postcode">
                  Postcode<span class="govuk-visually-hidden">postcode</span>
                </label>
                <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
              </div>

            </fieldset>




          </div>
      <button type="submit" class="govuk-button">
        Confirm
      </button>

      <br>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL, errors and notes</b>
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>URL:</b> /full-address <br>
        </div>
        <div class="govuk-details__text">
          <b>Errors:</b> 
          <br>Empty: Enter a property number or a building name
          <br>Invalid: Building name must be 35 characters or less
          <br>Invalid: Enter a street name in the correct format
          <br>Length: Street name must be 35 characters or less
          <br>Empty: Enter a town or city
          <br>Invalid: Enter a town or city in the correct format
          <br>Length: Town or city must be 35 characters or less
          <br>Empty: Enter a postcode
          <br>Invalid: Enter a postcode in the correct format, like AA1 1AA






          <br>

  </div>

  </div>


 </form>



</div>

</main>
</div>

{% endblock %}
