{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/servicename-tasks.html' %}


{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">
      {% include './_bar-small.html' %}
    <div class="govuk-grid-column-two-thirds">

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">
<br>



          </div>
        </div>
      </main>



      <div>
        <a href="reason" class="govuk-back-link">Back</a>
      </div>
<br>

        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">Postpone or stop the review </h1>

          <p>Select a reason to postpone or stop the review of the State Pension</p>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="defer-or-stop-review-2" name="defer-or-stop-review" type="radio" value="10days">
                  <label class="govuk-label govuk-radios__label" for="defer-or-stop-review-2">
                    Postpone the review for 10 days
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="defer-or-stop-review-3" name="defer-or-stop-review" type="radio" value="30days">
                  <label class="govuk-label govuk-radios__label" for="defer-or-stop-review-3">
                    Postpone the review for 30 days
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="defer-or-stop-review" name="defer-or-stop-review" type="radio" value="stop">
                  <label class="govuk-label govuk-radios__label" for="defer-or-stop-review">
                    Stop the review – no action required
                  </label>
                </div>


              </div>

            </fieldset>
          </div>
              <br>



  <div class="govuk-button-group">
  <a href="https://get-your-state-pension-agent.herokuapp.com/alltasks/tasks-outstanding1" button type="submit" class="govuk-button">
    Continue
  </a>



</div>


    </div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
