{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% include './_blue-bar.html' %}



  <div class="grid-row">
    <div class="column-full">

      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="overview">Overview</a>
          </li>

          <li>
            <a href="contact" class="active" aria-current="page">Contact</a>
          </li>

          <li>
            <a href="payment">Payment</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div>
          <a href="contact" class="govuk-back-link">Back</a>
        </div>

        </br>

        <h1 class="govuk-heading-l">Update contact preferences</h1>
        <form method="post">
          <div class="govuk-form-group">

            <p>Select new contact preferences</p>

            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact-1" name="contactpreference" type="checkbox" value="Large print">
                <label class="govuk-label govuk-checkboxes__label" for="contact-1">
                  Large print
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact-2" name="contactpreference" type="checkbox" value="Braille">
                <label class="govuk-label govuk-checkboxes__label" for="contact-2">
                  Braille
                </label>
              </div>
            </div>

          </div>

          <button type="submit" class="govuk-button">
            Save
          </button>
        </form>


      </div>

    </div>

  </div>

</div>

</main>        </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
