{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% include './_blue-bar.html' %}

<div class="grid-row">
  <div class="column-full">

    <nav class="navigation-secondary">
      <ul>
        <li>
          <a href="overview">Overview</a>
        </li>

        <li>
          <a href="contact">Contact</a>
        </li>

        <li>
          <a href="payment" class="active" aria-current="page">Payment</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div>
                <a href="payment" class="govuk-back-link">Back</a>
        </div>

        <form action="death-date" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            </legend>
            <h1 class="govuk-heading-l">Stop payments</h1>
            <div class="govuk-radios">

              <p>Select the reason for stopping payments</p>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="payment-frequency" name="stopped-reason" type="radio" value="dead">
                <label class="govuk-label govuk-radios__label" for="payment-frequency-1">
                  Death
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="payment-frequency" name="stopped-reason" type="radio" value="imprisoned">
                <label class="govuk-label govuk-radios__label" for="payment-frequency-2">
                  Prison
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="payment-frequency" name="stopped-reason" type="radio" value="imprisoned">
                <label class="govuk-label govuk-radios__label" for="payment-frequency-2">
                  Financial abuse
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="payment-frequency" name="stopped-reason" type="radio" value="imprisoned">
                <label class="govuk-label govuk-radios__label" for="payment-frequency-2">
                  De-retirement
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>


      </div>

    </div>

  </div>

</div>

</main>        </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
