{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
<a href="tasks-1" class="govuk-back-link">Back</a>


{% include './_bar.html' %}


          <h2 class="govuk-heading-m">Claimant's details</h2>

          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Address</th>
                <td class="govuk-table__cell">8 Dalkeith Road
                  <br> Hartlepool
                  <br>TS25 4EE</td>
                <td class="govuk-table__cell"></td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Marital status</th>
                <td class="govuk-table__cell">Widowed</td>
                <td class="govuk-table__cell"></td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Age when widowed</th>
                <td class="govuk-table__cell">49</td>
                <td class="govuk-table__cell"></td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">State Pension date</th>
                <td class="govuk-table__cell">13 July 2020</td>
                <td class="govuk-table__cell"></td>
              </tr>

            </tbody>
          </table>

          <h1 class="govuk-heading-m">Late spouse's details</h1>
            <form method="post">
              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="width: 40%">National Insurance number</th>
                    <td class="govuk-table__cell" style="width: 35%">AA 12 34 56 X</td>
                    <td class="govuk-table__cell" style="width: 20%"></td>
                    <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                                            <a class="govuk-link" href="">Change</a>
                    </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">First name</th>
                    <td class="govuk-table__cell">Rose</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Last name</th>
                    <td class="govuk-table__cell">Mcdonald</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of birth</th>
                    <td class="govuk-table__cell">7 August 1949</td>
                    <td class="govuk-table__cell"><span class="verified-badge verified">
                        <b>Verified</b>
                    </span> </td>
                    <td class="govuk-table__cell" style="text-align: right">
                      <a class="govuk-link" href="">Change</a>
                    </td>

                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of marriage</th>
                    <td class="govuk-table__cell">19 December 1994</td>
                    <td class="govuk-table__cell"><span class="verified-badge verified">
                        <b>Verified</b>
                    </span></td>
                    <td class="govuk-table__cell" style="text-align: right">
                      <a class="govuk-link" href="">Change</a>
                    </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of death</th>
                    <td class="govuk-table__cell">3 February 2019</td>
                    <td class="govuk-table__cell"><span class="verified-badge verified">
                        <b>Verified</b>
                    </span> </td>
                    <td class="govuk-table__cell" style="text-align: right">
                      <a class="govuk-link" href="">Change</a>
                    </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">State Pension</th>
                    <td class="govuk-table__cell">
                      {% if data['spclaim'] === 'claimed' %}
                  Claimed
                  {% elseif data['spclaim'] === 'notclaimed' %}
                  Not claimed
                  {% else %}
                  {% endif %}
                    </td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell" style="text-align: right">
                      <a class="govuk-link" href="change-sp-claim">
                        {% if not data.spclaim %}
                      Add<span class="govuk-visually-hidden"></span>
                      {% else %}
                      Change<span class="govuk-visually-hidden"></span>
                      {% endif %}</a>
                    </td>
                  </tr>

                </tbody>
              </table>





          <a href="widows-not-complete-1" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
          Continue
          </a>


        </form>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
