{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {% include 'includes/_bar-widows.html' %}

{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}

  <br><br>

  <h1 class="govuk-heading-l">Check to see if information has been returned</h1>

  <p class="govuk-body">A request for these details has been sent to the claimant:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Proof of late spouse's date of birth</li>
    <li>Proof of date of marriage</li>
  </ul>


<br><br>


<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Claimant details
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <table class="govuk-table">
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">First name </th>
            <td class="govuk-table__cell">Michael</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>

          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Last name</th>
            <td class="govuk-table__cell">Penny</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Address</th>
            <td class="govuk-table__cell">55 Main Street
              <br>Guildford
              <br>GU79 6YW</td>
            <td class="govuk-table__cell"></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Marital status</th>
            <td class="govuk-table__cell">Widowed</td>
            <td class="govuk-table__cell"></td>
          </tr>

          <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Date of birth</th>
        <td class="govuk-table__cell">12 January 1940</td>
        <td class="govuk-table__cell"><span class="verified-badge verified">
          <b></b>
          <td class="govuk-table__cell" style="text-align: right">
        </td>
        </span> </td>

      </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Age when widowed</th>
            <td class="govuk-table__cell">49</td>
            <td class="govuk-table__cell"></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">State Pension date</th>
            <td class="govuk-table__cell">13 July 2020</td>
            <td class="govuk-table__cell"></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
        Spouse or civil partner details
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <table class="govuk-table">
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">First name </th>
            <td class="govuk-table__cell">Sandra</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>

          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Last name</th>
            <td class="govuk-table__cell">Penny</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Gender</th>
            <td class="govuk-table__cell">Female</td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                                    <a class="govuk-link" href="nino"></a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Address</th>
            <td class="govuk-table__cell">55 Main Street
              <br>Guildford
              <br>GU79 6YW</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>

          </tr>
              <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td class="govuk-table__cell">25 March 1942</td>
            <td class="govuk-table__cell"><span class="verified-badge verified">
              <b>Verified</b>
            <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                                    <a class="govuk-link" href="nino"></a>
            </td>
            </span> </td>

          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of death</th>
            <td class="govuk-table__cell">6 July 2021</td>
            <td class="govuk-table__cell"><span class="verified-badge verified">
              <b>Verified</b>
            </span> </td>
            <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                                    <a class="govuk-link" href="nino"></a>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of marriage</th>
            <td class="govuk-table__cell">6 August 1967</td>
            <td class="govuk-table__cell"><span class="verified-badge verified">
              <b>Unverified</b>
            </span> </td>
            <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                                    <a class="govuk-link" href="date-of-marriage"></a>
            </td>
          </tr>

           <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 40%">National Insurance number</th>
            <td class="govuk-table__cell" style="width: 30%">JS 12 34 56 D</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell" style="text-align: right" style="width: 5%">

            </td>
          </tr>


        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Has this information been returned?
      </h1>
    </legend>
    <div id="changed-name-hint" class="govuk-hint">

    </div>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>



          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>




        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
