{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {% include 'includes/_bar-widows.html' %}

{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}

  <br><br>

  <h1 class="govuk-heading-l">Find and enter the missing details</h1>
  <p>Use CAM, OLE or Searchlight to find the missing details.</p>
  <p>2 letters have been sent to get the missing details - you do not need to send another.</p>

<br><br>

        <h2 class="govuk-heading-m">Claimant details</h2>


          <table class="govuk-table">
            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">First name </th>
                <td class="govuk-table__cell">Michael</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>

              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Last name</th>
                <td class="govuk-table__cell">Penny</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Address</th>
                <td class="govuk-table__cell">55 Main Street
                  <br>Guildford
                  <br>GU79 6YW</td>
                <td class="govuk-table__cell"></td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Marital status</th>
                <td class="govuk-table__cell">Widowed</td>
                <td class="govuk-table__cell"></td>
              </tr>

              <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td class="govuk-table__cell">12 January 1940</td>
            <td class="govuk-table__cell"><span class="verified-badge verified">
              <b></b>
              <td class="govuk-table__cell" style="text-align: right">
            </td>
            </span> </td>

          </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Age when widowed</th>
                <td class="govuk-table__cell">49</td>
                <td class="govuk-table__cell"></td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">State Pension date</th>
                <td class="govuk-table__cell">13 July 2020</td>
                <td class="govuk-table__cell"></td>
              </tr>

            </tbody>
          </table>


<br>  <br>
        <h2 class="govuk-heading-m">Spouse or civil partner details</h2>

            <form method="post">


              <table class="govuk-table">
                <tbody class="govuk-table__body">

                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">First name </th>
                    <td class="govuk-table__cell">Sandra</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>

                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Last name</th>
                    <td class="govuk-table__cell">Penny</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Gender</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"> </td>
                    <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                                            <a class="govuk-link" href="nino">Add</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Address</th>
                    <td class="govuk-table__cell">55 Main Street
                      <br>Guildford
                      <br>GU79 6YW</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>

                  </tr>
                      <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of birth</th>
                    <td class="govuk-table__cell">25 March 1942</td>
                    <td class="govuk-table__cell"><span class="verified-badge verified">
                      <b>Verified</b>
                    <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                                            <a class="govuk-link" href="nino">Change</a>
                    </td>
                    </span> </td>

                  </tr>

                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of death</th>
                    <td class="govuk-table__cell">6 July 2021</td>
                    <td class="govuk-table__cell"><span class="verified-badge verified">
                      <b>Verified</b>
                    </span> </td>
                    <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                                            <a class="govuk-link" href="nino">Change</a>
                    </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of marriage</th>
                    <td class="govuk-table__cell">6 August 1967</td>
                    <td class="govuk-table__cell"><span class="verified-badge verified">
                      <b>Unverified</b>
                    </span> </td>
                    <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                                            <a class="govuk-link" href="date-of-marriage">Change</a>
                    </td>
                  </tr>

                   <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="width: 40%">National Insurance number</th>
                    <td class="govuk-table__cell" style="width: 30%">JS 12 34 56 D</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell" style="text-align: right" style="width: 5%">

                    </td>
                  </tr>


                </tbody>
              </table>


<br>

        <div class="govuk-button-group">
      <a href="inheritable-amounts" button type="submit" style="margin-left: 2%" class="govuk-button">
        Continue
      </a>
                </div>





        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
