{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/servicename-tasks.html' %}


{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-full">

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">
<br>


  <div class="govuk-form-group">
    <strong class="govuk-tag govuk-tag--turquoise">Administrator - Sarah Jones</strong>
      <br>
      <br>
</div>

<div class="govuk-button-group">
  <a href="admin4" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
  Summary
  </a>

  <a href="admin4-cases" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  All cases
  </a>

  <a href="admin4-death" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Change a verified date
  </a>

  <a href="admin4-remove" role="button" draggable="false" button class="govuk-button govuk-button--warning" data-module="govuk-button" >
    Delete account
  </a>


</div>



<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            {% include './_bar.html' %}

          </div>
        </div>
      </main>




      <form method="post" action="admin4-death">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            </legend>
            <h1 class="govuk-heading-l">Date of marriage</h1>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="dead-day"
                    type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                    name="dead-month" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                    name="dead-year" type="number" pattern="[0-9]*">
                </div>
              </div>
            </div>

          </fieldset>
        </div>

        <fieldset class="govuk-fieldset" aria-describedby="verified-or-notverified-hint">
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="verified-or-notverified-1" name="verified-or-notverified" type="radio"
                value="verified">
              <label class="govuk-label govuk-radios__label" for="verified-or-notverified-1">
                Verified
              </label> </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="verified-or-notverified-2" name="verified-or-notverified" type="radio"
                value="not-verified">
              <label class="govuk-label govuk-radios__label" for="verified-or-notverified-2">
                Not verified
              </label> </div>
          </div>
        </fieldset>
<br>
  <a href="admin4-death" role="button" class="govuk-button">
    Continue
  </a>



</div>

</div>




    </div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
