{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <br>

      <form method="post">

          {% include './_bar.html' %}


    <fieldset class="govuk-fieldset">

<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
<h1 class="govuk-fieldset__heading">
Enter address manually</h1>
</legend>

<br>

<div class="govuk-form-group">
<label class="govuk-label" for="address-line-1">
Property number or name<span class="govuk-visually-hidden">line 1 of 2</span>
</label>
<input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1">
</div>

<div class="govuk-form-group">
<label class="govuk-label" for="address-town">
Street name
</label>
<input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2">
</div>

<div class="govuk-form-group">
<label class="govuk-label" for="address-county">
Town or city</label>
<input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
</div>

<div class="govuk-form-group">
<label class="govuk-label" for="address-postcode">
Postcode
</label>
<input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
</div>

</fieldset>



    <button type="submit" class="govuk-button">
Confirm    </button>

  </form>



        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
