{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Fix HMRC note issue
        </h1>
        <p>Use the note information to either:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>complete the BIC (1) form and email it to HMRC</li>
            <li>write to the employer or scheme administrator</li>
          </ul>

        <form method="post">
          <br>
          <a href="filter-notes-task-info" button class="govuk-button" data-module="govuk-button">
            Start this task
          </a>
          <a href="get-a-task" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
            Return task to queue
          </a>

        </div>

      </div>

    </div>


      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
