{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

              {% include './_bar.html' %}

        <form method="post">


          <h2 class="govuk-heading-l">Update the claimant's address</h2>
        <p>New overseas address received. Check CIS to get the the claimant's new address.</p>
<br><br>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                How do you want to continue?
              </h1>
            </legend>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="change">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  Update address manually
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="exit">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
          Enter claimant's record</label>
              </div>



  </fieldset>
</div>

<!--

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m"></caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Error name</th>
      <th scope="col" class="govuk-table__header">Invitation code</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Overseas addresses</td>
      <td class="govuk-table__cell">12345</td>
    </tr>

  </tbody>
</table>

-->
<!--

        <p>Use this information to fix the error.</p>

            <div class="govuk-inset-text">
              <p>The error name is Overseas address</p>
              <p>The invitation code is 12345</p>
</div>

-->

              </div>



          </div>
<br><br>

          <a href="get-a-task-complete" button class="govuk-button" data-module="govuk-button">
            Continue</a>


          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
              <b>URL, errors and notes</b>
              </span>
            </summary>
            <div class="govuk-details__text">

              <strong>URL:</strong> /api-issue <br>
              <b>Error messages:<br>
              Nothing selected - </b> Select how you want to continue<br>
              <b>Notes:</b> None <br>
            </div>
          </details>

      </div>

    </div>

    </div>

<script>
    nextPageRoutes = {
        'change': '/filter-notes-task/update-address.html',
        'exit': '/filter-notes-task/exit-task.html',
        }
</script>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
