.app-c-tag {
  background-color: #d3e2f2;
  color: #2f5785;
  display: inline-block;
  font-family: 'nta', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.25;
  padding: 5px 8px 0;
  text-decoration: none;
  text-transform: uppercase;
}

.app-c-tag--success {
  background-color: #005ea5;
  color: #fff;
}

.app-c-tag--warning {
  background-color: #b58840;
  color: #fff;
}

.app-c-tag--remote {
  background-color: #c07e33;
  color: #fff;
}

.app-c-tag--danger {
  background-color: #df3034;
  color: #fff;
}

.app-c-tag--dead {
  background-color: #0b0c0c;
  color: #fff;
}

.app-c-tag--disabled {
  background-color: #6F777B;
}

.app-c-tag--ready {
  background-color: rgb(0, 112, 60);
  color: #fff;
}
