.timeline {
  border-left: 3px solid #005ea5;
}

.timeline-entry {

  margin: 2em 0;
  padding-left: 1em;
  position: relative;
}

.timeline-entry::before {
  background-color: #005ea5;
  content: ' ';
  height: 3px;
  left: 0;
  position: absolute;
  top: .5em;
  width: 10px;
}

.timeline-title {
  font-family: 'nta', Arial, sans-serif;
  display: block;
  font-weight: 700;
}

.timeline-author,
.timeline-date {
  font-family: 'nta', Arial, sans-serif;
  color: #6f777b;
  display: block;
}

.timeline-info {
  font-family: 'nta', Arial, sans-serif;
  margin-top: 0;
}

.timeline-body {
  font-family: 'nta', Arial, sans-serif;
  display: block;
}
