// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

@import 'most-recent';
@import 'index-top';
@import 'key-details-bar';
@import 'key-details-bar-white';
@import 'key-details-bar2';
@import 'navigation-global';
@import 'timeline';
@import 'navigation-secondary';
@import 'app-c-tag';
@import 'verified-badge';
@import 'not-verified-badge';
@import 'work-queue-nav';
// @import 'alert-warning';
// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.award_detail {

    width: 50%;

}

.award_detail2 {

    width: 56%;

}
