{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
serviceName: serviceName,
serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% include './_find-someone.html' %}



<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-two-thirds">

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">

                {% if data['imprisoned-day'] or data['dead-day'] %}
                {% set status = data['stopped-reason'] %}
                {% else %}
                {% set status = 'Payment returned'%}
                {% endif %}

                <div>
                  <h1 class="govuk-heading-xl">
                    Rachel Smith<br>
                    <span class="govuk-caption-xl">QQ 12 34 56 X</span>
                    <span class="app-c-tag">Receiving State Pension</span>
                  </h1>
                </div>

              </div>
            </div>

          </div>
        </div>
      </main>

      <a href="overview" class="govuk-back-link">Back</a>

      <br><br>

      <h2 class="govuk-heading-l">Spouse details</h2>
     
      <div class="govuk-form-group">

          <label class="govuk-label" for="firstname">
            <b>First name</b>
          </label>
          <input class="govuk-input" id="firstname" name="firstname" type="text">

        </br>
      </br>

      <label class="govuk-label" for="surname">
        <b>Surname</b>
      </label>
      <input class="govuk-input" id="surname" name="surname" type="text">

    </br>
  </br>

  <label class="govuk-label" for="othernameOh ">
    <b>Any other names</b></br>
    <span class="govuk-hint">
      Include maiden name, former married names and changes of family name.
    </span>
  </label>
  <input class="govuk-input" id="firstname" name="firstname" type="text">

</br>
</br>

<p>
  <a href="#" class="govuk-link">Add another name</a>
  </p>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="expiry-hint" role="group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"> Date of birth
    </legend>
    <div class="govuk-date-input" id="expiry">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="expiry-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-day" name="expiry-day" type="number" pattern="[0-9]*">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="expiry-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-month" name="expiry-month" type="number" pattern="[0-9]*">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="expiry-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiry-year" name="expiry-year" type="number" pattern="[0-9]*">
        </div>
      </div>
    </div>
  </fieldset>
</div>



<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="expiry-hint" role="group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"> Date of marriage
    </legend>
    <div class="govuk-date-input" id="expiry">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="expiry-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-day" name="expiry-day" type="number" pattern="[0-9]*">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="expiry-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-month" name="expiry-month" type="number" pattern="[0-9]*">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="expiry-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiry-year" name="expiry-year" type="number" pattern="[0-9]*">
        </div>
      </div>
    </div>
  </fieldset>
</div>

</div>

      </div>


    </div>




  </main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}