{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <a href="find-1" class="govuk-back-link">Back</a>
    <br><br>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Claim already processed</h1>



        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m"></caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">National Insurance number</th>
              <td class="govuk-table__cell">QQ 12 34 56 M</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Full name</th>
              <td class="govuk-table__cell">John Smith</td>
            </tr>
          </tbody>
        </table>

       

<br>
        <p>This claimant is already in receipt of a State Pension and being paid via legacy systems.</p>

        <br>
        <a href="get-a-claim" button type="submit" class="govuk-button">
          End task
          </button>
        </a>
      </div>

    </div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
