{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">



  <main class="govuk-main-wrapper " id="main-content" role="main">
                      {% include 'includes/_bar.html' %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="bank" class="govuk-back-link">Back</a>

        <form method="post" action="check-answers">
<br>
          <h1 class="govuk-heading-xl">
             Has the claimant signed the form?
          </h1>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="changed-name">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="changed-name-2">
                No
              </label>
            </div>
          </div>
          <br>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <a href="check-answers5" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
            Cannot complete this page
          </a>
        </form>




 </form>



</div>

</main>
</div>

{% endblock %}
