{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">

  <br><br>




  <div class="govuk-grid-column-two-thirds">
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
Task complete        </h3>
      </div>
    </div>

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">

          {% include './_bar.html' %}

          {% include './tabs/_tab-overview2.html' %}

        </div>
      </div>
    </main>

    <br>
    <br>


    <div>
      <h2 class="govuk-heading-m">Personal details</h2>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 50%" >Full name</th>
            <td class="govuk-table__cell" style="width: 50%">Gabrielle Lewis</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="change-name">
              Change
            </a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">National Insurance number</th>
            <td class="govuk-table__cell">QQ 12 34 56 X</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td class="govuk-table__cell">25 February 1957</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">State Pension date </th>
            <td class="govuk-table__cell">25 February 2023</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Marital status </th>
              <td class="govuk-table__cell">Married</td>
              <td class="govuk-table__cell"><a class="govuk-link" href=change-maritalstatus>
                  Details
                </a></td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Lived or worked abroad </th>
                <td class="govuk-table__cell">Yes</td>
                <td class="govuk-table__cell"><a class="govuk-link" href="lived-worked-details-started">
                    Details
                  </a></td>
              </tr>

        </tbody>
      </table>

    </div>
    <a class="govuk-body" href="death-date">
      Stop State Pension
    </a>
  </div>




  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">
      Personal changes
    </h2>
    <ol class="app-timeline">
      <li class="app-timeline__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            Part B of BR403 returned
          </h3>
          <p class="app-timeline__info govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden"></span>
            <span class="app-timeline__date">
              23 May 2023</span>
        </li>
        <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">

  Part A of BR403 sent to Pension Credit team
            </h3>
            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden"></span>
              <span class="app-timeline__date">
                8 February 2023</span>
          </li>

      <li class="app-timeline__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          Claim received
          </h3>
          <p class="app-timeline__info govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden"></span>
            <span class="app-timeline__date">
              8 February 2023</span>
        </li>

    </ol>

  </div>


</div>
</div>
</main>
</div>
<!-- </div> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
