{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav.html' %}

{% block headEnd %}
{% endblock %}

{% include './_find-someone-enquiries.html' %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}


          <a href="cancel-award" class="govuk-back-link">Back</a>
          <br><br>

            <h1 class="govuk-heading-l">Does the claimant want to defer from their State Pension date?</h1>

            <div class="govuk-inset-text">
              State Pension date: 15 November 2020
            </div>
         <form method="post">

            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claim" name="claim" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="claim">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claim-2" name="claim" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="claim-2">
                  No
                </label>
              </div>
            </div>

            <br>
            <button type="submit" class="govuk-button">
              Continue
            </button>
        </form>
        </div>
      </div>


    </main>
  </div>
</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
