{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}

        <form method="post"">
          <h1 class="govuk-heading-l">Lived or worked abroad</h1>

<bR>

            <table class="govuk-table">
              <h2 class="govuk-heading-m" style="margin-bottom:-27px;float:left">Ireland</h2>
              <br><br>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Lived</th>
                  <td class="govuk-table__cell">Mar 1957 to Feb 1992
            </td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Worked</th>
                  <td class="govuk-table__cell"style="width: 60%">Mar 1972 to Feb 1992</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Social security number</th>
                  <td class="govuk-table__cell">8456293M/Y</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">CFN901</th>
                  <td class="govuk-table__cell"">Sent</td>
                  <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="margin-bottom:-27px;float:right"> </a></td>
                </tr>
              {% if data.mixedyearsireland %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Partial quaifying years</th>
                  <td class="govuk-table__cell"style="width: 35%">{{data.mixedyearsireland}}</td>
                  <td class="govuk-table__cell"><a href="mixed-years-ireland" class="govuk-link govuk-link--no-visited-state" style="margin-bottom:-27px;float:right">
                    {% if data.irelandinsurance %}
                                  {% else %}
                                  {% endif %} </a></td></tr>
                {% else %}
                {% endif %}

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Insurance record</th>
                  <td class="govuk-table__cell">Requested</td>
                  <td class="govuk-table__cell"></td>
                </tr>

              </tbody>
            </table>

<Br>


</div>
</div>



<button class="govuk-button" data-module="govuk-button">
  End task
</button>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
