{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->

{% include './_header-nav-tasks.html' %}

{% block headEnd %}
{% endblock %}




<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if data['address'] === '104D Boundary Lane, Manchester, M15 6FD' %}
        <div class="moj-banner moj-banner--success">

          <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
            <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
          </svg>

          <div class="moj-banner__message">
            <span class="moj-banner__assistive">Success</span>Address matched?
          </div>

        </div>
        {% endif %}

        {% if data['address-search'] === '104D Boundary Lane, Manchester, M15 6FD' %}
        <div class="moj-banner moj-banner--success">

          <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
            <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
          </svg>

          <div class="moj-banner__message">
            <span class="moj-banner__assistive">Success</span>Address matched?
          </div>

        </div>
        {% endif %}

        {% if data['address-search'] === 'Address not found' %}
        <div class="moj-banner">

    <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
      <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
      C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
    </svg>

    <div class="moj-banner__message">

      <p>The address has not been matched and... whatever we decide happens to it</p>
    </div>

  </div>
        {% endif %}

      <br>
      <h1 class="govuk-heading-xl">Address match 🏗️
      </h1>
      <p> Address update from CIS, match to our location service 🏗️
      </p>


        <form method="post">

<br>
          <button class="govuk-button" data-module="govuk-button">
            Start this task
          </button>



     <a href="tasks" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
          Return task to queue
        </a>

        </form>



        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
