{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}

      <form method="post" action="payment">

        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
                          }) }}
                          
          <br><br>
          <h2 class="govuk-heading-l">Payment frequency</h2>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-frequency" name="frequency" type="radio" value="Weekly">
                  <label class="govuk-label govuk-radios__label" for="payment-frequency-1">
                    Every week
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-frequency" name="frequency" type="radio" value="Every 2 weeks">
                  <label class="govuk-label govuk-radios__label" for="payment-frequency-2">
                    Every 2 weeks
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-frequency" name="frequency" type="radio" value="Every 4 weeks"checked>
                  <label class="govuk-label govuk-radios__label" for="payment-frequency-2">
                    Every 4 weeks
                  </label>
                </div>

              </div>
            </fieldset>
          </div>


          <button type="submit" class="govuk-button">Save</button>
        </div>
      </div>
    </main>

  </form>
</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
