{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<br><br><br>
<div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">

      <main id="content" role="main">
        <div class="grid-row">


          {% include './_bar.html' %}

            <a href="personal" button type="submit" class="govuk-button">
              Continue</a>
            </main>
    </div>

</div>


{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
