{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <br>
        <div>
          <a href="tasks-2" class="govuk-back-link">Back</a>
        </div>
        <br>
        <form method="post">

          <h1 class="govuk-heading-xl">Consider spouse entitlement</h1>


          <h2 class="govuk-heading-m">Spouse's details</h2>

          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 40%">National Insurance number</th>
                <td class="govuk-table__cell" style="width: 35%">QQ123456Y</td>
                <td class="govuk-table__cell" style="width: 20%"></td>
                <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                  <a class="govuk-link" href="add-nino">Change</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">First name </th>
                <td class="govuk-table__cell">David</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>

              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Last name</th>
                <td class="govuk-table__cell">Smith</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>

              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Other names</th>
                <td class="govuk-table__cell">John</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell" style="text-align: right">
                  <!-- <a class="govuk-link" href="add-othernames">Add</a> -->
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of birth</th>
                <td class="govuk-table__cell">17 July 1950</td>
                <td class="govuk-table__cell"><span class="verified-badge verified">
                  <b>Verified</b>
                </span>
              </td>
                <td class="govuk-table__cell" style="text-align: right">
                                
                 </td>

              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of marriage</th>
                <td class="govuk-table__cell">8 April 1987</td>
                <td class="govuk-table__cell"><span class="verified-badge not-verified">
                    <b>Not verified</b>
                  </span> </td>
                <td class="govuk-table__cell" style="text-align: right">
                  <a class="govuk-link" href="add-dom">Change</a>
                </td>
              </tr>

            </tbody>
          </table>


          <h2 class="govuk-heading-m">Claimant's details</h2>

          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 37%">National Insurance number</th>
                <td class="govuk-table__cell" style="width: 63%">QQ123456X</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Full name</th>
                <td class="govuk-table__cell">Rachel Smith</td>
                <td class="govuk-table__cell"></td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Address</th>
                <td class="govuk-table__cell">55 Main Street
                  <br>Guildford
                  <br>GU79 6YW</td>
                <td class="govuk-table__cell"></td>
              </tr>

            </tbody>
          </table>

          <a href="tasks-4" button type="submit" class="govuk-button">
            Continue
            </button>
          </a>
        </form>



      </div>

    </div>

</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}