{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}

<form method="post">

<h1 class="govuk-heading-l">Request insurance record from Spain</h1>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">UK Address</th>
      <td class="govuk-table__cell" style="width: 60%">St Mary's Road<br>Brixham<br>Devon<br>TQ5 9QW</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Date of Birth</th>
      <td class="govuk-table__cell" style="width: 60%">23 March 1957</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Lived</th>
      <td class="govuk-table__cell">Jun 1992 to Dec 2006</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Worked</th>
      <td class="govuk-table__cell">Jun 1992 to Nov 2006</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Social security number</th>
      <td class="govuk-table__cell">LBMSE93</td>
      <td class="govuk-table__cell"></td>
    </tr>
  </tbody>
</table>

<br>

<!-- <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="spaininsurance-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Have you sent the request?
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="spaininsurance" name="spaininsurance" type="radio" value="Sent">
        <label class="govuk-label govuk-radios__label" for="spaininsurance">
          Yes, sent it
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="spaininsurance-2" name="spaininsurance" type="radio" value="Not sent">
        <label class="govuk-label govuk-radios__label" for="spaininsurance-2">
          No, not enough information
        </label>
      </div>
    </div>
  </fieldset>
</div> -->

<button class="govuk-button" data-module="govuk-button">
  Confirm request sent
</button>
<br>
<p><a href="#" class="govuk-link govuk-link--no-visited-state">Request not sent</a></p>

        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
