{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}

<h1 class="govuk-heading-l">Time spent abroad</h1>
<bR>

            <table class="govuk-table">
              <h2 class="govuk-heading-m" style="margin-bottom:-27px;float:left">Spain</h2>
              {% if data.mixedyearsspain%}
              {% else %}
                  <a href="mixed-years-spain" <span class="govuk-link govuk-!-font-size-19" style="margin-left: 54%">Check for qualifying years</span>
                {% endif %}
              </a>
              <br><br>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Lived</th>
                  <td class="govuk-table__cell">Jun 1992 to Dec 2006</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Worked</th>
                  <td class="govuk-table__cell">Jun 1992 to Nov 2006</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Social security number</th>
                  <td class="govuk-table__cell">LBMSE93</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">CFN901</th>
                  <td class="govuk-table__cell"">Sent</td>
                  <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="margin-bottom:-27px;float:right"> </a></td>
                </tr>
                {% if data.mixedyearsspain%}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Partial quaifying years</th>
                  <td class="govuk-table__cell"style="width: 35%">{{data.mixedyearsspain}}</td>
                  <td class="govuk-table__cell"><a href="mixed-years-spain" class="govuk-link govuk-link--no-visited-state" style="margin-bottom:-27px;float:right"> Change </a></td>
                </tr>
                {% else %}
                {% endif %}
              </tbody>
            </table>

<Br>

            <table class="govuk-table">
              <h2 class="govuk-heading-m" style="margin-bottom:-27px;float:left">Austria</h2>
              {% if data.mixedyearsaustria%}
              {% else %}
                  <a href="mixed-years-austria" <span class="govuk-link govuk-!-font-size-19" style="margin-left: 52%">Check for qualifying years</span></a>
                {% endif %}
              <br><br>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Lived</th>
                  <td class="govuk-table__cell">Jun 2011to Dec 2011</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Worked</th>
                  <td class="govuk-table__cell">Jul 2011 to Nov 2011</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Social security number</th>
                    <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="margin-bottom:-27px;float:right"></a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">CFN901</th>
                  <td class="govuk-table__cell">Sent</td>
                  <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="margin-bottom:-27px;float:right"></a></td>
                </tr>
                {% if data.mixedyearsaustria%}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Partial quaifying years</th>
                  <td class="govuk-table__cell"style="width: 35%">{{data.mixedyearsaustria}}</td>
                  <td class="govuk-table__cell"><a href="mixed-years-austria" class="govuk-link govuk-link--no-visited-state" style="margin-bottom:-27px;float:right"> Change </a></td>
                </tr>
                {% else %}
                {% endif %}
              </tbody>
            </table>
</div>
</div>



<button class="govuk-button" data-module="govuk-button">
  Continue
</button>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
