{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      This claimant has asked for letters in Welsh.
      <a class="govuk-notification-banner__link" href="#"></a>
    </p>
  </div>
</div>

        {% include 'widows/conversion-task/_bar.html' %}

{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}

  <br><br>
  <form method="post">

      <div class="govuk-form-group">
          <h1 class="govuk-heading-l">More information needed</h1>
          <br>
<p>Send a letter to the claimaint asking them to send in their:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>certificate of marriage or civil partnership</li>
    <li>spouse's birth certificate</li>
      <li>spouse's death certificate</li>
        <li>spouse's National Insurance number</li></ul>
        <p>A new task will be created to check for information again in 2 weeks.</p>


      <br>

      <button class="govuk-button" data-module="govuk-button">
        Confirm letter sent
      </button>


      </div>

    </div>

</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
