{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-enquiries.html' %}

{% block headEnd %}
{% endblock %}

{% include './_find-someone-enquiries.html' %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}

          <form method="post" action="manual-payment4">

            <a href="manual-payment3" class="govuk-back-link">Back</a>
            <br><br>
            <h2 class="govuk-heading-l">Payment amounts</h2>

            <!-- <h2 class="govuk-heading-m">Total payment</h2> -->
              
              <!-- <div class="govuk-currency-input__inner">
                <span class="govuk-currency-input__inner__unit">£</span>
                <input class="govuk-input govuk-currency-input__inner__input govuk-input--width-10" aria-label="Enter amount in pounds" name="tickets-cost" data-non-numeric type="text" id="tickets-cost" pattern="[0-9]\d*(\.\d+)?" {{ checked('tickets-cost','yes') }}>
              </div>
              <br><br> -->
              
              <!-- <h2 class="govuk-heading-m">Breakdown of total payment</h2> -->
              
              <span class="govuk-label govuk-date-input__label">New State Pension</span>
              <div class="govuk-currency-input__inner">
                <span class="govuk-currency-input__inner__unit">£</span>
                <input class="govuk-input govuk-currency-input__inner__input govuk-input--width-10" aria-label="Enter amount in pounds" name="tickets-cost" data-non-numeric type="text" id="tickets-cost" pattern="[0-9]\d*(\.\d+)?" {{ checked('tickets-cost','yes') }}>
              </div>
              <br>

              <span class="govuk-label govuk-date-input__label">Protected payment</span>
              <div class="govuk-currency-input__inner">
                <span class="govuk-currency-input__inner__unit">£</span>
                <input class="govuk-input govuk-currency-input__inner__input govuk-input--width-10" aria-label="Enter amount in pounds" name="tickets-cost" data-non-numeric type="text" id="tickets-cost" pattern="[0-9]\d*(\.\d+)?" {{ checked('tickets-cost','yes') }}>
              </div>
              <br>
              
            
            </div>






            <!--<div class="govuk-form-group">

               <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                  <tr class="govuk-table__row">
                  <tr class="govuk-table__row" style="width: 20%"></tr>
                  <th class="govuk-table__header" scope="col" style="width: 43%">Total</th>
                  <th class="govuk-table__header" scope="col">£650.72</th>
                  <th class="govuk-table__header" scope="col"></th>
                  </tr>
                </thead>

                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Period</td>
                    <td class="govuk-table__cell">29 December 2019 to <br>26 January 2020</td>
                    <th class="govuk-table__header" scope="col"></th>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Status</td>
                    <td class="govuk-table__cell">Sent</td>
                    <td class="govuk-table__cell"> <a href=#>Recall payment</a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <h2 class="govuk-heading-m">Account the payment was sent to</h2>
              <dl class="app-check-your-answers app-check-your-answers--short">
                  <table class="govuk-table">
                  <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row" style="width: 43%">Account holder </td>
                        <td class="govuk-table__cell">Mr K Adams</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td class="govuk-table__cell" scope="row">Account number</td>
                          <td class="govuk-table__cell">98765409</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Sort code</td>
                            <td class="govuk-table__cell">54 76 98</td>
                          </tr>
                    </tbody>
                  </table>
        
                  
            </div> -->

            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>

        </div>
      </div>
    </main>

    </form>
  </div>



</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}