{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-enquiries.html' %}

{% block headEnd %}
{% endblock %}

{% include './_find-someone-enquiries.html' %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">
          <br><br>
          {% include './_bar.html' %}

        </div>
        
      </div>
    </main>

  </div>
  <div class="govuk-grid-column-full">

  <a href="payment" class="govuk-back-link">Back</a>

    <br><br>
    

    <h2 class="govuk-heading-l">Payment history</h2>
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              
              <th class="govuk-table__header" scope="col" style="width: 35%">Payment date</th>
              <th class="govuk-table__header" scope="col" style="width: 25%">Amount</th>
              <th class="govuk-table__header" scope="col" style="width: 20%">Status</th>
              <th class="govuk-table__header" scope="col" style="width: 10%;"></th>
            </tr>
          </thead>
      <tbody class="govuk-table__body">
         

        <tr class="govuk-table__row">
        
          <td class="govuk-table__cell">Saturday 26 Jan 2020</td>
          <td class="govuk-table__cell">£650.72</td>
          <td class="govuk-table__cell" class="govuk-orange">Paid</class>
          </td>
          <td class="govuk-table__cell" style="text-align: right;"><a href="payment-details-1">Details</a></td>
        </tr>


        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">Saturday 28 Dec 2019</td>
          <td class="govuk-table__cell">£650.72</td>
          <td class="govuk-table__cell" class="govuk-orange">Paid</class>
          </td>
          <td class="govuk-table__cell" style="text-align: right;"><a href="payment-details-2">Details</a></td>
        </tr>

        <tr class="govuk-table__row">
          
            <td class="govuk-table__cell">Friday 21 Nov 2019</td>
            <td class="govuk-table__cell">£650.72</td>
            <td class="govuk-table__cell" class="govuk-orange">Paid</class>
            </td>
            <td class="govuk-table__cell" style="text-align: right;"><a href=#>Details</a></td>
          </tr>
            
            <tr class="govuk-table__row">
            
                <td class="govuk-table__cell">Friday 24 Oct 2019</td>
                <td class="govuk-table__cell">£650.72</td>
                <td class="govuk-table__cell" class="govuk-orange">Paid</class>
                </td>
                <td class="govuk-table__cell" style="text-align: right;"><a href=#>Details</a></td>
              </tr>

              <tr class="govuk-table__row">
            
                  <td class="govuk-table__cell">Friday 26 Sep 2019</td>
                  <td class="govuk-table__cell">£650.72</td>
                  <td class="govuk-table__cell" class="govuk-orange">Paid</class>
                  </td>
                  <td class="govuk-table__cell" style="text-align: right;"><a href=#>Details</a></td>
                </tr>

                <tr class="govuk-table__row">
            
                    <td class="govuk-table__cell">Friday 29 Aug 2019</td>
                    <td class="govuk-table__cell">£650.72</td>
                    <td class="govuk-table__cell" class="govuk-orange">Paid</class>
                    </td>
                    <td class="govuk-table__cell" style="text-align: right;"><a href=#>Details</a></td>
                  </tr>

                  <tr class="govuk-table__row">
            
                      <td class="govuk-table__cell">Friday 1 Aug 2019</td>
                      <td class="govuk-table__cell">£650.72</td>
                      <td class="govuk-table__cell" class="govuk-orange">Paid</class>
                      </td>
                      <td class="govuk-table__cell" style="text-align: right;"><a href=#>Details</a></td>
                    </tr>

                    <tr class="govuk-table__row">
            
                        <td class="govuk-table__cell">Friday 4 Jul 2019</td>
                        <td class="govuk-table__cell">£650.72</td>
                        <td class="govuk-table__cell" class="govuk-orange">Paid</class>
                        </td>
                        <td class="govuk-table__cell" style="text-align: right;"><a href=#>Details</a></td>
                      </tr>

                      <tr class="govuk-table__row">
            
                          <td class="govuk-table__cell">Friday 6 Jun 2019</td>
                          <td class="govuk-table__cell">£650.72</td>
                          <td class="govuk-table__cell" class="govuk-orange">Paid</class>
                          </td>
                          <td class="govuk-table__cell" style="text-align: right;"><a href=#>Details</a></td>
                        </tr>
                       
                
                     
            
                    <tr class="govuk-table__row">
                    
                      <td class="govuk-table__cell">Saturday 26 Jan 2020</td>
                      <td class="govuk-table__cell">£650.72</td>
                      <td class="govuk-table__cell" class="govuk-orange">Paid</class>
                      </td>
                      <td class="govuk-table__cell" style="text-align: right;"><a href="payment-details-1">Details</a></td>
                    </tr>
            
            
                    <tr class="govuk-table__row">
                      
                      <td class="govuk-table__cell">Saturday 28 Dec 2019</td>
                      <td class="govuk-table__cell">£650.72</td>
                      <td class="govuk-table__cell" class="govuk-orange">Paid</class>
                      </td>
                      <td class="govuk-table__cell" style="text-align: right;"><a href="payment-details-2">Details</a></td>
                    </tr>
            
                    <tr class="govuk-table__row">
                      
                        <td class="govuk-table__cell">Friday 21 Nov 2019</td>
                        <td class="govuk-table__cell">£650.72</td>
                        <td class="govuk-table__cell" class="govuk-orange">Paid</class>
                        </td>
                        <td class="govuk-table__cell" style="text-align: right;"><a href=#>Details</a></td>
                      </tr>
                        
                        <tr class="govuk-table__row">
                        
                            <td class="govuk-table__cell">Friday 24 Oct 2019</td>
                            <td class="govuk-table__cell">£650.72</td>
                            <td class="govuk-table__cell" class="govuk-orange">Paid</class>
                            </td>
                            <td class="govuk-table__cell" style="text-align: right;"><a href=#>Details</a></td>
                          </tr>
            
                          <tr class="govuk-table__row">
                        
                              <td class="govuk-table__cell">Friday 26 Sep 2019</td>
                              <td class="govuk-table__cell">£650.72</td>
                              <td class="govuk-table__cell" class="govuk-orange">Paid</class>
                              </td>
                              <td class="govuk-table__cell" style="text-align: right;"><a href=#>Details</a></td>
                            </tr>
            
                            <tr class="govuk-table__row">
                        
                                <td class="govuk-table__cell">Friday 29 Aug 2019</td>
                                <td class="govuk-table__cell">£650.72</td>
                                <td class="govuk-table__cell" class="govuk-orange">Paid</class>
                                </td>
                                <td class="govuk-table__cell" style="text-align: right;"><a href=#>Details</a></td>
                              </tr>
            
                              <tr class="govuk-table__row">
                        
                                  <td class="govuk-table__cell">Friday 1 Aug 2019</td>
                                  <td class="govuk-table__cell">£650.72</td>
                                  <td class="govuk-table__cell" class="govuk-orange">Paid</class>
                                  </td>
                                  <td class="govuk-table__cell" style="text-align: right;"><a href=#>Details</a></td>
                                </tr>
            
                                <tr class="govuk-table__row">
                        
                                    <td class="govuk-table__cell">Friday 4 Jul 2019</td>
                                    <td class="govuk-table__cell">£650.72</td>
                                    <td class="govuk-table__cell" class="govuk-orange">Paid</class>
                                    </td>
                                    <td class="govuk-table__cell" style="text-align: right;"><a href=#>Details</a></td>
                                  </tr>
            
                                  <tr class="govuk-table__row">
                        
                                      <td class="govuk-table__cell">Friday 6 Jun 2019</td>
                                      <td class="govuk-table__cell">£650.72</td>
                                      <td class="govuk-table__cell" class="govuk-orange">Paid</class>
                                      </td>
                                      <td class="govuk-table__cell" style="text-align: right;"><a href=#>Details</a></td>
                                    </tr>

                
        </tbody>
        </table>



        <nav class="moj-pagination" id="pagination-label">

          <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
          
          <ul class="moj-pagination__list">
         
          
          <li class="moj-pagination__item moj-pagination__item--active">1</li>
          
          <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=1">2</a></li>
          
          <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3">3</a></li>
          
          <li class="moj-pagination__item  moj-pagination__item--next">
            <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
          </li>
          </ul>
          <p class="moj-pagination__results">Showing <b>10</b> to <b>20</b> of <b>30</b> results</p>
          </nav> 


  </div>


</div>
</div>
</main>
</div>
<!-- </div> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}