{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav-tasks.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              Task returned to queue
            </p>
          </div>
        </div>


      <br>
        <h1 class="govuk-heading-xl">Tasks</h1>

        <form method="post">

        <nav class="moj-sub-navigation" aria-label="Sub navigation">

                  <ul class="moj-sub-navigation__list">
                    <li class="moj-sub-navigation__item">
                      <a class="moj-sub-navigation__link" aria-current="page" href="get-a-task">New claims</a>
                    </li>

                    <li class="moj-sub-navigation__item">
                      <a class="moj-sub-navigation__link" href="tasks-award">Award updates (SRBs)</a>
                    </li>

                    <li class="moj-sub-navigation__item">
                      <a class="moj-sub-navigation__link" href="tasks-alt-formats">Alternative formats</a>
                    </li>

                    <li class="moj-sub-navigation__item">
                      <a class="moj-sub-navigation__link" href="tasks-conversions">Widows conversions</a>
                    </li>

                    <li class="moj-sub-navigation__item">
                      <a class="moj-sub-navigation__link" href="tasks-other">Other</a>
                    </li>

                  </ul>

                </nav>

</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
              <h1 class="govuk-heading-l">New claims</h1>
  </div>
  </div>

          <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-m">New claims (widows)
    <p class="govuk-body-l"><a href="#" class="govuk-link"><b>Get next task</b></a></p></h1>

  </div>
  <div class="govuk-grid-column-one-quarter">
        <h3 class="govuk-heading-l">209
          <p class="govuk-body govuk-!-font-size-24">total tasks</p>
        </h3>
  </div>
  <div class="govuk-grid-column-one-quarter">
        <h3 class="govuk-heading-l">182
          <p class="govuk-body govuk-!-font-size-24">tasks ready to work</p>
        </h3>
  </div>

</div>

  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  <br>


<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
  <h1 class="govuk-heading-m">New claims (post SPa)
  <p class="govuk-body-l"><a href="#" class="govuk-link"><b>Get next task</b></a></p></h1>

</div>
<div class="govuk-grid-column-one-quarter">
      <h3 class="govuk-heading-l">98
        <p class="govuk-body govuk-!-font-size-24">total tasks</p>
      </h3>
</div>
<div class="govuk-grid-column-one-quarter">
      <h3 class="govuk-heading-l">90
        <p class="govuk-body govuk-!-font-size-24">tasks ready to work</p>
      </h3>
</div>
</div>


  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  <br>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-m">Identity check
    <p class="govuk-body-l"><a href="security-check-task-details" class="govuk-link"><b>Get next task</b></a></p></h1>

  </div>
  <div class="govuk-grid-column-one-quarter">
        <h3 class="govuk-heading-l">102
          <p class="govuk-body govuk-!-font-size-24">total tasks</p>
        </h3>
  </div>
  <div class="govuk-grid-column-one-quarter">
        <h3 class="govuk-heading-l">89
          <p class="govuk-body govuk-!-font-size-24">tasks ready to work</p>
        </h3>
  </div>
  </div>

    </div>


      {% endblock %}

      {% block content %}

      {% endblock %}
