{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

              {% include './_bar.html' %}

        <form method="post" action="get-a-task-complete">


          <h1 class="govuk-heading-l">Phone the claimant</h1>

          <div class="govuk-inset-text">
            Refer to the SWIs for the questions and to NIRS to check the claimant's answers
          </div>

          <h1 class="govuk-heading-m">Contact numbers</h1>

 <p><strong>Mobile phone</strong>: 07944 382 789
 <br><strong>Home phone</strong>: 0191 289 3307
 <br><strong>Work phone</strong>: None<br>

 <h1 class="govuk-heading-m">Method of application</h1>

 <p>Online</p>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  What was the outcome of the call?
                </h1>
              </legend>
              <div id="changed-name-hint" class="govuk-hint">

              </div>
              <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="changed-name">
                    Passed
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    Failed
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    Refused to answer
                  </label>
                </div>
                <div class="govuk-radios__divider">or</div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    Could not reach claimant by phone
                  </label>
                </div>


              </div>
            </fieldset>


          </div>


          <button class="govuk-button" data-module="govuk-button">
            Confirm
          </button>

        </div>

      </div>

    </div>


      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
