{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}

  <form method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="improvement-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading" >
                  Check the claimant's information
                </h1>
              </legend>
              <div id="improvement-hint" class="govuk-hint">
              Check the claimant's information in OLE.
              </div>
              <br>
              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Claimant's dates</caption>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of birth</th>
                    <td class="govuk-table__cell">10 September 1957</td>
                  </tr>
                </tbody>
              </table>
              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">New Zealand</caption>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Lived</th>
                    <td class="govuk-table__cell">September 1990 to June 1991</td>
                  </tr>
                </tbody>
              </table>



              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Australia</caption>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Lived</th>
                    <td class="govuk-table__cell">June 1992 to December 2006</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Worked</th>
                    <td class="govuk-table__cell">June 1992 to November 2006</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Social security number</th>
                    <td class="govuk-table__cell">LBMSE93</td>
                  </tr>
                </tbody>
              </table>
              <h2 class="govuk-heading-m">Can the claimant's State Pension amount be increased?</h2>
              <div id="improvement-hint" class="govuk-hint">
              Use the claimant's information in OLE and the calculator.
              </div>

              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="improvement" name="improvement" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="improvement">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="improvement-2" name="improvement" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="improvement-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>




<button class="govuk-button" data-module="govuk-button">
  Continue
</button>

<br>
<a href="are-you-sure" class="govuk-link govuk-link--no-visited-state">ANZaC actions already complete</a>


        </div>

      </div>

      <br><br>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL, errors and notes</b>
          </span>
        </summary>
        <div class="govuk-details__text">

          <strong>URL:</strong> /anzac-task-check-information <br>
          <b>Error messages:</b> <br>Nothing selected: Select yes if the claimant's State Pension amount can be increased




        </div>
      </details>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
