{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


<p></p>

        <form method="post" action="get-a-task-2">

          <h1 class="govuk-heading-xl">Print and send form</h1>
          <p>Use the CFN901 System to generate the form for the claimant.</p>
          <p>Print the form and send it to the claimant with a reply envelope.</p>
<br>

<button class="govuk-button" data-module="govuk-button">
  Confirm form sent to claimant
</button>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
