{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}


{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-full">

          <div class="app-most-recent">


<p>
            Dear Ned Flanders,<br>
<br>
            Following your claim for State Pension, you will get:<br>
<bR>
            <b>£790.00 every 4 weeks</b><br>
<br>
            <b>One-off payment</b><br>
            You'll get a one-off payment of £9155.00 on 20 December 2022. This is because you backdated your State Pension.<br>
<br>
            It covers 20 March 2022 to 19 December 2022 and includes the £10 Christmas Bonus.<br>
<br>
            <b>Your regular payments</b><br>
            Your regular payments of £790.00 every 4 weeks start from 17 January 2023.<br>
<br>
</p>
            <p>
            <b>Why your payments are different</b><br>
            The amount of State Pension you get has changed since 20 March 2022. You are entitled to:
            <ul class="govuk-list govuk-list--bullet">
            <li>£186.25 a week from 20 March 2022 to 11 April 2022</li>
            <li>£197.50 a week from 12 April 2022</li>
            </ul>
            </p>

            <p>
<br>
            Yours sincerely,<br>
<br>
            The State Pension Team


</div>


</div>
</div>
</main>
<!-- </div> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
