{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}


{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-full">

          <div class="app-most-recent">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/88/Department_for_Work_and_Pensions_logo.svg/166px-Department_for_Work_and_Pensions_logo.svg.png" style="width:90px;height:70px;">
<br><br><br>
12 Leeds Road  <br>
Shipley  <br>
Bradford  <br>
BD18 7RE
                <br>  <br>  <br>     <br>
            <p>12 December 2022</p>
        <br>
<h3 class="govuk-heading-l">Your State Pension amount</h3>
            <p><b>If you would like braille, British Sign Language, a hearing<br>loop, translations, large print, audio or something else,<br> please telephone 0800 731 0469 or textphone 0800 731 7339.</b></p>


<p>
            Dear Ned Flanders,<br>
<br>
            Following your claim for State Pension, you will get:<br>
<bR>
            <b>£822.66 every 4 weeks</b><br>
<br>
            <b>One-off payment</b><br>
            You'll get a one-off payment of £9155.00 on 28 December 2022. This is <br>because you backdated your State Pension.<br>
<br>
            It covers 20 July 2022 to 19 March 2023 and includes the £10 <br>Christmas Bonus.<br>
<br>
<b>Your second payment</b><br>
You'll get £761.11 on 25 April 2023. It covers 20 March 2023 to 17 <br>April 2023.<br>
<br>
            <b>Your regular payments</b><br>
            Your regular payments of £790.00 every 4 weeks start from 17 <br>January 2023.<br>
<br>
</p>
            <p>
            <b>Why your payments are different</b><br>
            The amount of State Pension you get has changed since 20 <br>July 2022. You are entitled to:
            <ul class="govuk-list govuk-list--bullet">
            <li>£185.15 a week from 20 July 2022 to 11 April 2023</li>
            <li>£205.67 a week from 12 April 2023</li>
            </ul>
            </p>

            <p>
<br>
            Yours sincerely,<br>
<br>
            The State Pension Team


</div>


</div>
</div>
</main>
<!-- </div> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
