{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}

      <form method="post" action="personal-forms-sent">

        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
                          }) }}

          <br><br>
          <h2 class="govuk-heading-l">1. Complete RA liaison application</h2>

          <br>

          <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Claimant information</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Date of birth</th>
      <td class="govuk-table__cell">12 July 1954</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Gender</th>
      <td class="govuk-table__cell">Male</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">UK State Pension start date</th>
      <td class="govuk-table__cell">11 September 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Address</th>
      <td class="govuk-table__cell">57 Windsor Road<br>
Tunbridge Wells<br>
TN84 8IF</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Marital status</th>
      <td class="govuk-table__cell">Married</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Claim received</th>
      <td class="govuk-table__cell">12 October 2022</td>
    </tr>




  </tbody>
</table>


<table class="govuk-table">
<caption class="govuk-table__caption govuk-table__caption--m">Country information</caption>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">Jamaica</th>
    <td class="govuk-table__cell">LBMSE93</td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">Mauritius</th>
    <td class="govuk-table__cell">NDMSE93</td>
  </tr>
</tbody>
</table>

<br>
<h2 class="govuk-heading-l">2. Print and send application</h2>

<p>Print and send the completed application to the foreign authority. Upload the completed form to DRS.</p>
<p>Send a letter to the claimant to tell them we have completed the application.</p>
<br>
          <button type="submit" class="govuk-button">Confirm all actions completed</button>
        </div>
      </div>
    </main>

  </form>
</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
