{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <a href="find-1" class="govuk-back-link">Back</a>

    <br><br>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" action="dob">
        <hi class="govuk-heading-xl"> National Insurance number or invitation code
        </h1>




          <div class="govuk-form-group">
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>

            <button type="submit" class="govuk-button">
              Continue
            </button>

        </form>
        </div>

      </div>

    </div>

  </main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
