{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-two-thirds">

      <main id="content" role="main">
        <div class="grid-row">
<br>


{% include './name-bar/_bar-jose-prison.html' %}

        </div>
      </main>

            {{ govukBackLink({
              text: "Back",
              href: "javascript:history.go(-1)"
                              }) }}

      <form method="post">

<h1 class="govuk-heading-l">There has been an overpayment <br>
  of State Pension</h1>

<br><br>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="prison-overpayment-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Are you able to refer the overpayment to the debt management service now?
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="prison-overpayment" name="prison-overpayment" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="prison-overpayment">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="prison-overpayment-2" name="prison-overpayment" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="prison-overpayment-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>

          <button type="submit" class="govuk-button">Continue</button


</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /prison-overpayment <br>
        <b>Error messages:</b> Nothing selected: Select yes if you are able to refer the overpayment to the debt management service now <br>
        <b>Notes:</b> None <br>
      </div>
    </details>

  </div>

</div>




    </div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
