{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <dv class="column-full">


          <br><br>
          {% include './_bar.html' %}

<form method="post" action="award-updated-arrears">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

          <br>
          <br>

          <h2 class="govuk-heading-l">Lived or worked abroad</h2>

            <!--          <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                Waiting for Insurance Records. <a href="/international-record/ra-iteration-2/rf1-returned" class="govuk-link govuk-link--no-visited-state">Confirm records returned</a>.
              </strong>
            </div> -->
            </div>
                      <table class="govuk-table">
                        <h2 class="govuk-heading-m">Spain</h2>

                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Lived</th>
                            <td class="govuk-table__cell">Jun 1992 to Dec 2006</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Worked</th>
                            <td class="govuk-table__cell">Jun 1992 to Nov 2006</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Social security number</th>
                            <td class="govuk-table__cell" style="width: 45%">LBMSE93</td>
                          </tr>
                        </tbody>
                      </table>

<br>
                      <table class="govuk-table">
                        <h2 class="govuk-heading-m">France</h2>


                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Lived</th>
                            <td class="govuk-table__cell" style="width: 45%">Jun 1992 to Dec 2006</td>
                          </tr>
                      </table>
                      <table class="govuk-table">
                        <h2 class="govuk-heading-m" style="margin-bottom:-27px;float:left">Croatia</h2>
                        <a href="#" <span class="govuk-link govuk-!-font-size-19" style="margin-left: 52%"></span>
                        </a>
                        <br><br>
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Lived</th>
                            <td class="govuk-table__cell" style="width: 45%">Jun 1992 to Dec 2006</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Worked</th>
                            <td class="govuk-table__cell">Jun 1992 to Nov 2006</td>
                          </tr>


                        </tbody>
                      </table>
        </div>
      </div>


</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <br><br>
      <h2 class="govuk-heading-m">
      </h2>
      <ol class="app-timeline">

        <li class="app-timeline__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            Claims sent for EEA pensions
          </h3>

          <p class="app-timeline__info govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden">No changes made</span>
            <span class="app-timeline__date">Text sent to claimant             </span>

            <span class="app-timeline__date">5 February 2023             </span>
          </p>
        </li>

      <li class="app-timeline__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            RF1 returned
          </h3>
          <p>5 February 2023 <br>

          <p class="app-timeline__info govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden">No changes made</span>
            <span class="app-timeline__date">

            </span>
          </p>
        </li>
        <li class="app-timeline__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          Insurance record requested from Croatia
          </h3>
          <p>5 February 2023 <br>

          <p class="app-timeline__info govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden">No changes made</span>
            <span class="app-timeline__date">

            </span>
          </p>
        </li>
        <li class="app-timeline__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          Insurance record requested from France
          </h3>
          <p>5 February 2023 <br>

          <p class="app-timeline__info govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden">No changes made</span>
            <span class="app-timeline__date">

            </span>
          </p>
        </li>
        <li class="app-timeline__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            RF1 requested from HMRC
          </h3>
          <p>21 January 2023 <br>

          <p class="app-timeline__info govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden">No changes made</span>
            <span class="app-timeline__date">

            </span>
          </p>
        </li>

        <li class="app-timeline__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            CFN901 returned
          </h3>
          <p>21 January 2023<br>

          <p class="app-timeline__info govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden">No changes made</span>
            <span class="app-timeline__date">

            </span>
          </p>
        </li>



        <li class="app-timeline__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          Insurance record requested from Spain
          </h3>
          <p>14 December 2022</p>

          <p class="app-timeline__info govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden">No changes made</span>
            <span class="app-timeline__date">

            </span>
          </p>
        </li>

        <li class="app-timeline__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            CFN901 form sent to claimant
          </h3>
          <p>14 December 2022</p>

          <p class="app-timeline__info govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden">No changes made</span>
            <span class="app-timeline__date">

            </span>
          </p>
        </li>

      </ol>
    </div>

</div>

{% endblock %}
