{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include 'includes/_header-nav-tasks.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Tasks</h1>

{% include 'international-task/iteration-1/navigation/_claims.html' %}

<br>
<br>

        <form method="post">

          <h1 class="govuk-heading-l">International</h1>



     </div>  </div>      <br>






          <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-m">ANZaC
    <p class="govuk-body-l"><a href="/international-task/iteration-1/task-details" class="govuk-link"><b>Get next task</b></a></p></h1>

  </div>
  <div class="govuk-grid-column-one-quarter">
        <h3 class="govuk-heading-l">28
          <p class="govuk-body govuk-!-font-size-24">total tasks</p>
        </h3>
  </div>
  <div class="govuk-grid-column-one-quarter">
        <h3 class="govuk-heading-l">28
          <p class="govuk-body govuk-!-font-size-24">tasks ready to work</p>
        </h3>
  </div>

</div>

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
<br>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
<h1 class="govuk-heading-m">EEA: Check for increase to award
<p class="govuk-body-l"><a href="/international-task/eea-fir-iteration-1/scenario-1/task-details" class="govuk-link"><b>Get next task</b></a></p></h1>
</div>

<div class="govuk-grid-column-one-quarter">
<h3 class="govuk-heading-l">28
 <p class="govuk-body govuk-!-font-size-24">total tasks</p>
</h3>
</div>

<div class="govuk-grid-column-one-quarter">
<h3 class="govuk-heading-l">28
 <p class="govuk-body govuk-!-font-size-24">tasks ready to work</p>
</h3>
</div>

</div>

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
<br>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
<h1 class="govuk-heading-m">EEA: Process claim for EEA pensions
<p class="govuk-body-l"><a href="/international-task/eea-cfn901-iteration-1/task-details-cfn901" class="govuk-link"><b>Get next task</b></a></p></h1>
</div>

<div class="govuk-grid-column-one-quarter">
<h3 class="govuk-heading-l">28
 <p class="govuk-body govuk-!-font-size-24">total tasks</p>
</h3>
</div>

<div class="govuk-grid-column-one-quarter">
<h3 class="govuk-heading-l">28
 <p class="govuk-body govuk-!-font-size-24">tasks ready to work</p>
</h3>
</div>

</div>

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
<br>



<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
<h1 class="govuk-heading-m">RA
<p class="govuk-body-l"><a href="/international-task/iteration-1/task-details" class="govuk-link"><b>Get next task</b></a></p></h1>

</div>
<div class="govuk-grid-column-one-quarter">
<h3 class="govuk-heading-l">28
<p class="govuk-body govuk-!-font-size-24">total tasks</p>
</h3>
</div>
<div class="govuk-grid-column-one-quarter">
<h3 class="govuk-heading-l">28
<p class="govuk-body govuk-!-font-size-24">tasks ready to work</p>
</h3>
</div>

</div>

            <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
            <br>


  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}

      {% endblock %}
