  <div class="govuk-grid-column-full">

    <div style="width:60%; float: left;">
      <h1 class="govuk-heading-m">
        ROBERTO HUGH SMITH
      <span style="font-weight: 300; padding-left: 2%; font-size: 19px; color: #626a6e">AA 13 00 40 D</span>
       
        <span style="font-weight: 300; padding-top: 2%; font-size: 19px; float: left; color: #626a6e">
            State Pension date: 8 September 2019
        </span>
      </h1>
    </div>
    <span style="margin-left:10%" class="app-c-tag">Receiving State Pension</span>
    


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <br>
      <hr class="govuk-section-break govuk-section-break--visible">

    </div>
   </div>

  </div>