// added more padding

.govuk-currency-input {

  &__inner {
    position: relative;

    &__unit {
      position: absolute;
      bottom: 10px;
      left: 10px;
      font-weight: bold;
    }

    &__input {
      padding-left: 25px;
    }
  }
}
