<div class="moj-identity-bar">

  <div class="moj-identity-bar__details">
<br>
    <span class="moj-identity-bar__title"><b>
      <p>{% if data['nino'] === 'xx347612a' %}
      Ken Adams
      {% elseif data['nino'] === 'XX347612A' %}
      Ken Adams
      {% elseif data['nino'] === 'XX891612B' %}
      Trevor Croft
      {% elseif data['nino'] === 'xx89161b' %}
      Trevor Croft
      {% else %}
      Colin McGill
      {% endif %}</b>

      <br>

      {% if data['nino'] === 'xx347612a' %}

        {% elseif data['nino'] === 'XX347612A' %}

        {% elseif data['nino'] === 'XX891612B' %}
        Date of birth: 28 September 1956<br>
        State Pension age: 28 September 2021
        {% elseif data['nino'] === 'xx89161b' %}
        Date of birth: 28 September 1956<br>
        State Pension age: 28 September 2021        {% else %}
        Date of birth: 28 September 1956<br>
        State Pension age: 28 September 2021        {% endif %}
        </span>


  </div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
