{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav.html' %}
{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}

        <br> <br>
        <form method="post">

          <h1 class="govuk-heading-xl">
              Are you sure you want to claim from 13 October 2021?</h1>

            <div class="govuk-inset-text">
  If you choose this date you will not get any State Pension for the period 28 September 2021 to 12 October 2021.
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="confirm-claim-from-hint">
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="confirm-claim-from" name="confirm-claim-from" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="confirm-claim-from">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="confirm-claim-from-2" name="confirm-claim-from" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="confirm-claim-from-2">
                      No
                    </label>
                  </div>
                </div>
                </div>

            <button type="submit" class="govuk-button">
              Continue
            </button>

            <br>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL, errors and notes</b>
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>URL:</b> /check-start-date/<br>
        </div>
        <div class="govuk-details__text">
          <b>Errors:<br>
          Nothing selected:</b> Select yes if the claimant is sure they want to start their State Pension from 13 October 2021

        </div>
      </details>

          </div>




    </div>

  </main>
</div>

{% endblock %}
