{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav.html' %}
{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}

        <br> <br>
        <form method="post">

          <h1 class="govuk-heading-xl">
              Defer your State Pension</h1>




              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of birth</th>
                    <td class="govuk-table__cell">1 September 1955</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">State Pension age (SPA)</th>
                    <td class="govuk-table__cell">1 September 2021</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Earliest start date</th>
                    <td class="govuk-table__cell">24 October 2021</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">9 weeks after SPA</th>
                    <td class="govuk-table__cell">3 November 2021</td>
                  </tr>

                </tbody>
              </table>
              <div class="govuk-inset-text">
                  It may take around 18 years to get back any money you delay taking.
                </div>
<br><br>


            <div class="govuk-form-group">
              <h1 class="govuk-heading-m">
                  When do you want to calculate your State Pension from?</h1>
    <fieldset class="govuk-fieldset" role="group" aria-describedby="claim-hint">

      <div class="govuk-date-input" id="claim">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="claim-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="claim-day" name="claim-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="claim-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="claim-month" name="claim-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="claim-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="claim-year" name="claim-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
        </div>
      </div>

    </fieldset>
  </div>

            <button type="submit" class="govuk-button">
              Continue
            </button>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

   <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL, errors and notes</b>
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>URL:</b>Use existing or /state-pension-claim-date <br>
        </div>
        <div class="govuk-details__text">
          <b>Errors:</b><br>
          Nothing entered: Enter the date the claimant wants their State Pension to be calculated from<br>
          Invalid: Enter a real date, like 12 4 1993<br>
        If user puts in date after SPA date BUT more than 12 months ago: Date cannot be more than 12 months before today<br>
        If user puts in date before SPA date:	Date cannot be before claimant's State Pension date<br>

        </div>
      </details>

          </div>



      </form>



    </div>

  </main>
</div>

{% endblock %}
