{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav-find.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <br>

        <h1 class="govuk-heading-xl">Start a new telephone claim</h1>

        <form method="post">
          <div class="govuk-form-group">
            <label class="govuk-label" for="nino">
              National Insurance number or invitation code
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="nino" name="nino" type="nino" aria-describedby="nino-hint">
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Find claimant
          </button>

        </form>



        </div>

      </div>

      <br>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL, errors and notes</b>
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>URL:</b> /start-telephone-claim <br>
        </div>
        <div class="govuk-details__text">
          <b>Errors:</b> Enter a National Insurance number or invitation code <br>
        </div>
      </details>


    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
