{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}

        <div>
          <br>

          <h1 class="govuk-heading-xl">Can you confirm your full name?</h1>
<div>
<p>
  {% if data['nino'] === 'XX347612A' %}

  <span class="govuk-body govuk-!-font-size-27">            Ken Adams
</span>
        <span class="govuk-caption-l">XX 34 76 12 A</span>
        {% elseif data['nino'] === 'XX891612B' %}

  <span class="govuk-body govuk-!-font-size-27">Trevor Croft</span>
        <span class="govuk-caption-l">XX 89 16 12 B</span>

{% else %}

<span class="govuk-body govuk-!-font-size-27">Colin McGill</span>
      <span class="govuk-caption-l">XX 57 81 52 X</span>
      {% endif %}
</p>


<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    This claimant is over State Pension age
  </strong>
</div> 


</div>

<br>
        <a href="dob" button type="submit" class="govuk-button">
          Continue
        </button>
        </a>

        <p><a href="find" class="govuk-link">The claimant's name does not match</a></p>


      </div>
      <br>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL, errors and notes</b>
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>URL:</b> /confirm-full-name <br>
        </div>
        <div class="govuk-details__text">
          <b>Errors:</b> None<br>
        </div>
      </details>
    </div>



</div>
  </div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
