{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav.html' %}
{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}

        <br> <br>
        <form method="post">

          <h1 class="govuk-heading-xl">
            No addresses found</h1>


              <p>There are no results for <b>2</b> and <b>NE13 7FS</b>.</p>
              <br>

              <p>Tell the caller to repeat their details and you will search again.</p>
              <br>

              <p>If no addresses are found after searching again, enter the address manually.</p>
              <br>


            <button type="submit" class="govuk-button">Search again
              
            </button>

            <p><a href="manual-address" class="govuk-link">Enter address manually</a></p>

            <p>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                <b>URL, errors and notes</b>
                </span>
              </summary>
              <div class="govuk-details__text">
                <b>URL:</b> /no-address-found <br>
              </div>
              <div class="govuk-details__text">
                <b>Errors:</b> 
                <br>

          </div>

         
              

      </form>



    </div>

  </main>
</div>

{% endblock %}
