{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include '../navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">

  <br>
  <br>

  <div class="govuk-grid-column-full">

    {% include '../navigation/_bar-admin.html' %}

  </div>



  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">


        <div class="column-full-width">

          <br><br>
          {% include '../_bar.html' %}

          {% include '../_tab-overview.html' %}


        </div>
      </div>
    </main>

    <br>
    

    <br>
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
                                This claimant has a task outstanding. <a href="change-address">Go to task</a>.
                              </strong>
</div>

    <div>
      <h2 class="govuk-heading-m">Personal details</h2>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 50%" >Full name</th>
            <td class="govuk-table__cell" style="width: 50%">Jose Dominguez</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="change-name">
              Change
            </a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">National Insurance number</th>
            <td class="govuk-table__cell">QQ 56 43 21 M</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td class="govuk-table__cell">12 December 1952</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <!-- <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Gender</th>
              <td class="govuk-table__cell">Male</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="change-gender">
                Change</a></td> 
          </tr> -->
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">State Pension date </th>
            <td class="govuk-table__cell">10 April 2019 </td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Marital status </th>
              <td class="govuk-table__cell">Married</td>
              <td class="govuk-table__cell"><a class="govuk-link" href=change-marital-status>
                  Change
                </a></td>
            </tr>
           <!--  <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of marriage</th>
                <td class="govuk-table__cell">12 July 1994</td>
                <td class="govuk-table__cell"><a class="govuk-link" href=change-marriage-date>
                    Change
                  </a></td>
              </tr> -->

        </tbody>
      </table>

    </div>
    <a class="govuk-body" href="stop-sp">
      Stop State Pension
    </a>



<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /personal <br>
        <b>Error messages:</b> None needed   <br>
        <b>Notes:</b> None <br>
      </div>
    </details>

  </div>




  <div class="govuk-grid-column-one-third">
    <br><br>
    <h2 class="govuk-heading-m">
      Personal changes
    </h2>
    <ol class="app-timeline">
      <li class="app-timeline__entry">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          No changes made
        </h3>

        <p class="app-timeline__info govuk-!-margin-bottom-0">
          <span class="govuk-visually-hidden">No changes made</span>
          <span class="app-timeline__date">

          </span>
        </p>
      </li>


    </ol>

  </div>



</div>
</div>
</main>
</div>
<!-- </div> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



  </div>
</div>

{% endblock %}
