{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
serviceName: serviceName,
serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% include './_find-someone.html' %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-two-thirds">  
              <div>
                <h1 class="govuk-heading-xl">
                  Rachel Smith<br>
                  <span class="govuk-caption-xl">QQ 12 34 99 C</span>
                  <span class="app-c-tag">Receiving State Pension</span>
                </h1>
              </div>
             
          {% include './_tab-award.html' %}

    
    </div>
 


    <div class="govuk-grid-column-one-third">

        <h2 class="govuk-heading-m">
          Award changes
        </h2>
        <ol class="app-timeline">

          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            Review of award
            </h3>

            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">Bank account changed</span>
              <span class="app-timeline__date">
                10 May 2020
              </span>
            </p>
          </li>

          
        </ol>
      </div>
<div class="govuk-grid-column-two-thirds">
    <br><br>
    
    
  <h2 class="govuk-heading-m">Current State Pension award</h2>
 


  <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Weekly rate</th>
          <td class="govuk-table__cell">£169.68</td>
          <td class="govuk-table__cell"><a href="current-breakdown.html">Details</a></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">4 weekly amount</th>
            <td class="govuk-table__cell">£678.72</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 43%">Applicable from</th>
            <td class="govuk-table__cell" style="width: 48%">Monday 1 March 2020</td>
            <td class="govuk-table__cell"></td>
          </tr>
      </tbody>
    </table>

    
    <h2 class="govuk-heading-m">Previous State Pension awards</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col" style="width: 30%">Applicable from</th>
          <th class="govuk-table__header " scope="col" style="width: 17%">Weekly rate</th>
          <th class="govuk-table__header" scope="col" style="width: 1%"></th>
         
        </tr>
      </thead>
      <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
              <td class="govuk-table__cell">Friday 7 April 2020</td>
              <td class="govuk-table__cell">£167.68</td>
              <td class="govuk-table__cell"><a href="previous-breakdown1.html">Details</a></td>
              
            </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell">Friday 6 April 2019</td>
              <td class="govuk-table__cell">£163.90</td>
              <td class="govuk-table__cell"><a href="previous-breakdown1.html">Details</a></td>
              
            </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Friday 8 April 2018</td>
          <td class="govuk-table__cell">£161.20</td>
          <td class="govuk-table__cell"><a href="previous-breakdown1.html">Details</a></td>
          
        </tr>
  
  
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Friday 7 April 2017</td>
          <td class="govuk-table__cell">£158.99</td>
          <td class="govuk-table__cell"><a href="previous-breakdown2.html">Details</a></td>
          
        </tr>
  
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Friday 6 April 2016</td>
          <td class="govuk-table__cell">£148.99</td>
          <td class="govuk-table__cell"><a href="">Details</a></td>
          
        </tr>
  
      </tbody>
    </table>
       




</div>
</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}