{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav.html' %}
{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="marital-status" class="govuk-back-link">Back</a>
        <br> <br>
        <form method="post">

          <h1 class="govuk-heading-xl">
            About your civil partner</h1>

          <div class="govuk-form-group">

            <label class="govuk-label" for="firstname">
              National Insurance number
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="firstname" name="firstname" type="text">
            <br><br>
            <label class="govuk-label" for="firstname">
              First name
            </label>
            <input class="govuk-input" id="firstname" name="firstname" type="text">
            <br><br>
            <label class="govuk-label" for="firstname">
              Last name
            </label>
            <input class="govuk-input" id="firstname" name="firstname" type="text">
            <br><br>
            <label class="govuk-label" for="firstname">
              Other names
            </label>
            <input class="govuk-input" id="firstname" name="firstname" type="text">
            <br><br>        <br>


            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <label class="govuk-label" for="firstname">
                <b>Date of birth</b>
              </label>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                      name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
              </div>
            </fieldset>
            <br><br>
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <label class="govuk-label" for="firstname">
                <b>Date of civil partnership</b>
              </label>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                      name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
              </div>
              <br><br>
            </fieldset>


            <br><br><br>
            <button type="submit" class="govuk-button">
              Continue
            </button>

            <br>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL, errors and notes</b>
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>URL:</b> Use existing<br>
        </div>
        <div class="govuk-details__text">
          <p><b>Errors:</b><p>

          <p>Empty: Enter a National Insurance number<br>
          Invalid: Enter a National Insurance number in the correct format, like QQ123456C<br>
          Length: National Insurance number must be 9 characters or less<br></p>
          <p>Empty: Enter your first name<br>
          Invalid: First name must start with a letter and only include letters, hyphens, apostrophes, full stops and spaces<br>
          Length: First name must be 70 characters or less<br></p>
          <p>Empty: Enter your last name<br>
          Invalid: Last name must start with a letter and only include letters, hyphens, apostrophes, full stops and spaces<br>
          Length: Last name must be 70 characters or less<br></p>
          <p>
          Invalid: Other name must start with a letter and only include letters, hyphens, apostrophes, full stops and spaces<br> Length: Other name must be 70 characters or less<br></p>
        <p>DoB empty: Enter a date of birth<br>
          Future DoB date: Date of birth must be in the past <br>
          DoB date incomplete: Enter a real date, like 12 2 2019<br>
</p>
          <p>CP date empty: Enter date of civil partnership<br>
            Future CP date: Date of civil partnership must be in the past <br>
            CP date incomplete: Enter a real date, like 12 2 2019<br>
  </p>
        </div>
      </details>

          </div>

      </div>


      </form>



    </div>

  </main>
</div>

{% endblock %}
