{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="enquiries" class="govuk-back-link">Back</a>


        <form method="post">

          <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

              <br><br>
              <div>
                <h1 class="govuk-heading-xl">
                  Ken Adams </br>
                  <span class="govuk-caption-xl">QQ 12 34 56 X</span>
                  <strong class="govuk-tag govuk-tag--orange">
                    incomplete claim
                  </strong> </h1>
              </div>

            </div>
          </div>

          <a href="check-answers6" button type="submit" class="govuk-button">
            Continue
            </button>
          </a>
        </form>



      </div>

    </div>

</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
