{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

              {% include './_bar.html' %}

        <form method="post">


        <h2 class="govuk-heading-l">Update the claimant's address</h2>
<p>Find a postcode and then update the address.</p>


<div class="govuk-inset-text">
14 West Street<br>
East Westerton<br></div>


              </div>



          </div>
<br><br>

          <a href="address" button class="govuk-button" data-module="govuk-button">
            Update address </a>


          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">

        <strong>URL:</strong> /postcode-issue<br>
        <b>Error messages:</b> None<br>
        <b>Notes:</b> None <br>
      </div>
    </details>

        </div>

      </div>

    </div>

    </div>


      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
