{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="govuk-grid-column-two-thirds"

          <br><br><br>
          {% include './_bar.html' %}

          {% include './tabs/_tab-award.html' %}

        </div>

        <div class="govuk-grid-column-one-third">
          <br><br>
          <h2 class="govuk-heading-m">
            Award changes
          </h2>
          <ol class="app-timeline">

            <li class="app-timeline__entry">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
                Award reviewed
              </h3>

              <p class="app-timeline__info govuk-!-margin-bottom-0">
                <span class="govuk-visually-hidden">Debt payment details entered</span>
                <span class="app-timeline__date">
                  29 Oct 2022

          </ol>

        </div>

      </div>
    </main>

    <div>

  <div class="govuk-grid-column-two-thirds">
        <br><br>



        <h2 class="govuk-heading-m" style="margin-bottom:-27px;float:left">Current award</h2>

        <a href="" <span class="govuk-link govuk-!-font-size-19" style="margin-left: 80%">Review award</span>
        </a>

          <br>
          <br>


          <div>

                            <table class="govuk-table">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Total</th>
                  <td class="govuk-table__cell" style="width: 50%">	£164.68</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">New State Pension</th>
                  <td class="govuk-table__cell">	£164.68</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Protected payment </th>
                    <td class="govuk-table__cell">	£0.00</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="marital-details">
                      </a></td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Extra State Pension </th>
                      <td class="govuk-table__cell">	£0.00</td>
                      <td class="govuk-table__cell"><a class="govuk-link" href="marital-details">
                        </a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Inherited extra State Pension</th>
                        <td class="govuk-table__cell">	£0.00</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="marital-details">
                          </a></td>
                      </tr>
            </table>


          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 50%" >Reviewed</th>
                <td class="govuk-table__cell" style="width: 50%">29 October 2022</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 50%" >From</th>
                <td class="govuk-table__cell" style="width: 50%"> 10 September 2022</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Reason</th>
                <td class="govuk-table__cell">SRB</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Details</a></td>
              </tr>
              </table>


<br>

              <table class="govuk-table">
                        <h2 class="govuk-heading-m">Adjustments</h2>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Reason</th>
                    <td class="govuk-table__cell">Debt deduction</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Details</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Amount</th>
                    <td class="govuk-table__cell">-£7.29</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state"></a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="width: 50%" >Reviewed</th>
                    <td class="govuk-table__cell" style="width: 50%">2 August 2022</td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="width: 50%" >From</th>
                    <td class="govuk-table__cell" style="width: 50%"> 22 August 2022</td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  </table>

            </div>

          </div>


  <div class="govuk-grid-column-full">
          <br><br>
              <h2 class="govuk-heading-m" style="margin-bottom:-27px;float:left">Award history</h2>
              <br><br>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" style="width: 20%">Reviewed</th>
            <th class="govuk-table__header" scope="col" style="width: 20%">From</th>
            <th class="govuk-table__header " scope="col" style="width: 22%">Weekly amount</th>
            <th class="govuk-table__header" scope="col" style="width: 20%">Reason</th>
            <th class="govuk-table__header" scope="col" style="width: 10%"></th>

          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">29 Oct 2022</td>
            <td class="govuk-table__cell">10 Sept 2022</td>
            <td class="govuk-table__cell">£164.68</td>
            <td class="govuk-table__cell">SRB</td>
            <td class="govuk-table__cell"><a href="award-current">Details</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">2 Aug 2022</td>
            <td class="govuk-table__cell">22 Aug 2022</td>
            <td class="govuk-table__cell">-£7.29</td>
            <td class="govuk-table__cell">Debt deduction</td>
            <td class="govuk-table__cell"><a href="award-current">Details</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">15 Jan 2021</td>
            <td class="govuk-table__cell">7 Apr 2021</td>
            <td class="govuk-table__cell">£155.27</td>
            <td class="govuk-table__cell">Initial award</td>
            <td class="govuk-table__cell"><a href="award-previous">Details</a></td>
          </tr>
        </tbody>
      </table>

    </div>

    </div>


</div>



</div>
</div>
</main>
</div>
<!-- </div> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
