{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/servicename-newclaims.html' %}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      </br>
        <h1 class="govuk-heading-xl">Find someone</h1>


        <form method="post">
          <div class="govuk-form-group">
            <label class="govuk-label" for="nino">
              Enter a National Insurance number or invitation code
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="nino" name="nino" type="nino" aria-describedby="nino-hint">
            <button type="submit" class="govuk-button">
              Find
            </button>
          </div>

<div>
  <h2 class="govuk-heading-m">Result</h2>
    <p class="govuk-body govuk-!-font-size-24">  <a href="security1" class="govuk-link">Tallulah East</a> </br>
  {{data.nino}}
</p>


</div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
