{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/servicename-newclaims.html' %}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}
<section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar__key-details">
    <div class="key-details-bar__top-block">

      <dd class="key-details-bar__name">Tallulah East</dd>

      <dd class="key-details-bar__nino">QQ 12 34 56 X</dd>

    </div>

    <div class="key-details-bar__bottom-block">
      <dt><a href="find" class="govuk-link">Start again</a></dt>

    </div>

  </dl>
</section>

<div class="govuk-width-container">



  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>

          <div>
            <h1 class="govuk-heading-xl">
              State Pension date
            </h1>


            <p>The earliest date you can get your State Pension is 6 March 2019.</p>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

                </legend>


                <h2 class="govuk-heading-s">Do you want to claim from this date? </h2>


                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="changed-name-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>


            <button type="submit" class="govuk-button">
              Continue
            </button>
          </form>

        </div>


      </div>


    </div>
  </div>
</main>


{% endblock %}
