{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}
<section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar__key-details">
    <div class="key-details-bar__top-block">

      <dd class="key-details-bar__name">Tallulah East</dd>

      <dd class="key-details-bar__nino">QQ 12 34 56 X</dd>

      <dd class="key-details-bar__status">Status</dd>
    </div>

    <div class="key-details-bar__bottom-block">
      <dt><a href="find" class="govuk-link">Back to beginning</a></dt>

    </div>

  </dl>
</section>

<div class="govuk-width-container">



  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>

          <div>
            <h1 class="govuk-heading-xl">
              State Pension date
            </h1>


            <p>The earliest date you can get your State Pension is 12 April 2018.
            </br></p>

            <p>
  					You will get your State Pension from this date unless</br>
  					you <a href="deferral">tell us a different date.</a>
  					</p>


            <button type="submit" class="govuk-button">
              Continue
            </button>
          </form>

        </div>


          </div>


        </div>
      </div>
    </main>


    {% endblock %}
