{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include 'widows/iteration-3/_bar.html' %}

  {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-l">State Pension award</h1>
  <br><br>


  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header" style="width: 50%" >From</th>
        <td class="govuk-table__cell" style="width: 50%">11 September 2022</td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Reason</th>
        <td class="govuk-table__cell">Widows inheritance</td>
        <td class="govuk-table__cell"></td>
      </tr>
      </table>

                  <table class="govuk-table">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Total</th>
        <td class="govuk-table__cell" style="width: 50%">	<b>£178.32 a week</b></td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">New State Pension</td>
        <td class="govuk-table__cell">	£178.32</td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">Protected payment </td>
          <td class="govuk-table__cell">	£0.00</td>
          <td class="govuk-table__cell"><a class="govuk-link" href="marital-details">
            </a></td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Extra State Pension </td>
            <td class="govuk-table__cell">	£0.00</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="marital-details">
              </a></td>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Inherited extra State Pension</td>
              <td class="govuk-table__cell">	£0.00</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="marital-details">
                </a></td>
            </tr>
  </table><br><br>
  <h2 class="govuk-heading-m">Inherited amounts</h2>

  <table class="govuk-table">
<caption class="govuk-table__caption govuk-table__caption--m"></caption>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell" scope="row">Additional Pension</td>
    <td class="govuk-table__cell">£0.00</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell" scope="row">Graduated benefit</td>
    <td class="govuk-table__cell" style="width: 51%">£0.00</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell" scope="row">Extra State Pension <br>Basic Pension</td>
    <td class="govuk-table__cell">£0.00</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell" scope="row">Extra State Pension <br> Additional Pension</td>
    <td class="govuk-table__cell" style="width: 51%">£0.00</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell" scope="row">Extra State Pension <br> Graduated benefit</td>
    <td class="govuk-table__cell">£0.00</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell" scope="row">Protected Payment</td>
    <td class="govuk-table__cell" style="width: 51%">£13.71</td>
  </tr>
</tbody>
</table>


<div class="govuk-inset-text">
  This will automatically pay the arrears and send an award letter to the claimant.
</div>

<br>
    <a href="get-a-task-2" button type="submit" class="govuk-button">
Confirm and send letter</a>


    <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
    <b>URL, errors and notes</b>
    </span>
    </summary>
    <div class="govuk-details__text">
    <b>URL:</b> <br><br>


    <b>Error messages:<br>

    </div>
    </details>

  </div>



</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
