{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}

<h1 class="govuk-heading-m">1. Select the correct letters</h1>
<p>Choose the correct letter templates from the shared folder.</p>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    This claimant has asked for letters in Welsh.
  </strong>
</div>

        <form method="post" action="get-a-task-2">






<table class="govuk-table">
  <!--<caption class="govuk-table__caption govuk-table__caption--m">Countries claimant has lived or worked in</caption>-->
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Jamaica</th>
      <td class="govuk-table__cell">Worked</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Mauritius</th>
      <td class="govuk-table__cell">Lived</td>
    </tr>
  </tbody>
</table>
<br>
<h1 class="govuk-heading-m">2. Print and post the letters</h1>
<p>Post them to the claimant with a reply envelope.</p>
<table class="govuk-table">
  <!--<caption class="govuk-table__caption govuk-table__caption--m">Claimant</caption>-->
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Address</th>
      <td class="govuk-table__cell">8 Mill Road<br>
        Edinburgh<br>
        EH23 1GR</td>
    </tr>

  </tbody>
</table>

<button class="govuk-button" data-module="govuk-button">
  Confirm letters sent
</button>

<br>
<a href="are-you-sure" class="govuk-link govuk-link--no-visited-state">RA liaison already complete</a>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
