{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Check ANZaC information
        </h1>
<p>Check the time the claimant lived or worked in Australia, New Zealand and Canada (ANZaC).</p>
<p>If the claimant's State Pension amount can be increased, send a CFN1282 letter to the claimant.</p>

          <br>

          <a href="award-improvement" button type="submit" style="margin-left: 2%" class="govuk-button">
              Start this task
          </a>
          <a href="get-a-task" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
            Return task to queue
          </a>



        </div>

      </div>

    </div>


</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
