{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/servicename-newclaims.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Upload proof of purchase photo</h1>
        <p>Upload you proof of purchase for fuel here, all images must be clear and easily readable. Proof may include:</p>
        <ul>
          <li>Image of receipt of fuel purchases</li>
          <li>Bank statement</li>
          </ul>

        <div class="govuk-form-group">
          <label class="govuk-label" for="file-upload-1">
            Upload a file
          </label>
          <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
        </div>

        <a href="distanceproof" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
          Confirm
        </a>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      {% endblock %}
