{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/servicename-newclaims.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Get your fuel allowance</h1>

        <p class="govuk-body">Use this service to claim fuel allowance for work travel.</p>

        <p class="govuk-body">To be eligible for this you must provide:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>UK Drivers licence</li>
          <li>Proof of purchase for petrol money</li>
          <li>Proof of distance from household to workplace</li>
        </ul>


<br>
  <a href="license" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
    Start now
    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
    </svg></a>
  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      {% endblock %}
