{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <br>
        <h1 class="govuk-heading-xl">Start a new paper claim</h1>


        <p>Get the next available new claim or choose to retrieve a claim that is already in progress.</p>
        <br>

        <a href="find-1" button type="submit" class="govuk-button">
          Get next claim
        </a>
        <a href="find-a-claim" button type="submit" class="govuk-button govuk-button--secondary"> Retrieve a claim in
          progress
        </a>
          <!-- <p><a href="#">Retrieve a claim in progress</a></p> -->

          </form>
          <!-- <h1 class="govuk-heading-xl">Paper claim</h1>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              What do you want to do?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--small">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
              <label class="govuk-label govuk-radios__label" for="changed-name">
                Start a new paper claim
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
              <label class="govuk-label govuk-radios__label" for="changed-name-2">
                Retrieve a claim in progress
              </label>
            </div>
          </div>
        </fieldset>
      </div>

          <a href="find-1" button type="submit" class="govuk-button"> 
          Continue
          </button>
        </a>
        </form>



<br><br><br><br><br><br><br><br>
        <h1 class="govuk-heading-xl">What do you want to do?</h1>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
       
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="changed-name">
                Start a new paper claim
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="changed-name-2">
                Retrieve a claim in progress
              </label>
            </div>
          </div>
        </fieldset>
      </div>

          <a href="find-1" button type="submit" class="govuk-button"> 
          Continue
          </button>
        </a>
        </form>
        <br><br><br><br><br><br><br><br>
        <h1 class="govuk-heading-xl">What do you want to do?</h1>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
         
            <div class="govuk-radios govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  Start a new paper claim
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  Retrieve a claim in progress
                </label>
              </div>
            </div>
          </fieldset>
        </div>
  
            <a href="find-1" button type="submit" class="govuk-button"> 
            Continue
            </button>
          </a>
          </form>


          <br><br><br><br><br><br><br><br>
          <h1 class="govuk-heading-xl">Paper Claim</h1>
         
          <h1 class="govuk-heading-l">What do you want to do?</h1>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
           
              <div class="govuk-radios govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="changed-name">
                    Start a new paper claim
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    Retrieve a claim in progress
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
    
              <a href="find-1" button type="submit" class="govuk-button"> 
              Continue
              </button>
            </a>
            </form>

          <br><br><br><br><br><br><br><br> -->


          <!-- <br><br><br><br><br><br><br><br>
            <h1 class="govuk-heading-xl">Start a new paper claim</h1>
    
       
              <p>Get the next available claim</p>
           <br>
      
                <a href="find-1" button type="submit" class="govuk-button"> 
                  Get next claim
              </a><br>
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Retrieve a claim in progress
              </button>  
              </form> -->


          <!-- 
            <br><br><br><br><br><br><br><br>
            <h1 class="govuk-heading-xl">Start a new paper claim</h1>
    
            <div class="govuk-form-group">
           <p>Choose whether you want to start a new claim or retrieve a claim in progress.</p>
            </div>
      
                <a href="find-1" button type="submit" class="govuk-button"> 
                Get next claim
              </a>
             
              <p>If a claim is partially complete click the button below</p> -->
          <!-- 
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Retrieve a claim in progress
              </button>
              </form> -->



      </div>

    </div>

</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}