{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-paper.html' %}
{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="check-answers" class="govuk-back-link">Back</a>

        <form method="post" action="check-answers">
          <br>
          <h1 class="govuk-heading-xl">
            Lived and worked abroad
          </h1>


          <div class="govuk-form-group">

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          11 July 1954
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          5 Windsor Street<br>South Gosforth<br>Newcastle upon Tyne<br>NE31 1YL
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change
          </a>
        </dd>
      </div> -->



              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                  France<br>Lived: Jun 1974 to Sep 1975 <br>Worked: Jun 1974 to Sep 1975
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change</a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Remove</a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                  Germany<br>Lived: Jan 1980 to Mar 1985<br>Worked: Jan 1980 to Mar 1985<br>15120190B123
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change</a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Remove</a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                  United Arab Emirates<br>Lived: Feb 1990 to Apr 1993<br>Worked: Feb 1990 to Apr 1993
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change</a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Remove</a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                  Greece<br>Lived: May 2000 to Nov 2222
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="country4-c">Change</a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="remove-1">Remove</a>
                </dd>
              </div>
            </dl>
            <!-- <p><a href="add-country">Add country</a></p> -->
          </div>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Has the claimant worked in more than 4 countries?
                </h1>
              </legend>

              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes" checked>
                  <label class="govuk-label govuk-radios__label" for="changed-name">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no"
                    >
                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button">
            Save
          </button>
      </div>


      </form>



    </div>

  </main>
</div>

{% endblock %}