{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include 'widows/conversion/_bar.html' %}

  {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-l">State Pension award</h1>
  <br><br>


  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header" style="width: 50%" >From</th>
        <td class="govuk-table__cell" style="width: 50%">11 September 2022</td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Reason</th>
        <td class="govuk-table__cell">Widows inheritance</td>
        <td class="govuk-table__cell"></td>
      </tr>
      </table>

                  <table class="govuk-table">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Total</th>
        <td class="govuk-table__cell" style="width: 50%">	<b>£164.68</b></td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">New State Pension</th>
        <td class="govuk-table__cell">	£164.68</td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Protected payment </th>
          <td class="govuk-table__cell">	£0.00</td>
          <td class="govuk-table__cell"><a class="govuk-link" href="marital-details">
            </a></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Extra State Pension </th>
            <td class="govuk-table__cell">	£0.00</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="marital-details">
              </a></td>
          </tr>
          <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Inherited extra State Pension</th>
              <td class="govuk-table__cell">	£10.00</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="marital-details">
                </a></td>
            </tr>
  </table>
<br>

  <table class="govuk-table">
<caption class="govuk-table__caption govuk-table__caption--m">Inherited amounts</caption>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">Additional Pension</th>
    <td class="govuk-table__cell">£4.98</td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">Graduated benefit</th>
    <td class="govuk-table__cell" style="width: 51%">£0.34</td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">Extra State Pension <br>Basic Pension</th>
    <td class="govuk-table__cell">£4.98</td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">Extra State Pension <br> Additional Pension</th>
    <td class="govuk-table__cell" style="width: 51%">£0.34</td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">Extra State Pension <br> Graduated benefit</th>
    <td class="govuk-table__cell">£4.98</td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">Protected Payment</th>
    <td class="govuk-table__cell" style="width: 51%">£0.34</td>
  </tr>
</tbody>
</table>


<br>

<br>
    <a href="pc-offset" button type="submit" class="govuk-button">
Continue</a>


    <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
    <b>URL, errors and notes</b>
    </span>
    </summary>
    <div class="govuk-details__text">
    <b>URL:</b> <br><br>


    <b>Error messages:<br>

    </div>
    </details>

  </div>



</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
