{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
              {% include './_bar.html' %}

              <h1 class="govuk-heading-l">Complete part A of the BR403</h1>
              <p>Use this information to complete part A of the BR403 and send it to the Pension Credit team.</p>
<br>

        <!--      <table class="govuk-table">
              <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th class="govuk-table__header award_detail2" scope="col">Total</th>
              <th class="govuk-table__header award_detail" scope="col">£149.87
            </th>
              <td class="govuk-table__cell award_detail">
              </td>
              </tr>
              </thead>

              <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">New State Pension</td>
              <td class="govuk-table__cell">£149.87
                </td>

              </tr>
              <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Protected payment</td>
              <td class="govuk-table__cell">£0.00</td>

              </tr>
              <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Extra State Pension</td>
              <td class="govuk-table__cell">£0.00</td>
              <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Inherited extra State Pension</td>
              <td class="govuk-table__cell">£0.00</td>
              <td class="govuk-table__cell"></td>
              </tr>
              </tbody>
              </table> -->
        <h2 class="govuk-heading-m"></h2>



              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">State Pension award</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">

                    <th scope="col" class="govuk-table__header app-custom-class">Weekly amount</th>
                    <th scope="col" class="govuk-table__header app-custom-class">Date from</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">

                    <td class="govuk-table__cell">£149.87</td>
                    <td class="govuk-table__cell">05/01/2023</td>
                  </tr>
                  <tr class="govuk-table__row">

                    <td class="govuk-table__cell">£158.87</td>
                    <td class="govuk-table__cell">12/04/2023</td>
                  </tr>
                  <tr class="govuk-table__row">

                    <td class="govuk-table__cell">£164.87</td>
                    <td class="govuk-table__cell">05/06/2023</td>
                  </tr>
                </tbody>
              </table>

              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Arrears currently being withheld</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header app-custom-class">Weekly amount</th>
                    <th scope="col" class="govuk-table__header app-custom-class">Date from</th>
                    <th scope="col" class="govuk-table__header app-custom-class">Date to</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">£149.87</td>
                    <td class="govuk-table__cell">05/01/2023</td>
                    <td class="govuk-table__cell">11/04/2023</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">£158.87</td>
                    <td class="govuk-table__cell">12/04/2023</td>
                    <td class="govuk-table__cell">04/06/23</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">£164.87</td>
                    <td class="govuk-table__cell">05/06/2023</td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                </tbody>
              </table>
            


<button class="govuk-button" data-module="govuk-button">
Confirm BR403 sent
</button>




        </form>



        </div>

      </div>
      <br><br>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL, errors and notes</b>
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>URL:</b>/send-br403<br>
        </div>
      </details>
    </div>



  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
