{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <form method="post">

            {% include 'widows/conversion-task/_bar.html' %}

{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}

  <br><br>

      <div class="govuk-form-group">
          <h1 class="govuk-heading-l">There is nothing to inherit</h1>

          <p>The claimant's State Pension will not change.</p>

          <p>A letter will be sent to the claimant confirming that we checked for inheritable amounts.</p>

      <br>
      <button class="govuk-button" data-module="govuk-button">
Continue      </button>


      </div>

    </div>

</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
