{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include '././_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <dv class="column-full">


          <br><br>
          {% include './_bar.html' %}

<form method="post" action="change-address2">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

          <br><br>
          <h2 class="govuk-heading-l">UK Address
                      <a href="international-address" class="govuk-link govuk-!-font-size-19"><br>Enter an international address</a></h2>


            <div class="govuk-form-group">
              <label class="govuk-label" for="postcode">
              Property number or name
              </label>
              <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="postcode" aria-describedby="postcode-hint">
              <br><br>
              <label class="govuk-label" for="postcode">
                Postcode
              </label>
              <input class="govuk-input govuk-input--width-5" id="postcode" name="postcode" type="postcode" aria-describedby="postcode-hint">
            </div>



            <button type="submit" class="govuk-button">
            Find UK address
            </button>

          
        </div>
      </div>

    </main>


  </form>
</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
