{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      <br>
                <h1 class="govuk-heading-xl">
                Mia Pickett
                                  <span class="govuk-caption-xl">QQ 12 342 92 X</span>
                                </h1>


                                <div class="govuk-width-container">
                                  <main class="govuk-main-wrapper">
                                    <div class="govuk-grid-row">
                                      <div class="govuk-grid-column-two-thirds">
                                      <br>
                                      <div>
                                        <a href="tasks-3-2" class="govuk-back-link">Back</a>
                                      </div>
                                      <br>
                                        <form method="post">

                                          <h1 class="govuk-heading-xl">Enter the relevant inherited amounts
                                          </h1>


                                          <span class="govuk-label govuk-date-input__label">Additional pension</span>
                                          <div class="govuk-currency-input__inner">
                                            <span class="govuk-currency-input__inner__unit">£</span>
                                            <input class="govuk-input govuk-currency-input__inner__input govuk-input--width-10" aria-label="Enter amount in pounds" name="tickets-cost" data-non-numeric type="text" id="tickets-cost" pattern="[0-9]\d*(\.\d+)?" {{ checked('tickets-cost','yes') }}>
                                          </div>
                                            <br><br>
                                            <span class="govuk-label govuk-date-input__label">Graduated benefit</span>
                                            <div class="govuk-currency-input__inner">
                                              <span class="govuk-currency-input__inner__unit">£</span>
                                              <input class="govuk-input govuk-currency-input__inner__input govuk-input--width-10" aria-label="Enter amount in pounds" name="tickets-cost" data-non-numeric type="text" id="tickets-cost" pattern="[0-9]\d*(\.\d+)?" {{ checked('tickets-cost','yes') }}>
                                            </div>
                                            <br><br>
                                            <span class="govuk-label govuk-date-input__label">Basic pension - extra State Pension</span>
                                            <div class="govuk-currency-input__inner">
                                              <span class="govuk-currency-input__inner__unit">£</span>
                                              <input class="govuk-input govuk-currency-input__inner__input govuk-input--width-10" aria-label="Enter amount in pounds" name="tickets-cost" data-non-numeric type="text" id="tickets-cost" pattern="[0-9]\d*(\.\d+)?" {{ checked('tickets-cost','yes') }}>
                                            </div>
                                            <br><br>
                                            <span class="govuk-label govuk-date-input__label">Additional extra State Pension</span>
                                            <div class="govuk-currency-input__inner">
                                              <span class="govuk-currency-input__inner__unit">£</span>
                                              <input class="govuk-input govuk-currency-input__inner__input govuk-input--width-10" aria-label="Enter amount in pounds" name="tickets-cost" data-non-numeric type="text" id="tickets-cost" pattern="[0-9]\d*(\.\d+)?" {{ checked('tickets-cost','yes') }}>
                                            </div>
                                            <br><br>
                                            <span class="govuk-label govuk-date-input__label">Graduated benefit - extra State Pension</span>
                                            <div class="govuk-currency-input__inner">
                                              <span class="govuk-currency-input__inner__unit">£</span>
                                              <input class="govuk-input govuk-currency-input__inner__input govuk-input--width-10" aria-label="Enter amount in pounds" name="tickets-cost" data-non-numeric type="text" id="tickets-cost" pattern="[0-9]\d*(\.\d+)?" {{ checked('tickets-cost','yes') }}>
                                            </div>
                                            <br><br>
                                            <span class="govuk-label govuk-date-input__label">Protected payment</span>
                                            <div class="govuk-currency-input__inner">
                                              <span class="govuk-currency-input__inner__unit">£</span>
                                              <input class="govuk-input govuk-currency-input__inner__input govuk-input--width-10" aria-label="Enter amount in pounds" name="tickets-cost" data-non-numeric type="text" id="tickets-cost" pattern="[0-9]\d*(\.\d+)?" {{ checked('tickets-cost','yes') }}>
                                            </div>



                                <br><br>
                                          <a href="tasks-4" button type="submit" class="govuk-button">
                                            Continue
                                          </button>
                                        </a>
                                        </form>

        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
