{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">
<br><br>
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full-width">
<br><br>
          {% include './name-bar/_bar-jose.html' %}

          {{ govukBackLink({
      text: "Back",
      href: "javascript:history.go(-1)"
      }) }}
<br><br>


<h2 class="govuk-heading-l">Admin only: change details</h2>

<table class="govuk-table">
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Gender</th>
        <td class="govuk-table__cell">Male</td>
        <td class="govuk-table__cell"><a class="govuk-link" href="change-gender">
          Change</a></td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Date of marriage</th>
        <td class="govuk-table__cell">12 July 1994</td>
        <td class="govuk-table__cell"><a class="govuk-link" href="change-marriage-date">
            Change
          </a></td>
      </tr>
  </tbody>
</table>

<br>

<br>
<div>
  <a href="personal" role="button" class="govuk-button govuk-button--secondary">
    Return to record overview
  </a>
</div>


        </div>
      </div>
    </main>



<br><br><br>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /personal-details <br>
        <b>Error messages:</b> None needed   <br>
        <b>Notes:</b> None <br>
      </div>
    </details>

  </div>



</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
