{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">

  <br>
  <br>

  <div class="govuk-grid-column-full">

  </div>

  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">

          <form method="post" action="personal">

            <a href="payment" class="govuk-back-link">Back</a>
            <br><br>
            <h2 class="govuk-heading-l">    Delete this timeline event?</h2>

            <div class="govuk-form-group">

              <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
This will permanently delete this timeline event.<br> You cannot undo this action.

                </strong>
              </div>
<div class="govuk-button-group">
              <button class="govuk-button govuk-button--warning" data-module="govuk-button">
    Delete             </button>
 <a class="govuk-link" href="timeline-fraud-details">Cancel</a>
            </div>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                <b>URL, errors and notes</b>
                </span>
              </summary>
              <div class="govuk-details__text">
                <b>URL:</b> /delete-timeline-event <br>
                <b>Error messages:</b> None  <br>
                <b>Notes:</b> None <br>
              </div>
            </details>
        </div>
      </div>
    </main>

  </div>

</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
