{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">

  <br>
  <br>

  <div class="govuk-grid-column-two-thirds">


            {% include './name-bar/_bar-jose.html' %}

             {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
                                }) }}

              <br><br>


              <h2 class="govuk-heading-l">Date of contact</h2>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="fd-hint">
                  <div class="govuk-date-input" id="fd">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="fdd">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="fdd" name="fdd" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="fdm">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="fdm" name="fdm" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="fdy">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="fdy" name="fdy" type="text" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>


              <button type="submit" class="govuk-button">
              Continue
              </button>

                  </div>
                  </div>


{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /fraud-date <br>
        <b>Error messages:</b><br> Invalid: Enter a real date, like 12 2 2019<br> Future: Date of fraud attempt must be today or in the past<br>
        <b>Notes:</b> None <br>
      </div>
    </details>

  </div>

  </div>
</div>

{% endblock %}
