{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">

  <br>
  <br>

  <div class="govuk-grid-column-two-thirds">


            {% include './name-bar/_bar-jose.html' %}

             {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
                                }) }}

              <br><br>




              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
Did the caller pass the security questions?                     </h1>
                  </legend>

                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="changed-name">
                        Pass
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        Fail
                      </label>
                    </div>



                  </div>
                </fieldset>
              </div><br>

              <button type="submit" class="govuk-button">
              Continue
              </button>


                  </div>
                  </div>


{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /fraud-identity <br>
        <b>Error messages:</b><br> Nothing selected: Select whether the caller passed the security questions<br>
        <b>Notes:</b> None <br>
      </div>
    </details>

  </div>

  </div>
</div>

{% endblock %}
