{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">

  <br>
  <br>

  <div class="govuk-grid-column-two-thirds">


            {% include './name-bar/_bar-jose.html' %}

             {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
                                }) }}

              <br><br>


              <h2 class="govuk-heading-l">What details were they trying to do?</h2>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="fd-hint">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="fd" name="fd" type="checkbox" value="Bank details">
                      <label class="govuk-label govuk-checkboxes__label" for="fd">
Failed security                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="fd" name="fd" type="checkbox" value="Bank details">
                      <label class="govuk-label govuk-checkboxes__label" for="fd">
                      Bank details
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="fd-2" name="fd" type="checkbox" value="Phone number">
                      <label class="govuk-label govuk-checkboxes__label" for="fd-2">
                        Phone number
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="fd-3" name="fd" type="checkbox" value="Address">
                      <label class="govuk-label govuk-checkboxes__label" for="fd-3">
                        Address
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="fd-3" name="fd" type="checkbox" value="Payment frequency">
                      <label class="govuk-label govuk-checkboxes__label" for="fd-3">
                        Payment frequency
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <button type="submit" class="govuk-button">
              Continue
              </button>


                  </div>
                  </div>


{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> / <br>
        <b>Error messages:</b> None  <br>
        <b>Notes:</b> None <br>
      </div>
    </details>

  </div>

  </div>
</div>

{% endblock %}
