{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav.html' %}
{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}

        <br> <br>
        <form method="post">

          <h1 class="govuk-heading-xl">
              When do you want to calculate your State Pension from?</h1>

          <p>13 October 2021 is the earliest date you can choose.</p>

          <p>13 February 2023 is the latest date you can start from (if you claim today).</p>

    <p>If you choose 22 November 2021 or earlier you will not get any extra State Pension.</p>

    <p>It may take around 18 years to get back any money you delay taking.</p>

<!--
<p>The claimant can start their State Pension on:</p>
    <ul class="govuk-list govuk-list--bullet">

<li>27 September 2021 is the earliest date</li>
  <li>26 January 2023 is the latest date (if you claim today)</li>
    <li>4 November 2021 or later to get extra State Pension</li></ul>

    <div class="govuk-inset-text">
It may take around 18 years to get back any money you delay taking.</div>-->




            <div class="govuk-form-group">

    <fieldset class="govuk-fieldset" role="group" aria-describedby="claim-hint">

      <div class="govuk-date-input" id="claim">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="claim-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="claim-day" name="claim-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="claim-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="claim-month" name="claim-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="claim-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="claim-year" name="claim-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
        </div>
      </div>

    </fieldset>
  </div>

            <button type="submit" class="govuk-button">
              Continue
            </button>

            <br>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL, errors and notes</b>
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>URL:</b> /state-pension-claim-date <br>
        </div>
        <div class="govuk-details__text">
          <b>Errors:</b>
          Nothing entered: Enter the date the claimant wants their State Pension to be calculated from<br>
          Invalid: Enter a real date, like 12 4 1993<br>
        If user puts in date after SPA date BUT more than 12 months ago: Date cannot be more than 12 months before today<br>
        If user puts in date before SPA date:	Date cannot be before claimant's State Pension date<br>

        </div>
      </details>

          </div>



      </form>



    </div>

  </main>
</div>

{% endblock %}
