{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/servicename-newclaims.html' %}


{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

<section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar__key-details">
    <div class="key-details-bar__top-block">

      <dd class="key-details-bar__name">Tallulah East</dd>

      <dd class="key-details-bar__nino">QQ 12 34 56 X</dd>

    </div>

    <div class="key-details-bar__bottom-block">
      <dt><a href="find" class="govuk-link">Start again</a></dt>

    </div>

  </dl>
</section>


<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="confirm-bank" method="post" novalidate>

          <h1 class="govuk-heading-xl">How would you like to be paid?</h1>
          <p>You can have your pension paid into a bank or building society account in your name.</p>
        </p>
            <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="acccount-name">
              Account holder name
            </label>
            <input class="govuk-input govuk-input--width-20" id="passport-number" name="passport-number" type="text" aria-describedby="passport-number-hint">
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="expiry-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"> Sort code
              </legend>
              <div class="govuk-date-input" id="expiry">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-day" name="expiry-day" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-month" name="expiry-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-year" name="expiry-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="acccount-name">
              Account number
            </label>
            <input class="govuk-input govuk-input--width-20" id="passport-number" name="passport-number" type="text" aria-describedby="passport-number-hint">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="acccount-name">
              Building society roll or reference number
            </label>
            <span id="passport-number-hint" class="govuk-hint">
              If paying into a building society account, we need a roll or reference number.
              You will find it on your passbook.
            </span>
            <input class="govuk-input govuk-input--width-20" id="passport-number" name="passport-number" type="text" aria-describedby="passport-number-hint">
          </div>


          <button type="submit" class="govuk-button">
            Check details
          </button>

        </form>
      </div>
    </div>
  </main>
</div>





{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
