{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">

  <br>
  <br>

  <div class="govuk-grid-column-full">


            {% include './name-bar/_bar-jose.html' %}

             {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
                                }) }}

              <br><br>

                 <h1 class="govuk-heading-l">
                  Confirm you want to remove <br>the marriage or civil partnership</h1>

                <p>You cannot undo this action. </p>
                  
                  <p>If you remove this marriage or civil partnership, you can add a new one.</p>

                <a href="change-personal-details" role="button" draggable="false" button class="govuk-button govuk-button--warning" data-module="govuk-button">
                  Remove marriage or civil partnership
                </a>


                  </div>
                  </div>


{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /confirm-remove-claimant <br>
        <b>Error messages:</b> None  <br>
        <b>Notes:</b> None <br>
      </div>
    </details>

  </div>

  </div>
</div>

{% endblock %}
