{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-column-two-thirds">

        <main id="content" role="main">
          <div class="grid-row">
            <div class="column-full">

              {% include 'includes/_bar.html' %}


            </div>
          </div>
        </main>

        

        {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
        
          



          <br><br>

          

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="cor$rate-dap-ref-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
      Do you have the reference number of the corporate death arrears payee?
      </h1>
    </legend>
    <br>
    <form method="post">
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="corporate-dap-ref" name="corporate-dap-ref" type="radio" value="yes">
        <label class="govuk-label 
        govuk-radios__label" for="corporate-dap-ref">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="corporate-dap-ref-2" name="corporate-dap-ref" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="corporate-dap-ref-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>


          <button type="submit" class="govuk-button">Continue</button>
        </form>
        
        </div>
      </div>
    </main>

  
</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

<script>
    nextPageRoutes = {
        'yes': 'corporate-dap-ref',
        'no': 'nothing-owed-corporate-dap',
        }
</script>

{% endblock %}
