{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

                <form method="post">


{% include './_bar.html' %}


<h1 class="govuk-heading-l">Check CAMlite for insurance record</h1>
<br>
<h1 class="govuk-heading-m">Have we received the record from Ireland?</h1>


  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="ireland-record-hint">

      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="ireland-record" name="ireland-record" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="ireland-record">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="ireland-record-2" name="ireland-record" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="ireland-record-2">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>

<br>





        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
