{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/servicename-tasks.html' %}


{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">
      {% include './_bar-small.html' %}
    <div class="govuk-grid-column-two-thirds">

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">
<br>



          </div>
        </div>
      </main>



      <div>
        <a href="reason" class="govuk-back-link">Back</a>
      </div>
<br>
      <form action="sendletter" method="post" class="form">
      <form method="post" >
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">New award</h1>
          <dl class="app-check-your-answers app-check-your-answers--short">


              <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header award_detail2" scope="col">Total</th>
                      <th class="govuk-table__header award_detail" scope="col">£173.13 per week	</th>
                      <td class="govuk-table__cell award_detail">
</td>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">New State Pension</td>
                      <td class="govuk-table__cell">£152.66</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Protected payment</td>
                      <td class="govuk-table__cell">£10.02</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Extra State Pension</td>
                      <td class="govuk-table__cell">£10.45</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Inherited extra State Pension</td>
                      <td class="govuk-table__cell">£0.00</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                  </tbody>
                  </table>
                  <table class="govuk-table">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header award_detail2" scope="row">Entitlement date</td>
                        <td class="govuk-table__cell award_detail">8 September 2019</td>
                        <td class="govuk-table__cell award_detail">
                          <a href="change-date">
                            Change<span class="govuk-visually-hidden">Change address</span>
                          </a></td>
                      </tr>



                        </div>
                </table>

              </table>
              <br>

        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>


    </div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
