<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <b><li class="govuk-breadcrumbs__list-item" style="color: cadetblue;">
    Verification
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Time overseas
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Marital status</li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Contact</li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Check and submit</li></b>


  </ol>
</div>
