{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <br>
      <div>
        <a href="tasks-2" class="govuk-back-link">Back</a>
      </div>
      <br>
        <form method="post" action="tasks-3-2">
         
          <h2 class="govuk-heading-xl">Consider State Pension entitlement</h2>
          <br>
        <span class="govuk-hint">Check the record of the late spouse to see if any State Pension can be inherited.</span>
          <br>
        <h2 class="govuk-heading-m">Late spouse’s details
          </h2>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 40%" >National Insurance number</th>
              <td class="govuk-table__cell" style="width: 35%">QQ 12 34 66 X</td>
              <td class="govuk-table__cell" style="width: 20%"></td>
              <td class="govuk-table__cell" style="width: 5%"></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">First name</th>
              <td class="govuk-table__cell">Regina</td>
              <td class="govuk-table__cell" style="width: 20%"></td>
              <td class="govuk-table__cell" style="width: 5%"></td>

            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Last name</th>
              <td class="govuk-table__cell">Adams</td>
              <td class="govuk-table__cell" style="width: 20%"></td>
              <td class="govuk-table__cell" style="width: 5%"></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date of birth</th>
              <td class="govuk-table__cell">17 July 1950</td>
              <td class="govuk-table__cell" style="width: 20%"></td>
              <td class="govuk-table__cell" style="width: 5%"></td>
            </tr>
          
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date of marriage</th>
              <td class="govuk-table__cell">8 April 1987</td>
              <td class="govuk-table__cell"><span class="verified-badge not-verified">
                <b>Not verified</b>
              </span> </td>
              <td class="govuk-table__cell" style="text-align: right">
                  <a class="govuk-link" href="change-date">Change</a>
              </td>
             </tr>
          </tbody>
        </table>


        <h2 class="govuk-heading-m">Claimant's details

        </h2>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 37%">Full name	</th>
              <td class="govuk-table__cell" style="width: 63%">Ken Adams</td>
              

            </tr>
             <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 37%">National Insurance number	</th>
              <td class="govuk-table__cell" style="width: 63%">QQ 12 34 56 Z</td>
              

            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 37%">Address	</th>
              <td class="govuk-table__cell" style="width: 63%">55 Main Street
                <br> Guildford <br> GU79 6YW</td>
            </tr>
          </tbody>
        </table>




          <br>
        <button class="govuk-button" data-module="govuk-button">
            Continue
        </button>
        </a>
        </form>



        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
