    <div class="app-most-recent">
<span class="govuk-caption-m"></span>
<h1 class="govuk-heading-m">Capturing prison dates after SPa</h1>

<span class="govuk-tag govuk-tag--orange">Not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">November 2022</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Al Robinson and Matt Hall</dd>
    </dl>
  </div>
</div>

<p>Capturing dates the citizen was in prison after SPa, while they are completing the online claim journey</p>


<a href="/prison-dates/prison "target="_blank" class="govuk-button govuk-button--start">Start now</a><br>

<a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1668511299131/2eeee4e5bb133082c63091b15038b8e45170358a?sender=ud0f6074784801941d82c1259" class="govuk-link" rel="noreferrer noopener" target="_blank">Mural board (opens in new tab)</a>
</div>          
             
             
             
             
             
             
              <div class="app-most-recent">
<span class="govuk-caption-m">Third time lucky</span>
<h1 class="govuk-heading-m">Iteration 1 of 2021</h1>

<span class="govuk-tag govuk-tag--green">Tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">July 2021</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Becky and Kieran</dd>
    </dl>
  </div>
</div>


<a href="/telephone-new-claim/iteration-7/find" class="govuk-button govuk-button--start">Start now</a><br>
</div>


              <div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 6</h2>

<span class="govuk-tag govuk-tag--orange">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">April 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Updated design patterns and content for consistency with paper claims</li>
  <li>Country input width needs fixing for testing</li>

</ul>


<a href="/telephone-new-claim/iteration-6/find" class="govuk-button govuk-button--start">Start now</a><br>
</div>


              <div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 5</h2>

<span class="govuk-tag govuk-tag--green">swansea testing</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">February 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones </dd>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-s">Scenario
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Agent to take a new claim over the telephone from a citizen who needs to change the address we hold, has lived and worked abroad, and wants to be paid fortnightly instead of 4 weekly
  </li>
  <li>‘Happy path’ scenario - citizen’s details validated
  </li>
</ul>

<h2 class="govuk-heading-s">Iterations based on previous research
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Lived and worked abroad questions brought together</li>
  <li>Added alternative format question</li>
  <li>Check your answers different design</li>
  <li>New address lookup pattern for change of address  </li>
  <li>End of the call tells the citizen how much State Pension they’ll get and when their first payments will be
  </li>
</ul>

<a href="https://confluence.service.dwpcloud.uk/download/attachments/121592010/Results_new%20claims%20telephony_master%20doc_Feb20_presentation.pptx?version=1&modificationDate=1584102019777&api=v2"
  class="govuk-body"><b>Research document</b></a>
  <br> <br> <br>


<a href="/telephone-new-claim/iteration-5/find" class="govuk-button govuk-button--start">Start now</a><br>
</div>


              <div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 4</h2>

<span class="govuk-tag govuk-tag--green">motherwell research</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">February 2020</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Scenario

</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Agent to take a new claim over the telephone from a citizen who has lived and worked abroad
  </li>
  <li>‘Happy path’ scenario - citizen’s details validated
  </li>

</ul>

<h3 class="govuk-heading-s">Business requirements
</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Agents need to take bank details up front so that a identity and verification check can be done against the citizen and their bank
  </li>
  <li>Need to be able to change the address or date of birth we hold for the citizen
  </li>

</ul>
<a href="https://confluence.service.dwpcloud.uk/download/attachments/121592010/Results_new%20claims%20telephony_master%20doc_Feb20_presentation.pptx?version=1&modificationDate=1584102019777&api=v2"
  class="govuk-body"><b>Research document</b></a>
  <br> <br> <br>


<a href="/telephone-new-claim/iteration-4/find" class="govuk-button govuk-button--start">Start now</a><br>
</div>


      <div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 3</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">Feb 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Becky Lee and Colin Jones </dd>
    </dl>
  </div>
</div>

<h3 class="govuk-heading-s">Iterations based on previous research</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>x</li>

</ul>
<br>
<a href="/telephone-new-claim/iteration-3/find" class="govuk-button govuk-button--start">Start now</a>
</div>


              <div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 2</h2>

<span class="app-c-tag app-c-tag--ready">not tested</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">Feb 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Becky Lee and Colin Jones </dd>
    </dl>
  </div>

</div>

<h3 class="govuk-heading-s">Iterations based on previous research
</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Changed security answers to pass/fail rather than yes/no</li>
  <li>New pattern for identifying citizen and their claim status  </li>
  <li>Content changes around payment frequency
  </li>

</ul>

<br>

<a href="/telephone-new-claim/iteration-2/find" class="govuk-button govuk-button--start">Start now</a>
</div>


              <div class="app-most-recent">
<h2 class="govuk-heading-m">Iteration 1</h2>

<span class="app-c-tag">tyne view park testing</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <dl>
      <dt class="govuk-heading-s">Date of design</dt>
      <dd class="govuk-body" style="margin-left:0%">Jan 2019</dd>
    </dl>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <dl>
      <dt class="govuk-heading-s">Designers</dt>
      <dd class="govuk-body" style="margin-left:0%">Becky Lee and Colin Jones </dd>
    </dl>
  </div>


</div>

<h3 class="govuk-heading-s">Research notes</h3>
<p class="govuk-body">
  For the first iteration of the prototype we focused on the most straightforward
  scenario to test the agent taking a claim over the phone.</br>
<br>
  We found that agents adapted well to the flow of the claim as well as the style
  of content designed to read out to a citizen. There were some issues where agents:

  <ul class="govuk-list govuk-list--bullet">
    <li>did not realise when a claim was found after entering a National Insurance number</li>
    <li>misinterpreted the security question answers</li>
    <li>anticipated the living and working abroad pages</li>
    <li>were uncomfortable with the declaration</li>
    <li>got confused about ‘other names’ when taking details of a spouse</li>
    <li>More information on the award page or further details about
      the claimant, such as benefit information to inform payment frequency, would have been useful</li>
  </ul>

  <h3 class="govuk-heading-s">Discovery in Motherwell and Tyne View Park</h3>

  <a href="https://confluence.service.dwpcloud.uk/download/attachments/121592010/S40%20Agent%20Workshops.pdf?version=1&modificationDate=1549538070653&api=v2"
  class="govuk-body"><b>Research document</b></a>
  <br> <br> <br>

  <h3 class="govuk-heading-s">User testing in Tyne View Park</h3>

  <a href="https://confluence.service.dwpcloud.uk/download/attachments/121592010/S42%20Agent%20Usability%20Tests.pdf?version=2&modificationDate=1552296159868&api=v2"
  class="govuk-body"><b>Research document</b></a>
  <br> <br> <br>


<a href="/telephone-new-claim/iteration-1/find" class="govuk-button govuk-button--start">Start now</a>
</div>
