{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <dv class="column-full">


          <br><br>
          {% include './_bar.html' %}

<form method="post" action="award-updated-arrears">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

          <br>
          <br>

          <h2 class="govuk-heading-l">Review award</h2>

          <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              A task to review an award is already with an agent
              </strong>
          </div>

            <table class="govuk-table">

                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">New State Pension</td>
                    <td class="govuk-table__cell">                  {% if data.addsp %}
                  £{{data.addsp}}
                  {% endif %}</td>
                    <td class="govuk-table__cell"><a href="review-award-add-sp">
                      {% if not data.addsp %}
                      Add<span class="govuk-visually-hidden">Add</span>
                      {% else %}
                      Change<span class="govuk-visually-hidden">Change</span>
                      {% endif %}
                    </a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Protected payment</td>
                    <td class="govuk-table__cell">
                      {% if data.changepp %}
                      £{{data.changepp}}
                      {% else %}
                      £0.00
                      {% endif %}</td>
                    <td class="govuk-table__cell"><a href="review-award-change-pp">
                      Change
                    </a></td>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Extra State Pension</td>
                    <td class="govuk-table__cell">£0.00</td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Inherited extra State Pension</td>
                    <td class="govuk-table__cell">£0.00</td>
                    <td class="govuk-table__cell"></td>
                  </tr>

                  <tr class="govuk-table__row">
                      <td class="govuk-table__header award_detail2" scope="row">Entitlement date</td>
                      <td class="govuk-table__cell award_detail">15 October 2020</td>
                      <td class="govuk-table__cell award_detail">
                        <a href="change-date">
                          Change<span class="govuk-visually-hidden">Change address</span>
                        </a></td>
                    </tr>
                </tbody>
                </table>


                      </div>


            <button type="submit" class="govuk-button">
            Continue
            </button>


        </div>
      </div>


</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
