{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <dv class="column-full">


          <br><br>
          {% include './name-bar/_bar-jose.html' %}

<form method="post" action="review-award">


  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
  }) }}


          <br>
          <br>

          <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="type-of-review-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Why are you reviewing this award?
        </h1>
      </legend>
      <div id="type-of-review-hint" class="govuk-hint">
        
      </div>
      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="type-of-review" name="type-of-review" type="radio" value="correction">
          <label class="govuk-label govuk-radios__label" for="type-of-review">
            Making a correction
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="type-of-review-2" name="type-of-review" type="radio" value="review">
          <label class="govuk-label govuk-radios__label" for="type-of-review-2">
            Performing an SRB
          </label>
        </div>
      </div>

    </fieldset>
  </div>

                      </div>


            <button type="submit" class="govuk-button">
            Continue
            </button>


        </div>
      </div>


</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
