{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

<section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar__key-details">
    <div class="key-details-bar__top-block">

      <dd class="key-details-bar__name">Roberto Hugh Smith</dd>

      <dd class="key-details-bar__nino">QQ 12 34 56 X</dd>

      <dd class="key-details-bar__status">receiving state pension</dd>
    </div>

    <div class="key-details-bar__bottom-block">
      <dt><a href="find" class="govuk-link">Find someone</a></dt>

    </div>

  </dl>
</section>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav class="navigation-global">
      <ul>

        <li>
          <a href="overview" class="active" aria-current="page">Overview</a>
        </li>

        <li>
          <a href="payment" class="" aria-current="page">Payment</a>
        </li>

      </ul>
    </nav>
  </div>
</div>

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

      <div class="govuk-grid-column-two-thirds">

        <div>
          <h2 class="govuk-heading-l">Personal details</h2>
          <dl class="app-check-your-answers app-check-your-answers--short">
            <div class="app-check-your-answers__contents">
              <dd class="app-check-your-answers__answer">

              </dd>
              <dd class="app-check-your-answers__change">
                <a href="#">
                </a>
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__answer">
                Full name
              </dt>
              <dd class="app-check-your-answers__answer">
                Roberto Hugh Smith
              </dd>
              <dd class="app-check-your-answers__change">
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__answer">
                National Insurance number
              </dt>
              <dd class="app-check-your-answers__answer">
                QQ 12 34 56 X
              </dd>
              <dd class="app-check-your-answers__change">
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__answer">
                Date of birth
              </dt>
              <dd class="app-check-your-answers__answer">
                12/12/1952
              </dd>
              <dd class="app-check-your-answers__change">
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__answer">
                State Pension date
              </dt>
              <dd class="app-check-your-answers__answer">
                12/12/2017
              </dd>
              <dd class="app-check-your-answers__change">
              </dd>
            </div>
          </div>


          <div>
            <h2 class="govuk-heading-l">Contact details</h2>
            <dl class="app-check-your-answers app-check-your-answers--short">
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">

                </dt>
                <dd class="app-check-your-answers__answer">

                </dd>
                <dd class="app-check-your-answers__change">
                  <a href="#">
                  </a>
                </dd>
              </div>

              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__answer">
                  Address
                </dt>
                <dd class="app-check-your-answers__answer">
                  {% if data.address %}
                    {{data.address.split(', ').join('<br />') | safe}}
                  {% else %}
                    4 Potato close<br />
                    Vegetable Street<br />
                    TM07 7TO
                  {% endif %}
                </dd>
                <dd class="app-check-your-answers__change">
                  <a href="address">
                    Change<span class="govuk-visually-hidden">Change address</span>
                  </a>
                </dd>
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__answer">
                Home phone number
              </dt>
              <dd class="app-check-your-answers__answer">

                {% if data['homephone-remove'] === 'Yes' %}
                {% elseif data.homephone %}
                  {{data.homephone}}
                {% else %}
                  0191 4461056
                {% endif %}
              </dd>

              <dd class="app-check-your-answers__change">
                <a href="homephone">
                  Change<span class="govuk-visually-hidden">Change home phone number</span>
                </a>
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__answer">
                Work phone number
              </dt>
              <dd class="app-check-your-answers__answer">
                {% if data.worknumber %}
                  {{data.worknumber}}
                {% else %}
                  0191 2798475
                {% endif %}
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="workphone">
                  Change<span class="govuk-visually-hidden">Change work phone number</span>
                </a>
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__answer">
                Mobile phone number
              </dt>
              <dd class="app-check-your-answers__answer">
                {% if data.mobilenumber %}
                  {{data.mobilenumber}}
                {% endif %}
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="mobilephone">
                  Change<span class="govuk-visually-hidden">Change email </span>
                </a>
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__answer">
                Email address
              </dt>
              <dd class="app-check-your-answers__answer">
                {% if data.email %}
                  {{data.email}}
                {% endif %}
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="email">
                  Change<span class="govuk-visually-hidden">Change email </span>
                </a>
              </dd>
            </div>


          </div>

        </div>


      </div>

    </main>        </div>
  <!-- </div> -->
  {% endblock %}

  {% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    </div>
  </div>

  {% endblock %}
