{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}

<h1 class="govuk-heading-l">Use RINA or the EU liaison tool to send a reminder 
</h1>


<br>
  <form method="post">


<table class="govuk-table">
  <tbody class="govuk-table__body">


    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Croatia</th>
      <td class="govuk-table__cell">ABC12345D</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Switzerland</th>
      <td class="govuk-table__cell">Check CFN901</td>
    </tr>

  </tbody>
  </table>


<br><br>
  <table class="govuk-table">
    <h2 class="govuk-heading-m" style="margin-bottom:-27px;float:left">Claimant details</h2>
<br><br>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Address</th>
        <td class="govuk-table__cell">57 Windsor Road<br>
    Tunbridge Wells<br>
    TN84 8IF</td>

      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Correspondence address</th>
        <td class="govuk-table__cell">11 Windsor Road<br>
  Tunbridge Wells<br>
  TN84 8IF</td>

      </tr>
      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Date of birth</th>
      <td class="govuk-table__cell">12 October 1956</td>


      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Sex</th>
        <td class="govuk-table__cell">Female</td>

      </tr>
    </tbody>
  </table>

</div>
</div>

  <br><br>

<button class="govuk-button" data-module="govuk-button">
  Confirm reminder sent
</button>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /request-insurance-records  <br>
        <b>Error messages:</b> <br>
        <b>Notes:</b> None <br>
      </div>
    </details>
        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
