{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">

                <li>
                  <a href="#">New State Pension or protected payment must be changed</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        {% include './_bar.html' %}

        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
                          }) }}

                  <br><br>

        <form method="post" action="upload">

<!-- <h1 class="govuk-heading-l">1. Calculate new award</h1>

<p class="govuk-body">
  Use the VOLNICs calculator to work out how much the claimant's State Pension will increase. You may also need information from:</p>
<ul class="govuk-list govuk-list--bullet">    <li>OLE</li>
    <li>the CFN1282</li>
    <li>the RF1</li>
  </ul>
<p class="govuk-body">Record the increase on a 975 form.</p> -->


<h1 class="govuk-heading-l">Change award</h1>

<table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header award_detail2" scope="col">State Pension date</th>
        <td class="govuk-table__cell award_detail">25 June 2022
</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header award_detail2" scope="col">Uprating year for calculation</th>
        <td class="govuk-table__cell award_detail">2022
</td>
      </tr>
    </thead>
</table>

<table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header award_detail2" scope="col">Total</th>
        <th class="govuk-table__header award_detail" scope="col">{% if data.addsp1 %}
          £{{data.addsp1}} per week
          {% else %}
          £203.85 per week
          {% endif %}	</th>
        <td class="govuk-table__cell award_detail">
</td>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">New State Pension</td>
        <td class="govuk-table__cell">{% if data.addsp1 %}
          £{{data.addsp1}}
          {% else %}
          £203.85
          {% endif %}</td>
        <td class="govuk-table__cell">
          <a href="change-nsp">
            Change<span class="govuk-visually-hidden">Change New State Pension</span>
          </a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">Protected payment</td>
        <td class="govuk-table__cell">{% if data.addpp %}
          £{{data.addpp}}
          {% else %}
          £0.00
          {% endif %}</td>
        <td class="govuk-table__cell">
          <a href="change-pp">
            Change<span class="govuk-visually-hidden">Change Protected Payment</span>
          </a></td>
      </tr>
      <!-- <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">Extra State Pension</td>
        <td class="govuk-table__cell">£5.00</td>
        <td class="govuk-table__cell">  </td>
      </tr>
       <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">Inherited extra State Pension</td>
        <td class="govuk-table__cell">£0.00</td>
        <td class="govuk-table__cell"></td>
      </tr> -->
    </tbody>
    </table>



  <div class="govuk-button-group">
    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>
  </div>
  <p><a href="postpone" class="govuk-link govuk-link--no-visited-state">Postpone task</a></p>

<br>





<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
<br>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            <b>URL, errors and notes</b>
            </span>
          </summary>
          <div class="govuk-details__text">
            <b>URL:</b> /change-award <br>
            <b>Error messages:</b> <br>
            <b>Notes:</b> None <br>
          </div>
        </details>
        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
