{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <form method="post">

            {% include 'widows/new-claims/_bar.html' %}

{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}

  <br><br>

      <div class="govuk-form-group">
          <h1 class="govuk-heading-l">How long do you want place the task on hold for?</h1>
<p>The task will not come up in the queue again until the date you select.</p>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="decision" name="decision" type="radio" value="inheritable-amounts">
                <label class="govuk-label govuk-radios__label" for="decision">
            14 days </label>
            </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="decision" name="decision" type="radio" value="more-info">
                    <label class="govuk-label govuk-radios__label" for="decision">
          Tomorrow</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="decision" name="decision" type="radio" value="more-info">
                <label class="govuk-label govuk-radios__label" for="decision">
      Today</label>
          </div>
            </div></div>
      <br>
      <button class="govuk-button" data-module="govuk-button">
      Continue
      </button>


      </div>

    </div>

</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
