{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include 'includes/_header-nav-paper.html' %}

{% block headEnd %}
{% endblock %}

{% include 'includes/_find-someone.html' %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">

          <br>





          {% include 'includes/_bar2.html' %}

          <!-- {% include 'includes/_tab-overview.html' %} -->




        </div>
      </div>
    </main>

    </br>
    </br>
    <h2 class="govuk-heading-m" style="width: 650px;">1. &nbsp Personal details  <strong class="govuk-tag govuk-tag--green" style="float: right;">
      completed
    </strong>   </h2>
    <table class="govuk-table" style="margin-left: 30pt;">
      <tbody class="govuk-table__body">
        <th class="govuk-table__header"></th><th class="govuk-table__header"></th><th class="govuk-table__header"></th>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width: 35%;">Date of birth</th>
          <td class="govuk-table__cell">11 July 1954</td>
          <td class="govuk-table__cell" style="text-align:right;"><a class="govuk-link" href="#">
              Change
            </a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Address </th>
          <td class="govuk-table__cell">	5 WINDSOR STEET
            <Br>SOUTH GOSFORTH
            <br>NEWCASTLE UPON TYNE
            <br>NE3 1YL</td>
          <td class="govuk-table__cell" style="text-align:right;"><a class="govuk-link" href="#">
              Change
            </a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Phone number </th>
          <td class="govuk-table__cell">07958122000</td>
          <td class="govuk-table__cell" style="text-align:right;"><a class="govuk-link" href="#">
              Change
            </a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Email address</th>
          <td class="govuk-table__cell">ken.adams54@live.com</td>
          <td class="govuk-table__cell" style="text-align:right;"><a class="govuk-link" href="#">
              Change
            </a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Other formats</th>
          <td class="govuk-table__cell">Large print</td>
          <td class="govuk-table__cell" style="text-align:right;"><a class="govuk-link" href="#">
              Change
            </a></td>
        </tr>
      </tbody>
    </table>
<br>


<h2 class="govuk-heading-m" style="width: 650px;">2. &nbsp Marital details  <strong class="govuk-tag govuk-tag--green" style="float: right;">
  completed
</strong>   </h2>
<table class="govuk-table" style="margin-left: 30pt;">
  <tr><td> &nbsp;</td><td> &nbsp;</td>
    <td><a class=“govuk-link” href="#" style=“font-size: 19px;“>
    Change
  </a></td>
  <tbody class="govuk-table__body">
    <th class="govuk-table__cell"></th><th class="govuk-table__cell"></th><th class="govuk-table__cell"></th>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="width: 40%">Status</th>
      <td class="govuk-table__cell" style="width: 60%">Married</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Date</th>
      <td class="govuk-table__cell">7 May 1980</td>
      <td class="govuk-table__cell"></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Spouse's National Insurance number</th>
      <td class="govuk-table__cell">QQ 12 55 87 X</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Spouse's full name</th>
      <td class="govuk-table__cell">Regina Adams Mary</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Spouse's date of birth</th>
      <td class="govuk-table__cell">3 July 1960</td>
      <td class="govuk-table__cell"></td>
    </tr>

  </tbody>
</table>
<br>


<h2 class="govuk-heading-m" style="width: 650px;">3. &nbsp Lived or worked abroad  <strong class="govuk-tag govuk-tag--green" style="float: right;">
  completed
</strong>   </h2>
<table class="govuk-table" style="margin-left: 30pt;">

  <tbody class="govuk-table__body">
    <th class="govuk-table__cell"></th><th class="govuk-table__cell"></th><th class="govuk-table__cell"></th>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="width: 40%">Lived or worked abroad</th>
      <td class="govuk-table__cell" style="width: 60%"> No</td>
      <td class="govuk-table__cell"><a class=“govuk-link” href="#" style=“font-size: 19px;“>
        Change
      </a></td>
    </tr>

  </tbody>
</table>
<br>


<h2 class="govuk-heading-m" style="width: 650px;">4. &nbsp State Pension claim date  <strong class="govuk-tag govuk-tag--green" style="float: right;">
  completed
</strong>   </h2>
<table class="govuk-table" style="margin-left: 30pt;">
  <tbody class="govuk-table__body">
    <th class="govuk-table__header"></th><th class="govuk-table__header"></th><th class="govuk-table__header"></th>


    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="width: 43%">Date claiming from</th>
      <td class="govuk-table__cell" style="width: 60%">6 May 2020	 </td>
      <td class="govuk-table__cell" style="text-align:right;"><a class="govuk-link" href="#">
          Change
        </a></td>
    </tr>

  </tbody>
</table>

<br>

<h2 class="govuk-heading-m" style="width: 650px;">5. &nbsp Bank or building society details  <strong class="govuk-tag govuk-tag--green" style="float: right;">
  completed
</strong>   </h2>
<table class="govuk-table" style="margin-left: 30pt;">
  <tr><td> &nbsp;</td><td> &nbsp;</td>
    <td><a class=“govuk-link” href=change-bank style=“font-size: 19px;“>
    Change
  </a></td>
</tr>
  <tbody class="govuk-table__body">
    <th class="govuk-table__header"></th><th class="govuk-table__header"></th><th class="govuk-table__header"></th>


    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="width: 43%">Account holder</th>
      <td class="govuk-table__cell" style="width: 60%">Mr Ken Adams </td>
      <td class="govuk-table__cell" style="text-align:right;"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="width: 43%">Sort code</th>
      <td class="govuk-table__cell" style="width: 60%">54 65 66</td>
      <td class="govuk-table__cell" style="text-align:right;"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="width: 43%">Account number</th>
      <td class="govuk-table__cell" style="width: 60%">24678900 </td>
      <td class="govuk-table__cell" style="text-align:right;"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="width: 43%">Roll or reference number</th>
      <td class="govuk-table__cell" style="width: 60%"> </td>
      <td class="govuk-table__cell" style="text-align:right;"></td>
    </tr>
  </tbody>
</table>

<br>

<h2 class="govuk-heading-m" style="width: 650px;">6. &nbsp Declaration  <strong class="govuk-tag govuk-tag--green" style="float: right;">
  completed
</strong>   </h2>
<table class="govuk-table" style="margin-left: 30pt;">

 <tbody class="govuk-table__body">
   <th class="govuk-table__header"></th><th class="govuk-table__header"></th><th class="govuk-table__header"></th>


   <tr class="govuk-table__row">
     <th scope="row" class="govuk-table__header" style="width: 43%">Form signed</th>
     <td class="govuk-table__cell" style="width: 60%">Yes</td>
     <td class="govuk-table__cell" style="text-align:right;"><a class="govuk-link" href="change-signed">
      Change
    </a></td>
   </tr>

 </tbody>
</table>

<br>


<a href="submit-claim" button type="submit" class="govuk-button">
  Submit claim
  </button>
</a>

  </div>




</div>
</div>
</main>
</div>
<!-- </div> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
