{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


    <main id="content" role="main">
<div class="govuk-width-container">
      <div class="grid-row">
          <div class="govuk-grid-column-two-thirds">

          <br><br>
          {% include './_bar.html' %}

          {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
          }) }}

          <br><br>

          <h2 class="govuk-heading-l">Current State Pension award</h2>


          <table class="govuk-table">
            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 50%">From</th>
                <td class="govuk-table__cell" style="width: 50%">25 April 2023</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 50%">To</th>
                <td class="govuk-table__cell" style="width: 50%"></td>
              </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Reason</th>
                  <td class="govuk-table__cell">Initial award</td>
                </tr>
            </tbody>
          </table>

         <table class="govuk-table">
             <thead class="govuk-table__head">
               <tr class="govuk-table__row">
                 <th class="govuk-table__header" scope="col" style="width: 50%">Total</th>
                 <th class="govuk-table__header" scope="col" style="width: 50%">£149.87 a week	</th>
               </tr>


             </thead>
             <tbody class="govuk-table__body">
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell" scope="row">New State Pension</td>
                 <td class="govuk-table__cell">£149.87</td>
               </tr>
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell" scope="row">Protected payment</td>
                 <td class="govuk-table__cell">£0.00</td>
               </tr>
               <tr class="govuk-table__row">
                   <td class="govuk-table__cell" scope="row">Extra State Pension</td>
                   <td class="govuk-table__cell">£0.00</td>
                 </tr>
                 <tr class="govuk-table__row">
                     <td class="govuk-table__cell" scope="row">Inherited extra State Pension</td>
                     <td class="govuk-table__cell">£0.00</td>
                   </tr>
             </tbody>
           </table>


           <table class="govuk-table">
             <caption class="govuk-table__caption govuk-table__caption--m">Withheld amounts</caption>
             <thead class="govuk-table__head">
               <tr class="govuk-table__row">
                 <th scope="col" class="govuk-table__header app-custom-class">Weekly amount</th>
                <th scope="col" class="govuk-table__header app-custom-class">Reason</th>
                 <th scope="col" class="govuk-table__header app-custom-class">Date from</th>
                 <th scope="col" class="govuk-table__header app-custom-class">Date to</th>
               </tr>
             </thead>
             <tbody class="govuk-table__body">
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell">£65.00</td>
                 <td class="govuk-table__cell">Carer Support Payment</td>
                 <td class="govuk-table__cell">25 April 2023</td>
                 <td class="govuk-table__cell">23 May 2023</td>
               </tr>
             </tbody>
           </table>


    </div>


  </div>
</div>





</main>
</div>
<!-- </div> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
