{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

              {% include './_bar-task-outstanding.html' %}

              {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
                                }) }} <br><br>

                      <form method="post" action="carers-support-summary">

                        <h1 class="govuk-heading-l">Enter information from Carer Support Payment team</h1>




                        <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                            <legend class="govuk-fieldset__legend">
                              <strong>From date</strong>
                            </legend>

                            <div class="govuk-date-input" id="passport-issued">
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                    Day
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                    Month
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                    Year
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                            </div>

                          </fieldset>
                        </div>

                        <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                            <legend class="govuk-fieldset__legend">
                              <strong>To date</strong>
                            </legend>

                            <div class="govuk-date-input" id="passport-issued">
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                    Day
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                    Month
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                    Year
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                            </div>

                          </fieldset>
                        </div>


                        <div class="govuk-form-group">
                          <label class="govuk-label" for="currency">
                            <strong>Weekly amount of Carer Support Payment</strong>
                          </label>
                          <div id="currency-hint" class="govuk-hint">
                            For example, £15 or £23.54
                          </div>
                          <div class="govuk-input__wrapper">
                            <div class="govuk-input__prefix" aria-hidden="true">£</div>
                            <input class="govuk-input govuk-input--width-10" id="currency" name="currency" type="text" spellcheck="false" aria-describedby="currency-hint">
                          </div>
                        </div>





<p></p>


<button class="govuk-button" data-module="govuk-button">
 Continue
</button>

<p>
<a href="pension-credit-details-2" class="govuk-link govuk-link--no-visited-state">Add another adjustment</a>
</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
<b>URL, errors and notes</b>
</span>
</summary>
<div class="govuk-details__text">
<b>URL:</b> /carer-support-details <br>
<b>Error messages:</b><br><br>
<h4 class="govuk-heading-s">From date</h4>
  <p class="govuk-body">Empty: Enter a date, like 23 2 2022 <br>
    Invalid: Enter a date, like 23 2 2022 <br>
    Before SPa: From date must 23 2 2022 or later  </p>



<h4 class="govuk-heading-s">To date</h4>
<p class="govuk-body">Empty: Enter a date, like 23 2 2022 <br>
  Invalid: Enter a date, like 23 2 2022 <br>
  Before SPa: To date must 23 2 2022 or later </p>
<h4 class="govuk-heading-s">Weekly amount of Carer Support Payment</h4>
<p class="govuk-body">Empty: Enter the weekly amount of Carer Support Payment<br>
  Invalid: Weekly amount of Carer Support Payment must be a number, like 15 or 23.54</p>
<b>Notes:</b> <br>
</div>
</details>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
