{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br><br>
          {% include './_bar.html' %}

<form method="post" action="contact-email">

          <a href="contact" class="govuk-back-link">Back</a>
          <br><br>
          <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="request-date-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Date the request was received
        </h1>
      </legend>
      <div class="govuk-date-input" id="request-date">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="request-date-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="request-date-day" name="request-date-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="request-date-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="request-date-month" name="request-date-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="request-date-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="request-date-year" name="request-date-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
        </div>
      </div>

    </fieldset>
  </div>
          <button type="submit" class="govuk-button">Continue</button>
        </div>
      </div>
    </main>

  </form>
</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
