{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-paper.html' %}
{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="check-answers" class="govuk-back-link">Back</a>

        <form method="post" action="check-answers-2">
          <br>
          <h1 class="govuk-heading-xl">
            Lived and worked abroad
          </h1>


          <div class="govuk-form-group">

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          11 July 1954
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          5 Windsor Street<br>South Gosforth<br>Newcastle upon Tyne<br>NE31 1YL
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change
          </a>
        </dd>
      </div> -->
              
              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                 France<br>Lived: Jun 1974 to Sep 1975<br>Worked: Jun 1974 to Sep 1975
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change</a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Remove</a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                  Germany<br>Lived: Jan 1980 to Mar 1985<br>Lived: Jan 1980 to Mar 1985
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change</a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Remove</a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                  United Arab Emirates<br>Lived: Feb 1990 to Apr 1993<br>Worked: Feb 1990 to Apr 1993
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change</a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Remove</a>
                </dd>
              </div>
              <br>
              <p><a href="country4-2">Add country</a></p>
              <br>
              <button type="submit" class="govuk-button">
                Save
               </button>
            </dl>
          </div>
         
        </div>


      </form>



    </div>

  </main>
</div>

{% endblock %}