{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-tasks.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <br>
      <div>
        <a href="tasks-2" class="govuk-back-link">Back</a>
      </div>
      <br>
        <form method="post" action="tasks-5">
         
          <h2 class="govuk-heading-xl">Details to send to the debt management service</h2>
      
        <span class="govuk-hint">Email the following details to the debt management service so that they can be added to a previously 
          completed overpayment referral.
        </span>
          <br>

          <h2 class="govuk-heading-m">Claimant's details
            </h2>
      

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" style="width: 40%;">
                National Insurance number
              </dt>
              <dd class="govuk-summary-list__value" style="width: 60%;">
               QQ 12 34 56 X
              </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="width: 40%;">
                  Full name
                </dt>
                <dd class="govuk-summary-list__value" style="width: 60%;">
                 Ken Adams
                </dd>
              </div>
              </dl>

              

          <h2 class="govuk-heading-m">Details of the person dealing with the estate
            </h2>
            
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key" style="width: 40%;">
                        Full name
                      </dt>
                      <dd class="govuk-summary-list__value" style="width: 60%;">
                       Ken Adams
                      </dd>
                    </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
               07898676548
              </dd>
            
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                5 Windsor Street<br> South Gosforth<br> Newcastle Upon Tyne<br> NE3 1YL
              </dd>
           
            </div>
           
          </dl>
        <button class="govuk-button" data-module="govuk-button">
            Continue
        </button>
      
        </form>



        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
