{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->

{% include './_header-nav-tasks.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <br>
        <h1 class="govuk-heading-xl">Email the debt management service with additional referral details

        </h1>
        <p>Send details of the person dealing with the estate of a claimant who has died to the debt management service. 

        </p>

        <form method="post" action="tasks-3">
         
<br>
          <button class="govuk-button" data-module="govuk-button">
            Start this task
          </button>

          

     <a href="tasks" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary"> 
          Return task to queue
        </a>

        </form>



        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
