{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">

        <div class="column-full-width">

    <main id="content" role="main">
      <div class="grid-row">


        <div class="column-full-width">

          <br><br>
          {% include './name-bar/_bar.html' %}

          {% include './tabs/_tab-history.html' %}

        </div>
      </div>
    </main>

    <br>
    <br>


    <div>


                <table class="govuk-table">
                  <caption class="govuk-table__caption govuk-table__caption--m">History</caption>
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header app-custom-class">Date</th>
                      <th scope="col" class="govuk-table__header app-custom-class">Event</th>
                      <th scope="col" class="govuk-table__header app-custom-class">Notification sent</th>
                      <th scope="col" class="govuk-table__header app-custom-class">Created by</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">28 July 2023</td>
                      <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Prison dates updated</a></td>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell">Agent</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">24 September 2022</td>
                      <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Prison dates added</a></td>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell">Agent</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">28 July 2022</td>
                      <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Bank details changed</a></td>
                      <td class="govuk-table__cell">Letter</td>
                      <td class="govuk-table__cell">Online</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">19 January 2022</td>
                      <td class="govuk-table__cell">State Pension awarded</td>
                     <td class="govuk-table__cell">Letter</td>
                      <td class="govuk-table__cell">System</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">19 January 2019</td>
                      <td class="govuk-table__cell">Additional security: Passed</a></td>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell">Agent</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">11 January 2019</td>
                      <td class="govuk-table__cell">Additional security: Failed</a></td>
                      <td class="govuk-table__cell">Letter</td>
                      <td class="govuk-table__cell">Agent</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">11 January 2019</td>
                      <td class="govuk-table__cell">Additional security: No answer</a></td>
                      <td class="govuk-table__cell">SMS</td>
                      <td class="govuk-table__cell">Agent</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">9 January 2019</td>
                      <td class="govuk-table__cell">Claim received</td>
                      <td class="govuk-table__cell">Email</td>
                      <td class="govuk-table__cell">Online</td>
                    </tr>
                  </tbody>
                </table>


    </div>

    <nav class="govuk-pagination" role="navigation" aria-label="results">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Previous</span></a>
      </div>
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
            1
          </a>
        </li>
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
            2
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
            3
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg></a>
      </div>
    </nav>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /history <br>
        <b>Error messages:</b> None needed   <br>
        <b>Notes:</b> None <br>
      </div>
    </details>

  </div>

</div>



  <div class="govuk-grid-column-one-third">

  </div>



</div>
</div>
</main>
</div>
<!-- </div> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



  </div>
</div>

{% endblock %}
