{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav.html' %}
{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="germany" class="govuk-back-link">Back</a>
        <br> <br>
        <form method="post">

          <h1 class="govuk-heading-xl">
            Would you like us to send letters to you in another format?</h1>
            <span class="govuk-hint">
              For example: audio cassette, audio CD, audio MP3, braille or large print
            </span>

            
            <br><br>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="alternative-conditional-hint">

    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="alternative-conditional" name="alternative" type="radio" value="yes" data-aria-controls="conditional-alternative-conditional">
        <label class="govuk-label govuk-radios__label" for="alternative-conditional">
          Yes
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="alternative-conditional-2" name="alternative" type="radio" value="no" data-aria-controls="conditional-alternative-conditional-2">
        <label class="govuk-label govuk-radios__label" for="alternative-conditional-2">
          No
        </label>
      </div>


    </div>
  </fieldset>
</div>

      <button type="submit" class="govuk-button">
        Continue
      </button>

      <br>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL, errors and notes</b>
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>URL:</b> /alternative-format <br>
        </div>
        <div class="govuk-details__text">
          <b>Errors:</b>
          Noting selected: Select yes if the claimant would like us to send letters to them in another format  <br>

        </div>
      </details>


  </div>


 </form>



</div>

</main>
</div>

{% endblock %}
