{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="check-answers" class="govuk-back-link">Back</a>
        <br> <br>
        <form method="post" ">

          <h1 class="govuk-heading-xl">
             Contact details</h1>


            <h1 class="govuk-heading-l">
              What telephone number should we use to contact you?</h1>
              <span class="govuk-hint">
                We need at least one phone number
              </span>

              <br><br>

          <div class="govuk-form-group">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox" value="home-phone" data-aria-controls="conditional-citizenship-conditional">
                    <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                      Home phone
                    </label>
                  </div>
                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional">
                    <div class="govuk-form-group">

                      <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="mobile" spellcheck="false">
                    </div>

                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="work" data-aria-controls="conditional-citizenship-conditional-2">
                    <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                      Mobile phone
                    </label>
                  </div>
                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-2">
                    <div class="govuk-form-group">

                      <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel">
                    </div>

                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="citizenship-conditional-3" name="citizen" type="checkbox" value="text message" data-aria-controls="conditional-citizenship-conditional-3">
                    <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-3">
                     Work phone
                    </label>
                  </div>
                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-3">
                    <div class="govuk-form-group">
                      <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel">
                    </div>

                  </div>
                </div>
              </fieldset>
            </div>
            <div class="govuk-form-group">

              <h1 class="govuk-heading-l">
                Can we take an email address?</h1>
              <span id="passport-issued-hint" class="govuk-hint">
                We will use this to confirm your application has been submitted or to contact you if we cannot get hold of you by phone
              </span>
              <br><br>
              <input class="govuk-input" id="firstname" name="firstname" type="text">
                </div>
            </div>

            <button type="submit" class="govuk-button">
              Continue
            </button>

            <br>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL, errors and notes</b>
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>URL:</b> /contact-details <br>
        </div>
        <div class="govuk-details__text">
          <b>Errors:</b>
          Invalid: Enter an email address in the correct format, like name@example.com<br>
          Length: Email address must be 100 characters or less    <br>
          Nothing entered: Eneter at least one telephone number  <br>

        </div>
      </details>

          </div>

      </div>


      </form>



    </div>

  </main>
</div>

{% endblock %}
