{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}

<p>Enter this information into the CFN901 system?</p>

        <form method="post" action="confirm">

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Claimant information</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Address</th>
      <td class="govuk-table__cell">8 Mill Road<br>
        Edinburgh<br>
        EH23 1GR</td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Spain</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Period living</th>
      <td class="govuk-table__cell">August 1992 to September 2002</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Period working</th>
      <td class="govuk-table__cell">September 1992 to September 2002</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Equivelent of <br>National Insurance number</th>
      <td class="govuk-table__cell">X0000000-X</td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">France</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Period 1 living</th>
      <td class="govuk-table__cell">December 2002 to March 2003</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Period 2 living</th>
      <td class="govuk-table__cell">September 2003 to January 2007</td>
    </tr>
  </tbody>
</table>

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
