{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav-unselected.html' %}
{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
                      {% include './_bar.html' %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="contacted" class="govuk-back-link">Back</a>
        <br> <br>
        <form method="post" action="marital-status">

          <h1 class="govuk-heading-xl">
            Alternative contact preferences</h1>

  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
     <!--  <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="Audio form" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-checkboxes__label" for="contact">
          Audio form
        </label>
      </div> -->
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="audio" data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-checkboxes__label" for="contact-2">
        Audio form
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="braille" data-aria-controls="conditional-contact-3">
        <label class="govuk-label govuk-checkboxes__label" for="contact-3">
            Audio MP3
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-4" name="contact" type="checkbox" value="large" data-aria-controls="conditional-contact-4">
        <label class="govuk-label govuk-checkboxes__label" for="contact-4">
            Braille
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-5" name="contact" type="checkbox" value="texbox" data-aria-controls="conditional-contact-5">
        <label class="govuk-label govuk-checkboxes__label" for="contact-5">
            Email
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-6" name="contact" type="checkbox" value="typetalk" data-aria-controls="conditional-contact-6">
        <label class="govuk-label govuk-checkboxes__label" for="contact-6">
            Large print
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-6" name="contact" type="checkbox" value="typetalk" data-aria-controls="conditional-contact-6">
        <label class="govuk-label govuk-checkboxes__label" for="contact-6">
          Relay UK
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-6" name="contact" type="checkbox" value="typetalk" data-aria-controls="conditional-contact-6">
        <label class="govuk-label govuk-checkboxes__label" for="contact-6">
          Typetalk
        </label>
      </div>

  </fieldset>

</div>

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>
<a href="marital-status" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
  Cannot complete this page
</a>
</form>





  </div>






</div>

</main>
</div>

{% endblock %}
