{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.go(-1)"
                      }) }}

    <br><br>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Page not found</h1>

        <p>You can:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="#">add another country</a>
          </li>
          <li><a class="govuk-link" href="check-answers">review claim details</a>
          </li>
          
        </ul>

        <!-- <a href="get-a-claim" button type="submit" class="govuk-button">
          Confirm
          </button>
        </a> -->
      </div>

    </div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
