{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

              {% include './_bar.html' %}

        <form method="post" action="get-a-task-complete">


          <h1 class="govuk-heading-l">Claimant passed security check</h1>

         <!--  <h2 class="govuk-heading-m">What happens next</h2> -->

                 <p class="govuk-body">
                   The claim will be sent to the State Pension processing team.
                 </p>
                 <p class="govuk-body">
                   The claimant will be notified of the outcome of the claim by letter within 7-10 days.
                 </p>

          <button class="govuk-button" data-module="govuk-button">
            End task
          </button>

        </div>

      </div>

    </div>


      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
