{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

              {% include './_bar.html' %}

        <form method="post" action="personal">


          <h1 class="govuk-heading-l">Claimant refused to answer security questions</h1>

         <!--  <h2 class="govuk-heading-m">What happens next</h2> -->


         <p class="govuk-body">Tell the claimant that is OK but they must call us back on 0800 731 7898 to complete their claim.</p>

         <p class="govuk-body">Lines are open 8am to 6pm Monday to Friday, except public holidays.</p>

         <p class="govuk-body">They will need their National Insurance number when they call.</p>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </div>

      </div>

    </div>


      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
