{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}

        <div>
          <br>

          <h1 class="govuk-heading-xl">Can you confirm your full name?</h1>

<div>
<p>
<span class="govuk-body govuk-!-font-size-27">Samira McGill</span>
      <span class="govuk-caption-l">QQ 12 34 56 X</span>
</p>



</div>

<br>
        <a href="dob" button type="submit" class="govuk-button">
          Continue
        </a>

        <p><a href="find" class="govuk-link">The claimant's name does not match</a></p>


      </div>
    </div>



</div>
  </div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
