{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-enquiries.html' %}

{% block headEnd %}
{% endblock %}

{% include './_find-someone-enquiries.html' %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}


          <a href="award" class="govuk-back-link">Back</a>
          <br><br>
          
          <h2 class="govuk-heading-l">Previous State Pension award</h2>
 
 <table class="govuk-table">
    <tbody class="govuk-table__body">
     
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header" style="width: 50%">From</th>
        <td class="govuk-table__cell" style="width: 50%">10 April 2019</td>
      </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Reason</th>
          <td class="govuk-table__cell">HMRC review</td>
        </tr>
    </tbody>
  </table>

 <table class="govuk-table">
     <thead class="govuk-table__head">
       <tr class="govuk-table__row">
         <th class="govuk-table__header" scope="col" style="width: 50%">Total</th>
         <th class="govuk-table__header" scope="col" style="width: 50%">£155.27 a week	</th>
       </tr>


     </thead>
     <tbody class="govuk-table__body">
       <tr class="govuk-table__row">
         <td class="govuk-table__cell" scope="row">New State Pension</td>
         <td class="govuk-table__cell">£155.27</td>
       </tr>
       <tr class="govuk-table__row">
         <td class="govuk-table__cell" scope="row">Protected payment</td>
         <td class="govuk-table__cell">£0.00</td>
       </tr>
       <tr class="govuk-table__row">
           <td class="govuk-table__cell" scope="row">Extra State Pension</td>
           <td class="govuk-table__cell">£0.00</td>
         </tr>
         <tr class="govuk-table__row">
             <td class="govuk-table__cell" scope="row">Inherited extra State Pension</td>
             <td class="govuk-table__cell">£0.00</td>
           </tr>
     </tbody>
   </table>

<br>
   <h2 class="govuk-heading-m">Awards never paid</h2>


   <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col" style="width: 50%">Reason</th>
        <th class="govuk-table__header " scope="col" style="width: 50%">Amount</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Final year contributions</td>
        <td class="govuk-table__cell">£150.68</td>
      </tr>    
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">First award</td>
        <td class="govuk-table__cell">£145.77</td>
      </tr>      
    </tbody>
  </table>


        </div>
      </div>
    </main>

  </div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}