{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full"

          <br><br><br>
          {% include './name/_bar.html' %}

          {% include './tabs/_tab-history.html' %}

        </div>
      </div>
    </main>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



  </div>
</div>




<div class="govuk-grid-column-one-third">
  <br><br>


</div>


</div>
</div>
</main>
</div>
<!-- </div> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
