{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

              {% include './_bar-task-outstanding.html' %}

                      <form method="post" action="personal-complete">

                        <h1 class="govuk-heading-l">Confirm amount to deduct</h1>

                        <p>The Carer's Allowance the claimant has been paid since their start date will be deducted from their first payment.</p>

                        <table class="govuk-table">

                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">From</td>
                            <td class="govuk-table__cell" scope="row"></td>
                            <td class="govuk-table__cell" scope="row"></td>
                            <td class="govuk-table__cell">5 Jun 2022</td>


                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">To</td>
                            <td class="govuk-table__cell" scope="row"></td>
                            <td class="govuk-table__cell" scope="row"></td>
                            <td class="govuk-table__cell">29 Jan 2023</td>

                            <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                              <td class="govuk-table__cell" scope="row">Weekly amount of Carer's Allowance</td>
                              <td class="govuk-table__cell" scope="row"></td>
                              <td class="govuk-table__cell" scope="row"></td>
                              <td class="govuk-table__cell">£69.50</td>

                              <!--  <tr class="govuk-table__row">
                                <td class="govuk-table__cell" scope="row">Period</td>
                                <td class="govuk-table__cell" scope="row"></td>
                                <td class="govuk-table__cell" scope="row"></td>
                                <td class="govuk-table__cell">20 weeks and 5 days</td> -->
                            <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                              <td class="govuk-table__cell" scope="row">Amount to deduct</td>
                              <td class="govuk-table__cell" scope="row"></td>
                              <td class="govuk-table__cell" scope="row"></td>
                              <td class="govuk-table__cell">£1459.50</td>

                        </table>

                        <div class="govuk-inset-text">
                      An award letter will be sent with details of the deduction.
                        </div>

<button class="govuk-button" data-module="govuk-button">
 Confirm and send letter
</button>

<!--
     <a href="get-next-task" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
          Return task to queue
        </a>

        </form> -->



        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
