{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

              {% include './_bar-task-outstanding.html' %}

              {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
                                }) }}

                                <br><br>

                      <form method="post" action="summarise-br403">

                        <h1 class="govuk-heading-l">Confirm there is no offset</h1>

<p>State Pension award will be put into payment with no offset...</p>

<p>Or we can have change to award screen with numbers here, but I don't think we need it?</p>

<div class="govuk-inset-text">
  something letter will be send
</div>

<button class="govuk-button" data-module="govuk-button">
 Confirm and send letter
</button>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
