{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
serviceName: serviceName,
serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% include './_find-someone.html' %}



<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-two-thirds">

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">

                {% if data['imprisoned-day'] or data['dead-day'] %}
                {% set status = data['stopped-reason'] %}
                {% else %}
                {% set status = 'Payment returned'%}
                {% endif %}

                <div>
                  <h1 class="govuk-heading-xl">
                    Rachel Smith<br>
                    <span class="govuk-caption-xl">QQ 12 34 56 X</span>
                    <span class="app-c-tag">Receiving State Pension</span>
                  </h1>
                </div>

              </div>
            </div>

          </div>
        </div>
      </main>

      <a href="overview4" class="govuk-back-link">Back</a>

      <br><br>

      <h2 class="govuk-heading-l">Marital details</h2>
    
      <table class="govuk-table">
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Status</th>
            <td class="govuk-table__cell" style="width: 30%" >Married</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell" style="text-align: right"> <a class="govuk-link" href="">Change</a></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of marriage</th>
            <td class="govuk-table__cell">17 December 2019</td>
            <td class="govuk-table__cell"><span  style="margin-left: 27%" class="verified-badge not-verified">
              <b>Not verified</b>
            </span> </td>
            <td class="govuk-table__cell" style="text-align: right">
                <a class="govuk-link" href="marital-date2">Change</a>
            </td>
           </tr>

        </tbody>
      </table>

      <h2 class="govuk-heading-m">Spouse details</h2>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
           <th scope="row" class="govuk-table__header" style="width: 35%">First name</th>
            <td class="govuk-table__cell" style="width: 50%">David</td>
            <td class="govuk-table__cell" style="text-align: right"><a class="govuk-link" href="firstname">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Surname</th>
            <td class="govuk-table__cell">Smith</td>
            <td class="govuk-table__cell" style="text-align: right"><a class="govuk-link" href="surname">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Other names</th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell" style="text-align: right"><a class="govuk-link" href="other-names">Add</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth </th>
            <td class="govuk-table__cell">19 April 1954 </td>
            <td class="govuk-table__cell" style="text-align: right"><a class="govuk-link" href="dob">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">National Insurance number </th>
            <td class="govuk-table__cell">QQ 12 34 56 X</td>
            <td class="govuk-table__cell" style="text-align: right"><a class="govuk-link" href="ni-number">Change</a></td>
          </tr>

        </tbody>
      </table>


      <!-- <a class="govuk-link" href="change-status" style="font-size: 19px">
                      Change marital status
                    </a>-->

    </div>




  </main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}