{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/servicename-contact.html' %}


{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% include './_find-someone.html' %}


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

      <div class="govuk-grid-column-two-thirds">

        <main id="content" role="main">
          <div class="grid-row">
            <div class="column-full">

{% include './_bar.html' %}


            </div>
          </div>
        </main>


        <div>
          <a href="contact" class="govuk-back-link">Back</a>
        </div>


        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#name">We couldn't find this postcode. If it is correct enter the address manually.</a>
              </li>
            </ul>
          </div>
        </div>

        <h1 class="govuk-heading-l">Change address</h1>

        <div class="govuk-form-group govuk-form-group--error">
          <label class="govuk-label" for="name">
            UK postcode
          </label>
          <span id="name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter a valid UK postcode
          </span>
          <input class="govuk-input govuk-input--error govuk-input--width-10" id="postcode" name="postcode" type="postcode" aria-describedby="name-error"></div>


          <button type="submit" class="govuk-button">
            Find address
          </button>
<div>
</div>
          <a class="govuk-link" style="font-size: 19px" href="address-postcode-manual2">
            Enter address manually
          </a>
        </div>
        </div>

      </div>

    </div>

  </div>

</main>        </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
