{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <br>
      <form method="post">
      <div>
        <a href="tasks-3-2" class="govuk-back-link">Back</a>
        
      </div>
      <br>
      <h1 class="govuk-heading-xl">Request proof of marriage</h1>
      <p>A letter will be sent to the claimant asking them to send us proof of their marriage. Once we are able to verify the date of marriage, the inherited State Pension components can be added.
      </p>
         
<br>
          <a href="tasks" button type="submit" class="govuk-button"> 
            End task
          </a>

        </form>



        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
