{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-column-two-thirds">

        <main id="content" role="main">
          <div class="grid-row">
            <div class="column-full">

              {% include 'includes/_bar.html' %}


            </div>
          </div>
        </main>



        {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}
        <br><br>
      <form action="personal-account-closed" method="post" class="form">
        <h1 class="govuk-heading-l">Check details and send letter</h1>
<br>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
JD Solicitors           </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="dap-name">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reference number
            </dt>
            <dd class="govuk-summary-list__value">
JD1234GYSP
           </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="dap-name">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              FLAT 12<br> JUNE STREET<br> NE65 0LZ
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="dap-address">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

        </dl>


      <div class="govuk-inset-text">
          This will automatically stop any future payments and send a death acknowledgement letter.
  </div>
          <button type="submit" class="govuk-button">
            Confirm and send letter
          </button>
    </div>

</div>

</form>

</div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"></div>
</div>

{% endblock %}
