{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <br>

      <h1 class="govuk-heading-xl">
      Alan Smith
                        <span class="govuk-caption-xl">XX 12 34 56 X</span>
                      </h1>



        <form method="post" action="widows-not-complete-1">

          <h2 class="govuk-heading-l">Late spouse's date of birth</h2>


          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>


        </form>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
