{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->

{% include './_header-nav-tasks.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">
        Task complete
      </h3>
    </div>
  </div>

      <h1 class="govuk-heading-xl">Get a task</h1>

      <form method="post" action="widows-task-1">

        <p>View the next available task that requires an action.</p>
<br>
        <a href="tasks-1" button type="submit" class="govuk-button">
          View next task
      </a>

      </form>




        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
