{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div>
          <a href="widows-task-1" class="govuk-back-link">Back</a>
        </div>
        <br>
        <form method="post">

      <div class="govuk-form-group">
          <h1 class="govuk-heading-xl">Late spouse or civil partner's National Insurance number</h1>

          <div class="govuk-form-group">
    <label class="govuk-label" for="national-insurance-number">
      National Insurance number
    </label>
    <input class="govuk-input govuk-input--width-10" id="national-insurance-number" name="national-insurance-number" type="text" spellcheck="false" aria-describedby="national-insurance-number-hint">
  </div>
      </div>

      <br>


          <a href="widows-task-1" button type="submit" class="govuk-button">
            Continue
            </button>


          </a>
        </form>



      </div>

    </div>

</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
