{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

              {% include './_bar.html' %}

                      <form method="post" action="confirm">

                        <h1 class="govuk-heading-l">Information received from Pension Credit team in part B of BR403</h1>


                      <table class="govuk-table">
                      <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                      <th class="govuk-table__header award_detail2" scope="col"></th>
                      <th class="govuk-table__header award_detail" scope="col">
                    </th>
                      <td class="govuk-table__cell award_detail">
                      </td>
                      </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">From</td>
                      <td class="govuk-table__cell"><div class="govuk-date-input" id="passport-issued">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                              Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                              Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                              Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                      </div>
          
                        </td>





                      </tr>
                      <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">To</td>
                      <td class="govuk-table__cell"><div class="govuk-date-input" id="passport-issued">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                              Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                              Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                              Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                      </div>
          </td>
                      </tr>
                      
                      <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Weekly amount to recover</td>
                      <td class="govuk-table__cell"><div class="govuk-date-input__item">
                        <div class="govuk-form-group">

                          £ <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                      </div></td>
                      <td class="govuk-table__cell"></td>
                      </tr>

                     <!--  <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">Total to recover</td>
                        <td class="govuk-table__cell">£63.00</td>
                        <td class="govuk-table__cell"></td>
                        </tr>

                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">Weekly amount to increase <br>State Pension by</td>
                        <td class="govuk-table__cell">£1.50</td>
                        <td class="govuk-table__cell"></td>
                        </tr> -->

                      </tbody>
                      </table>

                     <!--  <h2 class="govuk-heading-m">Change details</h2>

                      <table class="govuk-table">
                      <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Date change from</td>
                      <td class="govuk-table__cell">
                      8 September 2021  </td>
                      </tr>
                      <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Difference in weekly amount</td>
                      <td class="govuk-table__cell">
                      £4.59  </td>

                      </tr>

                      </tbody>
                      </table> -->




<button class="govuk-button" data-module="govuk-button">
 Continue
</button>

<!--
     <a href="get-next-task" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
          Return task to queue
        </a>

        </form> -->



        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
