{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

              {% include './_bar.html' %}

        <form method="post" action="get-a-task-returned">

          <h1 class="govuk-heading-xl">The claimant cannot provide valid payment details</h1>

<p>Tell the claimant that their claim will be put on hold for 14 days.</p>

<p>The claimant needs to call us back with details of a valid bank or building society account.</p>

<p class="govuk-body">The number is 0808 100 2658 and lines are open 9am to 4pm Monday to Friday, except public holidays.</p>

<p class="govuk-body">They will need their National Insurance number when they call.</p>

<p class="govuk-body">We will send a notification to the claimant with this information on.</p>

          <button class="govuk-button" data-module="govuk-button">
            End task
          </button>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
          
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
              <b>URL, errors and notes</b>
              </span>
            </summary>
            <div class="govuk-details__text">
              <b>URL:</b> /no-valid-payment-details <br>
              <b>Error messages:</b> 
              

      
              <b>Notes:</b> None <br>

            </div>


<p>

          </div>

        </div>

      </div>

    </div>


      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
