{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

              {% include './_bar.html' %}

        <form method="post">


          <h1 class="govuk-heading-l">Take claimant through additional security</h1>

          <ol class="govuk-list govuk-list--number">
            <li>Refer to Searchlight (CIS) and NIRS (OLE) for additional security questions and answers.</li>
            <li> Claimant must answer at least 2 of 3 additional security questions correctly.</li>




          </ol>

<br><br>

        <!--   <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Claimant information</caption>

            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of birth</th>
                <td class="govuk-table__cell">12 December 1954</td>
              </tr>
            </tbody>

            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Method of application</th>
                <td class="govuk-table__cell">Online</td>
              </tr>
            </tbody>

          </table> -->



          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="security-questions-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  What was the outcome of the additional security check?
                </h1>
              </legend>
              <div id="security-questions-hint" class="govuk-hint">

              </div>
              <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-questions" name="security-questions" type="radio" value="passed">
                  <label class="govuk-label govuk-radios__label" for="security-questions">
                    Passed<!-- - answered at least 2 questions correctly -->
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-questions-2" name="security-questions" type="radio" value="failed">
                  <label class="govuk-label govuk-radios__label" for="security-questions-2">
                    Failed<!--  - answered fewer than 2 questions correctly -->
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-questions-2" name="security-questions" type="radio" value="refused">
                  <label class="govuk-label govuk-radios__label" for="security-questions-2">
                    Would not answer questions</label>
                </div>
              </div>
            </fieldset>


          </div>


          <button class="govuk-button" data-module="govuk-button">
            Confirm
          </button>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /ask-security-questions-inbound <br>
        <b>Error messages:</b> If nothing selected: Select what was the outcome of the additional security check<br>
        <b>Notes:</b> None <br>
      </div>
    </details>

        </div>

      </div>

    </div>


      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
