{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/servicename-tasks.html' %}


{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        </br>
        <form method="post" action="reason2">
          <div class="govuk-form-group">
            <h1 class="govuk-heading-xl">Process a claim</h1>

            <p>Claims to be processed: 2</p>
<br>
            <button type="submit" class="govuk-button">
              Process a claim
            </button>
        </form>

      </div>



    </div>
</div>

</main>
</div>

{% endblock %}