{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/servicename-tasks.html' %}


{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-two-thirds">

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">
<br>
            {% include './_bar.1.html' %}

          </div>
        </div>
      </main>

     

<br>
      <form action="newaward" method="post" class="form">
      <form method="post" >
        <div class="govuk-form-group">
            <h1 class="govuk-heading-m">Reason the award needs to be checked</h1>
            <ul class="govuk-list govuk-list--bullet">
              <li>What is your current marital status = Widowed</li>
              <li>Are you receiving any benefits = Yes</li>
              <li>Have you ever lived outside of the UK = Yes</li>
            </ul>
     </div>

        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>


    </div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
