{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">

  <br>
  <br>

  <div class="govuk-grid-column-full">


            {% include './name-bar/_bar-jose.html' %}

             {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
                                }) }}

              <br><br>

                 <h1 class="govuk-heading-l">
                  Confirm you want to remove the claimant</h1>

                <p>Removing the claimant will:</p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>stop payment of their State Pension</li>
                  <li>archive their account on the GySP system</li>
                </ul>

                <div class="govuk-warning-text">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    This action cannot be undone
                  </strong>
                </div>
                <a href="personal-deleted.html" role="button" draggable="false" button class="govuk-button govuk-button--warning" data-module="govuk-button">
                  Remove claimant
                </a>


                  </div>
                  </div>


{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
