{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post">


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l">Question three - delete if unrequired
                <br> OR question three of three etc</span>
                <h1 class="govuk-heading-l">Range of values AND a “none” option (example)</h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-question-three" name="security-question-three" type="radio" value="less">
                  <label class="govuk-label govuk-radios__label" for="security-question-three">
                    Less than £1,499
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-question-three-2" name="security-question-three" type="radio" value="1500">
                  <label class="govuk-label govuk-radios__label" for="security-question-three-2">
                    Between £1,500 and £2,999
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-question-three-3" name="security-question-three" type="radio" value="3000">
                  <label class="govuk-label govuk-radios__label" for="security-question-three-3">
                    Between £3,000 and £5,999
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-question-three-4" name="security-question-three" type="radio" value="6000">
                  <label class="govuk-label govuk-radios__label" for="security-question-three-4">
                    Between £6,000 and £9,999
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-question-three-5" name="security-question-three" type="radio" value="10000">
                  <label class="govuk-label govuk-radios__label" for="security-question-three-5">
                    More than £10,000
                  </label>
                </div>
              </div>


              OR

            </fieldset>
          </div>


      <button type="submit" class="govuk-button">
        Confirm
      </button>

  </div>



</div>

</main>
</div>

{% endblock %}
