{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post">


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l">Question 2 of 3
                <br></span>
                <h1 class="govuk-heading-l">What is the current outstanding balance of your most recent mortgage?</h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-questions-three" name="security-questions-three" type="radio" value="less">
                  <label class="govuk-label govuk-radios__label" for="security-questions-three">
                  Less than £24,499
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-questions-three-2" name="security-questions-three" type="radio" value="1500">
                  <label class="govuk-label govuk-radios__label" for="security-questions-three-2">
                  Between £25,000 and £74,999
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-questions-three-3" name="security-questions-three" type="radio" value="3000">
                  <label class="govuk-label govuk-radios__label" for="security-questions-three-3">
                  Between £75,000 and £124,999
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-questions-three-4" name="security-questions-three" type="radio" value="6000">
                  <label class="govuk-label govuk-radios__label" for="security-questions-three-4">
                  £125,000 or more
                  </label>
                </div>
                
                <div class="govuk-radios__divider">or</div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-questions-three-6" name="security-questions-three" type="radio" value="never">
                  <label class="govuk-label govuk-radios__label" for="security-questions-three-6">
                  I don't have a mortgage
                  </label>
                </div>
              </div>

            </fieldset>
          </div>



      <button type="submit" class="govuk-button">
        Confirm
      </button>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /security-question-3 <br>
        <b>Error messages:</b> Nothing selected: Select the current outstanding balance of your mortgage<br>
        <b>Notes:</b> This template is for all questions with a range of answers AND a "none" option <br>
      </div>
    </details>

  </div>

  </div>



</div>

</main>
</div>

{% endblock %}
