{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l">Question three - delete if unrequired
                <br> OR question three of three etc</span>
                <h1 class="govuk-heading-l">One correct and four wrong answers (example - postcode maybe)</h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-question-four" name="security-question-four" type="radio" value="correct-answer">
                  <label class="govuk-label govuk-radios__label" for="security-question-four">
                    CW40 1KH
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-question-four-2" name="security-question-four" type="radio" value="wrong-answer-1">
                  <label class="govuk-label govuk-radios__label" for="security-question-four-2">
                    NE65 0LH
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-question-four-3" name="security-question-four" type="radio" value="wrong-answer-2">
                  <label class="govuk-label govuk-radios__label" for="security-question-four-3">
                    SA13 8NY
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-question-four-4" name="security-question-four" type="radio" value="wrong-answer-3">
                  <label class="govuk-label govuk-radios__label" for="security-question-four-4">
                    NH34 6JK
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="security-question-four-5" name="security-question-four" type="radio" value="wrong-answer-4">
                  <label class="govuk-label govuk-radios__label" for="security-question-four-5">
                    EE98 OLZ
                  </label>
                </div>
              </div>

            </fieldset>
          </div>


      <button type="submit" class="govuk-button">
        Confirm
      </button>

  </div>




</div>

</main>
</div>

{% endblock %}
