{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">


          <span class="govuk-heading-xl">We need to perform additional checks
            <br></span>

            <p>We still cannot confirm your identity.</p>

<p>We will now ask you 3 multiple choice questions based on your credit record.</p>
 
<p>This will not affect your credit score.</p>


      <button type="submit" class="govuk-button">
        Continue
      </button>

  </div>




</div>

</main>
</div>

{% endblock %}
