{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav.html' %}

{% block headEnd %}
{% endblock %}

{% include './_find-someone-enquiries.html' %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}


          <a href="cancel-date" class="govuk-back-link">Back</a>
          <br><br>
          <form method="post" action="personal-postponed">
          <h2 class="govuk-heading-l">Defer State Pension</h2>
          <p method="post" action="personal-postponed">

           <p>The State Pension will be deferred from the claimant’s State Pension date and payments will be stopped. </p> 
           <p>The claimant must pay back [amount of SP already paid] or we will break their legs.</p> 
           <p>When the claimant wants to start getting their State Pension again, they will need to make a new claim.</p>

        </div>
      </div>
     
      <button type="submit" class="govuk-button">
        Confirm
      </button>
    </form>
    </main>
</div>
  </div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}