
  <div class="govuk-button-group">

    <a href="cases" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    All cases
    </a>

    <a href="change-personal-details" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Change details
    </a>

    <a href="change-award" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Correct an award
    </a>

    <a href="remove" role="button" draggable="false" button class="govuk-button govuk-button--warning" data-module="govuk-button" >
      Remove claimant
    </a>


  </div>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
