{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

              {% include './_bar.html' %}

                      <form method="post" action="debt-details">

                        {{ govukBackLink({
                    text: "Back",
                    href: "javascript:history.go(-1)"
                    }) }}

<Br><br>

                        <h1 class="govuk-heading-l">Do you want to edit or remove the debt payment?</h1>


                        <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset">
                            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="edit-remove-debt" name="edit-remove-debt" type="radio" value="edit">
                                <label class="govuk-label govuk-radios__label" for="edit-remove-debt">
                                Edit existing debt payment
                                </label>
                              </div>
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="edit-remove-debt-2" name="edit-remove-debt" type="radio" value="remove">
                                <label class="govuk-label govuk-radios__label" for="edit-remove-debt-2">
                                Remove existing debt payment
                                </label>
                              </div>
                            </div>

                          </fieldset>
                        </div>



<button class="govuk-button" data-module="govuk-button">
 Continue
</button>




        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
