{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">

  <br>
  <br>


  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full-width">
          <br><br>

          {% include './name-bar/_bar-jose.html' %}

        </div>
      </div>
    </main>

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
    }) }}

    <div>

      <h2 class="govuk-heading-l">Current State Pension award</h2>


      <table class="govuk-table">
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 50%">From</th>
            <td class="govuk-table__cell" style="width: 50%">8 March 2018</td>
          </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Reason</th>
              <td class="govuk-table__cell">HMRC review</td>
            </tr>
        </tbody>
      </table>

      <table class="govuk-table">
         <thead class="govuk-table__head">
           <tr class="govuk-table__row">
             <th class="govuk-table__header" scope="col" style="width: 50%">Total</th>
             <th class="govuk-table__header" scope="col" style="width: 50%">	£150.27 a week	</th>
           </tr>


         </thead>
         <tbody class="govuk-table__body">
           <tr class="govuk-table__row">
             <td class="govuk-table__cell" scope="row">New State Pension</td>
             <td class="govuk-table__cell">	£150.27</td>
           </tr>
           <tr class="govuk-table__row">
             <td class="govuk-table__cell" scope="row">Protected payment</td>
             <td class="govuk-table__cell">£0.00</td>
           </tr>
           <tr class="govuk-table__row">
               <td class="govuk-table__cell" scope="row">Extra State Pension</td>
               <td class="govuk-table__cell">£0.00</td>
             </tr>
             <tr class="govuk-table__row">
                 <td class="govuk-table__cell" scope="row">Inherited extra State Pension</td>
                 <td class="govuk-table__cell">£0.00</td>
               </tr>
         </tbody>
       </table>


      <br>
        <a href="award" role="button" class="govuk-button">
          Return? Or get rid?
        </a>
      </div>


</div>
</div>
</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
