{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">

  <br>
  <br>


  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full-width">
          <br><br>

          {% include './name-bar/_bar-jose.html' %}

        </div>
      </div>
    </main>

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
    }) }}

    <div>

      <br>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
            Marital status
            </h1>
          <br>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="marital-status" name="marital-status" type="radio" value="married">
              <label class="govuk-label govuk-radios__label" for="marital-status">
                Married
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="marital-status-2" name="marital-status" type="radio" value="civil-partnership">
              <label class="govuk-label govuk-radios__label" for="marital-status-2">
                In a civil partnership
              </label>
            </div>
          </div>

        </fieldset>

        
          <a href="personal" role="button" class="govuk-button">
            Continue
          </a>
      </div>






</div>
</div>
</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
