{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">

  <br>
  <br>


  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full-width">
          <br><br>

          {% include './name-bar/_bar-kevin.html' %}

        </div>
      </div>
    </main>

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
    }) }}

    <div>
            <form method="post" action="personal">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  </legend>
                  <h1 class="govuk-heading-l">Date of late spouse's death</h1>
                  <div class="govuk-date-input" id="widowed-date">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="widowed-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="widowed-day" name="widowed-day"
                          type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="widowed-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="widowed-month"
                          name="widowed-month" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="widowed-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="widowed-year"
                          name="widowed-year" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                  </div>

                </fieldset>
              </div>

              <fieldset class="govuk-fieldset" aria-describedby="widowed-verification-hint">
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="widowed-verification" name="widowed-verification" type="radio"
                      value="verified">
                    <label class="govuk-label govuk-radios__label" for="widowed-verification-1">
                      Verified
                    </label> </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="widowed-verification" name="widowed-verification" type="radio"
                      value="not-verified">
                    <label class="govuk-label govuk-radios__label" for="widowed-verification-2">
                      Not verified
                    </label> </div>
                </div>
              </fieldset>
      <br>
        <a href="personal-widowed" role="button" class="govuk-button">
          Continue
        </a>
      </div>


</div>
</div>
</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
