{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}

          {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
                            }) }}

                            <br><br>

          <h2 class="govuk-heading-l">Choose award to change</h2>


          
         <table class="govuk-table">
             <thead class="govuk-table__head">
               <tr class="govuk-table__row">
                 <th class="govuk-table__header" scope="col" style="width: 27.5%">From</th>
                 <th class="govuk-table__header" scope="col" style="width: 27.5%">Amount</th>
                 <th class="govuk-table__header" scope="col" style="width: 27.5%">Reason</th>
                 <th class="govuk-table__header" scope="col" style="width: 17.5%"></th>
               </tr>


             </thead>
             <tbody class="govuk-table__body">
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell" scope="row">10 July 2019</td>
                 <td class="govuk-table__cell">£160.34</td>
                 <td class="govuk-table__cell">HMRC</td>
                 <td class="govuk-table__cell"><a href = 'review-award.html'>Change</a></td>
            
               </tr>
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell" scope="row">13 April 2019</td>
                 <td class="govuk-table__cell">£157.00</td>
                 <td class="govuk-table__cell">Widowed</td>
                 <td class="govuk-table__cell"><a href = 'choose-award.html'>Change</a></td>
               </tr>

               <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">10 January 2019</td>
                <td class="govuk-table__cell">£154.34</td>
                <td class="govuk-table__cell">Initial award</td>
                <td class="govuk-table__cell"><a href></a></td>
           
              </tr>
             </tbody>
           </table>


        </div>
      </div>
    </main>

  </div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
