{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {% include 'includes/_bar-widows.html' %}

{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}

  <br><br>
  <form method="post">

      <div class="govuk-form-group">
          <h1 class="govuk-heading-l">More information needed</h1>
          <br>
<p>Send a letter to the claimaint asking them to send in their:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>certificate of marriage or civil partnership</li>
</ul>


      <br>

      <button class="govuk-button" data-module="govuk-button">
        Confirm letter sent
      </button>


      </div>

    </div>

</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
