{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
serviceName: serviceName,
serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% include './_find-someone.html' %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-two-thirds">

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">

            {% include './_rachel-smith.html' %}

          </div>
        </div>
      </main>

      <div>
        <a href="overpayment" class="govuk-back-link">Back</a>
      </div>
      <br>
      <form action="overview-death-nv" method="post" class="form">
        <h1 class="govuk-heading-l">Check details</h1>
<br>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Sarah Smith
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="dap-name-change.html">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
             07898676548
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="dap-number-change.html">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              72 Guild Street<br>London<br>SE23 6FH
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="dap-address-change.html">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
         
        </dl>


        <div>
            <p>Let this person know they may receive a letter once the death has been verified and the final
                payment has been calculated. </p>
           
<br>
          

        

        </div>
        <button type="submit" class="govuk-button">
          Confirm
        </button>
    </div>

</div>

</form>

</div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"></div>
</div>

{% endblock %}