{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

              {% include './_bar-pc.html' %}

                      <form method="post">


                        <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                              <h1 class="govuk-fieldset__heading">
                                Who's involved here, from these dates
                              </h1>
                            </legend>
                            <br>
                            <div class="govuk-radios">
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="receiving-pc" name="receiving-pc" type="radio" value="citizen">
                                <label class="govuk-label govuk-radios__label" for="receiving-pc">
                                  England
                                </label>
                              </div>
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="receiving-pc-2" name="receiving-pc" type="radio" value="partner">
                                <label class="govuk-label govuk-radios__label" for="receiving-pc-2">
                                  Scotland
                                </label>
                              </div>
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="receiving-pc-3" name="receiving-pc" type="radio" value="none">
                                <label class="govuk-label govuk-radios__label" for="receiving-pc-3">
                                  Wales
                                </label>
                              </div>
                            </div>

                          </fieldset>
                        </div>



<button class="govuk-button" data-module="govuk-button">
 Continue
</button>



        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
