{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-column-two-thirds">

        <main id="content" role="main">
          <div class="grid-row">
            <div class="column-full">

              {% include './_bar.html' %}


            </div>
          </div>
        </main>

        

        {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
        <br><br>

      <form method="post" class="form" action="check-details">
          <h1 class="govuk-heading-l">Awaiting verification of death</h1>
          <p>The final payment cannot be calculated yet because the date of death has not been verified.
            </p>
            <p>Once verification of death has been received, you will be able to calculate the final payment.</p>
          <br>


    

       
        <button type="submit" class="govuk-button">
          Continue
        </button>
        </a>
        </dd>
    </div>
    <br>

</div>

</div>

</form>


</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"></div>
</div>

{% endblock %}