{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include '././_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}

      <form method="post" action="change-homephone-r">

        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
                          }) }}

          <br><br>
          <h2 class="govuk-heading-l">How do you want to update the address?</h2>
          <div class="govuk-inset-text">
          14 West Avenue<br>
          Leeds<br>
          LS1 1WA                          </div>
          <div class="govuk-form-group">

             <div class="govuk-radios govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="change-address" name="change-address" type="radio" value="change">
                <label class="govuk-label govuk-radios__label" for="change-address">
                  Change address
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="change-address-2" name="change-address" type="radio" value="remove">
                <label class="govuk-label govuk-radios__label" for="change-address2">
                Stop letters
                </label>
              </div>
            </div>

           </div>

          <button type="submit" class="govuk-button">Save</button>
        </div>
      </div>
    </main>

  </form>
</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
