
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include './_bar.html' %}

{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}

  <br><br>



        <h1 class="govuk-heading-l">Change correspondence address</h1>

        <form method="post" action="change-corr-address3">
          <div class="govuk-form-group">
            <label class="govuk-label" for="postcode">
              UK postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="postcode" aria-describedby="postcode-hint">
          </div>

          <button type="submit" class="govuk-button">
            Find address
          </button>
<div></div>

        </div>
        </div>

      </div>

    </div>

  </div>

</main>        </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
