{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-column-two-thirds">

        <main id="content" role="main">
          <div class="grid-row">
            <div class="column-full">




          {% include 'includes/_bar-dead-rooney.html' %}

            </div>
          </div>
        </main>



        {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}
        <br><br>

          <h1 class="govuk-heading-l">Payee's overseas bank details
          </h1>
        <form class="form" method="post">

        <div class="govuk-form-group">
            <label class="govuk-label" for="iban">
              IBAN
            </label>
            <input class="govuk-input" id="iban" name="iban" type="text" spellcheck="false" aria-describedby="iban-hint">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
              Bank name
            </label>
            <input class="govuk-input govuk-input--width-10" id="bic-code" name="bic-code" type="text" spellcheck="false" aria-describedby="bic-code-hint">
</div>
<div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
Account holder name           </label>
            <input class="govuk-input govuk-input--width-10" id="bic-code" name="bic-code" type="text" spellcheck="false" aria-describedby="bic-code-hint">
</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="bic-code">
    BIC or SWIFT code
  </label>

  <input class="govuk-input govuk-input--width-10" id="bic-code" name="bic-code" type="text" spellcheck="false" aria-describedby="bic-code-hint">
</div>
<br><br>

          <button class="govuk-button" data-module="govuk-button">
              Send Payment
            </button>
          </form>
                    </div>
                    <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                    <b>URL, errors and notes</b>
                    </span>
                    </summary>
                    <div class="govuk-details__text">
                      <b>URL:</b> /changes-and-enquiries/personal/death/overseas-account-details<br><br>

                      <b>Error messages:<br><br></b>



                    <b><u>  IBAN</u>
                    <br><br>
                    Empty - </b>Enter an IBAN<br>
                    <b>  Invalid <br>- </b>IBAN must only contain letters or numbers<br>
                    <b>-</b> IBAN must start with two letters<br>
                    <b>Length -</b> IBANs for [country name] must include exactly [XX] letters and numbers
                    <br><br><br>
                    <b>  <u>Bank name</u><br><br>

                    Empty - </b>Enter the bank name<br>
                    <b>  Length -</b> Bank name must be 70 characters or less<br>
                    <br><br>
                    <b><u>Account holder name</u><br><br>

                    Empty -</b> Enter the account holder's full name<br>
                    <b>  Length -</b> Account holder name must be 70 characters or less<br>
                    <b>  Invalid -</b> Name must start with a letter and not contain numbers<br>
                    <br><br>
                    <b> <u>BIC or SWIFT code</u></b>
                    <br><br>
                    <b>  Empty -</b> Enter a BIC or SWIFT code<br>
                    <b>  Length -</b> BIC or SWIFT code must be 11 characters or less<br>
                    <b>  Invalid -</b> BIC or SWIFT code must start with a letter and must not include spaces
<br><br>
                      </div>
                    </details>



</div>

        </form>
      </div>
    </fieldset>
  </div>
</div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds"></div>
</div>

{% endblock %}
