{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}

          {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
                            }) }}
          <br><br>
          <h2 class="govuk-heading-l">Spouse's other names</h2>


          <form method="post">
            <div class="govuk-form-group">
              <span id="passport-issued-hint" class="govuk-hint">
                Include middle names, maiden name, former married names and changes of family name.
              </span>

              <div class="govuk-form-group">
                <input class="govuk-input" id="event-name" name="event-name" type="text">
              </div>
            </div>

            <button type="submit" class="govuk-button">
              Save
            </button>
          </form>
        </div>
      </div>
    </main>

  </form>
</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
