{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">
          <br><br>
          {% include './_bar-receiving.html' %}
          <nav class="navigation-secondary">
            <ul>
              <li>
                <a href="personal-processed">Personal</a>
              </li>
              <li>
                  <a href="contact-processed" >Contact</a>
                </li>
                <li>
                  <a href="award-processed">Award</a>
                </li>
                <li>
                  <a href="payment-processed"class="active">Payment</a>
                </li>
            </ul>
          </nav>
        </div>
      </div>
    </main>

    <br><br>
    <h2 class="govuk-heading-m">Bank or building society account details</h2>
    <table class="govuk-table">
      <tbody class="govuk-table__body">

          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>


              <a href="changebanktype">
                <span class="govuk-link govuk-!-font-size-19" style="margin-left: 90%">Change</span>
              </a>


          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width: 45%">Account holder</th>
          <td class="govuk-table__cell" style="width: 45%"> Mr R Mcdonald</td>
          <td class="govuk-table__cell" style="width: 10%"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Sort code </th>
          <td class="govuk-table__cell">54 76 98 </td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Account number</th>
          <td class="govuk-table__cell">98765409</td>
          <td class="govuk-table__cell"></td>
        </tr>


      </tbody>
    </table>
<br>
    <h2 class="govuk-heading-m">Payment details</h2>
    <br>
    <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 45%"> Payment frequency</th>
            <td class="govuk-table__cell" style="width: 45%">Every 4 weeks</td>
            <td class="govuk-table__cell" style="width: 10%"><a href="change-frequency">
                <span class="govuk-link govuk-!-font-size-19">Change</span>
              </a></td>
          </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Next payment date</th>
              <td class="govuk-table__cell">Friday 6 May 2022</td>
              <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next payment amount</th>
                <td class="govuk-table__cell">£647.29</td>
                <td class="govuk-table__cell"></td>
              </tr>

        </tbody>
      </table>

    <br>
    <br>

    <div>
    </div>

  </div>


  <div class="govuk-grid-column-one-third">
    <br><br>
    <h2 class="govuk-heading-m">
      Payment changes
    </h2>
    <ol class="app-timeline">
      <li class="app-timeline__entry">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          No changes made
        </h3>

        <p class="app-timeline__info govuk-!-margin-bottom-0">
          <span class="govuk-visually-hidden">No changes made</span>
          <span class="app-timeline__date">

          </span>
        </p>
      </li>


    </ol>

  </div>

  <div class="govuk-grid-column-full">


  </div>


</div>
</div>
</main>
</div>
<!-- </div> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
