{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-column-two-thirds">

        <main id="content" role="main">
          <div class="grid-row">
            <div class="column-full">

          {% include 'includes/_bar-dead-rooney.html' %}

            </div>
          </div>
        </main>



        {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}
        <br><br>
        <form action="dap-arrears-paid" method="post" class="form">
          <h1 class="govuk-heading-l">Complete a SOP5 form to pay the arrears manually</h1>
          <h2 class="govuk-heading-m">Arrears amount</h2>
          <table class="govuk-table">

              <thead class="govuk-table__head"></thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row"></th>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row" style="width: 40%">Total</th>
                  <td class="govuk-table__cell">£179.60</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Period</th>
                  <td class="govuk-table__cell">22 March 2022 to 29 March 2022</td>
                </tr>
              </tbody>
            </table>
            <h2 class="govuk-heading-m">Payee's details</h2>

          <table class="govuk-table">

              <thead class="govuk-table__head"></thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row"></th>
                  <td class="govuk-table__cell"></td>
                </tr></tbody>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row" style="width: 40%">Payee's name</th>
                    <td class="govuk-table__cell">Keith Rooney</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="row">Payee's address</th>
                      <td class="govuk-table__cell">Midtveien 24<br>
0583<br> Oslo<br>
Norway</td>
                    </tr>

      </table>
      <br>



            <h2 class="govuk-heading-m">Overseas bank details</h2>

          <table class="govuk-table">

              <thead class="govuk-table__head"></thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row"></th>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">IBAN</th>
                    <td class="govuk-table__cell">NO19452374385</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row" style="width: 40%">Bank name</th>
                    <td class="govuk-table__cell">Norges Bank</td>
                  </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row" style="width: 40%">Account holder</th>
                  <td class="govuk-table__cell">Mr K Rooney</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">BIC or SWIFT code</th>
                  <td class="govuk-table__cell">NBHKNOKKS02</td>
                </tr>

              </tbody>
            </table>


            <button type="submit" class="govuk-button">
              Confirm SOP5 completed
            </button>

  
            </form>
          </div>
        </fieldset>
      </div>
    </div>

  </div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds"></div>
</div>

{% endblock %}
