{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-paper.html' %}

{% block headEnd %}
{% endblock %}  

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">
          <div>
            <a href="too-young" class="govuk-back-link">Back</a>
          </div>
          <br>
          <h1 class="govuk-heading-xl">Confirm details</h1>
          
          <div class="govuk-form-group">

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                 19 August 1961
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="no-claim-change">
                   Change
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Full name
                </dt>
                <dd class="govuk-summary-list__value">
                 Regina Adams
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="too-young-change">
                    Change
                  </a>
                </dd>
              </div>
           
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                  5 Windsor Street<br> South Gosforth<br> Newcastle Upon Tyne<br> NE3 1YL
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="too-young-change">
                    Change
                  </a>
                </dd>
              </div>
             
            </dl>
          
                 
            <p>If the claimant’s details are correct end the task. A letter will be sent to the claimant explaining why their claim is too early.</p>
             
                  </div>

     
          <a href="get-a-claim" button type="submit" class="govuk-button">
            End task
          </a>
        </form>

      </div>

  </main>
</div>

{% endblock %}