{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include 'widows/conversion-task-pc/_bar.html' %}

  {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}




  <br>  <br>

  <form method="post">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          How do you want to continue?
        </h2>
      </legend>

    {% if data['dom'] === 'Verified' %}


      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="decision" name="decision" type="radio" value="inheritable-amounts">
        <label class="govuk-label govuk-radios__label" for="decision">
    Enter inheritable amounts </label>
    </div>


    {% else %}
      <div id="changed-name-hint" class="govuk-hint">To award with inheritable amounts, enter all missing information and verify all dates.</div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="decision" name="decision" type="radio" value="more-info">
            <label class="govuk-label govuk-radios__label" for="decision">
Request more information</label>
      </div>

{% endif %}

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="decision" name="decision" type="radio" value="nothing-to-inherit">
      <label class="govuk-label govuk-radios__label" for="decision">
  No change to award - Nothing to inherit</label>
    </div>

    <div class="govuk-radios__divider">or</div>

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="decision" name="decision" type="radio" value="save">
      <label class="govuk-label govuk-radios__label" for="inheritable-amounts-3">
Save changes and return task to queue   </label>
    </div>

<br>
    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </div>
  </div>

</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
