{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <dv class="column-full">


          <br><br>
          {% include './_bar0.html' %}

<form method="post" action="award-updated-arrears">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

          <br>
          <br>

          <h2 class="govuk-heading-l">Lived or worked abroad</h2>



                                <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                          Waiting for CFN901 from the claimant.
                        </strong>
                        </div>  </div><br><br>
                      <table class="govuk-table">
                        <h2 class="govuk-heading-m" style="margin-bottom:-27px;float:left">Norway</h2>
                        <a href="review-award" <span class="govuk-link govuk-!-font-size-19" style="margin-left: 58%"></span>
                        </a>
                        <br><br>
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Lived</th>
                            <td class="govuk-table__cell">Aug 1982 to Mar 1986</td>
                            <td class="govuk-table__cell"></td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Worked</th>
                            <td class="govuk-table__cell">Aug 1982 to Mar 1986</td>
                            <td class="govuk-table__cell"></td>
                          </tr>
                      <!--         <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Social security number</th>
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell"><a href="#">Change</a></td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Insurance record</th>
                            <td class="govuk-table__cell">Not requested</td>
                            <td class="govuk-table__cell"><a href="#">Change</a></td>
                          </tr> -->
                        </tbody>
                      </table>

  <br><br>
                      <table class="govuk-table">
                        <h2 class="govuk-heading-m" style="margin-bottom:-27px;float:left">Croatia</h2>
                        <br><br>
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Lived</th>
                            <td class="govuk-table__cell">Mar 1986 to Sept 1993</td>
                            <td class="govuk-table__cell"></td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Worked</th>
                            <td class="govuk-table__cell">Mar 1986 to Aug 1993</td>
                            <td class="govuk-table__cell"></td>
                          </tr>
                        <!--       <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Social security number</th>
                              <td class="govuk-table__cell">GEV98732</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Insurance record</th>
                            <td class="govuk-table__cell">Requested</td>
                          </tr> -->
                        </tbody>
                      </table>

  <br><br>
                        <table class="govuk-table">
                          <h2 class="govuk-heading-m" style="margin-bottom:-27px;float:left">Switzerland</h2>
                          <br><br>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Lived</th>
                              <td class="govuk-table__cell">Feb 1994 to Apr 1996</td>
                              <td class="govuk-table__cell"></td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Worked</th>
                              <td class="govuk-table__cell">Feb 1994 to Apr 1996</td>
                              <td class="govuk-table__cell"></td>
                            </tr>
                    <!--        <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Social security number</th>
                                <td class="govuk-table__cell">5648487</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Insurance record</th>
                              <td class="govuk-table__cell">Requested</td>
                            </tr> -->
                          </tbody>
                        </table>
        </div>
      </div>


</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <br><br>
      <h2 class="govuk-heading-m">
      </h2>
      <ol class="app-timeline">

        <li class="app-timeline__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            Insurance record requested from Norway
          </h3>


          <p class="app-timeline__info govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden">No changes made</span>

            <span class="app-timeline__date">14 March 2023
            </span>
          </p>
        </li>
        <li class="app-timeline__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            Insurance record requested from Croatia
          </h3>


          <p class="app-timeline__info govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden">No changes made
            </span>
            <span class="app-timeline__date">14 March 2023
            </span>
          </p>
        </li>
        <li class="app-timeline__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            Insurance record requested from Switzerland
          </h3>


          <p class="app-timeline__info govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden">No changes made</span>
            <span class="app-timeline__date">
            </span>
            <span class="app-timeline__date">14 March 2023
            </span>
          </p>
        </li>

        <li class="app-timeline__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            CFN901 form sent to claimant
          </h3>

          <p class="app-timeline__info govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden">No changes made</span>
            <span class="app-timeline__date">14 March 2023

            </span>
          </p>
        </li>

      </ol>

    </div>

</div>

{% endblock %}
