{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav.html' %}

{% block headEnd %}
{% endblock %}

{% include './_find-someone-enquiries.html' %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}


          <a href="cancel-award" class="govuk-back-link">Back</a>
          <br><br>

          <h2 class="govuk-heading-l">Select preferred date of deferral</h2>
          <form method="post" action="cancel-confirm3">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div id="sign-in-hint" class="govuk-hint">
                  This must be the start of a benefit week, up to 28 days from now.
                </div>
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="deferral" name="deferral" type="radio" value="1dec">
                    <label class="govuk-label govuk-radios__label" for="deferral">
                      1 December 2020
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="deferral-2" name="deferral" type="radio" value="7dec">
                    <label class="govuk-label govuk-radios__label" for="deferral-2">
                      7 December 2020
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="deferral-3" name="deferral" type="radio" value="14dec">
                    <label class="govuk-label govuk-radios__label" for="deferral-3">
                      14 December 2020
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="deferral-4" name="deferral" type="radio" value="21dec">
                    <label class="govuk-label govuk-radios__label" for="deferral-4">
                      21 December 2020
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>


        </div>
      </div>

      <button type="submit" class="govuk-button">
        Continue
      </button>
    </form>
    </main>
</div>
  </div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
