{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include 'widows/conversion-task/_bar.html' %}

{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}

  <br><br>
  <form method="post">

      <div class="govuk-form-group">
          <h1 class="govuk-heading-l">Awaiting more information</h1>
          <br>
<p>Do not send a a letter to this claimant.</p><p>We have stopped sending them letters until we get their correct address.</p>
<p>A new task will be created to check for information again in 2 weeks.</p>


    

      <button class="govuk-button" data-module="govuk-button">
        End task
      </button>


      </div>

    </div>

</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
