{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

              {% include './_bar-task-outstanding.html' %}

                      <form method="post" action="personal-complete">
                        <h1 class="govuk-heading-">Pension Credit to deduct</h1>
                      <br><br>  <h2 class="govuk-heading-m">1. Check the information you entered</h2>
                       <table class="govuk-table">
                         <caption class="govuk-table__caption govuk-table__caption--s">Adjustment 1</caption>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Weekly amount of Pension Credit</td>
                            <td class="govuk-table__cell" scope="row"></td>
                            <td class="govuk-table__cell" scope="row"></td>
                            <td class="govuk-table__cell">£62.50</td>

                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">From</td>
                        <td class="govuk-table__cell" scope="row"></td>
                        <td class="govuk-table__cell" scope="row"></td>
                        <td class="govuk-table__cell">25 Jun 2022</td>


                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">To</td>
                        <td class="govuk-table__cell" scope="row"></td>
                        <td class="govuk-table__cell" scope="row"></td>
                        <td class="govuk-table__cell">13 Apr 2023</td>



                          <!--  <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Period</td>
                            <td class="govuk-table__cell" scope="row"></td>
                            <td class="govuk-table__cell" scope="row"></td>
                            <td class="govuk-table__cell">20 weeks and 5 days</td> -->


                    </table>

                    <table class="govuk-table">
<caption class="govuk-table__caption govuk-table__caption--s">Adjustment 2</caption>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">Weekly amount of Pension Credit</td>
                        <td class="govuk-table__cell" scope="row"></td>
                        <td class="govuk-table__cell" scope="row"></td>
                        <td class="govuk-table__cell">£69.70</td>

                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">From</td>
                    <td class="govuk-table__cell" scope="row"></td>
                    <td class="govuk-table__cell" scope="row"></td>
                    <td class="govuk-table__cell">14 Apr 2023</td>


                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">To</td>
                    <td class="govuk-table__cell" scope="row"></td>
                    <td class="govuk-table__cell" scope="row"></td>
                    <td class="govuk-table__cell">29 May 2023</td>



                      <!--  <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">Period</td>
                        <td class="govuk-table__cell" scope="row"></td>
                        <td class="govuk-table__cell" scope="row"></td>
                        <td class="govuk-table__cell">20 weeks and 5 days</td> -->


                </table>

                <h2 class="govuk-heading-m">2. Confirm the amount to deduct</h2>



                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                 <td class="govuk-table__cell" scope="row">Amount to deduct</td>
                    <td class="govuk-table__cell" scope="row"></td>
                    <td class="govuk-table__cell" scope="row"></td>
                    <td class="govuk-table__cell">  £1459.50</td>


                    </table>


                          <div class="govuk-inset-text">This amount will be deducted from their first State Pension payment. An award letter will be sent with details of the deduction.
    </div>
<br>

<button class="govuk-button" data-module="govuk-button">
 Confirm and send letter
</button>

<!--
     <a href="get-next-task" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
          Return task to queue
        </a>

        </form> -->



        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
