<section class="font-xsmall" id="help">

  <h2 class="govuk-heading-m">Get help with your claim</h2>
  <p><strong>Telephone: 0800 169 0154
  <br>Textphone: 0800 169 0254</strong>
  <p><a href="https://www.relayuk.bt.com" class="govuk-link" rel="noreferrer noopener" target="_blank">Relay UK (opens in a new tab)</a>: dial 18001 then 0800 169 0154</p>
  <p>British Sign Language users can <a href="https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl" class="govuk-link" rel="noreferrer noopener" target="_blank">contact DWP using the video relay service (opens in a new tab)</a>.</p>
  <p><a href="https://www.dalanguages.co.uk/dwp-bsl/" class="govuk-link" rel="noreferrer noopener" target="_blank">Check how to use the video relay service in BSL (opens in a new tab)</a>.
  <p class="govuk-body-m">Monday to Friday, 9:30am to 3:30pm (closed on public holidays)</p>
  


 <!--  <h2 class="govuk-heading-m">Get help</h2>
  <h3 class="govuk-heading-s">Telephone: 0800 169 0154<br>
    Textphone: 0800 169 0254</h3>
<p>If you cannot hear or speak on the phone, use <a href="https://www.relayuk.bt.com" class="govuk-link" rel="noreferrer noopener" target="_blank">Relay UK (opens in a new tab)</a>: 18001 then 0800 169 0154
<p><a href="https://dwpstatepensionth.signvideo.net/" class="govuk-link" rel="noreferrer noopener" target="_blank">Video relay service (opens in a new tab)</a> for British Sign Language (BSL) users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY" class="govuk-link" rel="noreferrer noopener" target="_blank">check you can use this service (opens in a new tab)</a>

<p class="govuk-body-m">Monday to Friday, 9:30am to 3:30pm (except public holidays)<br><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p> -->


</section>
