{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

  <div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <br>

        {% include 'includes/_bar-dead-rooney.html' %}

          {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
                            }) }}
                            <br><br>

        <form method="post" action="dap-arrears-paid">

          <h1 class="govuk-heading-l">Send payment automatically</h1>



  <p>
    This will send an arrears payment of £179.60 and a confirmation letter to the payee.</p><p> The payment is for the period 22 March 2022 to 29 March 2022.
  </p>


  <br>
          <button class="govuk-button" data-module="govuk-button">
           Send payment
         </button>

        </form>

      </div>
    </div>
</div>
</div>
</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
