{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="contacted" class="govuk-back-link">Back</a>

        <form method="post" action="declaration">
<br>
          <h1 class="govuk-heading-xl">
              Check your answers
          </h1>


  <div class="govuk-form-group">
    
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Lived outside of the UK
        </dt>
        <dd class="govuk-summary-list__value">
          France<br>June 2001 to September 2004<br><br>Germany<br>October 2007 to December 2010
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Worked outside of the UK
        </dt>
        <dd class="govuk-summary-list__value">
          France<br>June 2001 to September 2004<br><br>Ireland<br>September 2007 to January 2009
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Current marital status
        </dt>
        <dd class="govuk-summary-list__value">
        Married<br>21st August 1983
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> address</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Spouse details
        </dt>
        <dd class="govuk-summary-list__value">
         David Smith<br>12th April 1952<br>QQ212345A
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> contact details</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact details
        </dt>
        <dd class="govuk-summary-list__value">
         07928467543<br>rachel.smith@aol.com
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> contact details</span>
          </a>
        </dd>
      </div>
      
    </dl>


  </div>

    <button type="submit" class="govuk-button">
      Continue
    </button>

  </div>


 </form>



</div>

</main>
</div>

{% endblock %}
