{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-unselected.html' %}
{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="moj-banner moj-banner--success">

          <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
            <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" /></svg>

          <div class="moj-banner__message">
            <span class="moj-banner__assistive">Success</span>Verification complete - continue with claim</div>

        </div>
        <a href="bank" class="govuk-back-link">Back</a>

        <form method="post" action="sp-date">
<br>
          <h1 class="govuk-heading-xl">
              You will get your State Pension every 4 weeks
          </h1>

<h2 class="govuk-heading-m">
Are you happy to be paid every 4 weeks?</h2>

  <div class="govuk-form-group">
    
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>
    </div>

  </div>

           
      
    <button type="submit" class="govuk-button">
      Continue
    </button>

  </div>


 </form>



</div>

</main>
</div>

{% endblock %}
