{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-claimform.html' %}

{% block headEnd %}
{% endblock %}

{% include './_find-someone-claimform.html' %}


<br><br><br><br><br>
<div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">

      <main id="content" role="main">
        <div class="grid-row">
         

            {% include './_bar-ready.html' %}
           
            <a href="claimform-2" button type="submit" class="govuk-button">
              Continue</a>     
            </main>
    </div>

</div>


{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
