{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-paper.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
   
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="ni" class="govuk-back-link">Back</a>
        <br><br>
        <form method="post" action="sp-date">

          <h1 class="govuk-heading-xl">
            Confirm details
          </h1>

          <div class="govuk-form-group">

            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Name</th>
                  <td class="govuk-table__cell">Ken Adams</td>
                  <td class="govuk-table__cell"> <a class="govuk-link" style="margin-left: 35%" href="#">
                      Change
                    </a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Date of birth</th>
                  <td class="govuk-table__cell">11 February 1955</td>
                  <td class="govuk-table__cell"> <a class="govuk-link" style="margin-left: 35%" href="#">
                      Change
                    </a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Address</th>
                  <td class="govuk-table__cell">16 RICHMOND TERRACE<br>NORTH GOSFORTH<br>NEWCASTLE UPON TYNE <br>NE4 2AN
                    
                  </td>

                  <td class="govuk-table__cell"> <a class="govuk-link" style="margin-left: 35%" href="address1">
                      Change
                    </a></td>
                </tr>
            
              </tbody>
            </table>

          </div>



          <button type="submit" class="govuk-button">
            Continue
          </button>

      </div>



      </form>



    </div>

  </main>
</div>

{% endblock %}