{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-tasks.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
                  {% include './_bar-small.html' %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <br>
      <form method="post">
      <div>
        <a href="tasks-31" class="govuk-back-link">Back</a>

      </div>
      <br>
        <h1 class="govuk-heading-xl">Update award</h1>

        <p>The weekly State Pension amount will go down from <b>£152.40</b> to <b>£148.60</b> from <b>6 April 2020</b>.</p>
        <p>From <b>20 April 2020</b> the award changes to <b>£150.10</b> due to annual uprating.</p>
        <p>A new award letter will be sent to the claimant.</p>
<br>
          <a href="tasks-4-4" button type="submit" class="govuk-button">
            Update award
          </a>

        </form>



        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
