{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include 'widows/new-claims/_bar.html' %}

{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}

  <br><br>

      <div class="govuk-form-group">


          <h1 class="govuk-heading-l">Calculate and enter the inheritable amounts</h1>
          <!--NIRS (OLE) or PSCS
          <br><br>
          <h2 class="govuk-heading-m">Late spouse or civil partner details</h2>

              <form method="post">


                        <table class="govuk-table">
                          <tbody class="govuk-table__body">

                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">First name </th>
                              <td class="govuk-table__cell">Sandra</td>
                              <td class="govuk-table__cell"></td>
                              <td class="govuk-table__cell"></td>

                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Last name</th>
                              <td class="govuk-table__cell">Penny</td>
                              <td class="govuk-table__cell"></td>
                              <td class="govuk-table__cell"></td>
                            </tr>
                            <tr class="govuk-table__row">
                             <th scope="row" class="govuk-table__header">National Insurance number</th>
                             <td class="govuk-table__cell">JS 12 34 56 D</td>
                             <td class="govuk-table__cell"></td>
                             <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                             </td>
                           </tr>
                           <tr class="govuk-table__row">
                         <th scope="row" class="govuk-table__header">Date of birth</th>
                         <td class="govuk-table__cell">12 January 1940</td>
                         <td class="govuk-table__cell">
                           <td class="govuk-table__cell" style="text-align: right">
                        </td>

                       </tr>




                          </tbody>
                        </table>

                        <h2 class="govuk-heading-m">Enter inheritable amounts</h2>-->
                        <br><br>
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="cost">
Additional Pension            </label>
          </h1>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
          </div>
        </div>
        <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="cost">
Graduated Retirement Benefit    </label>
  </h1>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
  </div>
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="cost">
Extra State Pension Basic Pension    </label>
  </h1>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
  </div>
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="cost">
Extra State Pension Graduated Retirement Benefit    </label>
  </h1>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
  </div>
</div>

  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="cost">
Extra State Pension Additional Pension    </label>
  </h1>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
  </div>
</div><br>

          <a href="award-calculated" button type="submit" class="govuk-button">
            Continue
          </a>

        </form>



      </div>

    </div>

</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
