{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {% include 'widows/new-claims/_bar-widows.html' %}



  <br><br>

      <div class="govuk-form-group">

                         <h1 class="govuk-heading-l">
                          Claim could not be saved</h1>

                        <p>We cannot save this claim on the Get your State Pension service. It has automatically been sent to PSCS.</p>


                        </div>
                        <a href="get-a-task-2" role="button" draggable="false" button class="govuk-button govuk-button" data-module="govuk-button">
                          End task
                        </a>



      </div>

    </div>

</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
