{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}


          <a href="spouse-details" class="govuk-back-link">Back</a>
          <br><br>
          <h2 class="govuk-heading-l">Marital status</h2>


          <form method="post">
            <div class="govuk-form-group">
              <div class="govuk-radios--inline">

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="marital-status-2" name="maritalstatus" type="radio" value="civil-partnership">
                    <label class="govuk-label govuk-radios__label" for="marital-status-2">
                      Divorced
                    </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="marital-status-1" name="maritalstatus" type="radio" value="married">
                    <label class="govuk-label govuk-radios__label" for="marital-status-1">
                      Widowed
                    </label>
                  </div>


                </div>

            </div>

            <button type="submit" class="govuk-button">
              Continue
            </button>
          </form>
        </div>
      </div>
    </main>

  </form>
</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
