{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include 'includes/_bar-widows.html' %}

  {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-l">Check the details and decide how to continue</h1>
    <p>Complete the information and verify the dates, or choose another way to continue.</p>

  <br><br>

          <h2 class="govuk-heading-m">Claimant</h2>


            <table class="govuk-table">
              <tbody class="govuk-table__body">



                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Address</th>
                  <td class="govuk-table__cell">55 Main Street
                    <br>Guildford
                    <br>GU79 6YW</td>
                  <td class="govuk-table__cell"></td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Marital status</th>
                  <td class="govuk-table__cell">Widowed</td>
                  <td class="govuk-table__cell"></td>
                </tr>

                <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date of birth</th>
              <td class="govuk-table__cell">12/01/1955</td>
              <td class="govuk-table__cell"><span class="verified-badge verified">
                <b></b>
                <td class="govuk-table__cell" style="text-align: right">
              </td>
              </span> </td>

            </tr>



                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">State Pension date</th>
                  <td class="govuk-table__cell">12/01/2022</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Age when widowed</th>
                  <td class="govuk-table__cell">66</td>
                  <td class="govuk-table__cell"></td>
                </tr>

              </tbody>
            </table>


  <br>  <br>
          <h2 class="govuk-heading-m">Late spouse or civil partner</h2>

              <form method="post">


                <table class="govuk-table">
                  <tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">First name </th>
                      <td class="govuk-table__cell">Sandra Penny</td>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell"></td>

                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Address</th>
                      <td class="govuk-table__cell">55 Main Street
                        <br>Guildford
                        <br>GU79 6YW</td>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell"></td>

                    </tr>
                    <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header" style="width: 40%">National Insurance number</th>
                     <td class="govuk-table__cell" style="width: 30%">JS 12 34 56 D</td>
                     <td class="govuk-table__cell"></td>
                     <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                       <a class="govuk-link" href="nino">Change</a>
                     </td>
                   </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Gender</th>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell"> </td>
                      <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                                              <a class="govuk-link" href="gender">Add</a>
                      </td>
                    </tr>

                        <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Date of birth</th>
                      <td class="govuk-table__cell">25/03/1958</td>
                      <td class="govuk-table__cell"><span class="verified-badge verified">
                        <b>Verified</b>
                      <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                                              <a class="govuk-link" href="dob">Change</a>
                      </td>
                      </span> </td>

                    </tr>

                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Date of death</th>
                      <td class="govuk-table__cell">6/07/2021</td>
                      <td class="govuk-table__cell"><span class="verified-badge verified">
                        <b>Verified</b>
                      </span> </td>
                      <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                                              <a class="govuk-link" href="dod">Change</a>
                      </td>
                    </tr>

                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Date of marriage</th>
                      <td class="govuk-table__cell">
                        {% if data.dom %}
                        {{data.domd}}/{{data.domm}}/{{data.domy}}
                        {% else %}
                        6/08/1978
                        {% endif %}</td>
                      <td class="govuk-table__cell"><span class="verified-badge verified">
                        <b>Unverified</b>
                      </span> </td>
                      <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                                              <a class="govuk-link" href="dom">Change</a>
                      </td>
                    </tr>




                  </tbody>
                </table>


  <br>  <br>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

        <h2 class="govuk-fieldset__heading">
        How do you want to continue?
        </h2>
      </legend>
    <div id="changed-name-hint" class="govuk-hint">You cannot check for inheritable amounts until you complete all details and verify all dates.</div>
    <br>




        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="specialist-decision-2" name="specialist-decision" type="radio" value="support-queue">
          <label class="govuk-label govuk-radios__label" for="specialist-decision-2">
            Send to support queue
          </label>

    </div>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="specialist-decision-2" name="specialist-decision" type="radio" value="more-info">
    <label class="govuk-label govuk-radios__label" for="specialist-decision-2">
  Ask claimant for more information</label>

  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="specialist-decision-2" name="specialist-decision" type="radio" value="award">
    <label class="govuk-label govuk-radios__label" for="specialist-decision-2">
  Award without inheritance - Nothing to inherit   </label>

  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="specialist-decision-2" name="specialist-decision" type="radio" value="award-spa">
    <label class="govuk-label govuk-radios__label" for="specialist-decision-2">
  Award without inheritance - State Pension date approaching  </label>

  </div>
  <br><br>

          <div class="govuk-button-group">

            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
      </div>

    </div>

</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
