{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {% include 'includes/_bar-widows.html' %}

{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}


  <br>  <br>


          <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
Sandra Penny's date of death</h1>
    </legend>
    <br>
    <div class="govuk-date-input" id="late-spouse-dod">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="late-spouse-dod-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="late-spouse-dod-day" name="late-spouse-dod-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="late-spouse-dod-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="late-spouse-dod-month" name="late-spouse-dod-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="late-spouse-dod-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="late-spouse-dod-year" name="late-spouse-dod-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>

  </fieldset>

</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="dod-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Is the date of death verified?
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="dod" name="dod" type="radio" value="verified">
        <label class="govuk-label govuk-radios__label" for="dod">
          Verified
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="dod-2" name="dod" type="radio" value="notverified">
        <label class="govuk-label govuk-radios__label" for="dod-2">
          Not verified
        </label>
      </div>
    </div>

  </fieldset>
</div>

          <a href="check-details-info-missing" button type="submit" class="govuk-button">
            Continue
            </button>


          </a>
        </form>




      </div>

    </div>

</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
