{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {% include 'includes/_bar-widows.html' %}

{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}

  <br><br>

      <div class="govuk-form-group">
        <h1 class="govuk-heading-l">Check NIRS (OLE) or PSCS for any inheritable components
        </h1>

<br><br>
        <h2 class="govuk-heading-m">Late spouse or civil partner details</h2>

            <form method="post">


              <table class="govuk-table">
                <tbody class="govuk-table__body">

                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">First name </th>
                    <td class="govuk-table__cell">Sandra</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>

                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Last name</th>
                    <td class="govuk-table__cell">Penny</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header">National Insurance number</th>
                   <td class="govuk-table__cell">JS 12 34 56 D</td>
                   <td class="govuk-table__cell"></td>
                   <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                   </td>
                 </tr>
                 <tr class="govuk-table__row">
               <th scope="row" class="govuk-table__header">Date of birth</th>
               <td class="govuk-table__cell">12 January 1940</td>
               <td class="govuk-table__cell">
                 <td class="govuk-table__cell" style="text-align: right">
              </td>

             </tr>




                </tbody>
              </table>
              <br><br>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                    <h2 class="govuk-fieldset__heading">
                      Are there any inheritable components?
                    </h2>
                  </legend>

                  <div id="changed-name-hint" class="govuk-hint">
                    <p>Inheritible components are:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Protected Payment</li>
  <li>Additional Pension     </li>
  <li>Graduated Retirement Benefit  </li>
  <li>Extra State Pension Basic Pension   </li>
  <li>Extra State Pension Graduated Retirement Benefit </li>
  <li>Extra State Pension Additional Pension </li>

</ul>
                  </div>

                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="inheritable-amounts" name="inheritable-amounts" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="inheritable-amounts">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="inheritable-amounts-2" name="inheritable-amounts" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="inheritable-amounts-2">
                        No
                      </label>

                </div>
              </div>

            </fieldset>
          </div>

          <br>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>



      </div>

    </div>

</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
