{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {% include 'includes/_bar-widows.html' %}

{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}

  <br><br>

      <div class="govuk-form-group">
          <h1 class="govuk-heading-l">Find Sandra Penny's National Insurance number</h1>



          <div class="govuk-form-group">
            <table class="govuk-table">
              <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">First name </th>
                  <td class="govuk-table__cell">Sandra</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>

                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Last name</th>
                  <td class="govuk-table__cell">Penny</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Address</th>
                  <td class="govuk-table__cell">55 Main Street
                    <br>Guildford
                    <br>GU79 6YW</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>

                </tr>
                    <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Date of birth</th>
                  <td class="govuk-table__cell">12 January 1940</td>
                  <td class="govuk-table__cell"><span class="verified-badge verified">
                    <b>Verified</b>
                    <td class="govuk-table__cell" style="text-align: right">
                  </td>
                  </span> </td>

                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Date of death</th>
                  <td class="govuk-table__cell">6 July 2021</td>
                  <td class="govuk-table__cell"><span class="verified-badge verified">
                    <b>Verified</b>
                  </span> </td>
                  <td class="govuk-table__cell" style="text-align: right">

                  </td>
                </tr>

              </tbody>
            </table>
            <br>

          <h1 class="govuk-heading-s">National Insurance number</h1>
    <input class="govuk-input govuk-input--width-10" id="national-insurance-number" name="national-insurance-number" type="text" spellcheck="false" aria-describedby="national-insurance-number-hint">
  </div>
      </div>

      <br>


          <a href="/widows/new-claims/inheritable" button type="submit" class="govuk-button">
            Continue
          </a>

<p>
<a href="#" class="govuk-link">Cannot find National Insurance number👷</a>
</p>

      </div>

    </div>

</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
