{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}





<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {% include 'includes/_bar-widows2.html' %}

{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}

        <h1 class="govuk-heading-xl">Check if the claimant is entitled to inherit any State Pension
        </h1>

        <p>Check the records of the claimant's spouse or civil partner for inheritable amounts.</p>
<br><br>
        <h2 class="govuk-heading-m">Spouse or civil partner details</h2>

            <form method="post">


              <table class="govuk-table">
                <tbody class="govuk-table__body">

                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">First name </th>
                    <td class="govuk-table__cell">Sandra</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>

                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Last name</th>
                    <td class="govuk-table__cell">Penny</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header">National Insurance number</th>
                   <td class="govuk-table__cell">JS 12 34 56 D</td>
                   <td class="govuk-table__cell"></td>
                   <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                   </td>
                 </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Address</th>
                    <td class="govuk-table__cell">55 Main Street
                      <br>Guildford
                      <br>GU79 6YW</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>

                  </tr>
                      <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of birth</th>
                    <td class="govuk-table__cell">12 January 1940</td>
                    <td class="govuk-table__cell"><span class="verified-badge verified">
                      <b>Verified</b>
                      <td class="govuk-table__cell" style="text-align: right">
                    </td>
                    </span> </td>

                  </tr>

                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of death</th>
                    <td class="govuk-table__cell">6 July 2021</td>
                    <td class="govuk-table__cell"><span class="verified-badge verified">
                      <b>Verified</b>
                    </span> </td>
                    <td class="govuk-table__cell" style="text-align: right">

                    </td>
                  </tr>




                </tbody>
              </table>
              <br><br>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h2 class="govuk-fieldset__heading">
                      Are there any inheritable amounts?
                    </h2>
                  </legend>
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                      <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                      <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                        No
                      </label>

                    </div>
                  </div>

                </fieldset>
              </div>


        <form method="post" action="late-spouse-nino">
          <br>
          <button class="govuk-button" data-module="govuk-button">
        Continue
          </button>



<!--
     <a href="get-next-task" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
          Return task to queue
        </a>

        </form> -->



        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
