{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Check if the claimant is entitled to inherit any State Pension
        </h1>

        <p>Check the records of the claimant and their spouse or civil partner to see if this changes their State Pension entitlement.</p><p> Use CAM, NIRs and Searchlight to:</p>
<ol class="govuk-list govuk-list--number">
    <li>Check for inheritable amounts.</li>
  <li>Check if the spouse claimed their State Pension.</li>
  <li>Enter and verify the date of marriage and death.</li>
  <li>Calculate inheritable amounts.</li></ol>



        <form method="post" action="late-spouse-nino">
          <br>
          <button class="govuk-button" data-module="govuk-button">
            Start this task
          </button>
          <a href="#" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
            Return task to queue
          </a>


<!--
     <a href="get-next-task" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
          Return task to queue
        </a>

        </form> -->



        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
