{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Check if the claimant can inherit any State Pension
        </h1>




        <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col"> Task </th>
      <th class="govuk-table__header" scope="col"> Status </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Check for inheritable amounts
      </td>
      <td class="govuk-table__cell">
<b>
  Completed
</b>

      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
Check if the spouse claimed their State Pension      </td>
      <td class="govuk-table__cell">
<b>Completed</b>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
Verify the date of birth, marriage and death      </td>
      <td class="govuk-table__cell">
<b>
  Completed
</b>

      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Calculate inheritable amounts
      </td>
      <td class="govuk-table__cell">
<b>
  Task outstanding
</b>

      </td>
    </tr>

  </tbody>
</table>





          <br>

          <a href="inheritable" button type="submit" style="margin-left: 2%" class="govuk-button">
            Start this task
          </a>
          <a href="get-a-task-2" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
            Return task to queue
          </a>


<!--
     <a href="get-next-task" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
          Return task to queue
        </a>

        </form> -->



        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
