{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}

<h1 class="govuk-heading-l">Check for mixed years</h1>
<p class="govuk-body">System to check: <b>NIRS</b></p>

<bR>


  <form method="post">

            <table class="govuk-table">
              <h2 class="govuk-heading-m" style="margin-bottom:-27px;float:left">Norway</h2>
              {% if data.mixedyearsnorway%}
              {% else %}
                  <a href="mixed-years-norway" <span class="govuk-link govuk-!-font-size-19" style="margin-left: 57%">Consider mixed years</span>
                {% endif %}
              </a>
              <br><br>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Lived</th>
                  <td class="govuk-table__cell">Aug 1982 to Mar 1986</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Worked</th>
                  <td class="govuk-table__cell">Aug 1982 to Mar 1986</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Social security number</th>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                </tr>
              {% if data.mixedyearsnorway %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Partial qualifying years</th>
                  <td class="govuk-table__cell"style="width: 35%">{{data.mixedyearsnorway}}</td>
                  <td class="govuk-table__cell"><a href="mixed-years-norway" class="govuk-link govuk-link--no-visited-state" style="margin-bottom:-27px;float:right">
                    {% if data.norwayinsurance %}
                                  {% else %}
                                  Change
                                  {% endif %} </a></td></tr>
                {% else %}
                {% endif %}

                {% if data.norwayinsurance %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Insurance record</th>
                  <td class="govuk-table__cell">{{data.norwayinsurance}}</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                {% else %}
                {% endif %}
              </tbody>
            </table>

<Br>

            <table class="govuk-table">
              <h2 class="govuk-heading-m" style="margin-bottom:-27px;float:left">Croatia</h2>
              {% if data.mixedyearscroatia %}
              {% else %}
                  <a href="mixed-years-croatia" <span class="govuk-link govuk-!-font-size-19" style="margin-left: 57%">Consider mixed years</span></a>
                {% endif %}
              <br><br>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Lived</th>
                  <td class="govuk-table__cell">Mar 1986 to Sept 1993</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Worked</th>
                  <td class="govuk-table__cell">Mar 1986 to Aug 1993</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Social security number</th>
                    <td class="govuk-table__cell"></td>
                </tr>

                {% if data.mixedyearscroatia %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Partial qualifying years</th>
                  <td class="govuk-table__cell"style="width: 35%">{{data.mixedyearscroatia}}</td>
                  <td class="govuk-table__cell"><a href="mixed-years-croatia" class="govuk-link govuk-link--no-visited-state" style="margin-bottom:-27px;float:right">
                    {% if data.croatiainsurance %}
                    {% else %}
                    Change </a>{% endif %}</td>
                </tr>
                {% else %}
                {% endif %}


                {% if data.croatiainsurance %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Insurance record</th>
                  <td class="govuk-table__cell">{{data.croatiainsurance}}</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                {% else %}
                {% endif %}
              </tbody>
            </table>

            <table class="govuk-table">
              <h2 class="govuk-heading-m" style="margin-bottom:-27px;float:left">Switzerland</h2>
              {% if data.mixedyearsswitzerland %}
              {% else %}
                  <a href="mixed-years-switzerland" <span class="govuk-link govuk-!-font-size-19" style="margin-left: 49%">Consider mixed years</span></a>
                {% endif %}
              <br><br>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Lived</th>
                  <td class="govuk-table__cell">Feb 1994 to Apr 1996</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Worked</th>
                  <td class="govuk-table__cell">Feb 1994 to Apr 1996</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Social security number</th>
                    <td class="govuk-table__cell"></td>
                </tr>
                {% if data.mixedyearsswitzerland %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Partial qualifying years</th>
                  <td class="govuk-table__cell"style="width: 35%">{{data.mixedyearsswitzerland}}</td>
                  <td class="govuk-table__cell"><a href="mixed-years-switzerland" class="govuk-link govuk-link--no-visited-state" style="margin-bottom:-27px;float:right">
                    {% if data.switzerlandinsurance %}
                    {% else %}
                    Change </a>{% endif %}</td>
                </tr>
                {% else %}
                {% endif %}

                {% if data.switzerlandinsurance %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Insurance record</th>
                  <td class="govuk-table__cell">{{data.switzerlandinsurance}}</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                {% else %}
                {% endif %}
              </tbody>
            </table>
</div>
</div>



<button class="govuk-button" data-module="govuk-button">
  Confirm
</button>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
