{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}

<form method="post">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

    <br><br>
<h1 class="govuk-heading-l">Change award</h1>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--s" for="cost">
      New State Pension
    </label>
  </h1>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
  </div>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
        Which country is this change based on?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="canada">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Canada
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="australia">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
        Australia
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="new-zealand">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          New Zealand
        </label>
      </div>

    </div>
  </fieldset>
</div>

  <div class="govuk-button-group">
    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Add another review
    </button>
  </div>

<br>





<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
<br>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            <b>URL, errors and notes</b>
            </span>
          </summary>
          <div class="govuk-details__text">
            <b>URL:</b> /change-award <br>
            <b>Error messages:</b> <br>
            Nothing selected: Select which country the change is based on <br>
            <b>Notes:</b> None <br>
          </div>
        </details>
        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
