{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include './_bar.html' %}

        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
                          }) }}

                  <br><br>
<h1 class="govuk-heading-l">Upload documents into DRS

</h1>


<form method="post" action="confirm-award">

<p class="govuk-body">
You need to upload completed copies of the:</p>
<ul class="govuk-list govuk-list--bullet">
<li>VolNICs calculator</li>
<li>IPC975 form</li></ul>

</div>
</div>

  <br><br>

<button class="govuk-button" data-module="govuk-button">
Confirm documents uploaded</button>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /upload-documents  <br>
        <b>Error messages:</b> <br>
        <b>Notes:</b> None <br>
      </div>
    </details>
        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
