{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

                <form method="post">


{% include './_bar.html' %}


<h1 class="govuk-heading-l">Check CAMlite for insurance record</h1>
<br>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="norway-records-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Have we received the records from Norway?
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="norway-records" name="norway-records" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="norway-records">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="norway-records-2" name="norway-records" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="norway-records-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="spain-records-hint">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    <h1 class="govuk-fieldset__heading">
        Have we received the records from Spain?
    </h1>
  </legend>
  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="spain-records" name="spain-records" type="radio" value="yes">
      <label class="govuk-label govuk-radios__label" for="spain-records">
        Yes
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="spain-records-2" name="spain-records" type="radio" value="no">
      <label class="govuk-label govuk-radios__label" for="spain-records-2">
        No
      </label>
    </div>
  </div>
</fieldset>
</div>

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>

<br>





        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
