{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
serviceName: serviceName,
serviceUrl: "/"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="app-homepage-top">
      <div class="app-homepage-top--content">
        <h1 class="govuk-heading-xl app-homepage-top--heading">
          Design Sprint 57
          <span class="app-homepage-top--span">27th August 2019</span>
        </h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<a href="/designsprints" class="govuk-back-link">Back</a>

<br><br>
<div>
    <div class="govuk-accordion__section ">
        <h3 class="govuk-heading-m">Design sprint goals:</h3>
        <p>

          <ul class="govuk-list govuk-list--bullet">
              <li>Need to do more research on payment details section in the payment history, what agents need to see here</li>
              <li>Need to research what citizens query at the end of the death journeys, where do they go after confirmation? Do they need to see the account again?</li>
              <li>Start thinking about what agents need to see in the award tab for uprating (next/previous award), this needs analysis and user research</li>
            </ul>
        </p>


    </div>
  </div>







</div>

{% endblock %}