{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}

          <form method="post" action="contact-address">

            {{ govukBackLink({
              text: "Back",
              href: "javascript:history.go(-1)"
                              }) }}
            <br><br>
            <h2 class="govuk-heading-l">Address</h2>

            <div class="govuk-form-group">

              <p>1 address found for <b>5</b> and <b>NE3 1YL</b> &nbsp <a href="change-address1" style=" margin-left: 10;">Change</a></p>


              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="changed-name">
                   5 Windsor Street, South Gosforth, Newcastle Upon Tyne, NE3 1YL <a href></a>
                  </label>
                </div>

              </div>

              <br><br>
          <button type="submit" class="govuk-button">
          Save
          </button>

            </div>

        </div>
      </div>
    </main>

    </form>
  </div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
