{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<br><br><br>
<div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds">

      <main id="content" role="main">
        <div class="grid-row">


          {% include './name-bar/_bar.html' %}
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              Record locked for performance measurement.<br><br>
              You must email pcp.pensionsburnley@dwp.gov.uk before you can make changes.
            </strong>
          </div>
            <a href="personal" button type="submit" class="govuk-button">
              Continue</a>
            </main>
    </div>

</div>


{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
