{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <br>

        <h1 class="govuk-heading-xl">Claim already in progress </h1>

        <form method="post">

<!-- <p>To check the status of the claim, use the claimant's National Insurance number to find them:</p> -->

<p>If you need to check the status of the claim, copy the claimant's National Insurance number to find them:</p>

<div class="govuk-inset-text">
   PX 12 34 52 X
</div>


<button class="govuk-button" data-module="govuk-button">Find this claimant</button>
</form> <a href="#" class="govuk-link">End call</a>

        </div>

      </div>
<br>
<br>
<br>
<br>
<br>
<br>
      <br>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL, errors and notes</b>
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>URL:</b> /already-on-gysp <br>
        </div>
        <div class="govuk-details__text">
          <b>Errors:</b> <br>
        </div>
      </details>


    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
