{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav.html' %}
{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="marital-details" class="govuk-back-link">Back</a>
        <br> <br>
        <form method="post">

          <h1 class="govuk-heading-xl">
Country 1</h1>

<div class="govuk-form-group">
<h3 class="govuk-heading-m">Country</h3>
  <input class="govuk-input" id="event-name" name="event-name" type="text">
</div>


<br>
<div class="govuk-form-group">
  <h2 class="govuk-heading-m">
    What dates did you live there?</h2>




  <p style="margin-bottom: 1%"><b>From</b></p>
  <div class="govuk-date-input" id="dob">

    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="dob-month">
          Month
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month"
          name="dob-month" type="text" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric">
      </div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="dob-year">
          Year
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year"
          type="text" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric">
      </div>
    </div>
  </div>
  <br>
  <p style="margin-bottom: 1%"><b>To</b></p>
  <div class="govuk-date-input" id="dob">

    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="dob-month">
          Month
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month"
          name="dob-month" type="text" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric">
      </div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="dob-year">
          Year
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year"
          type="text" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric">
      </div>
    </div>
  </div>
  <br>



</div>





<div class="govuk-form-group">
  <h2 class="govuk-heading-m">
    What dates did you work there?</h2>


  <p style="margin-bottom: 1%"><b>From</b></p>
  <div class="govuk-date-input" id="dob">

    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="dob-month">
          Month
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month"
          name="dob-month" type="text" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric">
      </div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="dob-year">
          Year
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year"
          type="text" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric">
      </div>
    </div>
  </div>
  <br>
  <p style="margin-bottom: 1%"><b>To</b></p>
  <div class="govuk-date-input" id="dob">

    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="dob-month">
          Month
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month"
          name="dob-month" type="text" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric">
      </div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="dob-year">
          Year
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year"
          type="text" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric">
      </div>
    </div>
  </div>
</div>

  <br>

          <div class="govuk-form-group">
            <label class="govuk-label" for="location-autocomplete">
              Social Security or National Insurance number
            </label>
            <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="three-quarters"
              type="text">
          </div>


<!-- <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="another-country-1-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Have you lived or worked in any other country? (or another time in this country? need to confirm if we need to ask this)
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="another-country-1" name="another-country-1" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="another-country-1">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="another-country-1-2" name="another-country-1" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="another-country-1-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div> -->

      <button type="submit" class="govuk-button">
        Continue
      </button>

      <br>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL, errors and notes</b>
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>URL:</b> /country-1<br>
        </div>
        <div class="govuk-details__text">
          <b>Errors:</b> <br>
          Empty: Enter the country where the claimant lived or worked<br>
          Empty: Enter a date the claimant lived in the country 'from'<br>
          Empty: Enter a date the claimant lived in the country 'to'<br>
          Empty: Enter a date the claimant worked in the country 'from'<br>
          Empty: Enter a date the claimant worked in the country 'to'<br>
          Invalid date: Enter a real date as a month and a year, like 06 1983<br>
          Future: Date must be in the past<br>
          Invalid: Date cannot be before from date<br>
          Social Security or National Insurance number must have 24 characters or less<br>


        </div>
      </details>

  </div>


 </form>



</div>

</main>
</div>

{% endblock %}
