{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav.html' %}
{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}

        <br> <br>
        <form method="post">

          <h1 class="govuk-heading-xl">
            Claimant needs to complete a paper claim</h1>

              <p>The claimant has:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>failed the bank/building society check AND</li>
                <li>not provided an invitation code AND</li>
                <li>failed the address match</li>
              </ul>


              <p>Tell the claimant you will send them a BR1 claim form which they need to complete and return to:</p>

              <p>       Pension Service 8<br>
                        Post handling Site B<br>
                        Wolverhampton<br>
                        WV98 1AF<br>
                        United Kingdom
              </p>

            <button type="submit" class="govuk-button">
              End call
            </button>

            <br>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                <b>URL, errors and notes</b>
                </span>
              </summary>
              <div class="govuk-details__text">
                <b>URL:</b> /needs-to-complete-paper-claim<br>
              </div>
              <div class="govuk-details__text">
                <b>Errors:</b> 
                
              </div>
            </details>


          </div>



      </form>



    </div>

  </main>
</div>

{% endblock %}
