{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav.html' %}
{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="marital-details" class="govuk-back-link">Back</a>
        <br> <br>
        <form method="post">

          <h1 class="govuk-heading-xl">
Have you lived or worked outside the UK since 6 April 1972? </h1>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="lived-worked-conditional-hint">

    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="lived-worked-conditional" name="lived-worked" type="radio" value="yes" data-aria-controls="conditional-lived-worked-conditional">
        <label class="govuk-label govuk-radios__label" for="lived-worked-conditional">
          Yes
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="lived-worked-conditional-2" name="lived-worked" type="radio" value="no" data-aria-controls="conditional-lived-worked-conditional-2">
        <label class="govuk-label govuk-radios__label" for="lived-worked-conditional-2">
          No
        </label>
      </div>


    </div>
  </fieldset>
</div>

      <button type="submit" class="govuk-button">
        Continue
      </button>

      <br>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL, errors and notes</b>
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>URL:</b> /lived-or-worked-outside-uk<br>
        </div>
        <div class="govuk-details__text">
          <b>Errors:</b> <br>
          Nothing selected: Select yes if the claimant has lived or worked outside the UK since 6 April 1972

        </div>
      </details>

  </div>


 </form>



</div>

</main>
</div>

{% endblock %}
