{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-paper.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
   
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="ni" class="govuk-back-link">Back</a>
        <br><br>
        <form method="post" action="confirm">

          <h1 class="govuk-heading-xl">
            Record not found
          </h1>

          <div class="govuk-form-group">
            <h1 class="govuk-heading-m">
              Enter the claimant’s date of birth
            </h1>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric" value="19"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric" value="8"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric" value="1961"></div>
              </div>
            </div>
        

          </div>



          <button type="submit" class="govuk-button">
            Save
          </button>

      </div>



      </form>



    </div>

  </main>
</div>

{% endblock %}