{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-paper.html' %}
{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="no-claim" class="govuk-back-link">Back</a>

        <br> <br>
        <form method="post" action="confirm">
       
          <h1 class="govuk-heading-xl">
            Claimant has not reached State Pension age</h1>
            
           <p>Enter the claimant’s full name and address.</p>

          <div class="govuk-form-group">

            <div class="govuk-form-group">
              <div class="govuk-heading-m">Full name</div>

              <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false">
            </div>

            <div class="govuk-form-group">
            <div class="govuk-heading-m">Address</div>
            <label class="govuk-label" for="address-line-1">
              Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1"></div>
        
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-line-2">
              <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
            </label>
            <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2"></div>
        
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-town">
              Town or city
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2"></div>
        
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-county">
              County
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text"></div>
        
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-postcode">
              Postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code"></div>
        
        </fieldset>
     
          
            </div>
         
            <button type="submit" class="govuk-button">
              Continue
            </button>

          </div>

      </div>


      </form>



    </div>

  </main>
</div>

{% endblock %}