{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <dv class="column-full">


          <br><br>
          {% include './name-bar/_bar-jose.html' %}

<form method="post" action="change-award-complete">

          <a href="review-award" class="govuk-back-link">Back</a>

          <br>
          <br>

          <h2 class="govuk-heading-l">Change to award</h2>

          <p class="govuk-body">

            The award has been revised from <strong>8 September 2021</strong> from <strong>£127.67</strong> to <b>{% if data.addsp %}
              £{{data.addsp}}
              {% else %}
            £132.66
              {% endif %}</b> per week.</b><br>
            <br>
            An arrears payment of <b>£19.96</b> will be made for the period <b>8 September 2021</b> to <b>4 October 2021.</b><br>
            <br>
            A new award letter will be sent to the claimant.

          </p>

            <button type="submit" class="govuk-button">
            Confirm
            </button>

            <br><br><br><br>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                    <b>URL, errors and notes</b>
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <b>URL:</b> /personal-details <br>
                    <b>Error messages:</b> None needed   <br>
                    <b>Notes:</b> None <br>
                  </div>
                </details>

              </div>


        </div>
      </div>




</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
