{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-two-thirds">

      <main id="content" role="main">
        <div class="grid-row">
<br>


{% include './name-bar/_bar-jose.html' %}

        </div>
      </main>

            {{ govukBackLink({
              text: "Back",
              href: "javascript:history.go(-1)"
                              }) }}

<br><br>

      <form method="post">

<h1 class="govuk-heading-l">Has the claimant left prison?</h1>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="in-prison-hint">
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="in-prison-2" name="in-prison" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="in-prison-2">
          Yes
        </label>
      </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="in-prison" name="in-prison" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="in-prison">
            No
          </label>
        </div>
    </div>

  </fieldset>
</div>

          <button type="submit" class="govuk-button">Continue</button


</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /left-prison <br>
        <b>Error messages:</b><br> Nothing selected: Select yes if the claimant has left prison<br>
        <b>Notes:</b> None <br>
      </div>
    </details>

  </div>

</div>




    </div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
