{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">

  <br>
  <br>

  <div class="govuk-grid-column-full">
  </div>

  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">

          <form method="post" action="payment-frequency">

            <a href="payment" class="govuk-back-link">Back</a>
            <br><br>
            <h2 class="govuk-heading-l">Claimant removed details</h2>

            <div class="govuk-form-group">

              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of action</th>
                    <td class="govuk-table__cell">12 January 2023</td>
                  </tr>
                  <tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header">Reason</th>
  <td class="govuk-table__cell">
                      Claimant moved to PSCS</td>
                  </tr>
                  <tr class="govuk-table__row">

              <th scope="row" class="govuk-table__header">Reason</th>
              <td class="govuk-table__cell">
                      Duplicate claim</td>
                  </tr>
                  <tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header">Reason</th>
  <td class="govuk-table__cell">
                      Claimant moved outside the UK and cannot be paid</td>
                  </tr>
                  <tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header">Reason</th>
  <td class="govuk-table__cell">
                      Deduction needs to be applied to State Pension</td>
                  </tr>



                </tbody>
              </table>

   <p>  <a class="govuk-link" href="delete-timeline-entry">
                Delete timeline event
                </a></p>
            </div>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                <b>URL, errors and notes</b>
                </span>
              </summary>
              <div class="govuk-details__text">
                <b>URL:</b> /timeline-event <br>
                <b>Error messages:</b> None  <br>
                <b>Notes:</b> None <br>
              </div>
            </details>

        </div>
      </div>
    </main>

    </form>
  </div>

</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
