{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% include './_find-someone.html' %}


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-two-thirds">

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">

                {% if data['imprisoned-day'] or data['dead-day'] %}
                {% set status = data['stopped-reason'] %}
                {% else %}
                {% set status = 'Payment returned'%}
                {% endif %}

                <div>
                  <h1 class="govuk-heading-xl">
                    Roberto Hugh Smith</br>
                    <span class="govuk-caption-xl">QQ 12 34 99 C</span>
                    <span class="app-c-tag">Receiving State Pension</span>
                  </h1>
                </div>

              </div>
            </div>

            {% include './_tab-payment.html' %}

          </div>
        </div>
      </main>

    </br>
  </br>

  <h2 class="govuk-heading-m">Bank or building society account details</h2>
  <dl class="app-check-your-answers app-check-your-answers--short">
    <div class="app-check-your-answers__contents">
      <dd class="app-check-your-answers__answer">

      </dd>
      <dd class="app-check-your-answers__change">
        <a href="bankdetails.html">
          <span class="govuk-visually">Change</span>
        </a>
      </dd>
    </div>

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__answer">
        Bank or building society
      </dt>
      <dd class="app-check-your-answers__answer">
        Lloyds
      </dd>
      <dd class="app-check-your-answers__change">
      </dd>
    </div>

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__answer">
        Account holder
      </dt>
      <dd class="app-check-your-answers__answer">
        {% if data.accountholder %}
        {{data.accountholder}}
        {% else %}
        Mr R H Smith
        {% endif %}
      </dd>
      <dd class="app-check-your-answers__change">
      </dd>
    </div>

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__answer">
        Account number
      </dt>
      <dd class="app-check-your-answers__answer">
        {% if data.accountnumber %}
        {{data.accountnumber}}
        {% else %}
        98765409
        {% endif %}
      </dd>
      <dd class="app-check-your-answers__change">
      </dd>
    </div>

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__answer">
        Sort code
      </dt>
      <dd class="app-check-your-answers__answer">
        {% if data.sortcode %}
        {{data.sortcode}}
        {% else %}
        54-76-98
        {% endif %}
      </dd>
      <dd class="app-check-your-answers__change">
      </dd>
    </div>

  </div>


  <div class="govuk-grid-column-one-third">

    <h2 class="govuk-heading-m">
      Payment changes
    </h2>
    <ol class="app-timeline">

      <li class="app-timeline__entry">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          Payment recalled
        </h3>

        <p class="app-timeline__info govuk-!-margin-bottom-0">
          <span class="govuk-visually-hidden">Marriage verified</span>
          <span class="app-timeline__date">
            11 July 2019
          </span>
        </p>
      </li>  
      <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              Bank account changed
            </h3>
    
            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">Marriage verified</span>
              <span class="app-timeline__date">
                10 July 2019
              </span>
            </p>
          </li>

          <li class="app-timeline__entry">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
                Frequency changed
              </h3>
      
              <p class="app-timeline__info govuk-!-margin-bottom-0">
                <span class="govuk-visually-hidden">Marriage verified</span>
                <span class="app-timeline__date">
                  15 June 2019
                </span>
              </p>
            </li>

      <li class="app-timeline__entry">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          Payments started again
        </h3>

        <p class="app-timeline__info govuk-!-margin-bottom-0">
          <span class="govuk-visually-hidden">Bank account changed</span>
          <span class="app-timeline__date">
            16 April 2019
          </span>
        </p>
      </li>

      <li class="app-timeline__entry">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          Payments stopped
        </h3>

        <p class="app-timeline__info govuk-!-margin-bottom-0">
          <span class="govuk-visually-hidden"></span>
          <span class="app-timeline__date">
            28 March 2019
          </span>
        </p>
      </li>


      


    </ol>

  </div>


  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Regular payment schedule</h2>
    <dl class="app-check-your-answers app-check-your-answers--short">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
        </dt>
        <dd class="app-check-your-answers__answer">

        </dd>
        <dd class="app-check-your-answers__change">
          <a href="prevent-payments">
            <span class="govuk-visually-hidden"></span>
          </a>
        </dd>
      </div>

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__answer">
          Payment frequency
        </dt>
        <dd class="app-check-your-answers__answer">
          {% if data.frequency %}
          {{data.frequency}}
          {% else %}
          Weekly
          {% endif %}
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="frequency">Change</a>
        </dd>
      </dd>
    </div>

    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__answer">
        Payment amount
      </dt>
      <dd class="app-check-your-answers__answer">
        {% if data.frequency === 'Weekly' %}
        £164.35
        {% elseif data.frequency === 'Every 4 weeks' %}
        £657.40
        {% elseif data.frequency === 'Every 13 weeks' %}
        £2,136.55
        {% elseif data.frequency === 'Every 52 weeks' %}
        £8,546.20
        {% else %}
        £171.88
        {% endif %}
      </dd>
    <dd class="app-check-your-answers__change">
        <a href="prevent-payments">
          <span class="govuk-visually-hidden"></span>
        </a>
      </dd>
      
    </div>


    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__answer">
        Next payment
      </dt>
      <dd class="app-check-your-answers__answer">
        12 July 2019
      </dd>
      <dd class="app-check-your-answers__answer">
          £171.88
      </dd>
      <dd class="app-check-your-answers__change">
      </dd>
    </div>
<!--
    <a href="award-change.html">See payment schedule</td>
    -->
  </div>


  
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Payment history</h2>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-quater" scope="col">From</th>
      <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">To</th>
      <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Payment date</th>
      <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Amount</th>
      <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Status</th>
      <th class="govuk-table__header govuk-!-width-one-quarter" scope="col"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">


        <tr class="govuk-table__row">
            <td class="govuk-table__cell">06/07/2019</td>
            <td class="govuk-table__cell">12/07/2019</td>
            <td class="govuk-table__cell">12/07/2019</td>
            <td class="govuk-table__cell">£171.88</td>
            <td class="govuk-table__cell" class="govuk-orange">Recalled</class></td>
            <td class="govuk-table__cell"><a href="payment-details.html">Details</a></td>
          </tr>


          <tr class="govuk-table__row">
              <td class="govuk-table__cell">24/11/2018</td>
              <td class="govuk-table__cell">05/07/2019</td>
              <td class="govuk-table__cell">11/07/2019</td>
              <td class="govuk-table__cell">£87.00</td>
              <td class="govuk-table__cell" class="govuk-orange">Not paid</class></td>
              <td class="govuk-table__cell"><a href="payment-details-1.html">Details</a></td>
            </tr>


          <tr class="govuk-table__row">
              <td class="govuk-table__cell">29/06/2019</td>
              <td class="govuk-table__cell">05/07/2019</td>
              <td class="govuk-table__cell">05/07/2019</td>
              <td class="govuk-table__cell">£162.68</td>
              <td class="govuk-table__cell" class="govuk-orange">Paid</class></td>
              <td class="govuk-table__cell"><a href="payment-details-2.html">Details</a></td>
            </tr>


      <tr class="govuk-table__row">
          <td class="govuk-table__cell">15/06/2019</td>
          <td class="govuk-table__cell">28/06/2019</td>
          <td class="govuk-table__cell">28/06/2019</td>
          <td class="govuk-table__cell">£325.36</td>
          <td class="govuk-table__cell" class="govuk-orange">Paid</class></td>
          <td class="govuk-table__cell"><a href="payment-details-3.html">Details</a></td>
        </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">18/05/2019</td>
      <td class="govuk-table__cell">14/06/2019</td>
      <td class="govuk-table__cell">14/06/2019</td>
      <td class="govuk-table__cell">£650.72</td>
      <td class="govuk-table__cell" class="govuk-green">Paid</a></td>
      <td class="govuk-table__cell"><a href="payment-details-4.html">Details</a></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">20/04/2019</td>
      <td class="govuk-table__cell">17/05/2019</td>
      <td class="govuk-table__cell">17/05/2019</td>
      <td class="govuk-table__cell">£650.72</td>
      <td class="govuk-table__cell" class="govuk-green">Paid</a></td>
      <td class="govuk-table__cell"><a href="payment-details-4.html">Details</a></td>
    </tr>


    <tr class="govuk-table__row">
      <td class="govuk-table__cell">23/03/2019</td>
      <td class="govuk-table__cell">19/04/2019</td>
      <td class="govuk-table__cell">18/04/2019</td>
      <td class="govuk-table__cell">£650.72</td>
      <td class="govuk-table__cell" class="govuk-green">Paid</a></td>
      <td class="govuk-table__cell"><a href="payment-details-4.html">Details</a></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">23/03/2019</td>
      <td class="govuk-table__cell">22/03/2019</td>
      <td class="govuk-table__cell">22/03/2019</td>
      <td class="govuk-table__cell">£650.72</td>
      <td class="govuk-table__cell" class="govuk-green">Paid</a></td>
      <td class="govuk-table__cell"><a href="payment-details-4.html">Details</a></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">26/02/2019</td>
      <td class="govuk-table__cell">22/02/2019</td>
      <td class="govuk-table__cell">22/02/2019</td>
      <td class="govuk-table__cell">£650.72</td>
      <td class="govuk-table__cell" class="govuk-green">Paid</a></td>
      <td class="govuk-table__cell"><a href="payment-details-4.html">Details</a></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">29/01/2019</td>
      <td class="govuk-table__cell">25/01/2019</td>
      <td class="govuk-table__cell">25/01/2019</td>
      <td class="govuk-table__cell">£650.72</td>
      <td class="govuk-table__cell" class="govuk-green">Paid</a></td>
      <td class="govuk-table__cell"><a href="payment-details-4.html">Details</a></td>
    </tr>


    <!-- <tr class="govuk-table__row">
      <td class="govuk-table__cell">01/12/2018</td>
      <td class="govuk-table__cell">28/12/2018</td>
      <td class="govuk-table__cell">28/12/2018</td>
      <td class="govuk-table__cell">£650.72</td>
      <td class="govuk-table__cell" class="govuk-green">Paid</a></td>
      <td class="govuk-table__cell"><a href="payment-details-4.html">Details</a></td>
    </tr>-->


  </tbody>
</table>
<!-- <p class="govuk-body">
    <a href="" class="govuk-link">See more</a>
  </p> -->
</div>
</div>

</main>   
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
