{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}
<!-- -->

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-column-two-thirds">

        <main id="content" role="main">
          <div class="grid-row">
            <div class="column-full">

              {% include 'includes/_bar.html' %}


            </div>
          </div>
        </main>



        {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}





          <br><br>
          <form method="post" class="form" >


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Who is dealing with Mark's estate?
      </h1>
    </legend>

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="individual" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in">
          Person
        </label>
        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          For example, a family member, friend or another individual.     </div>

      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="corp-ref" aria-describedby="sign-in-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in-2">
Company        </label>
        <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
          For example, a solicitor, the local council or another organisation.     </div>

      </div>

  </fieldset>
</div>


          <button type="submit" class="govuk-button">Continue</button>




           </form>
        </div>
      </div>

    </main>


</div>
</div>


{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds"></div>
</div>

<script>
    nextPageRoutes = {
        'individual': 'dap-name',
        'corp-ref': 'org-dap-name',

        }
</script>

{% endblock %}
