{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% include './_find-someone.html' %}


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-two-thirds">

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">

            {% include './_bar-dead.html' %}

            {% include './_tab-overview.html' %}

          </div>
        </div>
      </main>

      <br>

      <div>
        <a href="payee-letter" class="govuk-back-link">Back</a>
      </div>

      <form method="post">

      <h1 class="govuk-heading-l">Death arrears payee details</h1>

      <div class="govuk-form-group">
    <label class="govuk-label" for="full-name">
      Full name
    </label>
    <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false">
  </div>


      <h2 class="govuk-heading-s">Bank account details</h2>

  <div class="govuk-form-group">
  <label class="govuk-label" for="width-20">
    Account holder name
  </label>
  <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="width-10">
    Sort code
  </label>
  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
</div>

<div class="govuk-form-group">
<label class="govuk-label" for="width-20">
  Account number
</label>
<input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
</div>



<br>

        <button type="submit" class="govuk-button">
          Send payment
        </button>
      </form>


    </div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
