

        <table class="govuk-table">
          <tbody style="background-color: #DEE0E2;">
            <tr class="govuk-table__row">
              <td class="table-summary-content govuk-table__cell " style="padding-left: 0.5em;"><strong class="govuk-tag govuk-tag--yellow">Administrator - Sarah Smith</strong></td>
              <td class="table-summary-content govuk-table__cell " style=text-align: right;><a href="">Remove citizen</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="">Add date of death</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">Logout</a></td>


            </tr>
          </tbody>
        </table>
