{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/servicename-tasks.html' %}


{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-two-thirds">

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">
<br>


  <div class="govuk-form-group">
    <strong class="govuk-tag govuk-tag--turquoise">Administrator - Sarah Jones</strong>
      <br>
      <br>
</div>

<div class="govuk-button-group">
  <a href="admin4-remove" role="button" draggable="false" button class="govuk-button govuk-button--warning" data-module="govuk-button" >
    Remove citizen
  </a>

  <a href="admin4-death" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Enter death data
  </a>


  <a href="admin4-raw" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  View raw data
  </a>


</div>



<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            {% include './_bar.html' %}

          </div>
        </div>
      </main>
      <h1 class="govuk-heading-m">Current award</h1>
      <h1 class="govuk-heading-xl">£152.66 a week</h1>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        24 month account history
      </h1>

      <p>
        Showing most recent event first.
      </p>

      <ol class="app-timeline">

        <li class="app-timeline__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            Widowed
          </h3>

          <p class="app-timeline__info govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden">State pension adjusted</span>
            <span class="app-timeline__author">
              agent Paul McPhin
            </span>
            <span class="app-timeline__date">
              21 July 2020 at 10:09
            </span>
            <span class="app-timeline__date">
            Award increased to £152.66 a week.
            </span>
          </p>
        </li>

        <li class="app-timeline__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            Claiming state pension
          </h3>

          <p class="app-timeline__info govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden">Claiming state pension</span>
            <span class="app-timeline__author">
              agent Clare Simmons
            </span>
            <span class="app-timeline__date">
              3 August 2019 at 15:56
            </span>
            <span class="app-timeline__date">
            Claiming from state pension age.
            </span>
          </p>
        </li>


        <li class="app-timeline__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            Claim disallowed
          </h3>

          <p class="app-timeline__info govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden">Claim disallowed</span>
            <span class="app-timeline__author">
              agent John Smith
            </span>
            <span class="app-timeline__date">
              1 January 2018 at 13:02
            </span>
            <span class="app-timeline__date">
            Claimant under state pension age.
            </span>
          </p>
        </li>



      </ol>

    </div>
  </div>
<br>
  <button class="govuk-button">
    Continue
  </button>



</div>

</div>




    </div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
