{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/servicename-tasks.html' %}


{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-full">

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">
<br>


  <div class="govuk-form-group">
    <strong class="govuk-tag govuk-tag--turquoise">Administrator - Sarah Jones</strong>
      <br>
      <br>
</div>

<div class="govuk-button-group">

  <a href="admin4" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
  Summary
  </a>

  <a href="admin4-cases" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  All cases
  </a>

  <a href="admin4-death" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Change a verified date
  </a>

  <a href="admin4-remove" role="button" draggable="false" button class="govuk-button govuk-button--warning" data-module="govuk-button" >
    Delete account
  </a>


</div>



<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            {% include './_bar.html' %}

          </div>
        </div>
      </main>




<form action="admin4-cases" method="post" class="form">
<form method="post" >
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        All transactions for case 001
      </h1>



                                 <h1 class="govuk-heading-m">Invite Key</h1>
                                 <br>
                                 <p> <b>Mr Jose Dominguez</b> VICT2O91PY</p>
                                <br>
                                <h1 class="govuk-heading-m">Personal details</h1>
                                <br>
                                <p><b>State Pension Date</b>  1 November 2020  </p>
                                <p><b>Claim Created Date</b>  3 November 2020  </p>
                                <p><b>Home Telephone Number</b>  0191 234 5321  </p>
                                <p><b>Email</b>   j.dominguez@gmail.com  </p>
                                <p><b>Residential Address</b>  31 Whitby Avenue, Newcastle, N1 3BD  </p>
                                <p><b>Account Holder</b>  J DOMINGUEZ  </p>
                                <p><b>Account Number</b>  41282612  </p>
                                <p><b>Sort Code</b>  40 47 87  </p>
                                <p><b>Award Status</b>  ARCHIVED  </p>
                                <p><b>Award Status Date</b>  3 November 2020  </p>
                                <h1 class="govuk-heading-m">Payment Details</h1>
                                <br>
                                <p><b>Payment Frequency</b>  4W  </p>
                               <p><b>Weekly State Pension Amount</b>  168.6  </p>
                               <p><b>Weekly Protected Payment Amount</b>  5.3  </p>
                               <p><b>Weekly Extra State Pension Amount</b>  0.0  </p>
                               <p><b>Weekly Inherited Extra State Pension Amount</b>  0.0  </p>
                               <p><b>Total Amount</b>  173.9  </p>
                               <p><b>Start Date</b>  3 November 2020  </p>
                               <p><b>End Date</b>  3 November 2021  </p>
                               <p><b>Award Amount Reason Code</b> FIRSTAWARD  </p>
                               <p><b>Date Added</b>  3 November 2020  </p>
                               <p><b>Weekly State Pension Amount</b>  172.83  </p>
                               <p><b>Weekly Protected Payment Amount</b>  5.33  </p>
                               <p><b>Weekly Extra State Pension Amount</b>  0.0  </p>
                               <p><b>Weekly Inherited Extra State Pension Amount</b>  0.0  </p>
                               <p><b>Total Amount</b>  178.16  </p>
                               <p><b>Start Date</b>  13 November 2020  </p>
                               <p><b>Award Amount Reason Code</b>  ANNUALUPRATING  </p>
                               <p><b>Date Added</b>  13 November 2020  </p>
                               <h1 class="govuk-heading-m">Other</h1>
                               <br>
                              <p><b>Gender</b>  M  </p>
                              <p><b>Version Number</b>  0  </p>
                              <p><b>Marital Status</b>  Single  </p>
                              <p><b>Marital Status Verified</b>  false  </p>
                              <p><b>Prioritised Claim Date</b>  3 November 2020  </p>



                            <h1 class="govuk-heading-m">Schedules</h1>
                            <br>
                              <p><b>Processing Status</b>  COMPLETE</p>


    </div>
  </div>
<br>
  <button type="submit" class="govuk-button">
    Continue
  </button>



</div>

</div>




    </div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
