{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/servicename-tasks.html' %}


{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-two-thirds">

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">
<br>


  <div class="govuk-form-group">
    <strong class="govuk-tag govuk-tag--turquoise">Administrator - Sarah Jones</strong>&nbsp;&nbsp;&nbsp;<a class="govuk-link" href="#">Logout</a>
      <br>
      <br>
</div>

<div class="govuk-button-group">
  <button class="govuk-button govuk-button--warning" data-module="govuk-button" a href="#">
    Remove claimant
  </button>

  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Add date of death
  </button>



</div>



<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            {% include './_bar.html' %}

          </div>
        </div>
      </main>
      <h1 class="govuk-heading-m">Current award</h1>
      <h1 class="govuk-heading-xl">£152.66 a week</h1>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



<form action="newaward" method="post" class="form">
<form method="post" >
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Account history
      </h1>

      <p>
        Showing most recent event first.
      </p>

      <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
        <ol class="app-step-nav__steps">
          <li class="app-step-nav__step js-step" id="check-youre-allowed-to-drive" >
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 1
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  Decrease new state pension to £152.66
                </span>
              </h2>
            </div>



          </li>

          <li class="app-step-nav__step js-step" id="get-a-provisional-licence" >
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 2
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  Change to national insurance record new state pension £160.18
                </span>
              </h2>
            </div>

          </li>

          <li class="app-step-nav__step js-step" id="driving-lessons-and-practice" >
            <div class="app-step-nav__header js-toggle-panel" data-position="3">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 3
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  Widowed 1 January 2020
                </span>
              </h2>
            </div>

          </li>

          <li class="app-step-nav__step js-step" id="prepare-for-your-theory-test" >
            <div class="app-step-nav__header js-toggle-panel" data-position="4">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--logic">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      and
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  Reviewed inheritance £30.00, protected payment £14.98
                </span>
              </h2>
            </div>

          </li>

          <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test" >
            <div class="app-step-nav__header js-toggle-panel" data-position="5">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 4
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  Review 1 new state pension £160.18
                </span>
              </h2>
            </div>



          </li>

          <li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test" >
            <div class="app-step-nav__header js-toggle-panel" data-position="6">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 5
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  Review 2 increase from £160.18 to £165.19 new state pension
                </span>
              </h2>
            </div>

          </li>

          <li class="app-step-nav__step js-step" id="when-you-pass" >
            <div class="app-step-nav__header js-toggle-panel" data-position="7">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 6
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  Review 3  Own new state pension £165.19, inheritance £30.00, new state pension of £175.20 and protected payment £19.99
                </span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-when-you-pass-7">

          </li>
        </ol>
      </div>

    </div>
  </div>

  <button type="submit" class="govuk-button">
    Continue
  </button>



</div>

</div>




    </div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
