{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/servicename-tasks.html' %}


{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-two-thirds">

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">
<br>


  <div class="govuk-form-group">
    <strong class="govuk-tag govuk-tag--turquoise">Administrator - Sarah Jones</strong>
      <br>
      <br>
</div>

<div class="govuk-button-group">
  <a href="admin4-raw" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  View all transactions
  </a>

  <a href="admin4-death" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Enter death details
  </a>

  <a href="admin4-remove" role="button" draggable="false" button class="govuk-button govuk-button--warning" data-module="govuk-button" >
    Delete account
  </a>


</div>



<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            {% include './_bar.html' %}

          </div>
        </div>
      </main>




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          This cannot be undone
        </strong>
      </div>


      <h1 class="govuk-heading-l">
        Final warning</h1>


<p>Are you sure you want to delete this account? Pressing permanently remove claimant will erase all data.</p>



    </div>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
        Enter reason for deletion
        </h1>
      </legend>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live">
            Build on another system
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
            Gone to prison
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
           Moved abroad to a country we can’t pay
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
            Deferred then reclaimed
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
            Duplicate account
          </label>
        </div>
      </div>

    </fieldset>
  </div>

<br>

<a href="admin4" role="button" draggable="false" button class="govuk-button">
  Cancel
<a/>
  <a href="admin4-remove3" role="button" draggable="false" button class="govuk-button govuk-button--warning" data-module="govuk-button">
    Permanently remove claimant
  </a>



</div>

</div>




    </div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
