{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/servicename-tasks.html' %}


{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-two-thirds">

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">
<br>


  <div class="govuk-form-group">
    <strong class="govuk-tag govuk-tag--turquoise">Administrator - Sarah Jones</strong>&nbsp;&nbsp;&nbsp;<a class="govuk-link" href="#">Logout</a>
      <br>
      <br>
</div>

<div class="govuk-button-group">
  <button class="govuk-button govuk-button--warning" data-module="govuk-button" a href="#">
    Remove citizen
  </button>

  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Add date of death
  </button>



</div>



<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            {% include './_bar.html' %}

          </div>
        </div>
      </main>
      <h1 class="govuk-heading-m">Current award</h1>
      <h1 class="govuk-heading-xl">£152.66 a week</h1>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



<form action="newaward" method="post" class="form">
<form method="post" >
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Account history
      </h1>

      <p>
        Showing most recent event first.
      </p>

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-one-third">

            <h2 class="heading-medium">Claim history</h2>
            <ol class="dwp-timeline">
              <li class="dwp-timeline__entry">
                <h3 class="dwp-timeline__title">Claim disallowed</h3>
                <p class="dwp-timeline__info">
                  <span class="govuk-visually-hidden visually-hidden">Claim disallowed</span>
                  <span class="dwp-timeline__author">by John Smith</span>
                  <span class="dwp-timeline__date">1 January 2018 at 13:02</span>
                </p>
                <p class="dwp-timeline__body">
                  Claimant over state pension age.
                </p>
              </li>

              <li class="dwp-timeline__entry">
                <h3 class="dwp-timeline__title">Marriage verified</h3>
                <p class="dwp-timeline__info">
                  <span class="dwp-visually__hidden">Marriage verified</span>
                  <span class="dwp-timeline__author">by John Smith</span>
                  <span class="dwp-timeline__date">1 January 2018 at 13:21</span>
                </p>
                <p class="dwp-timeline__body">
                  Marriage certificate uploaded to DRS.
                </p>
              </li>
            </ol>


            <h2 class="govuk-heading-m">
  Claim history
</h2>
<ol class="app-timeline">

  <li class="app-timeline__entry">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Claim disallowed
    </h3>

    <p class="app-timeline__info govuk-!-margin-bottom-0">
      <span class="govuk-visually-hidden">Claim disallowed</span>
      <span class="app-timeline__author">
        by John Smith
      </span>
      <span class="app-timeline__date">
        1 January 2018 at 13:02
      </span>
      <span class="app-timeline__date">
      Claimant over state pension age.
      </span>
    </p>
  </li>

  

</ol>


          </div>
        </div>
      </div>

    </div>
<br>
  <button type="submit" class="govuk-button">
    Continue
  </button>



</div>

</div>




    </div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
