{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <br>

          {% include './_bar.html' %}

          {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
                            }) }}
                            <br><br>

        <form method="post" action="get-a-task-2">


              <h1 class="govuk-heading-l">Change to State Pension award</h1>
            <br><br>

              <h2 class="govuk-heading-m">Revision 1</h2>

            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Previous award</th>
                  <td class="govuk-table__cell">£132.66</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Updated award</th>
                  <td class="govuk-table__cell"><b>£142.23</b></td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="width: 50%" >From</th>
                  <td class="govuk-table__cell" style="width: 50%">11 September 2022</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                </table>

                <h2 class="govuk-heading-m">Revision 2</h2>

                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header" style="width: 50%" >Previous awaard</th>
                      <td class="govuk-table__cell" style="width: 50%">£132.66</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Updated award</th>
                      <td class="govuk-table__cell"><b>£152.33</b></td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header" style="width: 50%" >From</th>
                      <td class="govuk-table__cell" style="width: 50%">12 November 2022</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    </table>

          <br>
              <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Arrears payment</caption>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Amount</th>
                <td class="govuk-table__cell">£82.30</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Period</th>
                <td class="govuk-table__cell" style="width: 51%">11 September 2022 to 21 October 2022</td>
              </tr>
            </tbody>
          </table>

          <div class="govuk-inset-text">
            A new award letter will be sent to the claimant.
          </div>

          <br>
              <a href="get-a-task-2" button type="submit" class="govuk-button">
          Confirm and send award letter</a>


        </form>

      </div>
    </div>
</div>
</div>
</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
