{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="address" class="govuk-back-link">Back</a>
        <br> <br>
        <form method="post">

          <div class="govuk-form-group">

<h1 class="govuk-heading-xl">The claimant must send us proof of their date of birth
</h1>

  <p class="govuk-body-m">Tell the claimant that they will need to send us proof of their date of birth.</p>

  <p class="govuk-body-m">You will give the claimant details of what to send and where to send it at the end of the application.</p>

          </div>
      <button type="submit" class="govuk-button">
        Continue
      </button>

      <br>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          <b>URL, errors and notes</b>
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>URL:</b> /send-proof-date-of-birth <br>
        </div>
        <div class="govuk-details__text">
          <b>Errors:</b>None

        </div>
      </details>

  </div>

  </div>


 </form>



</div>

</main>
</div>

{% endblock %}
