{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-name.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
          }) }}

<br><br>
        <form method="post" action="address">

          <h1 class="govuk-heading-xl">
              Can you confirm your date of birth?
          </h1>
<div class=" govuk-inset-text"><p class="govuk-body-l">17 December 1954
</p></div>

<p><a href="dob-input" class="govuk-link">This is not the claimants date of birth 🚧</a></p>

    <button type="submit" class="govuk-button">
      Continue
    </button>

  </div>



          </form>



    </div>

</main>
</div>

{% endblock %}
