{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav.html' %}
{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}

        <br> <br>
        <form method="post">

          <h1 class="govuk-heading-xl">
            Claimant needs to send in evidence</h1>

              <p>The claimant has:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>failed the bank/building society check AND</li>
                <li>not provided an invitation code AND</li>
                <li>failed the address match</li>
              </ul>


              <p>The claimant needs to send a copy of their Council Tax statement to:</p>

              <p>       The Pension Service 4<br>
                        Mail Handling Site A<br>
                        Wolverhampton<br>
                        WV98 1AG
              </p>
            
            
              <p class="govuk-body-m">Make sure they include their name, National Insurance number and return address with anything they send us.</p>

            <button type="submit" class="govuk-button">
              End call
            </button>

          </div>



      </form>



    </div>

  </main>
</div>

{% endblock %}
