{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav.html' %}
{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}

        <br> <br>
        <form method="post">

          <h1 class="govuk-heading-xl">
            Content to come</h1>


              <p>If the user doesn't use their invite code, doesn't live at the address we think they do and fails bank account verification... they need to provide evidence.</p>
              <p>Jordan / Johnny will confirm what this is.</p>


            <button type="submit" class="govuk-button">
              End call
            </button>

          </div>



      </form>



    </div>

  </main>
</div>

{% endblock %}
