{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="address" class="govuk-back-link">Back</a>
        <br> <br>
        <form method="post">

          <div class="govuk-form-group">

            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Can you give me your full address?
                </h1>
              </legend>

              <p><span id="passport-issued-hint" class="govuk-hint">
                I need your property name or number, street name, town or city, county and postcode.
              </span></p>

              <br>
              <br>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-1">
                  Building number <span class="govuk-visually-hidden">building number</span>
                </label>
                <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1"></div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-line-1">
                    Building name <span class="govuk-visually-hidden">building name</span>
                  </label>
                  <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1"></div>

                  <div class="govuk-form-group">
                    <label class="govuk-label" for="address-line-1">
                      Apartment or block <span class="govuk-visually-hidden">apartment or block</span>
                    </label>
                    <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1"></div>

                  <div class="govuk-form-group">
                    <label class="govuk-label" for="address-line-1">
                      Street <span class="govuk-visually-hidden">Street </span>
                    </label>
                    <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1"></div>


              <div class="govuk-form-group">
                <label class="govuk-label" for="address-town">
                  Town or city<span class="govuk-visually-hidden">town or city</span>
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2"></div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-county">
                  County<span class="govuk-visually-hidden">county</span>
                </label>

                <select name="county">
                  <option>Please select</option>
                  <optgroup label="England">
                      <option>Bedfordshire</option>
                      <option>Berkshire</option>
                      <option>Bristol</option>
                      <option>Buckinghamshire</option>
                      <option>Cambridgeshire</option>
                      <option>Cheshire</option>
                      <option>City of London</option>
                      <option>Cornwall</option>
                      <option>Cumbria</option>
                      <option>Derbyshire</option>
                      <option>Devon</option>
                      <option>Dorset</option>
                      <option>Durham</option>
                      <option>East Riding of Yorkshire</option>
                      <option>East Sussex</option>
                      <option>Essex</option>
                      <option>Gloucestershire</option>
                      <option>Greater London</option>
                      <option>Greater Manchester</option>
                      <option>Hampshire</option>
                      <option>Herefordshire</option>
                      <option>Hertfordshire</option>
                      <option>Isle of Wight</option>
                      <option>Kent</option>
                      <option>Lancashire</option>
                      <option>Leicestershire</option>
                      <option>Lincolnshire</option>
                      <option>Merseyside</option>
                      <option>Norfolk</option>
                      <option>North Yorkshire</option>
                      <option>Northamptonshire</option>
                      <option>Northumberland</option>
                      <option>Nottinghamshire</option>
                      <option>Oxfordshire</option>
                      <option>Rutland</option>
                      <option>Shropshire</option>
                      <option>Somerset</option>
                      <option>South Yorkshire</option>
                      <option>Staffordshire</option>
                      <option>Suffolk</option>
                      <option>Surrey</option>
                      <option>Tyne and Wear</option>
                      <option>Warwickshire</option>
                      <option>West Midlands</option>
                      <option>West Sussex</option>
                      <option>West Yorkshire</option>
                      <option>Wiltshire</option>
                      <option>Worcestershire</option>
                  </optgroup>
                  <optgroup label="Wales">
                      <option>Anglesey</option>
                      <option>Brecknockshire</option>
                      <option>Caernarfonshire</option>
                      <option>Carmarthenshire</option>
                      <option>Cardiganshire</option>
                      <option>Denbighshire</option>
                      <option>Flintshire</option>
                      <option>Glamorgan</option>
                      <option>Merioneth</option>
                      <option>Monmouthshire</option>
                      <option>Montgomeryshire</option>
                      <option>Pembrokeshire</option>
                      <option>Radnorshire</option>
                  </optgroup>
                  <optgroup label="Scotland">
                      <option>Aberdeenshire</option>
                      <option>Angus</option>
                      <option>Argyllshire</option>
                      <option>Ayrshire</option>
                      <option>Banffshire</option>
                      <option>Berwickshire</option>
                      <option>Buteshire</option>
                      <option>Cromartyshire</option>
                      <option>Caithness</option>
                      <option>Clackmannanshire</option>
                      <option>Dumfriesshire</option>
                      <option>Dunbartonshire</option>
                      <option>East Lothian</option>
                      <option>Fife</option>
                      <option>Inverness-shire</option>
                      <option>Kincardineshire</option>
                      <option>Kinross</option>
                      <option>Kirkcudbrightshire</option>
                      <option>Lanarkshire</option>
                      <option>Midlothian</option>
                      <option>Morayshire</option>
                      <option>Nairnshire</option>
                      <option>Orkney</option>
                      <option>Peeblesshire</option>
                      <option>Perthshire</option>
                      <option>Renfrewshire</option>
                      <option>Ross-shire</option>
                      <option>Roxburghshire</option>
                      <option>Selkirkshire</option>
                      <option>Shetland</option>
                      <option>Stirlingshire</option>
                      <option>Sutherland</option>
                      <option>West Lothian</option>
                      <option>Wigtownshire</option>
                  </optgroup>
                  <optgroup label="Northern Ireland">
                      <option>Antrim</option>
                      <option>Armagh</option>
                      <option>Down</option>
                      <option>Fermanagh</option>
                      <option>Londonderry</option>
                      <option>Tyrone</option>
                  </optgroup>
              </select>

              <p></p>
              <div class="govuk-form-group">
                <label class="govuk-label" for="address-postcode">
                  Postcode<span class="govuk-visually-hidden">postcode</span>
                </label>
                <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code"></div>

            </fieldset>




          </div>
      <button type="submit" class="govuk-button">
        Confirm
      </button>

  </div>

  </div>


 </form>



</div>

</main>
</div>

{% endblock %}
