{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav.html' %}
{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}

        <br> <br>
        <form method="post">

          <span class="govuk-caption-xl">Country 2 of 2</span>
          <h1 class="govuk-heading-xl">Switzerland</h1>

              <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="date-lived-Switzerland-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        When did you live in Switzerland?
      </h1>
    </legend>
    <div class="govuk-date-input" id="date-lived-switzerland">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="date-lived-switzerland-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-lived-switzerland-month" name="date-lived-switzerland-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="date-lived-switzerland-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-lived-switzerland-year" name="date-lived-switzerland-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
    </div>

<br>
<p>to</p>


    <div class="govuk-date-input" id="date-lived-Switzerland">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="date-lived-Switzerland-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-lived-Switzerland-month" name="date-lived-Switzerland-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="date-lived-Switzerland-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-lived-Switzerland-year" name="date-lived-Switzerland-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
    </div>
  </fieldset>
</div>

<p>
<a href="#" class="govuk-link">Add another period</a>
</p>

            <button type="submit" class="govuk-button">
              Continue
            </button>

          </div>



      </form>



    </div>

  </main>
</div>

{% endblock %}
