{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav-unselected.html' %}
{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <form method="post">
          <div>
            {{ govukBackLink({
              text: "Back",
              href: "javascript:history.go(-1)"
                              }) }}

          </div>
          <br>
          <h1 class="govuk-heading-xl">Submit claim and end task</h1>

          <p>Once you have checked all the information on the claim form has been entered correctly, submit this claim and end the task.</p>

          <br>
          <a href="paper-claim" button type="submit" class="govuk-button">
            End task
          </a>

        </form>




      </div>

  </main>
</div>

{% endblock %}
