{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">




  <main class="govuk-main-wrapper " id="main-content" role="main">
                      {% include './_bar.html' %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
                          }) }}
        <br> <br>
        <form method="post" action="alternative2">

          <h1 class="govuk-heading-xl">
           Prison details</h1>
          <div class="govuk-form-group">

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      <h1 class="govuk-fieldset__heading">
                      When did the claimant go into prison?
                      </h1>
                    </legend>
                    <div class="govuk-date-input" id="passport-issued">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                            Day
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                            Month
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                            Year
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              When did the claimant leave prison?
            </h1>
          </legend>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>


            </div>




              <br>
              <button class="govuk-button" data-module="govuk-button">
                Continue
              </button>
              <a href="contacted" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
                Cannot complete this page
              </a>
            </form>

            <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
            <br>

                    <details class="govuk-details" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                        <b>URL, errors and notes</b>
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <b>URL:</b> /prison-details <br>
                        <b>Error messages: <br>
                        Go into prison  </b><br>
                        Nothing entered: Enter the date the claimant went into prison<br>
                        Invalid: Enter a real date, like 12 4 1993<br>
                      Today or future: Date the claimant went into prison must be in the past<br>
                      <br>
                     <b>Left prison </b><br>
                        Nothing entered: Enter the date the claimant left prison<br>
                        Invalid: Enter a real date, like 12 4 1993<br>
                      Before date went into prison: Date the claimant left prison must be after 22 4 2022 [date went in +1]<br>
                      Today or future: Date the claimant left prison must be in the past<br>
<br>
                        <b>Notes:</b> None <br>
                      </div>
                    </details>

          </div>

      </div>


      </form>



    </div>

  </main>
</div>

{% endblock %}
