{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './_header-nav-unselected.html' %}
{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
                      {% include './_bar.html' %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
                          }) }}
        <br> <br>
        <form method="post" action="prison">

          <h1 class="govuk-heading-xl">
            What date will the claimant get their State Pension from?</h1>


          <div class="govuk-form-group">

            <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-phone">


                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">

                          <div class="govuk-date-input" id="passport-issued">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                  Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                  Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric">
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>

                    </label>
                  </div>


<br/>

              </fieldset>




            <button type="submit" class="govuk-button">
              Continue
            </button>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  </div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> already defined <br>
        <b>Error messages:</b>
        <br>
        If agent puts in date before SPA date: Date cannot be before the claimant’s State Pension date  <br>
        <b>Notes:</b> None <br>
      </div>
    </details>

  </div>
</div>
          </div>


      </div>


      </form>



    </div>

  </main>
</div>

{% endblock %}
