{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include 'widows/scenario-3/_bar-widows.html' %}

  {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    {% if data['dom'] === 'Verified' %}

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
    All information completed and dates verified.
        </p>
      </div>
    </div>
    <h1 class="govuk-heading-l">Check for inheritable amounts</h1>

    {% else %}
    <h1 class="govuk-heading-l">Check the details and decide how to continue</h1>
    <p>Complete the information and verify the dates, or choose another way to continue.</p>
    {% endif %}

  <br><br>

          <h2 class="govuk-heading-m">Claimant</h2>


            <table class="govuk-table">
              <tbody class="govuk-table__body">



                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Address</th>
                  <td class="govuk-table__cell">
                    62 High Street<br>
                    NORTH LONDON<br>
                    N93 3KJ</td>
                  <td class="govuk-table__cell"></td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Marital status</th>
                  <td class="govuk-table__cell">Widowed</td>
                  <td class="govuk-table__cell"></td>
                </tr>

                <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date of birth</th>
              <td class="govuk-table__cell">12/07/1956</td>
              <td class="govuk-table__cell"><span class="verified-badge verified">
                <b></b>
                <td class="govuk-table__cell" style="text-align: right">
              </td>
              </span> </td>

            </tr>



                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">State Pension date</th>
                  <td class="govuk-table__cell">12/07/2022</td>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Age when widowed</th>
                  <td class="govuk-table__cell">66</td>
                  <td class="govuk-table__cell"></td>
                </tr>

              </tbody>
            </table>


  <br>  <br>
          <h2 class="govuk-heading-m">Late spouse or civil partner</h2>

              <form method="post">


                <table class="govuk-table">
                  <tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">First name </th>
                      <td class="govuk-table__cell">Lilly Bennett</td>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell"></td>

                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Address</th>
                      <td class="govuk-table__cell">5
                        62 High Street<br>
                        NORTH LONDON<br>
                        N93 3KJ</td>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell"></td>

                    </tr>
                    <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header" style="width: 40%">National Insurance number</th>
                     <td class="govuk-table__cell" style="width: 30%">
                       {% if data.nationalinsurancenumber3 %}
                       {{data.nationalinsurancenumber3}}
                       {% else %}
                       JS 12 34 56 D
                       {% endif %}</td>
                     <td class="govuk-table__cell"></td>
                     <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                       <a class="govuk-link" href="nino">Change</a>
                     </td>
                   </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Gender</th>
                      <td class="govuk-table__cell">
                        {% if data.gender2 %}
                        {{data.gender2}}
                        {% else %}

                        {% endif %}</td>
                      <td class="govuk-table__cell"> </td>
                      <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                                              <a class="govuk-link" href="gender">
                                              {% if data.gender2 %}
                                              Change
                                              {% else %}
                                              Add
                                              {% endif %}</a>
                      </td>
                    </tr>

                        <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Date of birth</th>
                      <td class="govuk-table__cell">
                        {% if data.dobd2 %}
                        {{data.dobd2}}/{{data.dobm2}}/{{data.doby2}}
                        {% else %}
                      25/04/1953
                        {% endif %}</td>
                      <td class="govuk-table__cell"><span class="verified-badge verified">
                        <b>{% if data.dob2 %}
                        {{data.dob2}}
                        {% else %}
                        Unverified
                        {% endif %}</b>
                      <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                                              <a class="govuk-link" href="dob">Change</a>
                      </td>
                      </span> </td>

                    </tr>

                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Date of death</th>
                      <td class="govuk-table__cell">
                        {% if data.dodd2 %}
                        {{data.dodd2}}/{{data.dodm2}}/{{data.dody2}}
                        {% else %}
                        9/04/2013
                        {% endif %}</td>
                      <td class="govuk-table__cell"><span class="verified-badge verified">
                        <b>{% if data.dod2 %}
                        {{data.dod2}}
                        {% else %}
                        Unverified
                        {% endif %}</b>
                      </span> </td>
                      <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                                              <a class="govuk-link" href="dod">Change</a>
                      </td>
                    </tr>

                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Date of marriage</th>
                      <td class="govuk-table__cell">
                        {% if data.domd2 %}
                        {{data.domd2}}/{{data.domm2}}/{{data.domy2}}
                        {% else %}

                        {% endif %}</td>
                      <td class="govuk-table__cell"><span class="verified-badge verified">
                        <b>{% if data.dom %}
                        {{data.dom}}
                        {% else %}

                        {% endif %}</b>
                      </span> </td>
                      <td class="govuk-table__cell" style="text-align: right" style="width: 5%">
                                              <a class="govuk-link" href="dom">{% if data.domd %}
                                              Change
                                              {% else %}
                                              Add
                                              {% endif %}</a>
                      </td>
                    </tr>




                  </tbody>
                </table>


  <br>  <br>


    {% if data['dom'] === 'Verified' %}
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Are there any inheritable amounts?
          </h2>
        </legend>
      <br>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="inheritable-amounts" name="inheritable-amounts" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="inheritable-amounts">
    Yes </label>
    </div>

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="inheritable-amounts-2" name="inheritable-amounts" type="radio" value="no">
      <label class="govuk-label govuk-radios__label" for="inheritable-amounts-2">
    No    </label>
    </div>
          <div class="govuk-radios__divider">or</div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="inheritable-amounts-3" name="inheritable-amounts" type="radio" value="dunno">
            <label class="govuk-label govuk-radios__label" for="inheritable-amounts-3">
          Unable to calculate inheritance   </label>
          </div>

    <br><br>

    </div>


    {% else %}

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

          <h2 class="govuk-fieldset__heading">
          How do you want to continue?
          </h2>
        </legend>
      <div id="changed-name-hint" class="govuk-hint">Complete all details and verify all dates before checking for inheritable amounts.</div>
      <br>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="decision" name="decision" type="radio" value="more-info">
            <label class="govuk-label govuk-radios__label" for="decision">
Request more information from claimant              </label>
      </div>

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="decision" name="decision" type="radio" value="nothing-to-inherit">
      <label class="govuk-label govuk-radios__label" for="decision">
Award pension - nothing to inherit</label>
    </div>
    <div class="govuk-radios__divider">or</div>

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="decision" name="decision" type="radio" value="save">
      <label class="govuk-label govuk-radios__label" for="inheritable-amounts-3">
Save progress and return to queue   </label>
    </div>



      </div>
    {% endif %}

    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </div>

</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
