{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {% include 'widows/iteration-2/_bar-widows.html' %}

{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}

  <br><br>
  <form method="post">

      <div class="govuk-form-group">
          <h1 class="govuk-heading-l">More information needed</h1>


        <p>You can find the late spouse or civil partner's gender on Searchlight.</p>



      <br>

      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Return to enter details
      </button>

      <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      <b>URL, errors and notes</b>
      </span>
      </summary>
      <div class="govuk-details__text">
        <p><b>URL:</b> /more-information</p>
    <p>  <b>Notes:</b> Only display bullets that relate to specific missing information on /check-details-info-missing.</p>
<p><b>Date of marriage unverified:</b> certificate of marriage or civil partnership
<br><b>Date of death unverified:</b> spouse's death certificate
  <br><b>Date of birth unverified:</b> spouse's birth certificate
  <br><b>Date of death and date of birth unverified:</b>  spouse's death certificate
    <br><b>NINO empty:</b> spouse's National Insurance number</p>
        <p><b>Gender empty:</b> 'You can find the claimaint's gender on Searchlight.'</p>
      </div>
      </details>
      </div>

    </div>

</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
