{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <form method="post">

            {% include 'widows/iteration-2/_bar.html' %}

{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}

  <br><br>

      <div class="govuk-form-group">
        <h1 class="govuk-heading-l">Return task to queue</h1>
        <br>
<p>This task will return to the top of the queue after 5 minutes.</p>
<p>Any changes you made will be saved.</p>



    <br>

    <a href="get-a-task-2" button class="govuk-button" data-module="govuk-button">
Return task to queue    </a>

<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
<b>URL, errors and notes</b>
</span>
</summary>
<div class="govuk-details__text">
<p>  <b>URL:</b> /save-and-return<br></p>
</div>
</details>

      </div>

    </div>

</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
