{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include '././_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">



          <br><br>
          {% include './_bar.html' %}

<form method="post" action="contact">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
                    }) }}

          <br><br>
    <h1 class="govuk-heading-l">
      Do you want us to write to you in English or Welsh?
      </h1>
      <div class="govuk-inset-text">
        We do not offer Braille in Welsh. Choose English to keep getting your letters in Braille.

</div>
      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="alt-formats-hint">

  <!--  <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
    We do not offer Braille in Welsh. Select English to keep getting your letters in Braille. </div>
            </strong> -->


    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="alt-formats" name="alt-formats" type="radio" value="english">
        <label class="govuk-label govuk-radios__label" for="alt-formats">
          English
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="alt-formats-2" name="alt-formats" type="radio" value="welsh">
        <label class="govuk-label govuk-radios__label" for="alt-formats-2">
          Welsh
        </label>
      </div>
    </div>

  </fieldset>
</div>

      <button class="govuk-button" data-module="govuk-button">
        Save
      </button>

      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

<script>
    nextPageRoutes = {
        'english': '/welsh/contact.html',
        'welsh': '/welsh/contact.html',
        }
</script>



  </div>


</form>
</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

</div>
</div>

{% endblock %}
