{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include './_bar.html' %}


{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}

  <br><br>

      <div class="govuk-form-group">

                         <h1 class="govuk-heading-l">
                        We do not offer Braille in Welsh</h1>
<p>To get your letters in Braille you will need to keep your preferred written language as English.</p>
<!-- <p>If you want your letters in Welsh you will not be able to get them in Braille.</p>-->

<!--
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
                          </strong> -->
    </div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Have you changed your name?
      </h1>
    </legend>
    <div id="changed-name-hint" class="govuk-hint">
      This includes changing your last name or spelling your name differently.
    </div>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>

                        <div class="govuk-button-group">
                        <a href="contact" role="button" draggable="false" button class="govuk-button govuk-button" data-module="govuk-button">
                          Keep language as English
                        </a>
                        <a class="govuk-link" href="change-written">Change to Welsh</a>
                        </div>



      </div>

    </div>

</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
