{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-column-two-thirds">

        <main id="content" role="main">
          <div class="grid-row">
            <div class="column-full">

              {% include 'includes/_bar.html' %}


            </div>
          </div>
        </main>

        

        {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
        <br><br>

        <h1 class="govuk-heading-l">Address of the corporate death arrears payee dealing with Mark's estate</h1>

        <form action="dap-address-1change-corporate-dap" method="post">
          <div class="govuk-form-group">
            <label class="govuk-label" for="postcode">
              Enter postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="postcode" aria-describedby="postcode-hint">
          </div>

          <button type="submit" class="govuk-button">
            Find address
          </button>
        </form>

      </div>

    </div>

  </div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds"></div>
</div>

{% endblock %}