{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-column-two-thirds">

        <main id="content" role="main">
          <div class="grid-row">
            <div class="column-full">

              {% include 'includes/_bar.html' %}


            </div>
          </div>
        </main>

        

        {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
        <br><br>
      <form action="overview-death-verified" method="post" class="form">
        <h1 class="govuk-heading-l">Check details and send letter</h1>
<br>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Smart solicitors ltd.
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="dap-name-change-corporate-dap.html">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
             01518764332
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="dap-number-change-corporate-dap.html">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              14 Command Road<br>Liverpool<br>L23 4FH
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="dap-address-change-corporate-dap.html">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reference number
            </dt>
            <dd class="govuk-summary-list__value">
             SS-MROO
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="dap-ref-change-corporate-dap.html">
                Change<span class="govuk-visually-hidden">Corporate death arrears payee reference</span>
              </a>
            </dd>
          </div>

        </dl>

       
          <p>A letter will be sent to this person letting them know we have updated the State Pension record and stopped any future payments.</p>
         
<br>
       

        

     
        <button type="submit" class="govuk-button">
          Send letter
        </button>
    </div>

</div>

</form>

</div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"></div>
</div>

{% endblock %}