{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


<p></p>

        <form method="post" action="get-a-task-2">

          <h1 class="govuk-heading-xl">Confirm you have sent the letters</h1>
        <!--  <p>Print the letters and post them to the claimant with a reply envelope.</p>
          <p>You do not need to send a reply envelope if you are only sending a claim form for the United States.</p>
<br>-->

<button class="govuk-button" data-module="govuk-button">
  I have sent the letters to the claimant
</button>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
