{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}

<p>Enter this information into the CFN901 System.</p>

        <form method="post" action="confirm">

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Claimant</caption>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Address</th>
      <td class="govuk-table__cell">8 Mill Road<br>
        Edinburgh<br>
        EH23 1GR</td>
    </tr>

  </tbody>
</table>




<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Countries claimant has lived or worked in</caption>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Spain</th>
      <td class="govuk-table__cell">Lived</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">France</th>
      <td class="govuk-table__cell">Lived and worked</td>
    </tr>
  </tbody>
</table>

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
