{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}

<p>Use this information to select the correct letters.</p>

        <form method="post" action="get-a-task-2">

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Claimant</caption>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Address</th>
      <td class="govuk-table__cell">8 Mill Road<br>
        Edinburgh<br>
        EH23 1GR</td>
    </tr>

  </tbody>
</table>




<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Countries claimant has lived or worked in</caption>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Jamaica</th>
      <td class="govuk-table__cell">Worked</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Mauritius</th>
      <td class="govuk-table__cell">Lived</td>
    </tr>
  </tbody>
</table>

<p>Print the letters and post them to the claimant with a reply envelope.</p>
<p>You do not need to send a reply envelope if the only country listed is the United States.</p>

<button class="govuk-button" data-module="govuk-button">
  I have sent the letters to the claimant
</button>

<br>
<a href="are-you-sure" class="govuk-link govuk-link--no-visited-state">RA liaison application already complete</a>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
