{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <br>
        <div>
          <a href="tasks-3" class="govuk-back-link">Back</a>
        </div>
        <br>
        <form method="post">
    <!--- cleaned up classes against https://design-system.service.gov.uk/components/text-input/ -->
      <div class="govuk-form-group">
          <h1 class="govuk-heading-xl">Spouse's National Insurance number</h1>

          <div class="govuk-form-group">
            <input class="govuk-input govuk-input--width-20" id="event-name" name="event-name" type="text">
          </div>
      </div>


          <a href="tasks-3-nino" button type="submit" class="govuk-button">
            Continue
            </button>


          </a>
        </form>



      </div>

    </div>

</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
