{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}
<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}


          <a href="personal" class="govuk-back-link">Back</a>
          <br><br>
          <h2 class="govuk-heading-l">Marital details</h2>


          <form method="post" action="personal-married">
            <div class="govuk-form-group">

              <table class="govuk-table">
                <tbody class="govuk-table__body">

                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="width: 40%">Status</th>
                    <td class="govuk-table__cell" style="width: 35%" >Married</td>
                    <td class="govuk-table__cell" style="width: 20%"></td>
                    <td class="govuk-table__cell" style="text-align: right" style="width: 5%"> <a class="govuk-link" href="change-marital-status">Change</a></td>
                  </tr>

                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of marriage</th>
                    <td class="govuk-table__cell">9 April 1975</td>
                    <td class="govuk-table__cell" style="text-align: right" style="width: 5%"> <span class="verified-badge verified"><b>Not verified</b></span></td>
                    <td class="govuk-table__cell" style="text-align: right" style="width: 5%"> <a class="govuk-link" href="dom">Change</a></td>
                   </tr>

                </tbody>
              </table>

              <h2 class="govuk-heading-m">Spouse's details</h2>
              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">National Insurance number </th>
                    <td class="govuk-table__cell">QQ 12 34 66 X</td>

                    <td class="govuk-table__cell" style="text-align: right"><a class="govuk-link" href="spouse-nino">Change</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header" style="width: 38%">First name</th>
                    <td class="govuk-table__cell" style="width: 35%">Regina</td>
                    <td class="govuk-table__cell" style="text-align: right" style="width: 25%"><a class="govuk-link" href="spouse-firstname">Change</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Last name</th>
                    <td class="govuk-table__cell">Adams</td>
                    <td class="govuk-table__cell" style="text-align: right"><a class="govuk-link" href="spouse-lastname">Change</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Other names</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell" style="text-align: right"><a class="govuk-link" href="spouse-othernames">Add</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of birth </th>
                    <td class="govuk-table__cell">17 July 1955 </td>
                    <td class="govuk-table__cell" style="text-align: right"><a class="govuk-link" href="spouse-dob">Change</a></td>
                  </tr>


                </tbody>
              </table>
          </form>
        </div>
      </div>
    </main>

    </form>
  </div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
