{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include 'widows/conversion/_bar.html' %}

  {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <div class="govuk-form-group">
        <h1 class="govuk-heading-l">More information needed</h1>
        <br>
        <p>Send a letter to the claimaint asking them to send in their:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>certificate of marriage or civil partnership</li>
         <li>spouse's birth certificate</li>
              <li>spouse's death certificate</li>
                <li>spouse's National Insurance number</li></ul>

                <p>You can find the spouse or civil partner's gender on Searchlight.</p>
                <p>This task will be placed on hold for 2 weeks.</p>


              <br>

              <button class="govuk-button" data-module="govuk-button">
                Confirm letter sent
              </button>

    <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
    <b>URL, errors and notes</b>
    </span>
    </summary>
    <div class="govuk-details__text">
    <b>URL:</b> <br><br>


    <b>Error messages:<br>

    </div>
    </details>

  </div>



</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
