{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include 'widows/conversion/_bar.html' %}

  {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-l">State Pension award</h1>

    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Revision 1</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Previous award</th>
          <td class="govuk-table__cell">£132.66</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Updated award</th>
          <td class="govuk-table__cell"><b>£142.26</b></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">From</th>
          <td class="govuk-table__cell">11 September 2022</td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">Revision 2</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Previous award</th>
          <td class="govuk-table__cell">£132.66</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Updated award</th>
          <td class="govuk-table__cell"><b>£142.26</b></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">From</th>
          <td class="govuk-table__cell">11 September 2022</td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Arrears payment</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Amount</th>
      <td class="govuk-table__cell">£82.30</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Period</th>
      <td class="govuk-table__cell" style="width: 51%">11 September to 21 October 2022</td>
    </tr>
  </tbody>
</table>



<div class="govuk-inset-text">
An award letter will be sent to the claimant.
</div>

    <a href="get-a-task-2" button type="submit" class="govuk-button">
       Continue
    </a>


    <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
    <b>URL, errors and notes</b>
    </span>
    </summary>
    <div class="govuk-details__text">
    <b>URL:</b> <br><br>


    <b>Error messages:<br>

    </div>
    </details>

  </div>



</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
