{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">


  <div class="govuk-grid-column-two-thirds">

<br><br>
  {% include './name-bar/_bar.html' %}


    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
    }) }}


<br><br>
<h2 class="govuk-heading-l">Prison details</h2>
<p class="govuk-body">

            <form method="post" action="personal">

              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Entered prison</th>
                    <td class="govuk-table__cell">21 December 2021</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Left prison</th>
                    <td class="govuk-table__cell">18 January 2023</td>
                  </tr>
                </tbody>
              </table>




</div>


</div>

</div>
</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
