{% extends "layout.html" %}

{% block pageTitle %}
Get your State Pension
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



{% endblock %}

{% block content %}




<form method="post" action='#'>

                <h1 class="govuk-heading-xl">Management information</h1>

<div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="sp-panel-deck">

          <a href="claim-filters" class="sp-panel-deck__panel sp-panel-deck__link-panel govuk-heading-m sp-panel-deck__panel_content sp-panel--white-text" style="color: #ffffff">
            Claim filters
          </a>

          <a href="claim-insights" class="sp-panel-deck__panel sp-panel-deck__link-panel govuk-heading-m sp-panel-deck__panel_content sp-panel--white-text" style="color: #ffffff">
            Claim insights
          </a>

          <a href="pre-claim" class="sp-panel-deck__panel sp-panel-deck__link-panel govuk-heading-m sp-panel-deck__panel_content sp-panel--white-text" style="color: #ffffff">
            Pre-claim activity
          </a>

          <a href="tasks" class="sp-panel-deck__panel  sp-panel-deck__link-panel govuk-heading-m sp-panel-deck__panel_content sp-panel--white-text" style="color: #ffffff" >
            Tasks
          </a>

          <a href="tier-2" class="sp-panel-deck__panel sp-panel-deck__link-panel sp-panel-deck__last-panel--no-border govuk-heading-m sp-panel-deck__panel_content sp-panel--white-text"
            style="color: #ffffff">
            Tier 2 checking team
          </a>

          
        </div>

      </div>

    </div>

                

            </form>

  </div>
</div>


{% endblock %}
