{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

              {% include './_bar.html' %}

                      <form method="post">

                        {{ govukBackLink({
                    text: "Back",
                    href: "javascript:history.go(-1)"
                    }) }}

<Br><br>

                        <h1 class="govuk-heading-l">Debt recovery details</h1>

                        <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                            <legend class="govuk-fieldset__legend">
                              <strong>Start of debt recovery</strong>
                            </legend>

                            <div class="govuk-date-input" id="passport-issued">
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                    Day
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                    Month
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                    Year
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                            </div>

                          </fieldset>
                        </div>

                        <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                            <legend class="govuk-fieldset__legend">
                              <strong>End of debt recovery</strong>
                            </legend>

                            <div class="govuk-date-input" id="passport-issued">
                              <div id="currency-hint" class="govuk-hint">
                                This is when the debt is fully recovered, including any balancing deduction
                              </div>
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                    Day
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                    Month
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                    Year
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                            </div>

                          </fieldset>
                        </div>


                        <div class="govuk-form-group">
                          <label class="govuk-label" for="currency">
                            <strong>Weekly amount to deduct</strong>
                          </label>
                          <div id="currency-hint" class="govuk-hint">
                            For example, £15 or £23.54
                          </div>
                          <div class="govuk-input__wrapper">
                            <div class="govuk-input__prefix" aria-hidden="true">£</div>
                            <input class="govuk-input govuk-input--width-10" id="currency" name="currency" type="text" spellcheck="false" aria-describedby="currency-hint">
                          </div>
                        </div>

                        <div class="govuk-form-group">
                          <label class="govuk-label" for="currency">
                            <strong>Balancing deduction</strong>
                          </label>
                          <div id="currency-hint" class="govuk-hint">
                           <!-- This will be applied after the final regular deduction --> 
                          </div>
                          <div class="govuk-input__wrapper">
                            <div class="govuk-input__prefix" aria-hidden="true">£</div>
                            <input class="govuk-input govuk-input--width-10" id="remaining" name="remaining" type="text" spellcheck="false" aria-describedby="currency-hint">
                          </div>
                        </div>


                        <div class="govuk-form-group">
                          <label class="govuk-label" for="width-5">
                            <b>Overpayment type</b>
                          </label>
                          <div id="currency-hint" class="govuk-hint">
                            Enter the deduction code for the benefit with the highest amount outstanding
                          </div>
                          <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
                        </div>

<button class="govuk-button" data-module="govuk-button">
 Continue
</button>


<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /debt-recovery-details <br>
        <b>Error messages:</b>
        
        <br>No start date: Enter a date for the start of debt recovery
        <br>Invalid start date: Enter a real date, like 7 10 2022
        <br>Start date too soon or in the past: Enter a date that is at least 2 weeks in the future
        <br>No end date: Enter a date for the end of debt recovery
        <br>Invalid end date: Enter a real date, like 7 10 2022
        <br>End date in the past: Enter a date that is in the future
        <br>End date before start date: Enter a date that is after the start date for debt recovery
        <br>No weekly amount: Enter a weekly amount to deduct
        <br>Invalid amount: Enter a real weekly amount to deduct, like 123.45
        <br>Invalid balancing deduction: Enter a real balancing deduction, like 123.45
        <br>No deduction code: Enter a deduction code for the overpayment type
        <br>Invalid deduction code: Deduction code must only contain numbers
        <br>Invalid deduction code: Deduction code must be 5 numbers or less
        <br><b>Notes:</b> None <br>
      </div>
    </details>

  </div>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
