{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-tasks.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <br>
      <div>
        <a href="tasks-2" class="govuk-back-link">Back</a>
      </div>
      <br>
        <form method="post">
         
          <h1 class="govuk-heading-xl">Consider spouse entitlement</h1>


          <h2 class="govuk-heading-m">Spouse's details</h2>

          <table class="govuk-table">
            <tbody class="govuk-table__body">
           
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 35%" >First name</th>
                <td class="govuk-table__cell" style="width: 40%">David</td>
                <td class="govuk-table__cell" style="width: 15%"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Last name</th>
                <td class="govuk-table__cell">Smith</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of birth</th>
                <td class="govuk-table__cell">17 July 1950</td>
                <td class="govuk-table__cell" style="text-align: right;">
                  <span class="verified-badge not-verified"><b>Not verified</b></span>
                </td>
              </tr>
          
            </tbody>
          </table>


          <h2 class="govuk-heading-m">Claimant's details</h2>

          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 38%" >National Insurance number</th>
                <td class="govuk-table__cell" style="width: 62%">QQ 12 34 56 X</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Full name</th>
                <td class="govuk-table__cell">Rachel Smith</td>
                <td class="govuk-table__cell"></td>
              </tr>
          
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Address</th>
                <td class="govuk-table__cell">55 Main Street
                  <br>Guildford
                  <br>GU79 6YW</td>
                <td class="govuk-table__cell"></td>
              </tr>
          
            </tbody>
          </table>

          <a href="tasks-3b" button type="submit" class="govuk-button"> 
            Continue
          </button>
        </a>
        </form>



        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
