{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}

<form method="post">

<h1 class="govuk-heading-l">Request foreign insurance record</h1>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Lived</th>
      <td class="govuk-table__cell">Jun 2011to Dec 2011</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Worked</th>
      <td class="govuk-table__cell">Jul 2011 to Nov 2011</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Social security number</th>
        <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="margin-bottom:-27px;float:right"></a></td>
    </tr>
  </tbody>
</table>

<br>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="norwayinsurance-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Have you sent the request?
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="norwayinsurance" name="norwayinsurance" type="radio" value="Sent">
        <label class="govuk-label govuk-radios__label" for="norwayinsurance">
          Yes, sent it
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="norwayinsurance-2" name="norwayinsurance" type="radio" value="Not sent">
        <label class="govuk-label govuk-radios__label" for="norwayinsurance-2">
          No, not enough information
        </label>
      </div>
    </div>
  </fieldset>
</div>

<button class="govuk-button" data-module="govuk-button">
  Confirm
</button>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
