{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

              {% include './_bar.html' %}

                      <form method="post">

                        {{ govukBackLink({
                    text: "Back",
                    href: "javascript:history.go(-1)"
                    }) }}

                        <h1 class="govuk-heading-l">Confirm details of debt recovery</h1>

                        <h1 class="govuk-heading-m">Deduction 1</h1>

                        <table class="govuk-table">
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header">Start of debt recovery</th>
                              <td class="govuk-table__cell">
                                  {% if data.debtstartdate %}
                                  {{data.debtstartdate}}
                                  {% else %}
                                  12 August 2022
                                  {% endif %}</td>
                            </tr>
                          </thead>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">End of debt recovery</th>
                              <td class="govuk-table__cell">
                                {% if data.debtstartdate %}
                                {{data.dedday}}/{{data.dedmonth}}/{{data.dedyear}}
                                {% else %}
                                19 March 2023
                                {% endif %}
                              </td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Weekly amount to deduct</th>
                              <td class="govuk-table__cell">
                                {% if data.amount %}
                                £{{data.amount}}
                                {% else %}
                                £50.66
                                {% endif %}</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Balancing deduction</th>
                              <td class="govuk-table__cell">
                                {% if data.remaining %}
                                £{{data.remaining}}
                                {% else %}
                                £1.10
                                {% endif %}</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Overpayment type</th>
                              <td class="govuk-table__cell">
                                {% if data.code %}
                                {{data.code}}
                                {% else %}
                                01
                                {% endif %}</td>
                            </tr>
                          </tbody>
                        </table>

                                                <h1 class="govuk-heading-m">Deduction 2</h1>

                                                <table class="govuk-table">
                                                  <thead class="govuk-table__head">
                                                    <tr class="govuk-table__row">
                                                      <th scope="col" class="govuk-table__header">Start of debt recovery</th>
                                                      <td class="govuk-table__cell">
                                                          {% if data.debtstartdate2 %}
                                                          {{data.debtstartdate2}}
                                                          {% else %}
                                                          20 March 2023
                                                          {% endif %}</td>
                                                    </tr>
                                                  </thead>
                                                  <tbody class="govuk-table__body">
                                                    <tr class="govuk-table__row">
                                                      <th scope="row" class="govuk-table__header">End of debt recovery</th>
                                                      <td class="govuk-table__cell">
                                                        {% if data.debtenddate2 %}
                                                        {{data.dedday2}}/{{data.dedmonth2}}/{{data.dedyear2}}
                                                        {% else %}
                                                        30 July 2023
                                                        {% endif %}
                                                      </td>
                                                    </tr>
                                                    <tr class="govuk-table__row">
                                                      <th scope="row" class="govuk-table__header">Weekly amount to deduct</th>
                                                      <td class="govuk-table__cell">
                                                        {% if data.amount2 %}
                                                        £{{data.amount2}}
                                                        {% else %}
                                                        £20.66
                                                        {% endif %}</td>
                                                    </tr>
                                                    <tr class="govuk-table__row">
                                                      <th scope="row" class="govuk-table__header">Balancing deduction</th>
                                                      <td class="govuk-table__cell">
                                                        {% if data.remaining2 %}
                                                        £{{data.remaining2}}
                                                        {% else %}
                                                        £0.20
                                                        {% endif %}</td>
                                                    </tr>
                                                    <tr class="govuk-table__row">
                                                      <th scope="row" class="govuk-table__header">Overpayment type</th>
                                                      <td class="govuk-table__cell">
                                                        {% if data.code2 %}
                                                        {{data.code2}}
                                                        {% else %}
                                                        01
                                                        {% endif %}</td>
                                                    </tr>
                                                  </tbody>
                                                </table>


                        <button class="govuk-button" data-module="govuk-button">
                          Confirm
                        </button>


                        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


                        <details class="govuk-details" data-module="govuk-details">
                          <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                            <b>URL, errors and notes</b>
                            </span>
                          </summary>
                          <div class="govuk-details__text">
                            <b>URL:</b> /confirm-details-debt-recovery<br>
                            <b>Error messages:</b>None


                            <br><b>Notes:</b> None <br>
                          </div>
                        </details>

                      </div>

        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
