{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/servicename-awards.html' %}


{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% include './_find-someone.html' %}


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-two-thirds">

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">

                {% if data['imprisoned-day'] or data['dead-day'] %}
                {% set status = data['stopped-reason'] %}
                {% else %}
                {% set status = 'Payment returned'%}
                {% endif %}

                <div>
                  <h1 class="govuk-heading-xl">
                    Rachel Smith</br>
                    <span class="govuk-caption-xl">QQ 12 34 99 C</span>
                    <span class="app-c-tag">Receiving State Pension</span>
                  </h1>
                </div>

              </div>
            </div>

            {% include './_tab-payment.html' %}

          </div>
        </div>
      </main>

      </br>
      </br>

      <h2 class="govuk-heading-m">Bank or building society account details</h2>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
            <td class="govuk-table__cell"></td><td class="govuk-table__cell"></td>

          <a href="bankdetails-1.html">
            <span class="govuk-link govuk-!-font-size-19" style="margin-left: 90%">Change</span>
          </a>
          <td class="govuk-table__cell"></td>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Account holder</th>
            <td class="govuk-table__cell" style="width: 50%">Mrs R Smith</td>
            
          
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Account number</th>
            <td class="govuk-table__cell">98765409</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sort code </th>
            <td class="govuk-table__cell">54 76 98 </td>
            <td class="govuk-table__cell"></td>
          </tr>

        </tbody>
      </table>
  
      <h2 class="govuk-heading-m">Regular payment details</h2>
      <br>
      <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"> Payment frequency</th>
              <td class="govuk-table__cell" style="width: 36%">Every 4 weeks</td>
              <td class="govuk-table__cell"><a href="frequency">
                  <span class="govuk-link govuk-!-font-size-19" style="margin-left: 30%">Change</span>
                </a></td>
            </tr>
           
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Regular payment amount</th>
              <td class="govuk-table__cell">£650.72</td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next regular payment </th>
                <td class="govuk-table__cell">Friday 23 February 2020</td>
                <td class="govuk-table__cell"></td>
              </tr>
  
          </tbody>
        </table>


    </div>

    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">
          Payment changes
        </h2>
        <ol class="app-timeline">
          <li class="app-timeline__entry">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              No changes made
            </h3>
            <p class="app-timeline__info govuk-!-margin-bottom-0">
              <span class="govuk-visually-hidden">Bank account changed</span>
              <span class="app-timeline__date">
              </span>
            </p>
          </li>
         
        </ol>
      </div>
<br><br>
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Payment history</h2>
      <table class="govuk-table">
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                
                <th class="govuk-table__header" scope="col" style="width: 36%">Payment date</th>
                <th class="govuk-table__header" scope="col" style="width: 32%">Amount</th>
                <th class="govuk-table__header" scope="col" style="width: 35%">Status</th>
                <th class="govuk-table__header" scope="col"></th>
              </tr>
            </thead>
        <tbody class="govuk-table__body">


          <tr class="govuk-table__row">
          
            <td class="govuk-table__cell">Friday 26 January 2020</td>
            <td class="govuk-table__cell">£650.72</td>
            <td class="govuk-table__cell" class="govuk-orange">Paid</class>
            </td>
            <td class="govuk-table__cell"><a href="payment-details.html">Details</a></td>
          </tr>


          <tr class="govuk-table__row">
            
            <td class="govuk-table__cell">Friday 28 December 2019</td>
            <td class="govuk-table__cell">£650.72</td>
            <td class="govuk-table__cell" class="govuk-orange">Paid</class>
            </td>
            <td class="govuk-table__cell"><a href="payment-details-2.html">Details</a></td>
          </tr>

          <tr class="govuk-table__row">
            
              <td class="govuk-table__cell">Friday 21 November 2019</td>
              <td class="govuk-table__cell">£650.72</td>
              <td class="govuk-table__cell" class="govuk-orange">Paid</class>
              </td>
              <td class="govuk-table__cell"><a href="payment-details-2.html">Details</a></td>
            </tr>



          </tbody>
          </table>

    </div>

    <!-- <p class="govuk-body">
    <a href="" class="govuk-link">See more</a>
  </p> -->
</div>
</div>

</main>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}