{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% include './_find-someone.html' %}



<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-two-thirds">

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">

                {% if data['imprisoned-day'] or data['dead-day'] %}
                {% set status = data['stopped-reason'] %}
                {% else %}
                {% set status = 'Payment returned'%}
                {% endif %}

                {% include './_bar-paymentstopped.html' %}


              </div>
            </div>

          </div>
        </div>
      </main>

  <div>
      <a href="payment-details-notp.html" class="govuk-back-link">Back</a>
    </div>
    <br>
    <h2 class="govuk-heading-l">Reissue payment</h2>

  <h2 class="govuk-heading-m">Payment details</h2>
  <dl class="app-check-your-answers app-check-your-answers--short">


      <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <tr class="govuk-table__row"><tr class="govuk-table__row" style="width: 20%"></tr>
              <th class="govuk-table__header" scope="col" style="width: 40%">Total</th>
              <th class="govuk-table__header" scope="col">£650.72</th>
              <th class="govuk-table__header" scope="col"></th>
            </tr>

 
          </thead>
          <tbody class="govuk-table__body">
            
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Period</td>
                <td class="govuk-table__cell" style="width: 54%">29/06/2019 to 26/07/2019</td>
                <th class="govuk-table__header" scope="col"></th>
              </tr>
        
          </tbody>
        </table>

        <h2 class="govuk-heading-m">Account the payment is going to</h2>
        <dl class="app-check-your-answers app-check-your-answers--short">
            <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row" style="width: 40%">Account holder </td>
                  <td class="govuk-table__cell">Mrs R Smith</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Account number</td>
                    <td class="govuk-table__cell">8763492</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Sort code</td>
                      <td class="govuk-table__cell">46 22 03</td>
                    </tr>
              </tbody>
</table>
        
<a href="payment-resent" button type="submit" class="govuk-button"> 
    Confirm
  </button>
</a>

          
</div>



  </div>


</main>        </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
