{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-full">

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">
<br>



<div class="govuk-grid-column-full">

</div>

            {% include './name-bar/_bar-jose-suspended.html' %}

          </div>
        </div>
      </main>

      {{ govukBackLink({
        text: "Back",
        href: "javascript:history.go(-1)"
                        }) }}


      <form method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            </legend>

            <h2 class="govuk-heading-l">Why are you restarting the claimant's <br>State Pension?</h2>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">



                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="restart-sp-2" name="restart-sp" type="radio" value="custody" data-aria-controls="conditional-custody">
                      <label class="govuk-label govuk-radios__label" for="restart-sp">
                        Claimant no longer remanded in custody
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-custody">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="contact-by-email">
                          <strong>Date claimant left custody</strong>
                        </label>


                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>

                        </div>




                      </div>

                    </div>



                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="restart-sp-3" name="restart-sp" type="radio" value="prison" data-aria-controls="conditional-prison">
                      <label class="govuk-label govuk-radios__label" for="restart-sp">
                        Claimant has left prison
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-prison">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="contact-by-email">
                          <strong>Date claimant was discharged from prison</strong>
                        </label>


                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                        </div>



                      </div>



      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="restart-sp-5" name="restart-sp" type="radio" value="suspend" data-aria-controls="conditional-suspend">
        <label class="govuk-label govuk-radios__label" for="restart-sp">
        Temporary suspension lifted
        </label>
      </div>

  </fieldset>
</div>

<br>

          <button type="submit" class="govuk-button">Continue</button>




</div>

</div>




    </div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
