{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/servicename-payments.html' %}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% include './_find-someone.html' %}



<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-two-thirds">

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">

                {% if data['imprisoned-day'] or data['dead-day'] %}
                {% set status = data['stopped-reason'] %}
                {% else %}
                {% set status = 'Payment returned'%}
                {% endif %}

                {% include './_bar-paymentstopped.html' %}


              </div>
            </div>

          </div>
        </div>
      </main>

  <div>
      <a href="payment-recalling2" class="govuk-back-link">Back</a>
    </div>
    <br>
  <h2 class="govuk-heading-m">Payment details</h2>
  <dl class="app-check-your-answers app-check-your-answers--short">


      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
              <tr class="govuk-table__row"><tr class="govuk-table__row" style="width: 20%"></tr>
            <th class="govuk-table__header" scope="col" style="width: 43%">Total</th>
            <th class="govuk-table__header" scope="col">£162.68</th>
            <th class="govuk-table__header" scope="col"></th>

          </tr>


        </thead>
        
          

            <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Period</td>
                <td class="govuk-table__cell">16 November 2019 to <br>22 November 2019</td>
                <th class="govuk-table__header" scope="col"></th>
              </tr>
             
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Status</td>
                    <td class="govuk-table__cell" style="width: 47%">Recalling</td>
                    <td class="govuk-table__cell">
                     <a href="recall-successful">Update</a>
                    </td>
                  </tr>
                 

          </tbody>
        </table>


        <h2 class="govuk-heading-m">Account the payment was sent to</h2>
        <dl class="app-check-your-answers app-check-your-answers--short">
            <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row" style="width: 43%">Account holder </td>
                  <td class="govuk-table__cell">Mrs R Smith</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Account number</td>
                    <td class="govuk-table__cell">98765409</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Sort code</td>
                      <td class="govuk-table__cell">54 76 98</td>
                    </tr>
              </tbody>
</table>
        


          
</div>


<div class="govuk-grid-column-one-third">

  <h2 class="govuk-heading-m">
    Status changes
  </h2>
  <ol class="app-timeline">  
      <li class="app-timeline__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            Recalling
          </h3>
  
          <p class="app-timeline__info govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden">
            </span>
            <span class="app-timeline__date">
                19 November 2019
            </span>
          </p>
        </li>
      <li class="app-timeline__entry">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            Sent
          </h3>
  
          <p class="app-timeline__info govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden">
            </span>
            <span class="app-timeline__date">
                16 November 2019
            </span>
          </p>
        </li>

  </ol>

</div>

  </div>


</main>        

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
