{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">

  <br>
  <br>

  <div class="govuk-grid-column-full">

    {% include './navigation/_bar-admin.html' %}

  </div>

  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">

          <form method="post" action="payment-frequency">

            <a href="payment" class="govuk-back-link">Back</a>

            <br><BR>
            <h2 class="govuk-heading-l">Mark payment as fraudulent</h2>


            <p class="govuk-body">You may need to:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>change the claimant's bank details</li>
              <li>recall this payment [dynamic - if status sent]</li>
              <li>send a manual payment to the claimant [dynamic - if status paid]</li>
              <li>report it with the fraud referral tool</li>

            </ul>

            <div class="govuk-inset-text">The claimant will need to change their login details for Manage your State Pension online. [dynamic]</div>




            </div>
<br><br>




            <a href="payment-fraud" role="button" button class="govuk-button govuk-button" data-module="govuk-button" >
              Mark payment as fraudulent
            </a>

        </div>
      </div>
    </main>

  </div>



</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
