{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
serviceName: serviceName,
serviceUrl: "/"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="app-homepage-top">
      <div class="app-homepage-top--content">
        <h1 class="govuk-heading-xl app-homepage-top--heading">
          Agent
          <span class="app-homepage-top--span">Prototypes</span>
        </h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<a href="index" class="govuk-back-link">Back</a>
<br><br>

<h2 class="govuk-heading-m">
  Design sprints</h2>

  <a href="Sprint58/sprint58" class="govuk-heading-s">Sprint 58</a>


<a href="Sprint57/sprint57" class="govuk-heading-s">Sprint 57</a>

<a href="Sprint56/sprint56" class="govuk-heading-s">Sprint 56</a>

<a href="/Sprint55/sprint55" class="govuk-heading-s">Sprint 55</a>




  </div>
</div>

{% endblock %}