{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
serviceName: serviceName,
serviceUrl: "/"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="app-homepage-top">
      <div class="app-homepage-top--content">
        <h1 class="govuk-heading-xl app-homepage-top--heading">
          Agent
          <span class="app-homepage-top--span">Prototypes</span>
        </h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<a href="index" class="govuk-back-link">Back</a>
<br><br>

<h2 class="govuk-heading-m">
  Design sprints</h2>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        <b>Sprints 61-70</b>
      </span>
    </summary>
    <br>
    <a href="sprint62/sprint62" class="govuk-heading-s">Sprint 62</a>
    
    <a href="sprint61/sprint61" class="govuk-heading-s">Sprint 61</a>
    
    </details>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        <b>Sprints 55-60</b>
      </span>
    </summary>
<br>
  <a href="sprint60/sprint60" class="govuk-heading-s">Sprint 60</a>

  <a href="sprint59/sprint59" class="govuk-heading-s">Sprint 59</a>

  <a href="sprint58/sprint58" class="govuk-heading-s">Sprint 58</a>


<a href="Sprint57/sprint57" class="govuk-heading-s">Sprint 57</a>

<a href="Sprint56/sprint56" class="govuk-heading-s">Sprint 56</a>

<a href="/Sprint55/sprint55" class="govuk-heading-s">Sprint 55</a>

</details>


  </div>
</div>

{% endblock %}