{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block headEnd %}
{% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
serviceName: serviceName,
serviceUrl: "/"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="app-homepage-top">
      <div class="app-homepage-top--content">
        <h1 class="govuk-heading-xl app-homepage-top--heading">
          Agent
          <span class="app-homepage-top--span">Prototypes</span>
        </h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}


  <a href="designsprints" class="govuk-heading-m">Design sprints</a>
<br>
    <h2 class="govuk-heading-m">
        Prototype of live for changes and enquiries</h2>
        <span id="passport-issued-hint" class="govuk-hint">
            A prototype for what we have currently build within 'changes and enquiries'. Designs are up to date with the design system and may differ from what is built.
          </span>
          <a href="what-is-live/find" class="govuk-heading-s">Prototype of live</a>

<br>
<h2 class="govuk-heading-m">
  Prototypes for testing</h2>
<p class="govuk-body govuk-!-font-size-19">National Insurance number: QQ 12 34 56 X</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              <b>CPS Integration</b>
            </span>
          </summary>
          <div class="govuk-details__text">
              <div class="app-most-recent">
                  {% include 'notes/cps2.html' %}
                </div>

            <div class="app-most-recent">
              {% include 'notes/cps1.html' %}
            </div>
  
    
          </div>
        </details>


    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          <b>Telephone claims</b>
        </span>
      </summary>
      <div class="govuk-details__text">

        <div class="app-most-recent">
          {% include 'notes/newclaim3.html' %}
        </div>

        <div class="app-most-recent">
          {% include 'notes/newclaim2.html' %}
        </div>

        <div class="app-most-recent">
          {% include 'notes/newclaim.html' %}
        </div>

      </div>
    </details>


    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          <b>BPV Processes</b>
        </span>
      </summary>

      <div class="govuk-details__text">
        <div class="app-most-recent">
          {% include 'notes/death2.html' %}
        </div>

      <div class="govuk-details__text">
        <div class="app-most-recent">
          {% include 'notes/death.html' %}
        </div>

      <div class="govuk-details__text">
        <div class="app-most-recent">
          {% include 'notes/processaclaim.html' %}
        </div>

          <div class="app-most-recent">
            {% include 'notes/reviewanaward.html' %}
          </div>

          <div class="app-most-recent">
            {% include 'notes/manualpayment.html' %}
          </div>

          <div class="app-most-recent">
            {% include 'notes/bpviteration2.html' %}
          </div>

          <div class="app-most-recent">
            {% include 'notes/iteration2.html' %}
          </div>

        </div>
    </details>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          <b>Change of circumstances</b>
        </span>
      </summary>
      <div class="govuk-details__text">

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Personal tab
            </span>
          </summary>

          <div class="govuk-details__text">
              <div class="app-most-recent">
              {% include 'notes/iteration16.html' %}
            </div>

          <div class="govuk-details__text">
              <div class="app-most-recent">
              {% include 'notes/iteration15.html' %}
            </div>
            <div class="app-most-recent">
              {% include 'notes/iteration11.html' %}
            </div>

            <div class="app-most-recent">
              {% include 'notes/iteration10.html' %}
            </div>


            <div class="app-most-recent">
              {% include 'notes/iteration8.html' %}
            </div>
            <div class="app-most-recent">
                {% include 'notes/iteration7.html' %}
              </div>


            <div class="app-most-recent">
              {% include 'notes/iteration5.html' %}
            </div>

        </details>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Contact tab
            </span>
          </summary>
          <div class="govuk-details__text">
              
            <div class="app-most-recent">
              {% include 'notes/iteration1.html' %}
            </div>
        </details>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Award tab
            </span>
          </summary>
          <div class="govuk-details__text">

              <div class="app-most-recent">
                  {% include 'notes/iteration14.html' %}
                </div>

              <div class="app-most-recent">
                  {% include 'notes/iteration9.html' %}
                </div>

        </details>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Payment tab
            </span>
          </summary>
          <div class="govuk-details__text">


              <div class="app-most-recent">
                  {% include 'notes/iteration17.html' %}
              </div>

              <div class="app-most-recent">
                  {% include 'notes/iteration12.html' %}
              </div>

            <div class="app-most-recent">
              {% include 'notes/iteration13.html' %}
            </div>
            <div class="app-most-recent">
                {% include 'notes/iteration4.html' %}
              </div>
            <div class="app-most-recent">
                {% include 'notes/iteration3.html' %}
              </div>

            <div class="app-most-recent">
              {% include 'notes/iteration2b.html' %}
            </div>
            
            
        </details>

      </div>
    </details>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          <b>Work queue management</b>
        </span>
      </summary>
      
      <div class="app-most-recent">
        {% include 'notes/workq2.html' %}
      </div>

      <div class="app-most-recent">
        {% include 'notes/workq1.html' %}
      </div>


    </details>

  </div>
</div>

{% endblock %}