{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block headEnd %}
  {% include 'includes/remove-blue-bar.html' %}
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: "/"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="app-homepage-top">
        <div class="app-homepage-top--content">
          <h1 class="govuk-heading-xl app-homepage-top--heading">
            Enquiries and change of circumstance
            <span class="app-homepage-top--span">Prototypes</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}

<h2 class="govuk-heading-m">
National Insurance number: QQ 12 34 56 X
</h2>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="app-most-recent">
        {% include 'notes/manualpayment.html' %}
      </div>

      <div class="app-most-recent">
        {% include 'notes/iteration2.html' %}
      </div>

      <div class="app-most-recent">
        {% include 'notes/iteration1.html' %}
      </div>

    </div>
  </div>

{% endblock %}
