{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}

      <form method="post">

        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
                          }) }}

          <br><br>
          <h2 class="govuk-heading-l">What is the claimant's date of entry?</h2>
          <div id="changed-name-hint" class="govuk-hint">You can find this in OLE.</div>



          <div class="govuk-form-group">


             <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="date-of-entry-2" name="date-of-entry" type="radio" value="before">
                <label class="govuk-label govuk-radios__label" for="date-of-entry-2">
                  6 April 1975 or after
                </label>
              </div>
              <div class="govuk-radios__item">
         <input class="govuk-radios__input" id="date-of-entry" name="date-of-entry" type="radio" value="after">
         <label class="govuk-label govuk-radios__label" for="date-of-entry">
           Before 6 April 1975
         </label>
       </div>
            </div>

           </div>

           <button class="govuk-button" data-module="govuk-button">
             Continue
           </button>

           <br>





           <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
           <br>

                   <details class="govuk-details" data-module="govuk-details">
                     <summary class="govuk-details__summary">
                       <span class="govuk-details__summary-text">
                       <b>URL, errors and notes</b>
                       </span>
                     </summary>
                     <div class="govuk-details__text">
                       <b>URL:</b> /date-of-entry <br>
                       <b>Error messages:</b> <br>
                       Nothing selected: Select the claimant's date of entry<br>
                       <b>Notes:</b> None <br>
                     </div>
                   </details>

      </div>
    </main>

  </form>
</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
