{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}

<h1 class="govuk-heading-l">Have HMRC returned the RF1?</h1>
      <form method="post">
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="rf1-returned-hint">
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rf1-returned" name="rf1-returned" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="rf1-returned">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rf1-returned-2" name="rf1-returned" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="rf1-returned-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>

<br>


<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
<br>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            <b>URL, errors and notes</b>
            </span>
          </summary>
          <div class="govuk-details__text">
            <b>URL:</b> /prison-enter-date <br>
            <b>Error messages:</b> <br>
            Nothing selected: Select yes if HMRC have returned the RF1<br>
            <b>Notes:</b> None <br>
          </div>
        </details>


        </div>

      </div>

    </div>


</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
