{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}

<h2 class="govuk-heading-l">Request RF1 from HMRC again</h2>

<p>Use the HMRC RF1 request tool. Add the note: <b>Urgent 2nd request</b>.</p><p> You will need the claimant's name and National Insurance number.</p>



<button class="govuk-button" data-module="govuk-button">
Confirm RF1 requested</button>

<br>





        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
