{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Process claim for EEA pensions
        </h1>

        <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col"> Task </th>
          <th class="govuk-table__header" scope="col"> Status </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Send CFN901 to claimant
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              COMPLETE
            </strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Request insurance records
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">
              INCOMPLETE
            </strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Check for returned CFN901
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              COMPLETE
            </strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Request RF1 from HMRC
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              COMPLETE
            </strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Check for returned RF1
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
                TO DO
            </strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Send claim for EEA Pensions
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
                TO DO
            </strong>
          </td>
        </tr>
      </tbody>
    </table>



        <form method="post">
          <br>
          <button class="govuk-button" data-module="govuk-button">
            Start this task
          </button>
          <a href="get-a-task" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
            Return task to queue
          </a>



        </div>

      </div>

    </div>


</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
