{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-paper.html' %}

{% block headEnd %}
{% endblock %}

{% include './_find-someone.html' %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}

          <!-- {% include './_tab-overview.html' %} -->




        </div>
      </div>
    </main>

    </br>
    </br>
    <h2 class="govuk-heading-m">1. &nbsp Personal details &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp  &nbsp &nbsp  &nbsp &nbsp  &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp <strong class="govuk-tag govuk-tag--blue">
      completed
    </strong>   </h2>
    <table class="govuk-table" style="margin-left: 30pt;">
      <tbody class="govuk-table__body">
        <th class="govuk-table__header"></th><th class="govuk-table__header"></th><th class="govuk-table__header"></th>

        <!-- <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width: 50%">National insurance number</th>
          <td class="govuk-table__cell" style="width: 50%">QQ 12 34 56 X</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Full name</th>
          <td class="govuk-table__cell">Ken Adams</td>
          <td class="govuk-table__cell"></td>
        </tr> -->
      
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Date of birth</th>
          <td class="govuk-table__cell">11 July 1954	 </td>
          <td class="govuk-table__cell" style="text-align:right;"><a class="govuk-link" href="change-name">
              Change
            </a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Address </th>
          <td class="govuk-table__cell">	5 WINDSOR STEET
            <Br>SOUTH GOSFORTH
            <br>NEWCASTLE UPON TYNE
            <br>NE3 1YL</td>
          <td class="govuk-table__cell" style="text-align:right;"><a class="govuk-link" href=change-maritalstatus>
              Change
            </a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Phone number </th>
          <td class="govuk-table__cell">07958122000</td>
          <td class="govuk-table__cell" style="text-align:right;"><a class="govuk-link" href=change-maritalstatus>
              Change
            </a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Email address</th>
          <td class="govuk-table__cell">ken.adams54@live.com</td>
          <td class="govuk-table__cell" style="text-align:right;"><a class="govuk-link" href=change-maritalstatus>
              Change
            </a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Other formats</th>
          <td class="govuk-table__cell">Large print</td>
          <td class="govuk-table__cell" style="text-align:right;"><a class="govuk-link" href=change-maritalstatus>
              Change
            </a></td>
        </tr>
      </tbody>
    </table>
<br>


<h2 class="govuk-heading-m">2. &nbsp Marital details &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp  &nbsp &nbsp  &nbsp &nbsp  &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp <strong class="govuk-tag govuk-tag--blue">
  completed
</strong>   </h2>
<table class="govuk-table" style="margin-left: 30pt;">
  <tr><td> &nbsp;</td><td> &nbsp;</td>
    <td><a class=“govuk-link” href=change-maritalstatus style=“font-size: 19px;“>
    Change
  </a></td>
  <tbody class="govuk-table__body">
    <th class="govuk-table__cell"></th><th class="govuk-table__cell"></th><th class="govuk-table__cell"></th>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="width: 40%">Status</th>
      <td class="govuk-table__cell" style="width: 60%">Married</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Date</th>
      <td class="govuk-table__cell">7 May 1980</td>
      <td class="govuk-table__cell"></td>
    </tr>
  
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Spouse's National Insurance number</th>
      <td class="govuk-table__cell">QQ 12 55 87 X</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Spouse's full name</th>
      <td class="govuk-table__cell">Regina Adams Mary</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Spouse's date of birth</th>
      <td class="govuk-table__cell">3 July 1960</td>
      <td class="govuk-table__cell"></td>
    </tr>
  
  </tbody>
</table>
<br>

   
<h2 class="govuk-heading-m">3. &nbsp Lived or worked abroad   &nbsp  &nbsp &nbsp  &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp <strong class="govuk-tag govuk-tag--blue">
  completed
</strong>   </h2>
<table class="govuk-table" style="margin-left: 30pt;">
  <tr><td> &nbsp;</td><td> &nbsp;</td>
    <td><a class=“govuk-link” href=change-maritalstatus style=“font-size: 19px;“>
    Change
  </a></td>
  <tbody class="govuk-table__body">
    <th class="govuk-table__cell"></th><th class="govuk-table__cell"></th><th class="govuk-table__cell"></th>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="width: 40%">France</th>
      <td class="govuk-table__cell" style="width: 60%"> Lived: June 2001 to July 2006<br>Worked: June 2001 to July 2006<br>Social security number: 15120190B123 </td>
      <td class="govuk-table__cell"></td>
    </tr>
  
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" >Germany</th>
      <td class="govuk-table__cell" > Lived: June 2001 to July 2006<br>Worked: June 2001 to July 2006<br>Social security number: 15120190B123 </td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" >Spain</th>
      <td class="govuk-table__cell" > Lived: June 2001 to July 2006<br>Worked: June 2001 to July 2006<br>Social security number: 15120190B123 </td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" >Austria</th>
      <td class="govuk-table__cell" > Lived: June 2001 to July 2006<br>Worked: June 2001 to July 2006<br>Social security number: 15120190B123 </td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" >Lived or worked in more than 4 countries</th>
      <td class="govuk-table__cell" > No </td>
      <td class="govuk-table__cell"></td>
    </tr>
 
  </tbody>
</table>
<br>


<h2 class="govuk-heading-m">4. &nbsp State Pension claim date  &nbsp   &nbsp  &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp <strong class="govuk-tag govuk-tag--blue">
  completed
</strong>   </h2>
<table class="govuk-table" style="margin-left: 30pt;">
  <tbody class="govuk-table__body">
    <th class="govuk-table__header"></th><th class="govuk-table__header"></th><th class="govuk-table__header"></th>

  
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="width: 43%">Date claiming from</th>
      <td class="govuk-table__cell" style="width: 60%">10 April 2020 </td>
      <td class="govuk-table__cell" style="text-align:right;"><a class="govuk-link" href="change-name">
          Change
        </a></td>
    </tr>

  </tbody>
</table>

<br>

<h2 class="govuk-heading-m">5. &nbsp Bank or building society details
   &nbsp &nbsp &nbsp &nbsp  &nbsp <strong class="govuk-tag govuk-tag--blue">
  completed
</strong>   </h2>
<table class="govuk-table" style="margin-left: 30pt;">
  <tr><td> &nbsp;</td><td> &nbsp;</td>
    <td><a class=“govuk-link” href=change-maritalstatus style=“font-size: 19px;“>
    Change
  </a></td>
</tr>
  <tbody class="govuk-table__body">
    <th class="govuk-table__header"></th><th class="govuk-table__header"></th><th class="govuk-table__header"></th>

  
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="width: 43%">Account holder</th>
      <td class="govuk-table__cell" style="width: 60%">10 April 2020 </td>
      <td class="govuk-table__cell" style="text-align:right;"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="width: 43%">Sort code</th>
      <td class="govuk-table__cell" style="width: 60%">10 April 2020 </td>
      <td class="govuk-table__cell" style="text-align:right;"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="width: 43%">Account number</th>
      <td class="govuk-table__cell" style="width: 60%">10 April 2020 </td>
      <td class="govuk-table__cell" style="text-align:right;"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="width: 43%">Roll or reference number</th>
      <td class="govuk-table__cell" style="width: 60%">10 April 2020 </td>
      <td class="govuk-table__cell" style="text-align:right;"></td>
    </tr>
  </tbody>
</table>

<br>

<h2 class="govuk-heading-m">5. &nbsp Declaration
  &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp  &nbsp &nbsp  <strong class="govuk-tag govuk-tag--orange">
 incomplete
</strong>   </h2>
<table class="govuk-table" style="margin-left: 30pt;">

 <tbody class="govuk-table__body">
   <th class="govuk-table__header"></th><th class="govuk-table__header"></th><th class="govuk-table__header"></th>

 
   <tr class="govuk-table__row">
     <th scope="row" class="govuk-table__header" style="width: 40%">Form signed</th>
     <td class="govuk-table__cell" style="width: 60%">No</td>
     <td class="govuk-table__cell" style="text-align:right;"><a class="govuk-link" href="change-name">
      Change
    </a></td>
   </tr>

 </tbody>
</table>

<br>


  </div>

  <div class="govuk-grid-column-one-third">
    <br><br>
    <h2 class="govuk-heading-m">
      Claim changes
    </h2>
    <ol class="app-timeline">
      <li class="app-timeline__entry">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          Claim made
        </h3>

        <p class="app-timeline__info govuk-!-margin-bottom-0">
          <span class="govuk-visually-hidden">No changes made</span>
          <span class="app-timeline__date">
            14 October 2020
          </span>
        </p>
      </li>


    </ol>

  </div>


</div>
</div>
</main>
</div>
<!-- </div> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}