{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-paper.html' %}

{% block headEnd %}
{% endblock %}

{% include './_find-someone.html' %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}

          {% include './_tab-overview.html' %}




        </div>
      </div>
    </main>

    </br>
    </br>


    <ol class="moj-task-list">
      <li>
      <h2 class="moj-task-list__section">
        <span class="moj-task-list__section-number">1. </span>Personal details</h2>
      <ul class="moj-task-list__items">
        <li class="moj-task-list__item">
          <a class="moj-task-list__task-name" href="#">Personal details</a>
          <strong class="govuk-tag moj-task-list__task-completed">
      completed
      </strong>
      
        </li>
  
      </ul>
      </li>
      
      <li>
      <h2 class="moj-task-list__section">
        <span class="moj-task-list__section-number">2. </span>Marital details</h2>
      <ul class="moj-task-list__items">
        <li class="moj-task-list__item">
          <a class="moj-task-list__task-name" href="#">Marital status</a></li>
      
        <li class="moj-task-list__item">
          <a class="moj-task-list__task-name" href="#">Spouse or civil partner's details</a></li>
      
      </ul>
      </li>
      
      <li>
      <h2 class="moj-task-list__section">
        <span class="moj-task-list__section-number">3. </span>Living and working abroad</h2>
      <ul class="moj-task-list__items">
        <li class="moj-task-list__item">
          <a class="moj-task-list__task-name" href="#">Country 1</a>
          <strong class="govuk-tag moj-task-list__task-completed">
      completed
      </strong>
      
        </li>
      
        <li class="moj-task-list__item">
          <a class="moj-task-list__task-name" href="#">Country 2</a>
          <strong class="govuk-tag moj-task-list__task-completed">
      completed
      </strong>
      
        </li>
      
        <li class="moj-task-list__item">
          <a class="moj-task-list__task-name" href="#">Country 3</a>
          <strong class="govuk-tag moj-task-list__task-completed">
      completed
      </strong>
      
        </li>

         
        <li class="moj-task-list__item">
          <a class="moj-task-list__task-name" href="#">Country 4</a>
          <strong class="govuk-tag moj-task-list__task-completed">
      completed
      </strong>
      
        </li>

      </ul>
      </li>
      
      <li>

        <h2 class="moj-task-list__section">
          <span class="moj-task-list__section-number">4. </span>State pension date</h2>
        <ul class="moj-task-list__items">
          <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="#">State pension date</a></li>
        
        
        
        </ul>
        </li>
        
        <li>
        <h2 class="moj-task-list__section">
          <span class="moj-task-list__section-number">5. </span>Bank or building society details</h2>
        <ul class="moj-task-list__items">
          <li class="moj-task-list__item">
            <a class="moj-task-list__task-name" href="#">Bank or building society</a>
            <strong class="govuk-tag moj-task-list__task-completed">
        completed
        </strong>
        
          </li>
        
         
  
        </ul>
        </li>
        
        <li>

        
          </li>
          
          <li>

      <h2 class="moj-task-list__section">
        <span class="moj-task-list__section-number">4. </span>Apply</h2>
      <ul class="moj-task-list__items">
        <li class="moj-task-list__item">
          <a class="moj-task-list__task-name" href="#">Submit application</a></li>
      </ul>
      </li>
      </ol> 

  </div>




  <div class="govuk-grid-column-one-third">
    <br><br>
    <h2 class="govuk-heading-m">
      Claim changes
    </h2>
    <ol class="app-timeline">
      <li class="app-timeline__entry">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          Claim made
        </h3>

        <p class="app-timeline__info govuk-!-margin-bottom-0">
          <span class="govuk-visually-hidden">No changes made</span>
          <span class="app-timeline__date">
            14 October 2020
          </span>
        </p>
      </li>


    </ol>

  </div>


</div>
</div>
</main>
</div>
<!-- </div> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}