{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
                <div>
                  <h1 class="govuk-heading-xl">
                    Nayan Busby<br>
                                    <span class="govuk-caption-xl">QQ 12 34 56 X</span>
                      <strong class="govuk-tag govuk-tag--blue">
                  RECEIVING STATE PENSION
                      </strong>
                  </h1>
                </div>
          </div>
        </div>
                      <form method="post">


                        <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                              <h1 class="govuk-fieldset__heading">
                                Has the claimant (or their partner) made a claim for Pension Credit?
                              </h1>
                            </legend>
                            <br>
                            <!-- <div id="event-name-hint" class="govuk-hint">
                              You should get this information from CIS.
                            </div> -->
                            

                            <br>
                            <div class="govuk-radios">
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="receiving-pc" name="receiving-pc" type="radio" value="citizen">
                                <label class="govuk-label govuk-radios__label" for="receiving-pc">
                                  Yes, the claimant or their partner have made a claim for Pension Credit
                                </label>
                              </div>
                              <!-- <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="receiving-pc-2" name="receiving-pc" type="radio" value="partner">
                                <label class="govuk-label govuk-radios__label" for="receiving-pc-2">
                                  Yes, the claimant’s partner received Pension Credit
                                </label>
                              </div> -->
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="receiving-pc-3" name="receiving-pc" type="radio" value="none">
                                <label class="govuk-label govuk-radios__label" for="receiving-pc-3">
                                  No, neither the claimant or their partner have made a claim for Pension Credit
                                </label>
                              </div>
                            </div>

                          </fieldset>
                        </div>



<button class="govuk-button" data-module="govuk-button">
 Continue
</button>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /received-pension-credit <br>
        <b>Error messages:</b> Select yes if the claimant or their partner have made a claim for Pension Credit  <br>
        <b>Notes:</b> None <br>
      </div>
    </details>

  </div>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
