{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">

  {% include './_bar-small.html' %}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="check-answers" class="govuk-back-link">Back</a>

        <form method="post" action="check-answers">
<br>
          <h1 class="govuk-heading-xl">
              Can you confirm your address?
          </h1>
<div class="govuk-inset-text"><p>7 Beechwood Drive<br>Hebburn<br>NE82AN</p></div>

<h2 class="govuk-heading-m">
  Is this correct? </h2>

  <div class="govuk-form-group">
    
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>
    </div>

  </div>

           
      
    <button type="submit" class="govuk-button">
      Continue
    </button>

  </div>


 </form>



</div>

</main>
</div>

{% endblock %}
