{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-tasks.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <br>

          {% include './_bar.html' %}

        <form method="post" action="get-a-task-2">

          <h1 class="govuk-heading-l">Change to award</h1>

  <h1 class="govuk-heading-s">The State Pension award is now £200.94 per week.</h1>

  <p>The award has been revised from 	8 January 2021 from £148.67 to £152.66 per week.</p>

    <p>The award has been revised from 	9 May 2021 from £194.89 to £200.94 per week.</p>


  <p>
  Arrears of £153.10, owed from 8 January 2021 to 1 June 2021, will be paid.</p>

  <p>A new award letter will be sent to the claimant.</p>

  <br>
          <button class="govuk-button" data-module="govuk-button">
           End task
         </button>

        </form>

      </div>
    </div>
</div>
</div>
</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
