{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}

  {% block headEnd %}
    {% include 'includes/remove-blue-bar.html' %}
  {% endblock %}

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">
        {% include './_bar-small-dead.html' %}
      <div class="govuk-grid-column-two-thirds">

        <main id="content" role="main">
          <div class="grid-row">
            <div class="column-full">

            

            </div>
          </div>
        </main>

       

        <div>
          <a href="dap-name" class="govuk-back-link">Back</a>
        </div>
        <br>
        <form method="post" class="form" action="br330-dap-bank">
          <h1 class="govuk-heading-l">Is the payee's address correct?</h1>
<div class="govuk-inset-text">
  2 Windsor Street
  <br>South Gosforth
  <br>Newcastle Upon Tyne
  <br>NE3 1YL
</div>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="address-yes" name="address" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="address-yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="address-no" name="address" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="address-no">
                    No
                  </label>
                </div>
              </div>

              <br>
              <button type="submit" class="govuk-button">
                Continue
              </button>
            </form>
          </div>
        </fieldset>
      </div>
    </div>

  </div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds"></div>
</div>

{% endblock %}