{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}

          {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
                            }) }}

          <br><br>
          <form>

            <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Does Luke Beasley still want to claim their State Pension?
      </h1><br>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="war-pension-decision" name="war-pension-decision" type="radio" value="award-state-pension">
        <label class="govuk-label govuk-radios__label" for="war-pension-decision">
          Yes, award State Pension
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="war-pension-decision-2" name="war-pension-decision" type="radio" value="dont-award">
        <label class="govuk-label govuk-radios__label" for="war-pension-decision-2">
          No, cancel claim
        </label>
      </div>
    </div>
  </fieldset>
</div>

            <button type="submit" class="govuk-button">
              Continue
            </button>
          </form>
        </div>
      </div>
    </main>

  </form>
</div>
</div>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
