{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-column-two-thirds">

        <main id="content" role="main">
          <div class="grid-row">
            <div class="column-full">

          {% include 'includes/_bar-dead-rooney.html' %}

            </div>
          </div>
        </main>



        {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}
        <br><br>

        <form action="dap-uk-bank-details-payment" method="post" class="form">
          <h1 class="govuk-heading-l">Payee's UK bank or building society account details
          </h1>

          <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
Account holder          </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
              Sort code
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
              Account number
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>
          <div class="govuk-form-group">
              <label class="govuk-label" for="event-name">
                Roll number
              </label>
              <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>

          <a href="dap-overseas-bank" class="govuk-link govuk-!-font-size-19">Enter details for an overseas account</a>

          <div class="govuk-inset-text">
            We will also send a letter to the payeee confirming that we have updated our records and paid them the arrears.
             </div>

          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Send payment
            </button>

            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
Return to overview              </button>



            </div>
          </div>


        </form>
      </div>
    </fieldset>
  </div>
</div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds"></div>
</div>

{% endblock %}
