{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-column-two-thirds">

        <main id="content" role="main">
          <div class="grid-row">
            <div class="column-full">

          {% include 'includes/_bar-dead-rooney.html' %}

            </div>
          </div>
        </main>



        {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}
        <br><br>

        <form action="dap-arrears-paid" method="post" class="form">
          <h1 class="govuk-heading-l">Payee's UK bank or building society account details
          </h1>

          <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
Account holder name         </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
              Sort code
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
              Account number
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>
          <div class="govuk-form-group">
              <label class="govuk-label" for="event-name">
                Roll number
              </label>
              <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>

          <a href="dap-overseas-bank" class="govuk-link govuk-!-font-size-19">Enter details for an overseas account</a>
<br><br><br><br>



<div class="govuk-button-group">
                      <button class="govuk-button" data-module="govuk-button" button type="submit" href="/death-arrears/current/dap-arrears-paid.html">
                        Send payment
                      </button></div>
<br>
<br>
<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
<b>URL, errors and notes</b>
</span>
</summary>
<div class="govuk-details__text">
  <b>URL:</b> use existing URL<br><br>

  <b>Error messages:<br><br>

<u>Account holder name</u><br><br>

Empty -</b> Enter the Account holder name<br>
<b>  Length -</b> Account holder name must be 70 characters or less<br>
<b>  Invalid -</b> Account holder name must start with a letter and only include letters, hyphens, apostrophes, full stops, spaces and ampersands<br>
<br><br>

<b>  <u>Sort code</u><br><br>

  Does not exist - </b>The sort code does not exist - check it and try again<br>
<b>  Empty - </b>Enter a sort code<br>
<b>  Invalid - </b>Enter a valid sort code like 309430<br>
<br><br>
<b> <u> Account number</u>
<br><br>
     Length - </b>Account number must be 8 digits<br>
<b>  Invalid - </b>Enter a valid account number like 00733445<br>
<b>  Empty - </b>Enter an account number<br>
<b>  Does not exist - </b>The account number does not exist - check it and try again<br><br><br>
<b>  <u>Roll number</u></b>
<br><br>
<b>  Does not exist -</b>Roll number does not exist - check it and try again<br>
<b>  Invalid -</b> Roll number must only include letters a to z, numbers, hyphens, spaces, forward slashes and full stops<br>
<b>  Length -</b> Roll number must be between 1 and 18 characters<br>
<b>  Empty -</b> Enter a roll number<br>
  </div>
</details>


            </div>
          </div>


        </form>
      </div>
    </fieldset>
  </div>
</div>

</div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds"></div>
</div>

{% endblock %}
