{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-column-two-thirds">

        <main id="content" role="main">
          <div class="grid-row">
            <div class="column-full">

          {% include 'includes/_bar-dead-rooney.html' %}

            </div>
          </div>
        </main>



        {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}
        <br><br>
        <form action="dap-arrears-paid" method="post" class="form">
          <h1 class="govuk-heading-l">Complete a SOP5 form to pay the arrears manually</h1>


          <h2 class="govuk-heading-m">Arrears amount</h2>
          <table class="govuk-table">

              <thead class="govuk-table__head"></thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row"></th>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row" style="width: 40%">Total</th>
                  <td class="govuk-table__cell">£162.68</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Period</th>
                  <td class="govuk-table__cell">3 February 2020 to 9 February 2020</td>
                </tr>
              </tbody>
            </table>

            <h2 class="govuk-heading-m">Non-UK bank or building society account details</h2>
          <table class="govuk-table">

              <thead class="govuk-table__head"></thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row"></th>
                  <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row" style="width: 40%">Account holder name</th>
                  <td class="govuk-table__cell">Roberto Smith</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">BIC or SWIFT code</th>
                  <td class="govuk-table__cell">12345678</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">IBAN</th>
                    <td class="govuk-table__cell">AT483200000012345864</td>
                  </tr>
              </tbody>
            </table>


            <button type="submit" class="govuk-button">
              Confirm SOP5 completed
            </button>
            </form>
          </div>
        </fieldset>
      </div>
    </div>

  </div>

</div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds"></div>
</div>

{% endblock %}
