{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-column-two-thirds">

        <main id="content" role="main">
          <div class="grid-row">
            <div class="column-full">

              {% include 'includes/_bar.html' %}


            </div>
          </div>
        </main>



        {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}
        <br><br>
        <form method="post" class="form">


          <span class="govuk-caption-l">Company dealing with Mark's estate</span>
          <h1 class="govuk-heading-l">Reference number (optional)</h1>
          <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">

            </label>
            <input class="govuk-input govuk-input--width-30" id="event-name" name="event-name" type="text">
          </div>








<div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="no-nationality-conditional-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      </legend>
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__divider">or</div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="no-nationality-conditional" name="ref" type="checkbox" value="yes" data-aria-controls="conditional-no-nationality-conditional">
                          <label class="govuk-label govuk-checkboxes__label" for="no-nationality-conditional">
                            Remove reference number
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>

          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>

      </div>

    </div>

  </div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds"></div>
</div>

{% endblock %}
