{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-column-two-thirds">

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-full">

            {% include 'includes/_bar.html' %}

          </div>
        </div>
      </main>

     {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}

          <form method="post" class="form" >
            <span class="govuk-caption-l">Organisation dealing with Mark's estate</span>
          <h1 class="govuk-heading-l">Do you know their name and address?</h1>
          <div id="details-hint" class="govuk-hint">

  You'll need their name and address to add them as a Death Arrears Payee (DAP).
           </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional">
                    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                      Yes
                    </label>

                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-contacted" name="how-contacted" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-2">
                    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                      No
                    </label>
                  </div>

                  </div>
                </div>
              </fieldset>



            <button type="submit" class="govuk-button">
              Continue
            </button>

          </form>
        </div>
      </div>

    </div>

  </div>

</div>

</main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds"></div>
</div>

<script>
    nextPageRoutes = {
        'yes': 'org-dap-name',
        'no': 'overview-death-verified-no',
        }
</script>

{% endblock %}
