{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}

<h1 class="govuk-heading-l">Print and send the form</h1>


<h1 class="govuk-heading-m">1. Enter the information</h1>
<p>Enter this information into the CFN901 system</p>

        <form method="post">

<table class="govuk-table">
  <!--<caption class="govuk-table__caption govuk-table__caption--m">Countries claimant has lived or worked in</caption>-->
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Spain</th>
      <td class="govuk-table__cell" style="width: 50%">Lived and worked</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">France</th>
      <td class="govuk-table__cell">Lived and worked</td>
    </tr>

  </tbody>
  </table>
<!--  <p>Include this information on the United States letter.</p>-->

<br>
<h1 class="govuk-heading-m">2. Print and post the form</h1>
<p>Print and send it to the claimant with a reply envelope.</p>
<table class="govuk-table">
  <!--<caption class="govuk-table__caption govuk-table__caption--m">Claimant</caption>-->
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Address</th>
      <td class="govuk-table__cell" style="width: 50%">35 Kingsway<br>
Bolton<br>
BL57 1XV</td>
    </tr>

  </tbody>
</table>

<button class="govuk-button" data-module="govuk-button">
  Confirm CFN901 sent
</button>

<br>
<p><a href="#" class="govuk-link govuk-link--no-visited-state">CFN901 not sent</a></p>





        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
