{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% include './_bar.html' %}

<form method="post">

  <h1 class="govuk-heading-l">Check for partial qualifying years</h1>
  <p class="govuk-body">System to check: <b>NIRS</b></p>

<h2 class="govuk-heading-m">Spain</h2>
<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Lived</th>
      <td class="govuk-table__cell">Apr 1982 to Mar 1986</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Worked</th>
      <td class="govuk-table__cell"style="width: 60%">Apr 1982 to Mar 1986</td>
      <td class="govuk-table__cell"></td>
    </tr>
  </tbody>
</table>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="mixedyearsspain-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Can their time in Spain be used to increase their UK State Pension?
      </h1>
    </legend>
    <div id="mixedyearsspain-hint" class="govuk-hint">

    </div>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="mixedyearsspain" name="mixedyearsspain" type="radio" value="Yes">
        <label class="govuk-label govuk-radios__label" for="mixedyearsspain">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="mixedyearsspain-2" name="mixedyearsspain" type="radio" value="No">
        <label class="govuk-label govuk-radios__label" for="mixedyearsspain-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>


<button class="govuk-button" data-module="govuk-button">
  Continue
</button>


        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
