{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-enquiries.html' %}

{% block headEnd %}
{% endblock %}

{% include './_find-someone-enquiries.html' %}

<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <main id="content" role="main">
      <div class="grid-row">
        <div class="column-full">


          <br><br>
          {% include './_bar.html' %}


          <a href="components" class="govuk-back-link">Back</a>
          <br><br>
          <form method="post" action="request">
            <div class="govuk-form-group">
              <h2 class="govuk-heading-l">Update State Pension award</h2>
              <span class="govuk-hint">Enter the new amounts into the relevant components.
              </span>
              <br>

              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header award_detail2" scope="col" style="width: 55%">Total</th>
                    <th class="govuk-table__header award_detail" scope="col" style="width: 40%">£160.34 per week</th>
                    <td class="govuk-table__cell award_detail" style="width: 5%"></td>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">New State Pension</td>
                    <td class="govuk-table__cell">£155.27</td>
                    <td class="govuk-table__cell"> <a href=#>
                        Change
                      </a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Protected payment</td>
                    <td class="govuk-table__cell">£0.00</td>
                    <td class="govuk-table__cell"> <a href=#>
                        Change
                      </a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Extra State Pension</td>
                    <td class="govuk-table__cell">£0.00</td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Inherited extra State Pension</td>
                    <td class="govuk-table__cell">£5.07</td>
                    <td class="govuk-table__cell"> <a href="esp">
                        Change
                      </a></td>
                  </tr>
                </tbody>
              </table>

              <table class="govuk-table">
                <tr class="govuk-table__row">
                    <td class="govuk-table__header award_detail2" scope="row" style="width: 55%">Entitlement date</td>
                    <td class="govuk-table__cell award_detail" style="width: 40%">4 April 2020</td>
                    <td class="govuk-table__cell award_detail" style="width: 5%">
                      <a href="change-date2">
                        Change
                      </a></td>
                  </tr> 
             
            </table>

              <br><br>
              <button class="govuk-button" data-module="govuk-button">
                Continue
              </button>



            </div>
          </form>
          </form>
        </div>
    </main>


  </div>
</div>


{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}