{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
              {% include './_bar.html' %}

        <form method="post">

<p>Upload this to the relevant pro forma please, Gethin would like Braille.</p>

<p><a href="#" class="govuk-link govuk-link--no-visited-state">This link will be the pdf download link when I get it to work.PDF</a></p>

<br>

         <a href="task-format-complete" button class="govuk-button" data-module="govuk-button">
            Did it!
          </a>

        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
