{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
              {% include './_bar.html' %}

        <form method="post">

          <p>Gethin Collier has requested contact using:</p>

          <ul class="govuk-list govuk-list--bullet">
          <li>Braille</li>
          </ul>

<p>Complete the Excel proforma spreadsheet and email it together with the downloaded letter to the SPOC team.</p>

<p><a href="#" class="govuk-link govuk-link--no-visited-state">Download the letter (PDF, 212KB)</a></p>

<br>

         <a href="task-format-complete" button class="govuk-button" data-module="govuk-button">
            Confirm completed proforma and letter sent to SPOC team
          </a>

        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
