{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

              {% include './_bar.html' %}

        <form method="post" action="get-a-task-returned">


          <h1 class="govuk-heading-l">Could not reach claimant by phone</h1>

        <!--   <h2 class="govuk-heading-m">What happens next</h2> -->

                 <p class="govuk-body">
                   A text and email will be automatically sent to the claimant, asking them to call us.
                 </p>
                 <p class="govuk-body">
                   If this is the third time we have tried to call the claimant, a letter will also be sent out automatically giving the claimant 14 days to contact us.
                 </p>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </div>

      </div>

    </div>


      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
