{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
<!--{{ govukHeader({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}
-->
{% include './_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <br>
      <form method="post">
      <div>
        <a href="tasks-3" class="govuk-back-link">Back</a>
        
      </div>
      <br>
        <h1 class="govuk-heading-xl">Pay arrears and end task</h1>

        <h2 class="govuk-heading-m">Payment amount</h2>

        <table class="govuk-table">

          <thead class="govuk-table__head"></thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row"></th>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row" style="width: 40%">Total</th>
              <td class="govuk-table__cell">£162.68</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Period</th>
              <td class="govuk-table__cell">3 February 2020 to 9 February 2020</td>
            </tr>
          </tbody>
        </table>

        <h2 class="govuk-heading-m">Bank or building society account details</h2>
      <table class="govuk-table">

          <thead class="govuk-table__head"></thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row"></th>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row" style="width: 40%">Account holder name</th>
              <td class="govuk-table__cell">Roberto Smith</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Account number</th>
              <td class="govuk-table__cell">97525102</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Sort code</th>
                <td class="govuk-table__cell">60 52 68</td>
              </tr>
          </tbody>
        </table>
         
<br>
          <a href="tasks" button type="submit" class="govuk-button"> 
            End task
          </a>

        </form>



        </div>

      </div>

    </div>

  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
