{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include 'includes/_header-nav-tasks.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      <br>
        <h1 class="govuk-heading-xl">Tasks</h1>

{% include 'international-task/ra-iteration-2/navigation/_claims.html' %}

<br>
<br>

        <form method="post">

          <h1 class="govuk-heading-l">International</h1>

          </div>
          </div>



            <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-m">Send RA enquiry letters
      <p class="govuk-body-l"><a href="/international-task/ra-iteration-2/task-details" class="govuk-link"><b>Get next task</b></a></p></h1>

    </div>
    <div class="govuk-grid-column-one-quarter">
          <h3 class="govuk-heading-l">28
            <p class="govuk-body govuk-!-font-size-24">total tasks</p>
          </h3>
    </div>
    <div class="govuk-grid-column-one-quarter">
          <h3 class="govuk-heading-l">28
            <p class="govuk-body govuk-!-font-size-24">tasks ready to work</p>
          </h3>
    </div>

  </div>

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    <br>


  </div>

</main>
      </div>

      {% endblock %}

      {% block content %}

      {% endblock %}
